<!DOCTYPE html>
<html>

	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no, minimal-ui" />
		<meta name="apple-mobile-web-app-capable" content="yes" />
		<meta http-equiv="pragma" content="no-cache" />
		<meta name="apple-mobile-web-app-status-bar-style" content="black" />
		<meta name="format-detection" content="telephone=no, email=no" />
		<title>医护消息</title>
		<link href="../../css/main.css" rel="stylesheet">
		<link href="../../css/messageinformation.css" rel="stylesheet">

	</head>

	<body>
					<header>
						<a id="goBack" class="goback" href="javascript:history.back();">
							<img src="../../images/backtrack.png" alt="" />
							<span id="goBackText">返回</span>
						</a>
						<h1 id="theme">医护消息</h1>
					</header>

		<div class="message_list">
        	<ul id="msgList">
                <!-- <li class="msg_each clearfix">
                    <a href="javascript:;">
                        <div class="each_header pull-left">
                            <img src="../../images/item5.png" alt="">
                        </div>
                        <div class="each_content">
                            <div class="nameandtime clearfix">
                                <span class="name pull-left">董大力</span>
                                <span class="times pull-right">2017-11-12</span>
                            </div>
                            <div class="return_content">
                                最后一次回复的内容
                            </div>
                        </div>
                    </a>
                </li>
                <li class="msg_each clearfix">
                    <a href="javascript:;">
                        <div class="each_header pull-left">
                            <img src="../../images/item5.png" alt="">
                        </div>
                        <div class="each_content">
                            <div class="nameandtime clearfix">
                                <span class="name pull-left">董大力</span>
                                <span class="times pull-right">2017-11-12</span>
                            </div>
                            <div class="return_content">
                                最后一次回复的内容
                            </div>
                        </div>
                    </a>
                </li>
                <li class="msg_each clearfix">
                    <a href="javascript:;">
                        <div class="each_header pull-left">
                            <img src="../../images/item5.png" alt="">
                        </div>
                        <div class="each_content">
                            <div class="nameandtime clearfix">
                                <span class="name pull-left">董大力</span>
                                <span class="times pull-right">2017-11-12</span>
                            </div>
                            <div class="return_content">
                                最后一次回复的内容
                            </div>
                        </div>
                    </a>
                </li> -->
        	</ul>
        </div>

        <!--底部导航-->
        <footer class="indexFooter">
            <nav class="bar bar-tab clearfix">
                <a class="tab-item-a" href="../main/index.html"">
                    <div class="indicon">
                        <img src="../../images/index-color.png" />
                    </div>
                    <div class="tab-label"">首页</div>
                </a>
                <a class="tab-item-a" href="../organization/organization.html">
                    <div class="indicon">
                        <img src="../../images/organizationWhite.png" />
                    </div>
                    <div class="tab-label">机构</div>
                </a>
                <a id="myClinicClinicIndex" class="tab-item-a" href="javascript:;">
                    <div class="indicon">
                        <img src="../organization/imgs/clinic-white.png" />
                    </div>
                    <div id="myhospital" class="tab-label">我的诊所</div>
                </a>
                <a class="tab-item-a" href="javascript:;">
                    <div class="indicon">
                        <img src="../../images/news-orange.png" />
                    </div>
                    <div class="tab-label active">消息</div>
                </a>
                <a class="tab-item-a" href="../mine/mineIndex.html">
                    <div class="indicon">
                        <img id="main-img" src="../organization/imgs/mine-white.png" />
                    </div>
                    <div id="mine-span" class="tab-label">我的</div>
                </a>
            </nav>
        </footer>


		<script src="../../resource/js/jquery-2.1.1.min.js"></script>
		<script src="../../resource/js/common.js" type="text/javascript" charset="utf-8"></script>
		<script src="inc/messageinformation.js" type="text/javascript" charset="utf-8"></script>

	</body>

</html>
