<!doctype html>
<html>
<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
<meta name="apple-mobile-web-app-capable" content="yes">
<meta http-equiv="pragma" content="no-cache" />
<meta name="apple-mobile-web-app-status-bar-style" content="black">
<!--<link rel="stylesheet" type="text/css" href="../../css/bootstrap.min.css" />-->
<link rel="stylesheet" type="text/css" href="../../css/main.css" />
<link rel="stylesheet" type="text/css" href="../../css/messagedetails.css" />
<title>消息详情</title>
</head>

<body>
	<header>
		<a id="goBack" class="goback" href="javascript:history.back();">
			<img src="../../images/backtrack.png" alt="" />
			<span id="goBackText">返回</span>
		</a>
		<h1 id="theme">消息详情</h1>
	</header>
  <div>
  <div class="message-details-content">
  	<div class="content-title">
    	<h6 class="content-title-h6">3月感恩回馈季，居家医护感谢您的陪伴！</h6>
        <span class="content-title-time">2017-03-29&nbsp;17:34</span>
    </div>
    <div class="message-details-content-text">
    	<p class="text-part-p">消息内容，消息内容，消息内容，消息内容，消息内容，消息内容，消息内容，消息内容。</p>
        <div class="text-part-picture">
        	<img src="../../images/article-illustration.png" alt="">
        </div>
        <p class="text-part-p">消息内容，消息内容，消息内容，消息内容，消息内容，消息内容，消息内容，消息内容。</p>
    </div>
  </div>
  </div>
</body>

<script src="../../resource/js/jquery-2.1.1.min.js" type="text/javascript" charset="utf-8"></script>
<script src="../../resource/js/common.js" type="text/javascript" charset="utf-8"></script>
<script src="../../resource/js/bootstrap.min.js" type="text/javascript" charset="utf-8"></script>
<script src="inc/messagedetails.js" type="text/javascript" charset="utf-8"></script>
</html>
