<!doctype html>
<html>
<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
<meta name="apple-mobile-web-app-capable" content="yes">
<meta http-equiv="pragma" content="no-cache" />
<meta name="apple-mobile-web-app-status-bar-style" content="black">
<!--<link rel="stylesheet" type="text/css" href="../../css/bootstrap.min.css" />-->
<link rel="stylesheet" type="text/css" href="../../css/main.css" />
<link rel="stylesheet" type="text/css" href="../../css/messageclinic.css" />
<title>诊所消息</title>
</head>

<body>
	<header>
		<a id="goBack" class="goback" href="javascript:history.back();">
			<img src="../../images/backtrack.png" alt="" />
			<span id="goBackText">返回</span>
		</a>
		<h1 id="theme">诊所消息</h1>
	</header>
  <div id="messageList">
    <!-- <div class="reminder-message"> -->
      <!-- <div class="reminder-time">
      3月22日 14:54
      </div>
      <div class="reminder-message-details">
        <div class="reminder-message-details-title">
          <h6 class="reminder-message-details-title-h6">上门提供服务提醒</h6>
        </div>
        <div class="reminder-message-details-content">
          <p class="reminder-content-p">周志医生已为您上门服务，请确认服务完成并对此次医护服务<span class="reminder-content-p-span"><a class="reminder-content-p-span-a" href="javascript:;">做出评价&gt;</a></span></p>
          <p class="reminder-content-p2">感谢您使用居家医护！您的健康，我们为您保驾护航。</p>
        </div>
        <div class="reminder-message-details-see">
          <a href="javascript:;">
            <p class="reminder-message-details-see-p">查看详情</p>
            <span class="reminder-message-details-see-arrow"><img src="../../images/more-black.png" alt=""></span>
          </a>
        </div>
      </div> -->
    <!-- </div> -->
  </div>
</body>

<script src="../../resource/js/jquery-2.1.1.min.js" type="text/javascript" charset="utf-8"></script>
<script src="../../resource/js/common.js" type="text/javascript" charset="utf-8"></script>
<script src="../../resource/js/bootstrap.min.js" type="text/javascript" charset="utf-8"></script>
<script src="inc/messageclinic.js" type="text/javascript" charset="utf-8"></script>
</html>
