<!doctype html>
<html>

	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta http-equiv="pragma" content="no-cache" />
		<meta name="apple-mobile-web-app-status-bar-style" content="black">
		<!--<link rel="stylesheet" type="text/css" href="../../css/bootstrap.min.css" />-->
		<!--<link rel="stylesheet" type="text/css" href="../../css/healthScience.css" />-->
		<link rel="stylesheet" type="text/css" href="../../css/main.css" />
		<link rel="stylesheet" type="text/css" href="../../css/message.css" />
		<title>消息</title>
	</head>

	<body style="position: relative;">
		<header>
			<a id="goBack" class="goback" href="javascript:;">
				<img src="../../images/backtrack.png" alt="" />
				<span id="goBackText">返回</span>
			</a>
			<h1 id="theme">图文咨询</h1>
			<a class="endAns" href="javascript:;">
				<!--？？回首页-->
				<span id="stop">
        <span id="stopText" class="dialogue">结束</span>
				</span>
			</a>
		</header>

		<div>
			<div class="synopsis">
				<div class="synopsis-person"><img data-base64="" src="../../images/avatar.png" /></div>
				<div class="synopsis-text">
					<div class="doctor" id="doctorName">
						<span class="doctor-name">刘继芬</span>
						<span class="doctor-star">
            		<ul class="evaluate-ul">
						<li class="evaluate-ul-li">
							<div class="evaluateNumber">
								<img class="evaluateNumber-img" src="../../images/star.png" alt="" />
								<img class="evaluateNumber-img" src="../../images/star2.png" alt="" />
								<img class="evaluateNumber-img" src="../../images/star2.png" alt="" />
								<img class="evaluateNumber-img" src="../../images/star2.png" alt="" />
								<img class="evaluateNumber-img" src="../../images/star2.png" alt="" />
								<span class="evaluateNumber-number">1分</span>
					</div>
					</li>
					</ul>
					</span>
					<div class="clear"></div>
					<div class="doctor-introduce">
						<span class="doctor-main">耳鼻喉科</span>
						<span class="doctor-major">主治医生</span>
						<span id="workYear" class="doctor-major">5年经验</span>
					</div>
				</div>
			</div>
			<div class="synopsis-icon">
				<img src="../../images/clinic-orange.png" />
			</div>

		</div>
		<div class="clear"></div>
		<div class="chat-tips">
			<p class="msgTip">医生回复仅供参考，具体诊疗请前往医院进行</p>
		</div>
		<div class="article" id="msg_content">
			<div style="display: none;" id="msg_content_left">
				<div class="dialogTime">
					1月22日 14:54:31
				</div>
				<div class="message clearfix">
					<div class="message-head-pic">
						<img src="../../images/account.png" />
					</div>
					<div class="bubble">
						<span class="bubble leftBubble">
                    <span id="content_left">
                        <!--鼻子不通气、流鼻涕三天了，嗓子还干燥疼痛、无痰，我需要吃什么药？-->
                    </span>
						<span class="bottomLevel"></span>
						<span class="topLevel"></span>
						</span>

					</div>

				</div>
			</div>
			<div style="display: none;" id="msg_content_right">
				<div class="dialogTime">
					1月22日 14:54:31
				</div>
				<div class="message right clearfix">
					<div class="message-head-pic">
						<img src="../../images/account.png" />
					</div>
					<div class="bubble">
						<span class="bubble rightBubble">
                    <span id="content_right">
                        鼻子不通气、流鼻涕三天了，嗓子还干燥疼痛、无痰，我需要吃什么药？
                    </span>
						<span class="bottomLevel"></span>
						<span class="topLevel"></span>
						</span>

					</div>
				</div>
			</div>
			<!---->
			<!--<div class="message clearfix">-->
			<!--<div class="message-head-pic">-->
			<!--<img src="../../images/avatar.png" />-->
			<!--</div>-->
			<!--<div class="bubble">-->
			<!--<span class="bubble leftBubble">  -->
			<!--鼻子不通气、流鼻涕三天了，嗓子还干燥疼痛、无痰，我需要吃什么药？-->
			<!--<span class="bottomLevel"></span>  -->
			<!--<span class="topLevel"></span>  -->
			<!--</span>-->
			<!--</div>-->
			<!--<div class="corner"></div>-->
			<!--</div>-->
			<!---->
			<!--<div class="dialogTime">-->
			<!--1月22日 15:12:20-->
			<!--</div>-->
			<!---->
			<!--<div class="message clearfix">-->
			<!--<div class="message-head-pic">-->
			<!--<img src="../../images/avatar.png" />-->
			<!--</div>-->
			<!--<div class="bubble">-->
			<!--<span class="bubble leftBubble">  -->
			<!--<img src="../../images/environment_2.png" />-->
			<!--<span class="bottomLevel"></span>  -->
			<!--<span class="topLevel"></span>  -->
			<!--</span>-->
			<!---->
			<!--</div>-->
			<!--<div class="corner"></div>-->
			<!--</div>-->
			<!--<div class="message clearfix">-->
			<!--<div class="message-head-pic">-->
			<!--<img src="../../images/avatar.png" />-->
			<!--</div>-->
			<!--<div class="bubble">-->
			<!--<span class="bubble leftBubble">  -->
			<!--鼻子不通气、流鼻涕三天了，嗓子还干燥疼痛、无痰，我需要吃什么药？-->
			<!--<span class="bottomLevel"></span>  -->
			<!--<span class="topLevel"></span>  -->
			<!--</span>-->
			<!--</div>-->
			<!--<div class="corner"></div>-->
			<!--</div>-->
			<!---->
			<!--<div class="dialogTime">-->
			<!--1月23日 22:12:20-->
			<!--</div>-->
			<!--<div class="message right clearfix">-->
			<!--<div class="message-head-pic">-->
			<!--<img src="../../images/account.png" />-->
			<!--</div>-->
			<!--<div class="bubble">-->
			<!--<span class="bubble rightBubble">  -->
			<!--鼻子不通气、流鼻涕三天了，嗓子还干燥疼痛、无痰，我需要吃什么药？-->
			<!--<span class="bottomLevel"></span>  -->
			<!--<span class="topLevel"></span>  -->
			<!--</span>-->
			<!--</div>-->
			<!--<div class="corner"></div>-->
			<!--</div>-->

			<!--<div id="finish">-->
			<!--<div class="dialogTime">-->
			<!--3月2日 17:15:55-->
			<!--</div>-->
			<!--<div class="finish-tip">-->
			<!--服务已经结束，请对本次服务<a href="javascript:;" class="tip-control">进行评价&nbsp;&gt;</a>-->
			<!--</div>-->
			<!--<div class="finish-tip">-->
			<!--心动不如行动，马上表达感谢<a href="javascript:;" class="tip-control">送上心意&nbsp;&gt;</a>-->
			<!--</div>-->
			<!--</div>-->
		</div>

		<div class="dialog-msg">
			<div class="msg_wrapper clearfix">
				<div class="msg-content" style="overflow-y: scroll;" id="content" contenteditable="true"></div>
				<a href="javascript:;" id="send" class="send-btn">发送</a>
			</div>
			<div class="up_pic_wraaper clearfix">
				<a href="javascript:;" class="pull-left"><img id="upload_photo" src="../../images/photo_up.png" alt=""></a>
				<a href="javascript:;" class="pull-left"><img id="upload_image" src="../../images/local-pic-up.png" alt=""></a>
				<a href="javascript:;" class="pull-left"><img id="upload_voice" src="../../images/voice.png" alt=""></a>
				<!--<a href="javascript:;" class="pull-left"><img src="../../images/setting.png" alt=""></a>-->
				<!--<a href="javascript:;" class="pull-right"><img src="../../images/cancel-input.png" alt=""></a>-->
				<form id="picUp" style="display: none;" enctype="multipart/form-data" method="post">

					<div style="display: none;" id="testPhone" class="weui_uploader_input_wrp" style="width:79px; height:79px;">
					</div>
					<input style="display: none;" type="hidden" name="files" id="testFile" class="file" value="" />
					<!--<input style="display: none;" id="testFile" type="file">-->
					<img style="display: none;" id="testImg" style="max-height: 300px; height: 8em; min-width:8em;">
					<!--<textarea style="display: none;" id="testArea" style="display: block; width: 100%;height: 30em;"></textarea>-->
				</form>

			</div>
		</div>
		</div>
		<!--  结束-->
		<div id="orderMain">
			<div id="orderMain-first">
				<h4>结束对话</h4>
				<p>您确认要结束对话吗？</p>
			</div>
			<div id="orderMain-second">
				<div id="orderMain-close" class="orderMain-address">
					<a href="javascript:;">取消</a>
				</div>
				<div id="orderMain-confirm" class="orderMain-address">
					<a href="javascript:;">确认</a>
				</div>

			</div>
		</div>
		<!-- <div id="promptMain" style="display:none;">
    <div id="promptMain-first">
        <img src="../../images/dialog-tick.png" alt="">
        <h6>成功！</h6>

        <p><span id="timeout">2</span>秒后关闭</p>
    </div>
</div> -->
		<div id="returnMain" style="display:none;">
			<div id="returnMain-first">
				<img src="../../images/dialog-tick.png" alt="">
				<h6 class="success">成功!</h6>
				<!-- 失败替换class为defeated -->
				<p><span>2</span>秒后关闭</p>
			</div>
		</div>
		<!--蒙版层-->
		<div id="modalOut" style="display: none;position: absolute;top: 0;z-index: 101;opacity: 0.5;"></div>
		<div id="model" style=" display: none; position: absolute; width: 100%; top: 0; z-index: 999;  opacity: 0.5;"></div>
		<div id="picturePlices" style="display: inline-block; width: 100%; position: absolute; top: 40%; z-index: 1000; margin: 0 auto; text-align: center;">
			<div>
				<img id="deleteImg" style="z-index: 10020; position: absolute; top: 0; right: 0; display: none; width: 2rem; margin-bottom: -2rem;" src="../../images/delete.png" />
				<img id="magnifyImg" style="display: none; position: relative;width: 100%; z-index: 1001;" src="" />
				<div id="mask" style="display: none;position: absolute;top: 0;z-index: 1;opacity: 0.5;"></div>
			</div>
		</div>
	</body>

	<script src="../../resource/js/jquery-2.1.1.min.js" type="text/javascript" charset="utf-8"></script>
	<script src="../../resource/js/common.js" type="text/javascript" charset="utf-8"></script>
		<script src="http://res.wx.qq.com/open/js/jweixin-1.2.0.js" type="text/javascript" charset="utf-8"></script>
	<script src="../../resource/js/validate_h5.js" type="text/javascript" charset="utf-8"></script>
	<script src="http://cdn.ronghub.com/RongIMLib-2.2.5.min.js"></script>
	<script src="../../resource/js/imgUp.js" type="text/javascript" charset="utf-8"></script>
    <script src="inc/message1.js" type="text/javascript" charset="utf-8"></script>
</html>
