<!doctype html>
<html>
<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
<meta name="apple-mobile-web-app-capable" content="yes">
<meta http-equiv="pragma" content="no-cache" />
<meta name="apple-mobile-web-app-status-bar-style" content="black">
<!--<link rel="stylesheet" type="text/css" href="../../css/bootstrap.min.css" />-->
<link rel="stylesheet" type="text/css" href="../../css/main.css" />
<link rel="stylesheet" type="text/css" href="../../css/messagehealthscience.css" />
<title>健康科普</title>
</head>

<body>
	<header>
		<a id="goBack" class="goback" href="javascript:history.back();">
			<img src="../../images/backtrack.png" alt="" />
			<span id="goBackText">返回</span>
		</a>
		<h1 id="theme">健康科普</h1>
	</header>
  <div>
  <div class="reminder-message">
	  <!--  <div class="reminder-time">
    	 3月22日 14:54
      </div> -->
<!--       <div class="reminder-message-details">
       	<div class="reminder-message-details-title">
           	<h6 class="reminder-message-details-title-h6"><span class="reminder-message-details-title-span">【许国庆】</span>每天8杯水应该怎么喝</h6>
         </div>
         <div class="reminder-message-details-content">
            <p class="reminder-content-p2">许多人知道每天至少人体要补充八杯水，但是几乎没有人知道如何科学的饮用这八杯水，今天这篇科普文章，将教会您科学饮用八杯水。</p>
         </div>
         <div class="reminder-message-details-see">
            <a href="javascript:;">
               <p class="reminder-message-details-see-p">查看详情</p>
               <span class="reminder-message-details-see-arrow"><img src="../../images/more-black.png" alt=""></span>
            </a>
         </div>
      </div>
    <div class="reminder-message-details">
    	<div class="reminder-message-details-title">
        	<h6 class="reminder-message-details-title-h6"><span class="reminder-message-details-title-span">【许国庆】</span>每天8杯水应该怎么喝</h6>
        </div>
        <div class="reminder-message-details-content">
            <p class="reminder-content-p2">许多人知道每天至少人体要补充八杯水，但是几乎没有人知道如何科学的饮用这八杯水，今天这篇科普文章，将教会您科学饮用八杯水。</p>
        </div>
        <div class="reminder-message-details-see">
          <a href="javascript:;">
        	<p class="reminder-message-details-see-p">查看详情</p>
            <span class="reminder-message-details-see-arrow"><img src="../../images/more-black.png" alt=""></span>
          </a>
        </div>
    </div> -->
  </div>
  </div>
</body>

<script src="../../resource/js/jquery-2.1.1.min.js" type="text/javascript" charset="utf-8"></script>
<script src="../../resource/js/common.js" type="text/javascript" charset="utf-8"></script>
<script src="../../resource/js/bootstrap.min.js" type="text/javascript" charset="utf-8"></script>
<script src="inc/messagehealthscience.js" type="text/javascript" charset="utf-8"></script>
</html>
