<!doctype html>
<html>
<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
<meta name="apple-mobile-web-app-capable" content="yes">
<meta http-equiv="pragma" content="no-cache" />
<meta name="apple-mobile-web-app-status-bar-style" content="black">
<!--<link rel="stylesheet" type="text/css" href="../../css/bootstrap.min.css" />-->
<link rel="stylesheet" type="text/css" href="../../css/main.css" />
<link rel="stylesheet" type="text/css" href="../../css/messagesystem.css" />
<title>系统消息</title>
</head>

<body>
	<header>
		<a id="goBack" class="goback" href="javascript:history.back();">
			<img src="../../images/backtrack.png" alt="" />
			<span id="goBackText">返回</span>
		</a>
		<h1 id="theme">系统消息</h1>
	</header>
  <div id="messageList">
 <!--  <div class="reminder-message"> -->
<!-- 	<div class="reminder-time">
    	3月22日 14:54
    </div>
    <div class="reminder-message-details">
    	<div class="reminder-message-details-title">
        	<h6 class="reminder-message-details-title-h6">欢迎使用居家医护</h6>
        </div>
        <div class="reminder-message-details-picture">
        	<img src="../../images/hofon-img.png" alt="">
        </div>
        <div class="reminder-message-details-content">
        	<p class="reminder-content-p">再次感谢您使用居家医护，为更好地体验居家医护预约就医功能，<span class="reminder-content-p-span"><a class="reminder-content-p-span-a" href="../mine/mypersonalinformation.html">请先完善个人资料
          &nbsp;&gt;</a></span>，您的个人信息只有您的医生可见，请放心填写！</p>

        </div>
        <div class="reminder-message-details-see">
          <a href="javascript:;">
        	<p class="reminder-message-details-see-p">查看详情</p>
            <span class="reminder-message-details-see-arrow"><img src="../../images/more-black.png" alt=""></span>
          </a>
        </div>
    </div> -->
  </div>
  </div>
</body>

<script src="../../resource/js/jquery-2.1.1.min.js" type="text/javascript" charset="utf-8"></script>
<script src="../../resource/js/common.js" type="text/javascript" charset="utf-8"></script>
<script src="../../resource/js/bootstrap.min.js" type="text/javascript" charset="utf-8"></script>
<script src="inc/messagesystem.js" type="text/javascript" charset="utf-8"></script>
</html>
