@charset "utf-8";

html,body {
	width: 100%;
	height: 100%;
}
.wrapper {
	min-width: 800px;
}
.homeWrapper {
	position: relative;
	overflow: hidden;
	width: 100%;
	height: 100%;
	background: url("../images/index-bg.jpg") no-repeat center top / 100% 100%;
}
.title {
	position: absolute;
	top: 6%;
	width: 100%;
	height: 10%;
	text-align: center;
}
.title img {
	height: 100%;
}
.section {
	position: absolute;
	top: 22%;
}
.contentWrap {
	padding: 5% 0;
	background: rgba(0,0,0,0.1);
}
.childPageList {
	width: 65%;
	min-width: 300px;
	margin: 0 auto;
}
.childPageList li {
	float: left;
	width: 25%;
	text-align: center;
}
.childPageList li.fourGroup {
	margin-bottom: 4%;
}
.childPageList li > a {
	display: inline-block;
	width: 60%;
}
.childPageList li > a  > img {
	width: 100%;
}
.childPageList .picDes {
	/*padding-top: 130px;*/
	font-size: 20px;
	color: #fff!important;
	text-align: center;
}
.more {
	color: #fff;
	font-size: 30px;
	position: absolute;
	bottom: 2%;
	right: 43px;
}
.more a {
	color: #fff!important;
}
.moreIcon {
	display: inline-block;
	width: 31px;
	height: 31px;
	background: rgba(255,255,255,0.5);
	text-align: center;
	line-height: 31px;
	color: #fff;
	border-radius: 3px;
}