@charset "utf-8";

.sectionOne {
	width: 100%;
	height: 468px;
	padding: 16px;
	background: #fff;
	border: 1px solid #ababab;
	margin-top: 48px;
}
.secOneLeft {
	width: 772px;
	height: 100%;
	background: #ccc;
}
.secOneRight {
	width: 377PX;
	height: 100%;
}
.rightTop {
	height: 250px;
	background: #e4e7eb;
	padding: 18px;
}
.rightBottom {
	height: 166px;
	background: #e4e7eb;
	padding: 18px;
	margin-top: 19px;
}
.rightItemTitle {
	font-size: 20px;
	color: #76859b;
}
.rightTopPic {
	margin-top: 5px;
	height: 190px;
}
.rightTopPic > img {
	width: 100%;
	height: 100%;
}
.rightBotPic {
	height: 102px;
	margin-top: 5px;
}
.rightBotPic > img {
	width: 100%;
	height: 100%;
}
.sectionTwo {
	height: 390px;
	margin-top: 12px;
}
.secTwoItem {
	padding: 20px;
}
.secTwoItem1 {
	width: 592px;
	height: 100%;
	background: #fff;
}
.secTwoItem1ContWrap {
	background: #e4e7eb;
	padding: 20px;
	height: 100%;
}
.secTwoItem2,
.secTwoItem3 {
	width: 282px;
	height: 100%;
	background: #fff;
	margin-left: 22px;
}
.secTwoItem2 .rightItemTitle,
.secTwoItem3 .rightItemTitle {
	padding-left: 26px;
	background: url("../images/line-bg.png") no-repeat center center;
}
.secTwoItem {
	margin-top: 18px;
}
.secTwoItem ul {
	margin-top: 10px;
}
.secTwoItem li {
	margin-top: 18px;
	font-size: 18px;
}
.secTwoItem li:first-child {
	margin-top: 0;
}
.secTwoItem a {
	font-size: 18px;
	display: block;
}
.secTwoItem .picIcon {
	display: inline-block;
	width: 16px;
	height: 20px;
	text-align: center;
	line-height: 20px;
	font-size: 0;
	vertical-align: middle;
	float: left;
}
.secTwoItem .paragraphLink {
	line-height: 20px;
	margin-left: 20px;
}