@charset "utf-8";

.contentWrap {
	padding-bottom: 95px;
}
.content {
	border: none;
	background: inherit;
	margin-top: 86px;
}
.contMain {
	width: 890px;
	min-height: 772px;
	border: 1px solid #ababab;
	background: #fff;
	border-radius: 20px;
	box-shadow: 0 0 30px #ababab inset;
	padding: 40px;
}
.content .picIcon {
    display: inline-block;
    width: 26px;
    height: 60px;
    text-align: center;
    line-height: 60px;
    font-size: 0;
    vertical-align: middle;
    float: left;
    margin-right: 20px;
}
.content .picIcon img {
	width: 26px;
	height: 26px;
}
.content .paragraphLink {
	font-size: 25px;
    line-height: 60px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.contNav li {
	margin-bottom: 38px;
}
.contNav li > a {
	width: 281px;
	height: 84px;
	background: url("../images/bubble-default.png") no-repeat center center / 100% 100%;
	display: block;
	color: #a7a7a7;
	text-align: center;
	line-height: 84px;
	font-size: 30px;
}
.contNav li.active > a {
	background-image: url("../images/bubble-active.png");
	color: #fff;
}
