<!DOCTYPE html>
<html>

	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta http-equiv="Expires" content="0">
		<meta http-equiv="Pragma" content="no-cache">
		<meta http-equiv="Cache-control" content="no-cache">
		<meta http-equiv="Cache" content="no-cache">
		<meta name="apple-mobile-web-app-status-bar-style" content="black">
		<link rel="stylesheet" type="text/css" href="../../css/styles.css" />
		<!--		<link rel="stylesheet" type="text/css" href="../../css/bootstrap.min.css" />-->
		<link rel="stylesheet" type="text/css" href="../../css/main.css" />
		<link rel="stylesheet" type="text/css" href="../../css/healthIndex.css" />
		<title>科普文章</title>
		<style type="text/css">

		</style>
	</head>

	<body>
		<header>
			<a id="goBack" class="goback" href="javascript:historyBack();">
				<img src="../../images/backtrack.png" alt="" />
				<span id="goBackText">返回</span>
			</a>
			<h1 id="theme">健康科普</h1>
			<a href="myCollect.html"><span id="share">我的收藏</span></a>
		</header>
		<div>
			<div class="carousel">
				<div class="slider">
					<ul class="sliderCarousel clearfix">
						<!--<li>
							<a class="slider_a" href="" target="_blank"><img src="../../images/1.jpg" alt=""></a>
						</li>
						<li>
							<a class="slider_a" href="" target="_blank"><img src="../../images/2.jpg" alt=""></a>
						</li>
						<li>
							<a class="slider_a" href="" target="_blank"><img src="../../images/3.jpg" alt=""></a>
						</li>
						<li>
							<a class="slider_a" href="" target="_blank"><img src="../../images/4.jpg" alt=""></a>
						</li>-->
					</ul>
				</div>
			</div>
			<div class="article-nav">
				<ul class="articleList">
					<li class="articleList-li">
						<div id="article-all" class="articleList-li-div">
                            最新<input type="hidden" value="-1">
                        </div>
					</li>
					<!--<li class="articleList-li articleList-li-left">

						<div class="articleList-li-div">图文</div>

					</li>
					<li class="articleList-li articleList-li-left">

						<div class="articleList-li-div">视频</div>

					</li>-->

				</ul>
			</div>
			<div class="recommended-articles">
				<span>推荐</span>
				<p>医生张三向你推荐了文章《心里学家怎么谈恋爱》</p>
			</div>



			    		<!--<div ="container" style="width:100%;transform:translate(0,-3rem)">
			<div id="pull-loading" style="height:3rem; line-height:3rem; text-align:center; width:100%;">
				<img id="loading" style="width: 2rem;" src="medic/APP2.0/images/loading.gif" />
			</div>
            </div>-->


			<div id="articleParticulars" class="container" style="width:100%;transform:translate(0,-3rem)">
                <div id="pull-loading" style="height:3rem; z-index: -111; line-height:3rem; text-align:center; width:100%;">
				<img id="imgLoading" style="width: 2rem;" src="../../images/loading.gif" />
			</div>
				<ul id="articleParticulars-ul">

	<!--<a href="../healthPopularization/healthScience.html">
		<li class="articleParticulars-li">
						<div class="articleParticulars-li-list">
							<img class="articleParticulars-img" src="../../images/choose.png" />
							<div class="articleParticulars-title">
								<h4>吃什么补肾好吃什么补肾好吃什么补肾好吃什么补肾好吃什么补肾好吃什么补肾好吃什么补肾好吃什么补肾好</h4>-->
								<!--<section>22112ijioei12jmjmkd1kj213333333333333333333333</section>
							</div>
						</div>
						<div class="creatTime">
							<img class="publishTime" src="../../images/publishTime.png" />
							<span class="creatTime-span">2017-11-12</span>
							<div class="admire"><img class="eye" src="../../images/eye.png" />
								<span class="examine">1231</span>-->
								<!--未关注-->
						<!--<span class="recognition  recognition-affirm"><img class="admire-img" src="../../images/likeNo.png" />
							<span class="appreciate appreciate-affirm">212</span></span>-->
								<!--已关注-->
						<!--<span class="recognition  recognition-cancel" style="display: none;"><img class="admire-img" src="../../images/likeYes.png" />
							<span class="appreciate appreciate-recognition-affirm">212</span></span>
							</div>
						</div>
					</li>
</a>-->



				</ul>
				<div style="color:#D0D0D0; text-align:center;padding:.5rem 0 1rem;">
					<p id="nomore" style="display:none;">~没有更多内容了~</p>
					<p id="loading" style="display:none;"><img src="../../images/loading.gif" alt="" width="25"></p>
				</div>

			</div>
		</div>
	</body>
	<script src="../../resource/js/jquery-2.1.1.min.js" type="text/javascript" charset="utf-8"></script>
	<script src="../../resource/js/common.js" type="text/javascript" charset="utf-8"></script>
	<script src="../../resource/js/validate_h5.js" type="text/javascript" charset="utf-8"></script>
	<script src="../../resource/js/yxMobileSlider.js" type="text/javascript" charset="utf-8"></script>
	<script src="../../resource/js/pullRefresh.js" type="text/javascript" charset="utf-8"></script>
	<script src="inc/healthIndex.js" type="text/javascript" charset="utf-8"></script>


</html>
<script type="text/javascript">
	$(".slider").yxMobileSlider({ width: 640, height: 320, during: 3000 })
</script>
