<!DOCTYPE html>
<html>

	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no, minimal-ui" />
		<meta name="apple-mobile-web-app-capable" content="yes" />
		<meta http-equiv="Expires" content="0">
		<meta http-equiv="Pragma" content="no-cache">
		<meta http-equiv="Cache-control" content="no-cache">
		<meta http-equiv="Cache" content="no-cache">
		<meta name="apple-mobile-web-app-status-bar-style" content="black" />
		<link rel="stylesheet" type="text/css" href="../../css/main.css" />
		<link rel="stylesheet" type="text/css" href="../../css/myCollect.css" />
		<title>我的收藏</title>
		<style type="text/css">

		</style>
	</head>

	<body>
		<header>
			<a id="goBack" class="goback" href="javascript:history.back();">
				<img src="../../images/backtrack.png" alt="" />
				<span id="goBackText">返回</span>
			</a>
			<h1 id="theme">我的收藏</h1>
		</header>
		<div id="articleParticulars">
			<ul id="articleParticulars-ul">

				<!--<li class="articleParticulars-li">
					<div class="articleParticulars-li-list">
						<img class="articleParticulars-img" src="../../images/choose.png" />
						<div class="articleParticulars-title">
							<h4>吃什么补肾好吃什么肾好吃什么补肾好</h4>
							<section>22112ijioei12jmjmkd1kj213333333333333333333333</section>
						</div>
					</div>
					<div class="creatTime">
						<img class="creatTime-clock" src="../../images/publishTime.png" />
						<span class="creatTime-span">2017-11-12</span>
						<div class="admire"><img class="admire-eye" src="../../images/eye.png" />
							<span class="examine">1231</span>-->
				<!--未关注-->
				<!--<span class="recognition  recognition-affirm">
								<img class="admire-img" src="../../images/likeNo.png" />
							<span class="appreciate appreciate-affirm">212</span>
							</span>-->
				<!--已关注-->
				<!--<span class="recognition  recognition-cancel" style="display: none;"><img class="admire-img" src="../../images/likeYes.png" />
							<span class="appreciate appreciate-recognition-affirm">212</span></span>
						</div>
					</div>
				</li>-->

			</ul>
			<p style="text-align: center; color: #999999; font-size: 1rem;">~没有更多内容了~</p>
		</div>
		<script src="../../resource/js/jquery-2.1.1.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="../../resource/js/common.js" type="text/javascript" charset="utf-8"></script>
		<script src="../../resource/js/validate_h5.js" type="text/javascript" charset="utf-8"></script>
		<script src="inc/myCollect.js" type="text/javascript" charset="utf-8"></script>

</html>
<script type="text/javascript">
</script>
