<!DOCTYPE html>
<html lang="en">

	<head>
		<meta charset="UTF-8">
		<title>支付-收银台</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<meta content="application/xhtml+xml;charset=UTF-8" http-equiv="Content-Type" />
		<meta name="apple-mobile-web-app-capable" content="yes" />
		<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />
		<meta name="format-detection" content="telephone=no">
		<link rel="stylesheet" href="../../css/checkstand.css">
	</head>

	<body>
		<header>
			<!-- <div> -->
			<!-- <div class="left"></div> -->
			<!-- <img src="../../images/left_icon.png" alt="" class="left fl"> -->
			<!-- <span class="curp">我的诊所</span> -->
			<!-- <div class="right"></div> -->
			<!-- <img src="../../images/right_icon.png" alt="" class="right fr"> -->
			<!-- </div> -->
		</header>
		<div class="content">
			<!--payment开始-->
			<div class="payment_totle payment">
				<div class="checkstand">
					<a href="javascript:; history.back()">
						<img class="fl curp" src="../../images/back.png" />
						<span class="fl back curp">返回</span>
					</a>
					<span class="payment_checkstand curp">收银台</span>
				</div>
			</div>
			<!---->
			<div class="cl h10"></div>

			<div class="payment_totle need_pay">
				<div>
					<span class="fl">需要付款</span>
					<span class="fr allPayMoney">¥110</span>
				</div>
			</div>
			<div class="cl h10"></div>

			<div class="payment_totle payway">
				<div class="paywayinfo">
					<div class="borderb pay_method  " payId='0'>
						<!--<span class="fl">余额支付(共¥10)</span>-->
						<span class="fl">余额支付</span>
						<span class="fr"><img src="../../images/selected1.png" alt=""></span>
					</div>
					<div class="borderb pay_method fontcolor" payId='1'>
						<span class="fl">微信支付</span>
						<span class="fr"><img src="../../images/selected.png" alt=""></span>
					</div>
					<div class="pay_method" payId='0'>
						<span class="fl">支付宝支付</span>
						<span class="fr"><img src="../../images/selected1.png" alt=""></span>
					</div>
				</div>
			</div>
			<!-- confirm payment start -->
			<div class="cl h300"></div>
			<div class="confirm">
				<div class="fontsize1">
					<span class="fl" style="padding-right: 0;">需支付</span><span class="fr_page" style="padding-left: 0;">110</span>
					<button class="fr fontcolor">确认支付</button>
				</div>
			</div>

		</div>

		<script type="text/javascript" src="../../resource/js/jquery-2.1.1.min.js"></script>
		<script src="../../resource/js/common.js" type="text/javascript" charset="utf-8"></script>
		<script type="text/javascript" src="inc/checkstand.js"></script>
	</body>

</html>