<?xml version="1.0" encoding="UTF-8" ?>   
<!DOCTYPE mapper   
PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN" 
"http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd"> 
<mapper  namespace="com.jzsx.xlha.videoMonitoring.dao.VideoApiServiceDao">
	
	<resultMap type="com.jzsx.xlha.videoMonitoring.bean.VideoInfo" id="selectResultMap">
	    <id property="videoinfoId" column="videoinfoId"/>
	    <result property="videoinfovideoId" column="videoinfo_id" />
	    <result property="videoinfoCode" column="videoinfo_code" />
	    <result property="videoinfoName" column="videoinfo_name" />
	    <result property="videoinfoStatus" column="videoinfo_status" />
	    <result property="videoinfoType" column="videoinfo_type" />
	    <result property="videoinfoCodeName" column="videoinfo_codename" />
    </resultMap>
    <resultMap type="com.jzsx.xlha.videoMonitoring.bean.VideoCamera" id="ResultMapCamera">
	    <result property="object_id" column="videoinfo_id" />
	    <result property="camera_id" column="videoinfo_id" />
	    <result property="place_code" column="videoinfo_code" />
	    <result property="org_code" column="videoinfo_code" />
	    <result property="plat_code" column="videoinfo_code" />
	    <result property="camera_name" column="videoinfo_name" />
<!-- 	    <result property="videoinfoStatus" column="videoinfo_status" /> -->
	    <result property="camera_type" column="videoinfo_type" />
<!-- 	    <result property="videoinfoCodeName" column="videoinfo_codename" /> -->
    </resultMap>
	
	
	<insert id="insertvideoinfo" parameterType="com.jzsx.xlha.videoMonitoring.bean.VideoInfo">
		insert into t_video_videoinfo 
		<trim prefix="(" suffix=")" suffixOverrides="," >
			<if test="videoinfoId != null and videoinfoId !='' ">
				videoinfoId,
			</if>
			<if test="videoinfovideoId != null and videoinfovideoId !='' ">
				videoinfo_id,
			</if>
			<if test="videoinfoCode != null and videoinfoCode !='' ">
				videoinfo_code,
			</if>
			<if test="videoinfoName != null and videoinfoName !='' ">
				videoinfo_name,
			</if>
			<if test="videoinfoStatus != null and videoinfoStatus !='' ">
				videoinfo_status,
			</if>
			<if test="videoinfoType != null and videoinfoType !='' ">
				videoinfo_type,
			</if>
			<if test="videoinfoCodeName != null and videoinfoCodeName !='' ">
				videoinfo_codename,
			</if>
		</trim>
		values
			<trim prefix="(" suffix=")" suffixOverrides="," >
				<if test="videoinfoId != null and videoinfoId !='' ">
					#{videoinfoId},
				</if>
				<if test="videoinfovideoId != null and videoinfovideoId !='' ">
					#{videoinfovideoId},
				</if>
				<if test="videoinfoCode != null and videoinfoCode !='' ">
					#{videoinfoCode},
				</if>
				<if test="videoinfoName != null and videoinfoName !='' ">
					#{videoinfoName},
				</if>
				<if test="videoinfoStatus != null and videoinfoStatus !='' ">
					#{videoinfoStatus},
				</if>
				<if test="videoinfoType != null and videoinfoType !='' ">
					#{videoinfoType},
				</if>
				<if test="videoinfoCodeName != null and videoinfoCodeName !='' ">
					#{videoinfoCodeName},
				</if>
			</trim>
	</insert>
	
	<select id="selectVideoInfo" parameterType="com.jzsx.xlha.videoMonitoring.bean.VideoInfo" resultMap="selectResultMap">
		<if test = "pageendnum != null and pageendnum != '' ">
			<include refid = "pagestart"></include>
		</if>
		select * from t_video_videoinfo where 1=1 
		<if test="videoinfoType != null and videoinfoType !='' ">
			and videoinfo_type = #{videoinfoType}
		</if>
		<if test="videoinfoCode != null and videoinfoCode !='' ">
			and videoinfo_code = #{videoinfoCode}
		</if>
		<if test="codeStatus != null and codeStatus !='' and videoinfoCode == null  ">
		 	and videoinfo_code is null
		</if>
		<if test="codeStatus == null or codeStatus =='' ">
		 	or videoinfo_code is null
		</if>
		<if test = "pageendnum != null and pageendnum != '' ">
			<include refid = "pageend"></include>
		</if>
	</select>
	<select id="queryVideoCamera" parameterType="com.jzsx.xlha.videoMonitoring.bean.VideoCamera" resultMap="ResultMapCamera">
		select t.videoinfo_id,t.videoinfo_code,t.videoinfo_name,t.videoinfo_type from T_VIDEO_VIDEOINFO t
		where 1=1  and videoinfo_type=1
		<if test="place_code != null and place_code !='' ">
			and videoinfo_code = #{place_code}
		</if>
		or videoinfo_code is null
<!-- 		<if test="place_code == null "> -->
<!-- 			and videoinfo_code is null -->
<!-- 		</if> -->
		
	</select>
	<delete id = "deleteVideoInfo">
		delete from t_video_videoinfo
	</delete>
	
	<update id="updateVideoInfo" parameterType="com.jzsx.xlha.videoMonitoring.bean.VideoInfo">
		update t_video_videoinfo 
		<set>
			<if test="videoinfoCode != null and videoinfoCode !='' ">
				videoinfo_code = #{videoinfoCode},
			</if>
			<if test="videoinfoCodeName != null and videoinfoCodeName !='' ">
				videoinfo_codename = #{videoinfoCodeName},
			</if>
			<if test="videoinfoType != null and videoinfoType !='' ">
				videoinfo_type = #{videoinfoType},
			</if>
		</set>
		where videoinfoId = #{videoinfoId}
	</update>
	
	<select id="selectacount" resultType="java.lang.String" parameterType="com.jzsx.xlha.videoMonitoring.bean.VideoInfo">
		select count(*) from t_video_videoinfo where videoinfo_type is null
	</select>
	
	<sql id = "pagestart">
		SELECT * FROM   (  SELECT t.*, ROWNUM rb   FROM (
	</sql>
	
	<sql id = "pageend">
		<![CDATA[
			) t where ROWNUM <= #{pageendnum} )  WHERE rb > #{pagestartnum} 
		 ]]>
	</sql>
</mapper>