@charset "utf-8";
/*@font-face {*/
	/*font-family: 'wingdings 3';*/
	/*字体名称*/
	/*src: url('../font/Hiragino Sans GB W3.otf');*/
	/*字体源文件*/
/*}*/

@media only screen and (min-width: 320px) {
	html {
		font-size: 10px !important;
	}
}

@media only screen and (min-width: 360px) {
	html {
		font-size: 11.25px !important;
	}
}

@media only screen and (min-width: 400px) {
	html {
		font-size: 12.5px !important;
	}
}

@media only screen and (min-width: 480px) {
	html {
		font-size: 15px !important;
	}
}

@media only screen and (min-width: 640px) {
	html {
		font-size: 20px !important;
	}
}


/* CSS Document */

html,
body {
	margin: 0;
	padding: 0;
	background-color: #F2F2F2;
	/*font-family: "wingdings 3";*/
}
ul {
	list-style-type: none;
	padding: 0;
	margin: 0;
}

a {
	text-decoration: none;
	color: inherit;
}

h1,h2,h3,h4,h5,h6,p {
	margin: 0;
	padding: 0;
}
.clear {
	clear: both;
}
.address_content{

}
.search{
	/*line-height: 5rem;*/
	background: #fff;
	border-top: .1rem solid #dfdfdf;
	padding: .5rem 0;
}
.search_frame{
	width:80%;
	height: 4rem;
	margin: .5rem 0 .5rem 1rem;
	background: #ededed;
	border-radius: .5rem;
}
.search_img{
	width: 2rem;
	height: 2rem;
	margin-left: 1rem;
	vertical-align: middle;
}
.search_input{
	margin-top: .5rem;
    display: inline-block;
    padding: .8rem;
    width: 85%;
    border: none;
    background: none;
}
.search_span{
	font-size: 1.5rem;
    float: right;
    margin-right: 1rem;
    margin-top: -3.5rem;
}
.map{
	width: 100%;
}
.map_img{
	width: 100%;
}
.sample_list{
	position: absolute;
    width: 100%;
    height: 24rem;
    overflow-x: scroll;
    bottom: 0;

}
.sample_list_li{
	background:#fff;
	padding: 1rem;
	border-bottom: .1rem solid #dfdfdf;
}
.sample_list_li_div{
	margin-bottom: .5rem;
}
.sample_list_li_div_img{
	float: left;
	width:1rem;
	height: 1.3rem;
	vertical-align: middle;
	margin-top:.2rem;
}
.sample_list_li_div_h6{
	font-size: 1.3rem;
	margin-left:1.5rem;
}
.sample_list_li_p{
	font-size: 1.1rem;
	color: #999;
}
