/*@charset "utf-8";
body,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
textarea,
div,
input {
	margin: 0;
	padding: 0;
	-webkit-text-size-adjust: none
}*/
.slider_a img {
	border: 0
}
.slider_a{
	outline-style: none;
	color: #535353;
	text-decoration: none
}

.slider_a:hover {
	color: #D40000;
	text-decoration: none
}
.carousel{
	width: 100%;
	height: 200px;
}
.slider{
	width: 100%;
	height: 100%;
}
.slider {
	display: none
}
/*用于获取更加体验*/

.focus span {
	width: 10px;
	height: 10px;
	margin-right: 10px;
	border-radius: 50%;
	background: white;
	opacity: 0.5;
	font-size: 0
}
.focus div{
	width: 90px !important;
	margin: 0 auto;
}
.focus span.current {
	background: #EC9B01;
}

.current{
	width: 15px !important;
	border-radius: 15px !important;
	opacity: 1 !important;
}