	@charset "utf-8";
	@font-face {
		font-family: 'wingdings 3';
		/*字体名称*/
		src: url('../font/Hiragino Sans GB W3.otf');
		/*字体源文件*/
	}
	

	/*自适应*/
	
	@media only screen and (min-width: 320px) {
		html {
			font-size: 10px !important;
		}
	}
	
	@media only screen and (min-width: 360px) {
		html {
			font-size: 11.25px !important;
		}
	}
	
	@media only screen and (min-width: 400px) {
		html {
			font-size: 12.5px !important;
		}
		#goBack img {
			margin-top: .1rem !important;
		}
	}
	
	@media only screen and (min-width: 480px) {
		html {
			font-size: 15px !important;
		}
	}
	
	@media only screen and (min-width: 640px) {
		html {
			font-size: 20px !important;
		}
	}
	






*{
    padding:0;
    margin:0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-user-select: none;
    -webkit-tap-highlight-color: transparent;
    outline: none;
}
i.em{
    font-style: normal;
}
h1,h2,h3,h4,h5,h6{
    font-weight: normal;
}
a{
    text-decoration:none;
}
ul,li{
    list-style: none;
    float: left;
}
.fl{
    float: left;
}
.fr{
    float: right;
}
.cl{
    clear: both;
}
.h10{
    height: 10px;
    background-color: #f2f2f2;
}
.h300{
    height: 300px;
    background-color: #f2f2f2;
}
html,body{
    font-size:16px "微软雅黑","宋体","Arial Narrow",HELVETICA;
    background-color: #f2f2f2;
}
/*header start*/
header {
    color: white;
    font-size: 1.6rem;
    width: 100%;
    background-color:#000 ;
    text-align: center;
    line-height: 60px;
    position: relative;
}
header div{
    text-align: center;
    line-height: 70px;
    position: relative;
}
header .left{
    width: 34px;
    height: 34px;
    position: absolute;
    left: 1.0rem;
    top: 12px;
    background: url('../images/left_icon.png') no-repeat center center;
    background-size: 100%;
}
header .right{
    width: 10px;
    height: 44px;
    position: absolute;
    right: 0.8rem;
    top: 6px;
    background: url('../images/right_icon.png') no-repeat center center;
    background-size: 100%;
}
/*header img{
    height: 34px;
    padding: 0 1.0rem;
    margin-top: 16px;
    cursor: pointer;
}*/
/*payment start*/
.content .payment{
    border-bottom: 1px solid #dfdfdf;
    overflow: hidden;
	height: 3rem;
}
.content .payment .checkstand{
    line-height: 3rem;
    text-align: center;
}



.content .payment .checkstand img{
    width: 1rem;
    height: 1rem;
    margin-top:1rem;
}

#goBack {
		float: left;
		margin-top: .8rem;
	}
	
#goBack img {
		margin-left: 1.2rem;
		width: 1rem;
		height: 1.2rem;
		float: left;
		margin-top: .15rem;
	}


.content .payment .checkstand .back{
    color: #ec9c00;
    font-size: 1.4rem;
}
.content .payment .checkstand .payment_checkstand{
    font-size: 1.4rem;
    font-weight: bold;
    padding-right: 3.9rem;
}
/*need_pay start*/
.content .need_pay{
    line-height:3.5rem;
	height: 3.5rem;    
    font-size: 1.2rem;
    overflow: hidden;
    background-color: #fff;
}
/*payway start*/
.content .payway{
    border-bottom: 1px solid #dfdfdf;
    overflow: hidden;
    cursor: pointer;
}
.content .payway .paywayinfo{
    font-size: 1.2rem;
    color: #dfdfdf;
}
.content .payway .paywayinfo .pay_method {
    overflow: hidden;
	height: 4rem;
	line-height:4rem;
}
.content .payway .paywayinfo .borderb {
    border-bottom: 1px solid #dfdfdf;
}
.content .payway .paywayinfo img{
    width: 2.5rem;
    height: 2.5rem;
	vertical-align: middle;
}
/*confirm payment start*/
.content .confirm{
    position: fixed;
    bottom: 0;
	width: 100%;
	background-color: white;
}
.content .confirm div{
    line-height: 3.5rem;
    
}
.content .confirm div span{
	float: left;
    color: #ec9c00;
    padding: 0 1.25rem;
    font-family: STXihei, "simsun";
    font-size: 1.2rem;
}
.content .confirm div button{
    /*width: 22%;*/
    line-height: 3.5rem;
    background-color: #ec9c00;
    text-decoration: none;
    font-size: 1.2rem;
    border: none;
    padding:0 1.2rem;
    color: #fff;
    cursor: pointer;
	float: right;
}
/*end*/

/*payment totle*/
.payment_totle{
    background: white;
    padding: 0 1.25rem;
    border-bottom: 0px;
}
.fontcolor{
    color: #000;
}
.curp{
    cursor: pointer;
}



