@charset "utf-8";
@font-face {
    font-family: 'wingdings 3';   /*字体名称*/
    src: url('../font/Hiragino Sans GB W3.otf');       /*字体源文件*/
}
html,
body,
div,
p,
ul,
li,
h3 {
    margin: 0;
    padding: 0;
}

/*自适应*/

@media only screen and (min-width: 320px) {
    html {
        font-size: 10px !important;
    }
}

@media only screen and (min-width: 360px) {
    html {
        font-size: 11.25px !important;
    }
}

@media only screen and (min-width: 400px) {
    html {
        font-size: 12.5px !important;
    }

    #goBack img {
        margin-top: .1rem !important;
    }
}

@media only screen and (min-width: 480px) {
    html {
        font-size: 15px !important;
    }
}

@media only screen and (min-width: 640px) {
    html {
        font-size: 20px !important;
    }
}


html {
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
}
h1,h2,h3,h4,h5,h6,p{
	margin:0;
	padding:0;
}
a {
	text-decoration: none;
}
body {
    padding: 0;
    margin: 0;
    /*float: left;*/
	box-sizing:border-box;
    background-color: #F2F2F2;
    /*font-family: 'wingdings 3';*/
}
header {
	position: fixed;
	top: 0;
  z-index: 1040;
  width: 100%;
}
.page {
    padding-top: 3rem;
}
.page .bar-tab {
    height: auto;
    background: #fafafa;
}

.page .bar-tab .tab-item .icon {
    height: .4rem;
    margin: .2rem 0;
}

.page .bar-tab .tab-item .icon img {
    width: 1.3rem;
    height: 1.3rem;
}

.page .bar-tab .tab-item .tab-label {
    padding-bottom: .3rem;
    padding-top: .1rem;
    font-size: .4rem;
    font-weight: 300;
    color: rgba(0, 0, 0, 0.8);
}

.page .content .buttons-tab .active {
    top: 0;
    border: none;
}

.buttons-tab {

    /*z-index: 100;*/

}

.content {
    position: fixed;
    top: 3rem;
    line-height: 3rem;
    font-size: .8rem;
    background-color: #FFFFFF;
    width: 100%;
    margin-top: 0 !important;
    z-index: 1040;
}
.buttons-tab {
    overflow: hidden;
    border-bottom:1px solid #dfdfdf;
}
.tab-button {
    color: #999;
    font-size: 0.96rem;
    font-weight: lighter;
}

.tab-icon {
    font-size: 1px;
    margin-bottom: 0.2rem;
    margin-left: 0.3rem;
    color: #CCCCCC;
}

#main-content {
    margin-top: 3.3rem;
}
.div-content{
	width:100%;
	background:#fff;
}
.div-content-introduce {
    width:97%;
    height: 8rem;
    background-color: #FFFFFF;

    /*margin-top: 2rem;*/
    padding-top: 0.7rem;
    padding-left: 3%;
    position: relative;

}

.div-img {
    width: 10rem;
    height:7rem;
    float: left;
    position: relative;
	border-radius:.3rem;
}

.div-img-custom {
    position: absolute;
    width: 5rem;
    height: 1rem;
    top: 2.5rem;
    text-align: center;
    color: white;
    font-size: .3rem;
    background-color: #000000;
    opacity: 0.5;
    z-index: 999;
}

.content-footer {
    margin-top: 2.5rem;
    margin-bottom: .3rem;
}
.div-content-function{
	margin:0 1rem;
	border-top:1px dashed #e5e5e5;
}
.function-title{
	margin-top:.3rem;
}
.function-title-h6{
	color:#000;
	font-size:1.2rem;
	line-height:2rem;
  font-weight: normal;
    display: inline-block;
    max-width: 16rem;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    vertical-align: middle;
}
.function-title-p{
	color:#999;
	font-size:0.96rem;
	padding-bottom:1rem;
}
.function-price{
	float:left;
	margin-top:-4.2rem;
	margin-left:55%;
	text-align:right;
}
.function-price-h6{
	color:#ec9c00;
	font-size:1.2rem;
	line-height:2rem;
}
.function-price-p{
	color:#ccc;
	font-size:0.96rem;
	text-decoration:line-through;
	padding-bottom:.5rem;
}
.function-button{
	float:right;
	background:#ec9c00;
	color:#fff;
	padding:.7rem 2rem;
	border-radius:.5rem;
	margin-top:-4rem;
	font-size: 1.2rem;
}

#footer {
    position: fixed;
    width: 100%;
    bottom: 0;
    padding-bottom: .2rem;
    /*padding-top: .7rem;*/
}

.tab-item {
    float: left;
    width: 20%;
    height: 100%;
    text-decoration: none;
    text-align: center;
}

.icon {
    display: inline-block;
    text-align: center;
    width: 100%;
    height: 22px;
    margin-top: 1rem;
}

.icon img {
    width: 22px;
    height: 22px;
}

/*.tab-label{
    margin-bottom: .7rem;
}*/
.div-content-name {
    float: left;
    /* height: 50%; */
    /* height: .3rem; */
    margin-left: .8rem;
    margin-bottom: 0;
    /* margin-top: -.7rem; */
    /* padding-top: .2rem; */
    /* height: 1.5rem; */
    /* line-height: 1.7rem; */
    font-size: 1.36rem;
    color: #000000;
    /*font-family: "wingdings 3";*/
    font-weight: lighter;
}
.hospitalName {
    display: inline-block;
    max-width: 8.8rem;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    vertical-align: middle;
}
.brand_1 {
    color: #66cc66;
    border: 1px solid #66cc66;
    border-radius: 3px;
    font-size: 1rem;
    padding: 1px 2px;
    margin-left: 5px;
}
.brand_2 {
    color: #747ad9;
    border: 1px solid #747ad9;
    border-radius: 3px;
    font-size: .8rem;
    padding: 1px 2px;
    margin-left: 5px;
}
.distance {
    float: right;
    /*margin-top: -.5rem;*/
    padding-top: .4rem;
    margin-right: 1.5rem;
    font-size: 0.96rem;
    color: #999999;
}

/*#page-ptr {

    width: 100%;
    background-color: #F2F2F2;
}*/

.buttons-tab a {
    float: left;
    text-align: center;
    text-decoration: none;
    width: 33.33%;
    height: 100%;
}

.list-block {
    margin-top: 4.1rem;
}

.grade {
    margin-top: 2.4rem;
    font-size: .6rem;
    margin-left: 11rem;
}

.content-address {
    margin-left: 11rem;
    margin-right: 0.8rem;
    margin-top: .3rem;
    font-size: 1.04rem;
    color: #666;
    word-wrap: break-word;
    overflow: hidden;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    display: -webkit-box;
}

.content-footer-serve {
    margin-right: 3%;
    color: #F2B84D;
    display: inline-block;
    /*width: 6.1rem;*/
    padding: .2rem .5rem .2rem .5rem;
    /*height: 1.6rem;*/
    text-align: center;
    background-color: #FFF7F0;
    border: 1px solid #EBD8C6;
    font-size: .3rem;
    border-radius: 1rem;
}

.content-block {
    width: 100%;
    height: 20rem;
    background-color: white;
    padding-left: 0;
}

.card {
    width: 100%;
    height: 100%;
}

.div-footer-serve {
    float: left;
    display: inline-block;
    width: 25%;
    height: 10px;
    box-sizing: border-box;
    margin-right: auto;
}

#bottom {
    /*height: 2rem;*/
}

#bottom > p {
    text-align: center;
    color: #D6D6D6;
    font-weight: lighter;
    font-size: .6rem;
}

.type-name-ul {
    list-style-type: none;
    padding-left: 0;
    margin-top: 0;
    margin-bottom: 0;
    cursor: pointer;
    height: 20rem;
    overflow: auto;
    overflow-y: scroll;
}

.type-name-ul2 {
    list-style-type: none;
    padding-left: 0;
    margin-top: 0;
    margin-bottom: 0;
    float: left;
    cursor: pointer;
    width: 30%;
    height: 13.8rem;
    overflow: auto;
    overflow-y: scroll;
}

.list-container {
    /*margin-top: 5.1rem;*/
    position: relative;
    /*float: left;*/
    padding-left: 0;
    width: 100%;
}

.list-container-li {
    /*list-style-type: none;*/
	margin-top:1rem;
}

/*遮盖层*/

#coverLayer {
    position: fixed;
    /*margin-top: 13.8rem;*/
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1030;
    display: none;
    background-color: rgba(0, 0, 0, .7);
}

.type-name-ul li {
    padding-top: 0;
	  line-height:2.3rem;
    font-size: 1.2rem;
    font-weight: lighter;
    border-bottom: 1px solid #e5e5e5;
}

.type-name-ul li.activity {
    background: #fff;
    color: orange;
}

.type-name-ul2 li {
    height: 2.3rem;
    /*width: 70%;*/
   /*  padding-top: .5rem;
   padding-left: 3rem;*/
    padding-top: 0;
	line-height:2.3rem;
    font-size: 10px;
    font-weight: lighter;
}

.type-name-ul-type {
    display: block;
    text-align: center;
    padding: .7rem 0;
    line-height: 1.5;
}

.tab2-ul-list2 {
    margin-top: -12px;
}

.type-name-ul2 span {
    display: inline-block;
    float: left;
    height: 100%;
    width: 100%;
    text-align: center;
}

/*.grade{
    margin-top: 1.3rem;
}*/
.grade-img {
    width: 1.1rem;
	margin-right:.2rem;
    /*float: left;*/
}

.goal {
    font-size: 1.1rem;
    color: #000;
    vertical-align: bottom;
}

#bottom {
    /*margin-bottom: 200px;*/
}

#alertDiv {
    z-index: 999999;
}
