@charset "utf-8";
@font-face {
	font-family: 'wingdings 3';
	/*字体名称*/
	src: url('../font/Hiragino Sans GB W3.otf');
	/*字体源文件*/
}

html,
body,
div,
p,
ul,
li,
h3 {
	margin: 0;
	padding: 0;
}


/*自适应*/

@media only screen and (min-width: 320px) {
	html {
		font-size: 10px !important;
	}
}

@media only screen and (min-width: 360px) {
	html {
		font-size: 11.25px !important;
	}
	.filtrate-affirm {
		margin-right: 6.5% !important;
	}
}

@media only screen and (min-width: 400px) {
	html {
		font-size: 12.5px !important;
	}
	#goBack img {
		margin-top: .1rem !important;
	}
	.filtrate-affirm {
		margin-right: 7% !important;
	}
	.goal {
		display: inline-block;
		margin-top: .2rem;
	}
}

@media only screen and (min-width: 480px) {
	html {
		font-size: 15px !important;
	}
}

@media only screen and (min-width: 640px) {
	html {
		font-size: 20px !important;
	}
}

html {
	height: 100%;
	width: 100%;
	padding: 0;
	margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
	margin: 0;
	padding: 0;
}

a {
	text-decoration: none;
}

body {
	padding: 0;
	margin: 0;
	/*float: left;*/
	box-sizing: border-box;
	margin-top: 2.5rem;
	background-color: #F2F2F2;
	/*font-family: "wingdings 3";*/
}
header {
	position: fixed;
	width: 100%;
	box-sizing: border-box;
	top: 0;
	z-index: 1040;
	height: 3rem;
	line-height: 3rem;
}
header a.goback {
	position: absolute;
	left: 1rem;
}
header a.goback > img {
	height: 1.7rem;
	vertical-align: middle;
}
header a.goback > span {
	font-size: 1.4rem;
	color: #ec9c00;
	vertical-align: middle;
}
header #theme {
	font-size: 1.4rem;
}
.page .bar-tab {
	height: auto;
	background: #fafafa;
}

.page .bar-tab .tab-item .icon {
	height: .4rem;
	margin: .2rem 0;
}

.page .bar-tab .tab-item .icon img {
	width: 1.3rem;
	height: 1.3rem;
}

.page .bar-tab .tab-item .tab-label {
	padding-bottom: .3rem;
	padding-top: .1rem;
	font-size: .4rem;
	font-weight: 300;
	color: rgba(0, 0, 0, 0.8);
}

.page .content .buttons-tab .active {
	top: 0;
	border: none;
}

.buttons-tab {
	/*z-index: 100;*/
}

.content {
	position: fixed;
	top: 3rem;
	line-height: 3rem;
	font-size: .8rem;
	background-color: #FFFFFF;
	/*text-align: center;*/
	width: 100%;
	/*margin-top: 3rem !important;*/
	z-index: 1040;

}
.buttons-tab {
	overflow: hidden;
	border-bottom: 1px solid #dfdfdf;
}
.tab-button {
	color: #999;
	font-size: 1.04rem;
	font-weight: lighter;
}

.tab-icon {
	font-size: 0;
	margin-bottom: 0.2rem;
	margin-left: 0.3rem;
	color: #CCCCCC;
	vertical-align: middle;
}

#main-content {
	margin-top: 3.3rem;
}

.div-content {
	width: 100%;
	background: #fff;
}

.div-content-introduce {
	/*width: 97%;*/
	/*height: 6.5rem;*/
	background-color: #FFFFFF;
	/*margin-top: 2rem;*/
	padding-top: 0.7rem;
	padding-left: 3%;
	padding: 1rem;
	position: relative;
}

.div-img {
	width: 6rem;
	height: 6rem;
	float: left;
	position: relative;
	border-radius: 3rem;
}

.div-img-custom {
	position: absolute;
	width: 5rem;
	height: 1rem;
	top: 2.5rem;
	text-align: center;
	color: white;
	font-size: .3rem;
	background-color: #000000;
	opacity: 0.5;
	z-index: 999;
}

.content-footer {
	margin-top: 2.5rem;
	margin-bottom: .3rem;
}

.div-content-function {
	margin: 0 1rem;
	border-top: 1px dashed #e5e5e5;
}

.function-title {
	margin-top: .3rem;
}

.function-title-h6 {
	color: #000;
	font-size: 1.2rem;
	line-height: 2rem;
}

.function-title-p {
	color: #999;
	font-size: .8rem;
	padding-bottom: 1rem;
}

.function-price {
	float: left;
	margin-top: -4.2rem;
	margin-left: 55%;
}

.function-price-h6 {
	color: #ec9c00;
	font-size: 1.2rem;
	line-height: 2rem;
}

.function-price-p {
	color: #ccc;
	font-size: .8rem;
	text-decoration: line-through;
	padding-bottom: .5rem;
}

.function-button {
	float: right;
	background: #ec9c00;
	color: #fff;
	padding: .7rem 2rem;
	border-radius: .5rem;
	margin-top: -3.5rem;
}

#footer {
	position: fixed;
	width: 100%;
	bottom: 0;
	padding-bottom: .2rem;
	/*padding-top: .7rem;*/
}

.tab-item {
	float: left;
	width: 20%;
	height: 100%;
	text-decoration: none;
	text-align: center;
}

.icon {
	display: inline-block;
	text-align: center;
	width: 100%;
	height: 22px;
	margin-top: 1rem;
}

.icon img {
	width: 22px;
	height: 22px;
}


/*.tab-label{
    margin-bottom: .7rem;
}*/

.div-content-name {
	float: left;
	/*height: 50%;*/
	height: .3rem;
	margin-left: .8rem;
	margin-bottom: 0;
	/* margin-top: -.7rem;*/
	/*padding-top: .2rem;*/
	/*height: 1.5rem;*/
	line-height: 1.7rem;
	font-size: 1.4rem;
	color: #000000;
	/*font-family: "wingdings 3";*/
	font-weight: lighter;
}
.div-content-position {
	font-size: 1.04rem;
	color: #666;
	margin-left: 1rem;
}

.div-content-department {
	font-size: 1.04rem;
	color: #666;
	margin-left: 1rem;
}

.distance {
	float: right;
	/* margin-top: -.5rem;*/
	padding-top: .4rem;
	margin-right: 1.5rem;
	font-size: .96rem;
	color: #999999;
}


/*#page-ptr {

    width: 100%;
    background-color: #F2F2F2;
}*/

.buttons-tab a {
	float: left;
	text-align: center;
	text-decoration: none;
	width: 25%;
	height: 100%;
}

.list-block {
	margin-top: 6.3rem;
	/*z-index: 999999999;*/
}

.grade {
	margin-top: 2rem;
	font-size: .6rem;
	margin-left: 6.8rem;
}

.content-address {
	margin-left: 6.8rem;
	margin-right: .8rem;
	margin-bottom: 1.2rem;
	margin-top: .4rem;
	font-size: 1.04rem;
	color: #666;
	word-wrap: break-word;
}

.content-footer-serve {
	margin-right: 3%;
	color: #F2B84D;
	display: inline-block;
	/*width: 6.1rem;*/
	padding: .2rem .5rem .2rem .5rem;
	/*height: 1.6rem;*/
	text-align: center;
	background-color: #FFF7F0;
	border: 1px solid #EBD8C6;
	font-size: .3rem;
	border-radius: 1rem;
}

.content-block {
	width: 100%;
	background-color: white;
	padding-left: 0;
}

.card {
	width: 100%;
	height: 100%;
}

.div-footer-serve {
	float: left;
	display: inline-block;
	width: 25%;
	height: 10px;
	box-sizing: border-box;
	margin-right: auto;
}

#bottom {
	/*height: 2rem;*/
}

#bottom>p {
	text-align: center;
	color: #D6D6D6;
	font-weight: lighter;
	font-size: .6rem;
}

.type-name-ul {
	list-style-type: none;
	padding-left: 0;
	margin-top: 0;
	margin-bottom: 0;
	cursor: pointer;
	max-height: 19.5rem;
	overflow: auto;
	overflow-y: scroll;
}

.type-name-ul2 {
	list-style-type: none;
	padding-left: 0;
	margin-top: 0;
	margin-bottom: 0;
	float: left;
	cursor: pointer;
	width: 30%;
	height: 13.8rem;
	overflow: auto;
	overflow-y: scroll;
}

.list-container {
	margin-top: -.1rem;
	position: relative;
	/*float: left;*/
	padding-left: 0;
	width: 100%;
	/*z-index: -1;*/
}

.list-container-li {
	/*list-style-type: none;
	margin-top:1rem;*/
	border-bottom: 1px solid #dfdfdf;
}


/*遮盖层*/

#coverLayer {
	position: fixed;
	/*margin-top: 13.8rem;*/
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 1030;
	display: none;
	background-color: rgba(0, 0, 0, .7);
}

.type-name-ul li {
	padding-top: 0;
	font-size: 1.3rem;
	font-weight: lighter;
	border-bottom: 1px solid #d9d9d9;
}

.type-name-ul li.activity {
	background: #fff;
	color: orange;
}

.type-name-ul2 li {
	height: 2.3rem;
	/*width: 70%;*/
	/*  padding-top: .5rem;
   padding-left: 3rem;*/
	padding-top: 0;
	line-height: 2.3rem;
	font-size: 10px;
	font-weight: lighter;
}

.type-name-ul-type {
	display: block;
	padding: .7rem 0;
	line-height: 1.75rem;
	font-size: 1.12rem;
	width: 100%;
	text-align: center;
	/*background-color: #F5F5F5;*/
}

.tab2-ul-list2 {
	margin-top: -12px;
}

.type-name-ul2 span {
	display: inline-block;
	float: left;
	height: 100%;
	width: 100%;
	text-align: center;
}


/*.grade{
    margin-top: 1.3rem;
}*/

.grade-img {
	vertical-align: middle;
	width: 1rem;
	height: 1rem;
	margin-right: .2rem;
	/*float: left;*/
}

.goal {
	font-size: .96rem;
	color: #FFCC66;
	vertical-align: middle;
}

#bottom {
	/*margin-bottom: 200px;*/
}

#alertDiv {
	z-index: 999999;
}

.tab-img {
	z-index: -3333;
	width: .7rem;
	vertical-align: middle;
}


/*新增*/

.doctorTitle {
	padding-left: 6%;
	font-size: 1.2rem;
}

.doctorTitle-list {
	padding: 1rem 5%;
	list-style-type: none;
}

.doctorTitle-list-li {
	display: inline-block;
	border-radius: .3rem;
	width: 23%;
	box-sizing: border-box;
	margin: 0 1%;
	text-align: center;
	line-height: 3rem;
	height: 3rem;
	margin-top: .2rem;
	margin-bottom: .2rem;
	color: #000;
	background: #f2f2f2;
	font-size: 1rem;
}


/*.doctorTitle-list-li.active {
    background-color: #ED9D00;
    color: white;
}*/

.filtrate {
	padding-left: 6%;
	height: 2rem;
	padding-bottom: 1.5rem;
}

.filtrate-span {
	display: inline-block;
	margin-left: .5rem;
	/*line-height: 2rem;*/
	margin-top: .7rem;
	/*margin-bottom: 2.3rem;*/
}

.filtrate img {
	float: left;
	width: 1.3rem;
	margin-top: .7rem;
}

.filtrate-affirm {
	float: right;
	margin-right: 5%;
	background-color: #ED9D00;
	color: white;
}
.realName{
	/*width: 30%;*/
	font-size: 1.36rem;
}
