@charset "utf-8";
/* CSS Document */
@font-face {
	font-family: 'wingdings 3';   /*字体名称*/
	src: url('../font/Hiragino Sans GB W3.otf');       /*字体源文件*/
}

@media only screen and (min-width: 320px) {
html {
	font-size: 10px !important;
}
.clinic-profile-div{
	float: left;
    margin-left: -1rem;
    margin-top: 1rem;
}
}

@media only screen and (min-width: 360px) {
html {
	font-size: 11.25px !important;
}
.clinic-profile-div{
	float: left;
	margin-left: -1rem;
    margin-top: 1rem;
}
}

@media only screen and (min-width: 400px) {
html {
	font-size: 12.5px !important;
}
.clinic-profile-div{
	float: left;
	margin-left: -1rem;
    margin-top: 1rem;
}
}

@media only screen and (min-width: 480px) {
html {
	font-size: 15px !important;
}
}

@media only screen and (min-width: 640px) {
html {
	font-size: 20px !important;
}
}
* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
html, body {
	margin: 0;
	padding: 0;
	background-color: #fff;
	/*font-family: "wingdings 3";*/
}
ul {
	list-style-type: none;
}

.clear{
	clear: both;
}
ul {
	list-style-type: none;
	padding: 0;
	margin: 0;
}
a {
	text-decoration: none;
	color: inherit;
}
p,h1,h2,h3,h4,h5,h6{
	margin:0;
	padding:0;
}
.other-news{
	padding-bottom:3rem;
	background:#fff;
}
.another-doctor{
	background-color:#fff;
	margin:5rem 0;
	text-align:center;
}
.another-doctor img{
	width:10rem;
}
.another-doctor p{
	font-size:1rem;
	color:#666;
	line-height:3rem;
	margin-left:1rem;
}
.consultation{
	background:#fff;
}
.consultation-text{
	margin:0 2rem;
	border-bottom:1px dashed #e5e5e5;
}
.none-border{
	border:none;
}
.consultation-text h6{
	color:#000;
	padding:1rem 0 1rem 0;
}
.consultation-text p{
	color:#999;
}
.consultation-img{
	float:right;
	margin-top:-3.5rem;
	margin-right:2rem;
	vertical-align:middle;
}
.consultation-img img{
	width:2.5rem;
	vertical-align:middle;
}


.sec-info{
    height: 2.9rem;
    border-bottom: 1px solid #dfdfdf;
    position: relative;
    background: #fff;
}

.recommend{
    width: 1.6rem;
    height: .9rem;
    position: absolute;
    left: 0;
    top: 0;
}

.sec-info-link{
    display: block;
    width: 90%;
    height: 100%;
    margin: 0 auto;
}

.sec-info-wrapper{
    display: flex;
    height: 2.1rem;
    border-bottom: 1px dashed #dfdfdf;
}

.sec-info-shop{
    height: 1.5rem;
    flex: 0 0 2rem;
    margin-top: .3rem;
}

.sec-info-company{
    flex: 1;
    position: relative;
    padding-left: .2rem;
    margin-top: .26rem;
}

.distance{
    font-size: .2rem;
    color: #999;
    position: absolute;
    right: 0;
    top: .14rem;
}

.company-title{
    font-size: .34rem;
    color: #000;
}

.star-point{
    height: .24rem;
    margin-top: .1rem;
}

.star-point i{
    display: inline-block;
    float: left;
    width: .24rem;
    height: .24rem;
/*    background: url(../images/star.png) no-repeat;*/
    background-size: .24rem .24rem;
    margin: .02rem;
}
.star-point i img{
	width:100%;
	height:100%;
	margin-top:-1.3rem;
}

.score{
    float: left;
    font-size: .22rem;
    color: #000;
    margin-left: 0.05rem;
}

.address{
    font-size: .2rem;
    color: #666;
    clear: both;
    margin-top: .2rem;
}
.img-responsive {
	display: block;
	height: auto;
	width: 100%;
}


.recommend-clinic{

}
.recommend-clinic-title{
	border-bottom:1px solid #e5e5e5;
	padding:1rem 0 1rem 1rem;
}
.recommend-clinic-title p{
	font-size:1rem;
	color:#000;
}
.recommend-clinic-title span{
	float:right;
	margin-top:-1.5rem;
	margin-right:2rem;
	color:#999;
}
.recommend-clinic-title img{
	float: right;
    margin-top: -1.2rem;
	margin-right:1rem;
    width: .5rem;
}
.clinic-profile{
	border-bottom:1px solid #e5e5e5;
}
.clinic-profile-img{
	display:inline-block;
	width:30%;
	margin:1rem 0 1rem 1rem;
	float:left;
}
.clinic-profile-img img{
	float: left;
	position: relative;
	border-radius: .3rem;
	width: 8rem;
	height: 5.4rem;

}
/*.clinic-profile-div{
	float:right;
	margin-right:16%;
	margin-top:1.5rem;
}*/
.clinic-profile-div h6{
	color:#000;
	padding-top: .2rem;
	padding-right: 3rem;
	line-height: 1.7rem;
	font-size: 1.5rem;
	font-weight: lighter;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
.clinic-profile-distance{
	 /*font-size: .8rem;*/
    color: #999;
    position: absolute;
    right: 0;
	margin-top:-1.4rem;
	margin-right:1rem;

}
.score-star{
	margin-top:.5rem;
}
.score-star i{
	display: inline-block;
    float: left;
    width: 1rem;
    height: 1rem;
	 margin-right: .2rem;
}
.score-star i img{
	width:100%;
	height:100%;
}
.score-text{
	color:#ec9c00;
	margin-left:.2rem;
}
.clinic-address{
	/*font-size:.8rem;*/
	color:#666;
	text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}
.clinic-more{
	position:absolute;
	right:0;

	width:1.5rem;
	margin-right:1rem;
}
.clinic-more img{
	width:100%;
	height:100%;
}







/*分享*/
#shareMain {
		display: none;
		/*position: absolute;*/
		position: fixed;
		bottom: 0;
		z-index: 1000;
		width:100%;
		text-align: center;
		background-color: #FFFFFF;
	}

	#shareMain-first {
		color: #9A9A9A;
		font-size: .1rem;
		padding: 1rem;
	}

	.shareMain-address {
		float: left;
		width: 33.3%;
		margin-bottom: .5rem;
		margin-top:2rem;
	}

	.shareMain-address img {
		width: 3rem;
	}

	.shareMain-address span {
		display: inline-block;
		margin-top: .5rem;
		font-size: .6rem;
		width: 100%;
	}

	#shareMain-close {
		width: 100%;
		padding: .7rem;
		float: left;
		background-color: #fff;
		color: #000;
		font-size: 1.5rem;
		border-top:1px solid #dfdfdf;
	}
	.span-img{
		float: left;
		margin-left: -8rem;
		margin-top: 3.9rem;
		background-color: rgba(0, 0, 0, 0.8);
		width: 8rem;
		text-align: center;
		opacity: 0.6;
		color: #fafafa;
		border-bottom-left-radius: 0.3rem;
		border-bottom-right-radius: 0.3rem;
	}
