@charset "utf-8";
/* CSS Document */
@font-face {
	font-family: 'wingdings 3';   /*字体名称*/
	src: url('../font/Hiragino Sans GB W3.otf');       /*字体源文件*/
}

@media only screen and (min-width: 320px) {
html {
	font-size: 10px !important;
}
}

@media only screen and (min-width: 360px) {
html {
	font-size: 11.25px !important;
}
}

@media only screen and (min-width: 400px) {
html {
	font-size: 12.5px !important;
}
}

@media only screen and (min-width: 480px) {
html {
	font-size: 15px !important;
}
}

@media only screen and (min-width: 640px) {
html {
	font-size: 20px !important;
}
}
* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
html, body {
	margin: 0;
	padding: 0;
	background-color: #FFF;
	/*font-family: "wingdings 3";*/
}
body{
	SCROLLBAR-FACE-COLOR:   #ffcc99;
    SCROLLBAR-HIGHLIGHT-COLOR:   #ff0000;
    SCROLLBAR-SHADOW-COLOR:   #ffffff;
    SCROLLBAR-3DLIGHT-COLOR:   #000000;
    SCROLLBAR-ARROW-COLOR:   #ff0000;
    SCROLLBAR-TRACK-COLOR:   #dee0ed;
    SCROLLBAR-DARKSHADOW-COLOR:   #ffff00
}
ul {
	list-style-type: none;
}
ul {
	list-style-type: none;
	padding: 0;
	margin: 0;
}
a {
	text-decoration: none;
	color: inherit;
}
.synopsis {
	width: 100%;
	background-color: #FFF;
	color: #666;
	border-top: 1px solid #e5e5e5;
	position: relative;
}
.synopsis-img {
	float: left;
	width: 5rem;
	margin-left: 1rem;
	margin-top: 1rem;
}
.synopsis-text {
	margin-left: 7rem;
	margin-top: 1rem;
	margin-right: 1rem;
}
.synopsis-text {
	/*font-size: .8rem;*/
}
.doctor {
	margin-bottom: .3rem;
}
.doctorName {
	font-size: 1rem;
	color: #000;
}
.evaluate-ul {
	list-style-type: none;
	padding: 0;
	margin: 0;
}
.evaluate-ul-li {
	margin-top: -.4rem;
}
.evaluate-ul-li-img {
	width: 2.5rem;
	float: left;
}
.evaluate-ul-li-name {
	float: left;
	font-size: .8rem;
	color: #4E4E4E;
	margin-left: .5rem;
	margin-top: .3rem;/*width: 90%;*/
}
.evaluate-ul-li-div {
	width: 100%;
	height: 1.5rem;
}
.evaluate-ul-li-time {
	color: #9D9D9D;
	font-size: .7rem;
	padding-left: .5rem;
}
.evaluateNumber-img {
	width: 2.5rem;
}
.evaluateNumber-img.hidden {
	display: none;
}
/*.evaluateNumber-img.isphone {
		-webkit-filter: grayscale(1);
    filter: gray;
    filter: grayscale(1);
}*/
.evaluateNumber-img-left {
	margin-right: 1rem;
}
.evaluateNumber {
	float: right;
	margin-top: -.8rem;
}
.evaluateNumber-number {
	font-size: .8rem;
	color: #FFCB66;
	float: right;
	margin-top: .1rem;
	margin-left: .3rem;
}
.doctor-specialty {
	width: 100%;
	float: left;
	word-break: break-all;
}
.schedule {
	width: 100%;
	color: #000;
	overflow-x:scroll;
}
.shift-time{
	width:1rem;
	font-size:1rem;
	padding:.5rem 1rem;
	padding-right:2rem;
	border-top:1px solid #dfdfdf;
	border-right:1px solid #dfdfdf;
}
.schedule-modular{

	height:4.09rem;
	text-align:center;
	border-top:1px solid #dfdfdf;
	border-right:1px solid #dfdfdf;
	padding:.5rem 0;

}
.roll-outer-layer{
	box-sizing:border-box;
	overflow-x:scroll;
	overflow-y:hidden;
	height:16.4rem;
}
.roll-outer-layer::-webkit-scrollbar{
	height: 3px;
	background: #FFFFFF;
}
.roll-outer-layer::-webkit-scrollbar-thumb{
	background: #EC9C00;
}

.overflow-x{
    margin: 0;
    padding: 0;
    white-space: nowrap;
    overflow: hidden;
	overflow-x:auto;
	scrollbar-track-color:#ec9c00;

}

.list1,.list2{
	float:left;
}
.list2{
	width:6rem;
	white-space: nowrap;
}
.full-arrange{
	line-height:3rem;
	color:#ccc;
}
.surplus-arrange{
	background:#ec9c00;
	color:#fff;
}
.no-scheduling{
	clear:both;
	margin-left:12rem;
	line-height:10rem;
	font-size:1rem;
	color:#ccc;
}


.schedule {
	width: 100%;
	height: 20rem;
	overflow: scroll;
	background: #fff;
	margin-top: 1rem;
	position: relative;
}

.distable {
	display: table;
	table-layout: fixed;
}
.distablerow {
	display: table-row;
	text-align: center;
	vertical-align: middle;
}
.distablecell {
	display: table-cell;
	text-align: center;
	vertical-align: middle;
	width: 10rem;
	height: 5rem;
	border-left: 1px solid #ccc;
	border-top: 1px solid #ccc;
	font-size: 1.2rem;
}
.distablerow:last-child  .distablecell {
	border-bottom: 1px solid #ccc;
}
.distablerow .distablecell:first-child {
	border-left: none;
}

.subscribe_lattice {
	background: #ec9b01;
	color: #fff;
}
.subscribe_lattice {
	background: #ec9b01;
}

/*联系医护弹窗*/
.model_phone_shade {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: rgba(0,0,0,.5);
	z-index: 1030;
	display: none;
}
.model_phone {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	z-index: 1040;
	background: #fff;
	text-align: center;
	border-radius: 6px;
	width: 60%;
}
.model_tip {
	padding: 1rem 0;
}
.model_tip > h3 {
	font-weight: normal;
	font-size: 1.4rem;
	margin: 0;
}
.model_tip > p {
	font-size: 1.2rem;
	margin: .5rem 0 0;
	color: #999;
}
.model_btn {
	border-top: 1px solid #dfdfdf;
}
.model_btn > a {
	display: block;
	width: 50%;
	padding: .6rem 0;
	color: #333;
	font-size: 1.2rem;
	box-sizing: border-box;
}
.model_btn > a:last-child {
	color: #ec9b01;
	border-left: 1px solid #dfdfdf;
}
