@charset "utf-8";
@font-face {
	font-family: 'wingdings 3';
	/*字体名称*/
	src: url('../font/Hiragino Sans GB W3.otf');
	/*字体源文件*/
}

html,
body,
div,
p,
ul,
li,
h3 {
	margin: 0;
	padding: 0;
}

ul,li{
	list-style: none;
}

a:hover {
	text-decoration: none;
}

/*自适应*/

@media only screen and (min-width: 320px) {
	html {
		font-size: 10px !important;
	}
}

@media only screen and (min-width: 360px) {
	html {
		font-size: 11.25px !important;
	}
}

@media only screen and (min-width: 400px) {
	html {
		font-size: 12.5px !important;
	}
	#goBack img {
		margin-top: 0rem !important;
	}
	#goBackText {
		margin-top: .1rem !important;
		font-size: 1.3rem;
	}
}

@media only screen and (min-width: 480px) {
	html {
		font-size: 15px !important;
	}
}

@media only screen and (min-width: 640px) {
	html {
		font-size: 20px !important;
	}
}

html,
body,
div,
p,
ul,
li,
h3 {
	margin: 0;
	padding: 0;
}

html,
body {
	height: 100%;
	background-color: #F2F2F2;
	/*font-family: "wingdings 3";*/
}

header {
	text-align: center;
	background-color: #FFFFFF;
	height: 3rem;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 9;
}
.share {
	position: absolute;
	right: 1rem;
	font-weight: lighter;
	color: #EC9E07;
	box-sizing: border-box;
}
#share>i {
	display: inline-block;
	width: 1.4rem;
	height: 1.4rem;
	background: url("../images/fr_menu.png") no-repeat center center;
	background-size: cover;
}
.relaWrap {
	position: relative;
	width: 100%;
	height: 100%;
	box-sizing: border-box;
	padding: 3rem 0 4rem;
	overflow: hidden;
}
.absoWrap {
	position: absolute;
	width: 200%;
	height: 100%;
	left: 0;
	transition: all .5s ease;
}

.moveEach {
	width: 50%;
	height: 100%;
	overflow: scroll;
}
.moveEach .fr_ecovery > h3 {
	display: none;
}
.moveEach .title {
	/*margin-top: 3rem;*/
}
.moveEach .fr_ecoverylist {
	width: 100%;
	overflow: hidden;
}
.moveEach .fr_ecoverylist ul {
	list-style: none;
	width: 102%;
}
.moveEach .fr_ecoverylist ul > li {
	float: left;
	width: 50%;
	box-sizing: border-box;
	padding-right: 2%;
	margin-bottom: .5rem;
}
.moveEach .fr_ecoverylist ul > li > a {
	display: block;
	background: #fff;
}
.moveEach .fr_ecoverylist ul > li .r_list_head {
	margin-bottom: 1rem;
}
.moveEach .fr_ecoverylist ul > li .r_list_des {
	padding-left: 1rem;
	width: 100%;
}
.moveEach .fr_ecoverylist ul > li img {
	width: 100%;
	height: 16rem;
}
.moveEach .fr_ecoverylist ul > li .now {
	color: #ec9c00;
	font-size: 1rem;
}
.moveEach .fr_ecoverylist ul > li .price {
	float: right;
	padding-right: 1rem;
}
.moveEach .fr_ecoverylist ul > li .yuanTime {
	display: none;
}
.moveEach .fr_ecoverylist ul > li .defaulticon {

	color: #000;
	font-size: 1.4rem;
}
.moveEach .fr_ecoverylist ul > li .resprice {
	padding: .5rem 0;
}
.moveEach .fr_ecoverylist ul > li .reserveper {
	color: #999999;
	float: left;
}
.moveEach .fr_ecoverylist ul > li .discountItem {
	color: #999999;
}
.moveEach .iconbox {
	display: none;
}
.moveEach .articleList-ul {
	border-top: 1px solid #e5e5e5;
	background: #fff;
	list-style-type: none;
	width: 100%;
	margin: 0;
	padding: 0;
	/*不换行*/
	white-space: nowrap;
	overflow-y: hidden;
	overflow-x: scroll;
	border-bottom: 1px solid #DFDFDF;
}

.moveEach .articleList-li-left {
	/*float: left;*/
	margin-left: -.4rem;
	border-bottom: .2rem solid white !important;
}

.moveEach .articleList-li {
	/*float: left;*/
	padding: 0 1rem;
	display: inline-block;
	text-align: center;
	/*height: 3.5rem;*/
	height: 100%;
	font-size: 1.2rem;
	line-height: 3.4rem;
	background-color: white;
	margin-top: .2rem;
}

.moveEach .icondes {
	font-size: 1.3rem;
	color: #999999;
}
.moveEach .articleList-ul>li {
	float: left;
	padding: 0 .7rem;
}
.moveEach .articleList-ul>li>a {
	display: block;
	padding: .7rem 0;
}
.moveEach .articleList-ul>li>a.picactive {
	box-shadow: 1px 0 0 #fff;
	background: #fff;
	border-bottom: 2px solid #ec9c00;
	color: #ec9c00;
}
.moveEach .articleList-ul>li>a.picactive .icondes {
	color: #ec9c00;
}
.moveEach .titleContent {
	padding: .5rem 0;
}
.moveEach .titleContent-all {
	overflow:hidden;
	list-style-type: none;
}
.moveEach .titleContent-all > li {
	float: left;
	width: 49%;
	margin-top: .5rem;
	background-color: white;
}
#leftContent ul > li {
	width: 100%;
}
#leftContent ul > li > a {
	padding: .8rem;
}
#leftContent .r_list_des {
	padding-left: 11rem;
}
#leftContent .r_list_head {
	float: left;
	width: 10rem;
	height: 10rem;
	margin: 0;
}
#leftContent img {
	width: 100%;
	height: 100%;
}
#leftContent .resprice {
	padding: 0;
	margin-top: .2rem;
}
#leftContent .now {
	font-size: 1.3rem;
}
#leftContent .reserveper {
	float: none;
}
#leftContent .price {
	float: none;
	margin-top: 4.4rem;
}
.footer{
	position:fixed;
	bottom:0;
	background:#fff;
	width:100%;
	border-top:1px solid #e5e5e5;
}
.online-footer{
	width:33.3%;
	text-align:center;
	float:left;
	border-right:1px solid #e5e5e5;
}
.online-footer:last-child {
	border-right: 0;
}
.online-footer a{
	display: block;
	width: 100%;
	height: 100%;
	font-size:1.2rem;
	color:#000;
	line-height:4rem;


}
.footer-hover{
	border-top:.2rem solid #ec9c00;
	background:url(../images/arrow-orange.png)85% 50% no-repeat;
	background-size:8% 10%;
}
.footer-hover a{
	color:#ec9c00;
}
