@charset "utf-8";
@font-face {
    font-family: 'wingdings 3';
    /*字体名称*/
    src: url('../font/Hiragino Sans GB W3.otf');
}

html,
body,
div,
p,
ul,
li,
h3 {
    margin: 0;
    padding: 0;
}

/*自适应*/

@media only screen and (min-width: 320px) {
    html {
        font-size: 10px !important;
    }

    #modal-div {
        /*margin-left: -10% !important;*/
    }
}

@media only screen and (min-width: 360px) {
    html {
        font-size: 11.25px !important;
    }

    .footerNumber {
        font-size: 1.6rem !important;
    }

    #modal-div {
        /*margin-left: 0% !important;*/
    }
}

@media only screen and (min-width: 400px) {
    html {
        font-size: 12.5px !important;
    }

    .footerNumber {
        font-size: 1.7rem !important;
    }
}

@media only screen and (min-width: 480px) {
    html {
        font-size: 15px !important;
    }
}

@media only screen and (min-width: 640px) {
    html {
        font-size: 20px !important;
    }
}

html,
body {
    margin: 0;
    padding: 0;
    background-color: #F2F2F2;
    /*font-family: "wingdings 3";*/
}
header {
  z-index: 1;
}

#share {
    position: absolute;
    right: 1rem;
    width: 3.5rem;
    font-size: 1.36rem;
    line-height: 3rem;
    font-weight: lighter;
    color: #EC9E07;
}

.synopsis {
    width: 100%;
    height: 13rem;
    background: url("../images/medic-home.jpg") no-repeat center center / 100% 100%;
    color: #FFFEFF;
    position: relative;
}

.nothing {
	padding-top: 1rem;
    height: 1.48rem;
    line-height: 1.48rem;
    font-size: 1rem;
    color: #999;
    text-align: center;
    background-color: #F2F2F2;
}

.synopsis-img {
    float: left;
    width: 6rem;
    height: 6rem;
    border-radius: 50%;
    margin-left: 1rem;
    margin-top: 1rem;
}

.synopsis-text {
    float: left;
    margin-left: 1rem;
    margin-top: 1rem;
}

.attention {
    float: right;
    width: 40px;
    margin-top: 1.3rem;
    text-align: center;
    margin-right: .6rem;
}

.attention-img {
    width: 1.5rem;
    text-align: center;
    vertical-align: middle;
}

.synopsis-text {
    /*font-size: .8rem;*/
}
/*分享指向图标*/
#shareMainPosition {
		/*display: none;*/
		/*position: absolute;*/
		position: fixed;
		top: 0;
		right: 3.5rem;
		z-index: 1000;
		/*width:100%;*/
		/*text-align: center;*/
		/*background-color: #FFFFFF;*/
	}
#shareImg{
	width: 7rem;
}
.doctor {
    font-size: 1.04rem;
    margin-bottom: .5rem;
}
.doctor > span {
  margin-right: .5rem;
}

#doctorName {
    font-size: 1.36rem;
}

.synopsis-footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    margin-bottom: 1rem;
}

.synopsis-footer-div {
    float: left;
    text-align: center;
    width: 33.33%;
}

.footerNumber {
    font-size: 1.5rem;
}

.footerContent {
    /*	font-size: .8rem;*/
}

.serviceContent {
    width: 100%;
    /*height: 7.5rem;*/
   padding-bottom: 1rem;
    background-color: #FFFFFF;
}

.serviceContent-img {
    margin-top: 1rem;
    width: 4rem;
}

.serviceContent-template {
    float: left;
    width: 25%;
    text-align: center;
}

.serviceContent-type {
    display: inline-block;
    font-size: 1.2rem;
    width: 100%;
}

.serviceContent-number {
    /*font-size: .3rem;*/
    color: #D0D0D0;
}

.introduction {
    margin-top: .4rem;
    padding-left: .9rem;
    padding-right: .9rem;
    background-color: #FFFFFF;
    padding: .5rem .9rem 1.5rem;
    padding-top: 1rem;
    letter-spacing: 2px;
}

.introduction-title {
    font-size: 1.12rem;
    font-weight: 700;
}

.introduction-content {
    line-height: 1.5;
    font-size: 1.12rem;
    word-break: break-all;
}

.introduction-content-span {
    display: inline-block;
    width: 100%;
    color: #666666;
}

.introduction-particulars {
    margin-top: .3rem;
    width: 100%;
    /*height: 4rem;*/
    overflow: hidden;
    /*white-space: nowrap;*/
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}

#apostrophe {
}

.apostrophe-img {
    float: right;
    width: .9rem;
    margin-top: .4rem;
}

#article {
    width: 100%;
    background-color: #FFFFFF;
    margin-top: .3rem;
}

.article-title-left {
    float: left;
    font-size: 1.2rem;
    font-weight: 700;
    margin-left: 1rem;
}

.article-title-right {
    float: right;
    font-size: .8rem;
    color: #979797;
    margin-right: 1rem;
}

.article-title-right > span {
    display: inline-block;
    margin-right: .4rem;
    float: left;
    font-size: 1.1rem;
}

.article-title-right > img {
    float: right;
    margin-top: .7rem;
    width: .7rem;
}

.article-header {
    width: 100%;
    height: 3rem;
    line-height: 3rem;
    border-bottom: .15rem solid #DFDFDF;
}

/*.article-header img{
		margin-top: .5rem;
	}*/

/*.moreImg{
		margin-top: 1rem;
	}*/

.article-list {
    list-style-type: none;
    padding-left: 0;
    margin: 0;
}

.article-list-li {
    height: 3rem;
    /*padding-top: .3rem;*/
    padding-left: .9rem;
    /*padding-bottom: .4rem;*/
    border-bottom: .1rem solid #DFDFDF;
    /*vertical-align: middle;*/
    /*padding-top: .5rem;*/
}

.article-list-li-img {
    float: left;
    width: 1.7rem;
    margin-top: .6rem;
}

.article-list-li-span {
    display: inline-block;
    /*margin-top: .4rem;*/
    line-height: 3rem;
    margin-left: .3rem;
    color: #676767;
    font-size: 1.1rem;
}

.evaluate {
    background-color: #FFFFFF;
    margin-top: .3rem;
}

.evaluate-ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.evaluate-ul-li {
    padding: .9rem;
    border-bottom: .1rem solid #DFDFDF;
}

.evaluate-ul-li-img {
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 50%;
    float: left;
}

.evaluate-ul-li-name {
    font-size: 1.2rem;
    color: #4E4E4E;
    margin-left: .5rem;
}

.evaluate-ul-li-time {
    color: #9D9D9D;
    display: inline-block;
    margin-bottom: .5rem;
    font-size: .88rem;
    padding-left: .5rem;
}

.evaluateNumber-img {
    width: 1rem;
    margin-bottom: .2rem;
    vertical-align: middle;
    margin-right: .2rem;
}

.evaluateNumber {
    float: right;
    margin-top: -.8rem;
    margin-right: .5rem;
}

.evaluateNumber-number {
    color: #FFCB66;
    float: right;
    margin-top: .1rem;
}

.evaluate-content-span {
    word-break: break-word;
    line-height: 1.5;
    font-size: 1.12rem;
}

#evaluateId {
    color: #F7B932;
    margin-left: .3rem;
    font-size: .9rem;
    float: right;
}

.attention {
    position: relative;
}

.attention-content {
    margin-top: .2rem;
    font-size: .88rem;
    display: block;
}

/*分享 与弹出层*/

#modal-div {
    position: fixed;
    background-color: #000;
    top: 40%;
    left: 50%;
    margin-left: -10rem;
    display: none;
    border-radius: .7rem;
    text-align: center;
    z-index: 2;
    width: 20rem;
    /*height: 10rem;*/
}

.modal-div-div {
    float: left;
    font-size: 1.2rem;
}

#modal-div-first {
    padding: 1rem;
    width: 18rem;
    border-bottom: .1rem solid #CCCCCC;
}

.estimate {
    padding: .7rem;
    width: 42.65%;
}

#modal-div-second {
    border-right: .1rem solid #CCCCCC;
}

#modal-div-first-second {
    font-size: 1.1rem;
    color: #676767;
    margin-top: .5rem;
}

#modal-div-three {
    color: #E99C00;
}

#shareMain {
    display: none;
    /*position: absolute;*/
    position: fixed;
    bottom: 0;
    z-index: 1000;
    width: 100%;
    text-align: center;
    background-color: #FFFFFF;
}

#shareMain-first {
    color: #9A9A9A;
    font-size: 1.2rem;
    padding: 1rem;
}

.shareMain-address {
    float: left;
    width: 25%;
    margin-bottom: .5rem;
}

.shareMain-address img {
    width: 4.5rem;
}

.shareMain-address span {
    display: inline-block;
    margin-top: .5rem;
    font-size: 1.2rem;
    width: 100%;
}

#shareMain-close {
    width: 100%;
    padding: .7rem;
    float: left;
    background-color: #B3B3B3;
    color: #FFFFFF;
    font-size: 1.5rem;
}
