@charset "utf-8";
@font-face {
	font-family: 'wingdings 3';   /*字体名称*/
	src: url('../font/Hiragino Sans GB W3.otf');       /*字体源文件*/
}
@media only screen and (min-width: 320px) {
html {
	font-size: 10px !important;
}
}

@media only screen and (min-width: 360px) {
html {
	font-size: 11.25px !important;
}
}

@media only screen and (min-width: 400px) {
html {
	font-size: 12.5px !important;
}
}

@media only screen and (min-width: 480px) {
html {
	font-size: 15px !important;
}
}

@media only screen and (min-width: 640px) {
html {
	font-size: 20px !important;
}
}
/* CSS Document */
html, body {
	margin: 0;
	padding: 0;
	background-color: #F2F2F2;
	/*font-family: "wingdings 3";*/
}
ul {
	list-style-type: none;
	padding: 0;
	margin: 0;
}
a {
	text-decoration: none;
	color: inherit;
}
p{
	margin:0;
	padding:0;
}
.clear {
	clear: both;
}
.endAns {
	position: absolute;
	right: 1rem;
	font-size: 1.4rem;
}
.synopsis {
	width: 100%;

	background-color: #FFF;
	color: #666;
	border-top: 1px solid #e5e5e5;
	position: relative;
}
.synopsis-person {
	float: left;
	width: 5rem;
	margin-left: 1rem;
	margin-top: 1rem;
}
.synopsis-person img {
	width: 100%;
	height: 5rem;
	/*height: auto;*/
	border-radius: 50%;
}
.synopsis-text {
	margin-left: 7rem;
	margin-top: 1rem;
	margin-right: 1rem;
}
.synopsis-text {
	font-size: .8rem;
}
.doctor-name {
	display: inline-block;
	float: left;
	font-size: 1.6rem;
	color: #000;
	margin-top: .5rem;
}
.doctor-star {
	display: inline-block;
	float: left;
	margin-top: 1.8rem;
	margin-left: .5rem;
}
.evaluate-ul {
	list-style-type: none;
	padding: 0;
	margin: 0;
}
.evaluate-ul-li {
	margin-top: -.4rem;
}
.evaluate-ul-li-img {
	width: 2.5rem;
	float: left;
}
.evaluate-ul-li-name {
	float: left;
	font-size: .8rem;
	color: #4E4E4E;
	margin-left: .5rem;
	margin-top: .3rem;/*width: 90%;*/
}
.evaluate-ul-li-div {
	width: 100%;
	height: 1.5rem;
}
.evaluate-ul-li-time {
	color: #9D9D9D;
	font-size: .7rem;
	padding-left: .5rem;
}
.evaluateNumber-img {
	width: 1rem;
}
.evaluateNumber {
	float: right;
	margin-top: -.4rem;
	margin-right: .5rem;
}
.evaluateNumber-number {
	font-size: .9rem;
	color: #FFCB66;
	margin-top: .1rem;
	float: right;
	vertical-align: middle;
	margin-left: .3rem;
}
.doctor-introduce {
	font-size: 1.1rem;
	float: left;
	margin-bottom: .8rem;
	margin-top: -2.3rem;
}
.synopsis-icon {
	float: right;
	width: 3rem;
	margin-right: 2rem;
	margin-top: -4rem;
}
.synopsis-icon img {
	width: 100%;
	height: auto;
}
.synopsis{
	margin-bottom: 1rem;
}

.endAns {
	position: absolute;
	right: 1rem;
}
#stop{
	display: inline-block;
}
#stopText{
	color: #EC9E07;
  font-size: 1.4rem;
}
#Theme{
	margin-left: -5%;
}
.msgTip{
	color: #A1A1A1;
	text-align: center;
	width: 100%;
	font-size: 1.1rem;

}
.article{
	background: transparent;
	margin-bottom:10rem;
}
.dialogTime{
	text-align: center;
	color: #A1A1A1;
	font-size: 1rem;
	margin-top: .4rem;
	margin-bottom: .4rem;
}
.message{
	margin-bottom: 2rem;
	padding-left: 1rem;
	padding-right: 1rem;
	position: relative;
}
.message-head-pic{
	width: 3rem;
	height: 3rem;
	overflow: hidden;
	float: left;
	margin-right: 1rem;
	border-radius: 50%;
}
.message-head-pic img{
	width: 100%;
	height: 100%;
}
.bubble{
	font-size: 1.3rem;
	/*background: #FCF0D8;
	border: 1px solid #EBD4C5;*/
	color: #D05D37;
	/*max-width: 65%;
	padding: 1rem;
	border-radius: .8rem;
	position: relative;*/
	/*float: left;*/
}

.bubble img{
	max-width: 10rem;
}
.corner{
	position:fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	font-size: 0;
	background :#000;
	z-index: 1030;
}
.corner > img {
	position: absolute;
	top: 50%;
	width: 100%;
	max-height: 100%;
	vertical-align: middle;
	transform: translate(0, -50%);
}
.right .message-head-pic{
	float: right;
	margin-right: 0;
	margin-left: 1rem;
}
.right .bubble{
	float: right;
	max-width: 10rem;
	word-break: break-all;
	/*background: #FFF;
	border: 1px solid #DEDEDE;*/
	color: #1C1C1C;
    margin-top: .2rem;
}
/*.right .corner{
	position:absolute;
	top:12px;
	left: auto;
	right:51px;
	width:0;
	height:0;
	font-size:0;
	border:solid 6px;
	border-color:#F2F2F2 #F2F2F2 #F2F2F2 #FFF;
}*/
.finish-tip{
	width: 75%;
	background: #FFFFFF;
	text-align: center;
	color: #676767;
	font-size: 1.3rem;
	padding: 1rem 1.3rem;
	margin: 1.5rem auto;
	border-radius: .8rem;
}
.finish-tip .tip-control{
	color: #EDA316;
	text-decoration: underline;
}

.dialog-msg{
	width: 100%;
	position: fixed;
	bottom: 0;
	z-index: 101;
}
.msg_wrapper {
	min-height: 4rem;
	border-top: 1px solid #DEDEDE;
	border-bottom: 1px solid #DEDEDE;
	background: #fff;
}
.dialog-msg .msg-content{
	float: left;
	width: calc(100% - 100px);
	/*border: 1px solid #DFDFDF;*/
	min-height: 2rem;
	background: #fff;
	font-size: 1.5rem;
	line-height: 2rem;
	padding:1rem;
	box-sizing: border-box;
	outline: none;
	max-height: 8rem;
}

.dialog-msg .send-btn{
	display: block;
	width: 100px;
	float: right;
	background: #EC9C00;
	border-top: 1px solid #EC9C00;
	border-bottom: 1px solid #EC9C00;
	color: #fff;
	font-size: 1.5rem;
	text-align: center;
	line-height: 3.88rem;
}


/*气泡;*/

    .bubbleDiv{
    width: 1000px;
    margin: 0 auto;
    height: 1000px;
    border: 1px solid #4a4f58;
}
.bubbleItem{
    width: 100%;
}
.bubble{

    max-width: 655px;
    position: relative;
    line-height: 30px;
    padding-left: 10px;
    padding-top: 3px;
    padding-bottom: 3px;
    border-radius: 7px;
    /*margin-top: 15px;*/
    margin-left: -4rem;
    padding-right: 10px;
    display: inline-block;
}
.leftBubble{
    position: relative;
    margin-left:43px;
    border: 1px solid #e3c8bc;
    background-color: #fcf0d7;
	/*margin-top:-3.5rem;*/
}
.leftBubble .bottomLevel{
    position: absolute;
    top: 10px;
    left: -10px;
    border-top: 10px solid #e3c8bc;
    border-left: 10px solid transparent;
}
.leftBubble .topLevel{
    position: absolute;
    top: 11px;
    left: -8px;
    border-top: 10px solid #fcf0d7;
    border-left: 10px solid transparent;
    z-index: 1;
}
.rightBubble{
    position: relative;
    /*margin-right: 2rem;*/

    float: right;
    border: 1px solid #d9d9d9;
	background:#fff;
	/*margin-top:-2.5rem;*/
}
.rightBubble .bottomLevel{
    position: absolute;
    top: 11px;
    right: -10px;
    border-top: 10px solid #d9d9d9;
    border-right: 10px solid transparent;
}
.rightBubble .topLevel{
    position: absolute;
    top: 12px;
    right: -8px;
    border-top: 10px solid #fff;
    border-right: 10px solid transparent;
    z-index: 100;
}
.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}
.bubble img{
	vertical-align:middle;
}
#content_left{
	word-break: break-all;
}
/*取消*/
#orderMain {
	display: none;
	/*position: absolute;*/
	position: fixed;
	top: 30%;
	left: 10%;
	width: 80%;
	border-radius: 1rem;
	z-index: 1000;
	text-align: center;
	background-color: #FFFFFF;
}
#orderMain-first h4 {
	color: #000;
	font-size: 1.5rem;
	text-align: center;
	margin: 1rem 0 .5rem 0;
}
#orderMain-first p {
	color: #999;
	font-size: 1.2rem;
	text-align: center;
	margin-bottom: 1rem;
}
#orderMain-second {
	border-top: 1px solid #f2f2f2;
}
.orderMain-address {
	float: left;
	width: 50%;
	padding-top: .5rem;
	padding-bottom: .5rem;
	color: #ec9c00;
	font-size:1.2rem;
}
.orderMain-address img {
	width: 3rem;
}
.orderMain-address span {
	display: inline-block;
	margin-top: .5rem;
	font-size: 1rem;
	width: 100%;
}
#orderMain-close {
	float: left;
	width: 49%;
	padding-top: .5rem;
	padding-bottom: .5rem;
	border-right: 1px solid #f2f2f2;
	color: #000;
	font-size:1.2rem;
}
/*提示信息*/
#promptMain {
	display: none;
	/*position: absolute;*/
	position: fixed;
	top:30%;
	z-index: 1001;
	text-align: center;
	width:60%;
	border-radius:1rem;
	margin:0 20%;
	background-color: #FFFFFF;
}

#promptMain-first {
	color: #9A9A9A;
	font-size: 1.2rem;
	padding: 1rem;
}
#promptMain-first img{
		width:10rem;
		margin-right:.5rem;
}
#promptMain-first h6{
	font-size:1.5rem;
	color:#1dcc92;
}

/*报错返回*/
#returnMain {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: rgba(0,0,0,.5);
	z-index: 1030;
}
#returnMain-first {
	padding: 1rem 0;
	border-radius: 10px;
	width: 20rem;
	background:#fff;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	text-align: center;
}
#returnMain-first > img {
	width: 10rem;
	height: 10rem;
	vertical-align: middle;
}
#returnMain-first > h6 {
	font-size: 1.5rem;
	margin: .3rem 0;
}
#returnMain-first > h6.success {
	color: #1dcc92;
}
#returnMain-first > h6.defeated {
	color: #c33;
}
#returnMain-first > p {
	font-size: 1.2rem;
	color: #9A9A9A;
}

.up_pic_wraaper {
	background: #fff;
	padding: 1rem;
}
.up_pic_wraaper > a {
	margin-right: 3rem;
}
.up_pic_wraaper > a:last-child {
	margin: 0;
}
.up_pic_wraaper > a > img {
	height: 2rem;
	vertical-align: middle;
}
