@charset "utf-8";
/* CSS Document */
@font-face {
	font-family: 'wingdings 3';   /*字体名称*/
	src: url('../font/Hiragino Sans GB W3.otf');       /*字体源文件*/
}

@media only screen and (min-width: 320px) {
html {
	font-size: 10px !important;
}
}

@media only screen and (min-width: 360px) {
html {
	font-size: 11.25px !important;
}
}

@media only screen and (min-width: 400px) {
html {
	font-size: 12.5px !important;
}
}

@media only screen and (min-width: 480px) {
html {
	font-size: 15px !important;
}
}

@media only screen and (min-width: 640px) {
html {
	font-size: 20px !important;
}
}
* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
html, body {
	margin: 0;
	padding: 0;
	background-color: #F2F2F2;
	/*font-family: "wingdings 3";*/
}
ul {
	list-style-type: none;
}
.clear{
	clear:both;
}
ul {
	list-style-type: none;
	padding: 0;
	margin: 0;
}
a {
	text-decoration: none;
	color: inherit;
}
p,h1,h2,h3,h4,h5,h6{
	margin:0;
	padding:0;
}
.synopsis {
	width: 100%;
	background-color: #FFF;
	color: #666;
	border-top: 1px solid #e5e5e5;
	position: relative;
}
.synopsis-img {
	float: left;
	width: 8rem;
	height:8rem;
	margin-left: 1rem;
	margin-top: 1rem;
	border-radius:4rem;
}
.synopsis-text {
	margin:1rem 1rem 0 10rem;

	padding-bottom:.5rem;
}
.synopsis-text {
	font-size: 1rem;
}
.doctor {
	margin-bottom: .8rem;

}
.doctor-main,.doctor-major,.working-years{
	color:#999;
	font-size:1.1rem;
}
#doctorName {
	font-size: 1.3rem;
	color: #000;
}
.evaluate-ul {
	list-style-type: none;
	padding: 0;
	margin: 0;
}
.evaluate-ul-li {
	margin-top: -.4rem;
}
.evaluate-ul-li-img {
	width: 2.5rem;
	float: left;
}
.evaluate-ul-li-name {
	float: left;
	font-size: .8rem;
	color: #4E4E4E;
	margin-left: .5rem;
	margin-top: .3rem;/*width: 90%;*/
}
.evaluate-ul-li-div {
	width: 100%;
	height: 1.5rem;
}
.evaluate-ul-li-time {
	color: #9D9D9D;
	font-size: .7rem;
	padding-left: .5rem;
}
.evaluateNumber-img {
	width: .8rem;
}
.evaluateNumber {
	float: right;
	margin-top: -.8rem;
	margin-right: .5rem;
}

#doctor-specialty {
	width: 100%;
	word-break: break-all;
	font-size:1.2rem;
}
.service-satisfaction{
	width:100%;

}
.service-satisfaction-title{
	height:4rem;
	line-height:4rem;
	font-size:1.2rem;
	color:#666;
	margin-left:1rem;
	font-weight: normal;
}
.service-img-grade{
	height:4rem;
	background:#fff;
	padding-left:1rem;
}
.evaluateScore-img-star{
	width:2rem;
	margin:1rem .5rem 1rem 0;

}
.evaluateNumber-number {
	display:inline-block;
	float:right;
	font-size: 1.3rem;
	line-height:4rem;
	color: #fab732;
	margin-right:48%;
}
.proposal{
	width:100%;

}
.proposal-title{
	height:4rem;
	line-height:4rem;
	font-size:1.2rem;
	color:#666;
	margin-left:1rem;
	font-weight: normal;
}
.proposal-content{
	width:100%;
	background:#fff;
}
.proposal-content-textraea{
		font-size:1.2rem;
		/*font-family: "wingdings 3";*/
		width:92%;
    border: none;
    resize: none;
    color: #999;
    padding-top: .8rem;
    margin: 1% 4%;
    line-height: 1.8rem;
}
.contact_information{
	background: #fff;
	margin-top: 1rem;
}
.contact_information_span{
	/*vertical-align: middle;*/
	font-size: 1.3rem;
	color: #000;
	margin: 0 1rem;
	line-height: 5rem;

}
.contact_information_input{
	font-size:1.3rem;
	/*font-family: "wingdings 3";*/
	width:75%;
    border: none;
    color: #999;
    padding: .4rem 0;
    line-height: 1.8rem;
}
.submit-button {
	width: 90%;
	text-align: center;
	margin: 6rem auto 0;
	font-size: 1.4rem;
	/*position: absolute;
	bottom: 0;*/
	color: #fff;
}
.submit-button-a {
	display: inline-block;
	width: 100%;
	background: #ec9c00;
	padding: 1rem 0;
	border-radius: .5rem;
	font-size: 1.5rem;
}

.contact_information_number{
	text-align: right;
    margin-right: 1rem;
    line-height: 2rem;
		color: #999;
}
/*上传*/
#uploadMain {
		display: none;
		/*position: absolute;*/
		position: fixed;
		bottom: 0;
		z-index: 1000;
		text-align: center;
		width:100%;
		background-color: #FFFFFF;
	}

	#uploadMain-first {
		color: #9A9A9A;
		font-size: .6rem;
		padding: 1rem;
		border-bottom:1px solid #e5e5e5;
		margin-bottom:2rem;
	}
	#uploadMain-first img{
			width:.8rem;
			margin-right:.5rem;
	}

	.uploadMain-address {
		width: 80%;
		margin:0 10% 5%;
		padding: .7rem;
		float: left;
		background-color: #f93;
		color: #FFFFFF;
		font-size: 1.5rem;
	}

	.uploadMain-address img {
		width: 2.5rem;
		vertical-align:middle;
		margin-right:.5rem;
	}

	.uploadMain-address span {
		display: inline-block;
		margin-top: .5rem;
		font-size: .6rem;
		width: 100%;
	}

	#uploadMain-close {
		width: 80%;
		margin:0 10% 5%;
		padding: .7rem;
		float: left;
		background-color: #B3B3B3;
		color: #FFFFFF;
		font-size: 1.5rem;
	}
/*提示信息*/
#promptMain {
		display: none;
		/*position: absolute;*/
		position: fixed;
		top:30%;
		z-index: 1000;
		text-align: center;
		width:60%;
		border-radius:1rem;
		margin:0 20%;
		background-color: #FFFFFF;
	}

	#promptMain-first {
		color: #9A9A9A;
		font-size: .6rem;
		padding: 1rem;
	}
	#promptMain-first img{
			width:10rem;
			margin-right:.5rem;
	}
	#promptMain-first h6{
		font-size:1.5rem;
		color:#1dcc92;
	}

/*报错返回*/
#returnMain {
		display: none;
		/*position: absolute;*/
		position: fixed;
		top:30%;
		z-index: 1000;
		text-align: center;
		width:60%;
		border-radius:1rem;
		margin:0 20%;
		background-color: #FFFFFF;
	}

	#returnMain-first {
		color: #9A9A9A;
		font-size: .6rem;
		padding: 1rem;
	}
	#returnMain-first img{
			width:10rem;
			margin-right:.5rem;
	}
	#returnMain-first h6 {
		color: #c33;
		font-size:1.5rem;
	}
