
		@charset "utf-8";
@font-face {
	font-family: 'wingdings 3';   /*字体名称*/
	src: url('../font/Hiragino Sans GB W3.otf');       /*字体源文件*/
}

@media only screen and (min-width: 320px) {
html {
	font-size: 10px !important;
}
}

@media only screen and (min-width: 360px) {
html {
	font-size: 11.25px !important;
}
}

@media only screen and (min-width: 400px) {
html {
	font-size: 12.5px !important;
}
}

@media only screen and (min-width: 480px) {
html {
	font-size: 15px !important;
}
}

@media only screen and (min-width: 640px) {
html {
	font-size: 20px !important;
}
}
/* CSS Document */
html, body {
	margin: 0;
	padding: 0;
	background-color: #f2f2f2;
	/*font-family: "wingdings 3";*/
}
ul {
	list-style-type: none;
	padding: 0;
	margin: 0;
}
a {
	text-decoration: none;
	color: inherit;
}
h1,h2,h3,h4,h5,h6,p {
	margin: 0;
	padding: 0;
}
.clear{
	clear:both;
}
.my-content{
	padding-bottom: 100px;
}
.my-header{
	width:100%;
	height:20rem;
	background-image:-webkit-linear-gradient(-360deg, #ff6c3d, #ff9e4b);
	background-image:linear-gradient(-360deg,#ff6c3d, #ff9e4b);
}
.my-header-essential-information{
	width:100%;
	height:15rem;
}
.essential-information-head-portrait{
	padding:3rem 1rem 0 1rem;
}
.essential-information-head-portrait-a{
	float:left;
	display:block;
	width:8rem;
	height:8rem;
	line-height: 8rem;
	text-align: center;
	background:#fff;
	border:.3rem solid #ffcca4;
	border-radius:50%;
	overflow: hidden;
}
.essential-information-head-portrait-a img{
	vertical-align: middle;
	width: 60%;
}
.essential-information-head-portrait-a-p{
	font-size:1.2rem;
	color:#ff8a45;
	text-align:center;
}
.essential-information-name{
	float:left;
	margin-left:1rem;
	width:64%;
	padding-top: .5rem;
}
.essential-information-name-p{
	font-size:2rem;
	float: left;
	color:#fff;
	max-width: 11rem;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
.my-purse{
	float:left;
  background: rgba(0, 0, 0, 0.1);
  color: #fff;
	border-radius:3rem;
	margin-top:2rem;
	clear: both;
}
.my-purse-a{
	display:inline-block;
	line-height: 0;
	padding: .3rem .5rem .3rem .3rem;
}
.my-purse-a img{
	width:2rem;
	vertical-align:middle;
}
.my-purse-a-span{
	font-size:1.04rem;
	vertical-align: middle;
}
.perfect-essential-information{
	line-height: 3rem;
	float:right;
	position: relative;
}
.perfect-essential-information-a{
	display:block;
	color:#fff;
	font-size:.96rem;
	text-decoration:underline;
}
.my-function-model{
	width:100%;
	height:5rem;
	background: rgba(0, 0, 0, 0.1);
    color: #fff;
}
.my-function-li{
	float:left;
	width:25%;
	text-align:center;
}
.function-line{
	width:.1rem;
	height:4rem;
	float:right;
	margin-top:-4.5rem;
}
.my-function-li-a{
	display:block;
	height:5rem;

}
.my-function-li-a-span{
	display:block;
	font-size:1.78rem;
	padding-top:.5rem;
}
.my-function-li-a-p{
	font-size:1.04rem;
}
.health-records{
	width:100%;
	background:#fff;
	border-top:1rem solid #f2f2f2;
}
.function-model-icon{
	float:left;
	display:inline-block;
	margin:1rem;

}
.function-model-icon img{
	width:2rem;

}
.function-model-name{
    font-size: 1.36rem;
    color: #666;
    line-height: 3.92rem;
}
.img-next{
	display: inline-block;
    width: 1rem;
    height: 3rem;
    float: right;
    margin-top: -2.6rem;
    margin-right: 1.5rem;
}
.img-next img{
    width: 0.68rem;
    height: 1.24rem;
}
.function-data-model{
	border-top:1rem solid #f2f2f2;
	background:#fff;
}
.attending-person,.common-address{
	border-bottom:1px solid #dfdfdf;
}
.contact-customer-service-tel{
	float:right;
	margin-right:3rem;
	margin-top:-2.7rem;
	color:#999;
	font-size:1.3rem;
}
.set-up{
	border-top:1rem solid #f2f2f2;
	background:#fff;
}
.remind-name{
	display:inline-block;
	width:2rem;
	height:2rem;
	line-height:2rem;
	text-align:center;
	float:right;
	margin-right:3rem;
	margin-top:-3.4rem;
	color:#fff;
	font-size:1.3rem;
	border-radius:1rem;
	background:#ec9c00;
}


/*footer*/
.indexFooter {
    position: fixed;
    bottom: 0;
    width: 100%;
    background: #f1f1f1;
    border-top: 1px solid #c1c1c1;
}
.tab-item-a {
    display: block;
    float: left;
    width: 20%;
    text-align: center;
    padding: .4rem 0;
}
.indicon {
    font-size: 0;
}
.indicon > img {
    vertical-align: middle;
    height: 1.8rem;
}
.tab-label {
    font-size: .88rem;
    line-height: 1;
    color: #959595;
    margin-top: .4rem;
}
.tab-label.active {
    color: #ec9c00;
}

/* Clearfix hack by Nicolas Gallagher: http://nicolasgallagher.com/micro-clearfix-hack/ */
.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}
.pull-left {
	float: left;
}
.pull-right {
	float: right;
}
.htmleaf-container{
    margin: 0 auto;
    text-align: center;
    overflow: hidden;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    background: #000;
    display: none;
    z-index: 1000;
}
#clipArea {
    height: 90%;
}


/*上传图标*/
/*#file{
    float: left;
    height: 100%;
}*/
/*上传*/
#uploadMain {
	display: none;
	/*position: absolute;*/
	position: fixed;
	bottom: 0;
	z-index: 99999;
	text-align: center;
	width:100%;
	background-color: #FFFFFF;
}

#uploadMain-first {
	color: #9A9A9A;
	font-size: 1rem;
	padding: 1rem;
	border-bottom:1px solid #e5e5e5;
	margin-bottom:2rem;
}
#uploadMain-first img{
	width:1rem;
	margin-right:.5rem;
	vertical-align:top;
}

.uploadMain-address {
	width: 80%;
	margin:0 10% 5%;
	float: left;
}
.uploadMain-address > a {
	display: block;
	padding: .7rem;
	color: #FFFFFF;
	font-size: 1.5rem;
	background-color: #f93;

}
.uploadMain-address img {
	width: 2.5rem;
	vertical-align:middle;
	margin-right:.5rem;
}

.uploadMain-address span {
	display: inline-block;
	margin-top: .5rem;
	font-size: .6rem;
	width: 100%;
}

#uploadMain-close {
	width: 80%;
	margin:0 10% 5%;
	padding: .7rem 0;
	float: left;
	background-color: #B3B3B3;
	color: #FFFFFF;
	font-size: 1.5rem;
}
.croptitlewrap {
	position: fixed;
	top: 0;
	width: 100%;
	height: 3.2rem;
	background: #ffffff;
	z-index: 1000;
}
.cropback {
	height: 3.2rem;
	line-height: 3.2rem;
	color: #ec9c01;
	padding: 0 0 0 1rem;
	position: absolute;
}
.cropback img {
	vertical-align: middle;
	width: 1rem;
	margin-right: .2rem;
}
.cropback span {
	vertical-align: middle;
	font-size: 1.4rem;
}
.croptitle {
	width: 100%;
	text-align: center;
	font-size: 1.4rem;
	height: 3.2rem;
	line-height: 3.2rem;
}
#clipBtn{
    /*float: right;*/
    height: 100%;
    width: 100%;
    background: #ec9b01;
    border: 0;
    outline: none;
    color: #fff;
    font-size: 2rem;
    z-index: 999;
}
.foot-use{
    background: #fff;
    height: 10%;
    width: 100%;
	position: relative;
}
.uploader1 {
    position: absolute;
    width: 50%;
    height: 8rem;
    cursor: default;
    height: 100%;
    float: left;
}
.button {
    float: left;
    height: 100%;
    display: inline-block;
    outline: 0 none;
    margin: 0;
    cursor: pointer;
    border: 0;
    width: 8rem;
    font-size: 2rem;
}

.uploader input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    border: 0;
    padding: 0;
    margin: 0;
    height:8rem;
    width: 100%;
    cursor: pointer;
   border: solid 1px #ddd;
    opacity: 0;
}
.uploader1 input[type=file] {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    border: 0;
    padding: 0;
    margin: 0;
    height:8rem;
    width: 50%;
    cursor: pointer;
    border: solid 1px #ddd;
    opacity: 0;
}

#divselect,#divselectx,#divselecty{
    width: 100%;
    position: relative;
}
#divselect small,#divselectx small,#divselecty small{
    font-size: 1.5rem;
    color: #999;
    width: 100%;
display: block;
}
#divselect .all,#divselectx .all,#divselecty .all{
    display: none;
    width: 80%;
    max-height: 80%;
    position: fixed;
    top: 10%;
    left: 10%;
    overflow: auto;
    border: solid 1px #ddd;
    background: #fff;
    opacity: 0.9;
    box-shadow: 0px 1px 1px #999;
    z-index: 99999;
    border-radius: 0.5rem;
}
#divselect .all li,#divselectx .all li,#divselecty .all li{
text-indent: 1rem;
    line-height: 5rem;
    padding: 0;

}
#divselect .all li a,#divselectx .all li a,#divselecty .all li a{
    text-decoration: none;
    color: #666;
    font-size: 1.5rem;
    display: block;
}
.mask{
    width: 100%;
    height: 100%;
    position: fixed;
    background: #000;
    opacity: 0.6;
    z-index: 9999;
    top: 0;
    left: 0;
    display: none;
}
.second{
    margin-top: 1rem;
    border-top: solid 1px #eee;
    padding-top: 1rem;
}
.place::-webkit-input-placeholder {
    color: #f00;
}
.yulan{
    position: fixed;
    width: 100%;
    height: 100%;
    display: none;
    top: 0;
    left: 0;
    text-align: center;
    line-height: 100%;
    background: #000;
    z-index: 99999999;

}
.yulan #img0{
    display: inline-block;
    max-width: 90%;
    line-height: 100%;
    max-height: 90%;
    top: 40%; left: 50%;
    -webkit-transform: translate(-50%, -40%);
    position: absolute;
}

/*拨打电话*/
#dialMain {
	display: none;
	/*position: absolute;*/
	position: fixed;
	top: 30%;
	left: 10%;
	width: 80%;
	border-radius: 1rem;
	z-index: 1040;
	text-align: center;
	background-color: #FFFFFF;
	/*padding: 1rem;
	padding-left: 0;
	padding-right: 0;
	padding-bottom: 0;*/
	padding-top: .5rem;
}
#dialMain-first h4 {
	color: #000;
	font-size: 1.3rem;
	text-align: center;
	margin: 1rem 0 .5rem 0;
}
#dialMain-first p {
	color: #999;
	font-size: 1.2rem;
	text-align: center;
	margin-bottom: 1rem;
}
#dialMain-second {
	border-top: 1px solid #f2f2f2;
}
.dialMain-address {
	font-size: 1.3rem;
	float: left;
	width: 50%;
/*	padding-top: .5rem;
	padding-bottom: .5rem;*/
	color: #ec9c00;
}
.dialMain-address > a {
	display: block;
	padding: 1rem 0;
}
.dialMain-address img {
	width: 3rem;
}
.dialMain-address span {
	display: inline-block;
	margin-top: .5rem;
	font-size: .6rem;
	width: 100%;
}
#dialMain-close {
	float: left;
	width: 49%;
	border-right: 1px solid #f2f2f2;
	color: #000;
}
.clinic-star{
	margin-top: .5rem;
}
.moveUp{
	margin-top: -.06rem;
}
