@charset "utf-8";
@font-face {
	font-family: 'wingdings 3';   /*字体名称*/
	src: url('../font/Hiragino Sans GB W3.otf');       /*字体源文件*/
}

@media only screen and (min-width: 320px) {
html {
	font-size: 10px !important;
}
}

@media only screen and (min-width: 360px) {
html {
	font-size: 11.25px !important;
}
}

@media only screen and (min-width: 400px) {
html {
	font-size: 12.5px !important;
}
}

@media only screen and (min-width: 480px) {
html {
	font-size: 15px !important;
}
}

@media only screen and (min-width: 640px) {
html {
	font-size: 20px !important;
}
}
/* CSS Document */
html, body {
	margin: 0;
	padding: 0;
	background-color: #f2f2f2;
	/*font-family: "wingdings 3";*/
}
ul {
	list-style-type: none;
	padding: 0;
	margin: 0;
}
a {
	text-decoration: none;
	color: inherit;
}
h1,h2,h3,h4,h5,h6,p {
	margin: 0;
	padding: 0;
}
.clear{
	clear:both;
}
ul {
	list-style-type: none;
	padding: 0;
	margin: 0;
}
a {
	text-decoration: none;
	color: inherit;
}
p,h1,h2,h3,h4,h5,h6{
	margin:0;
	padding:0;
}
.my-content{

}

.basic_information{
	background:#fff;
	padding:1.5rem 1rem;
}
.basic_information_portrait{
	float: left;
	width:30%;
}
.basic_information_portrait img{
	width:100%;
	height:auto;
}
.basic_information_text{
	/*margin-top: -30%;*/
    margin-left: 35%;
    line-height: 3rem;
}
.basic_information_text_h6{
	font-size:1.5rem;
	color:#000;
	font-weight:normal;
}
.basic_information_text_p{
	color:#999;
	font-size:1.2rem;
}
.basic_information_text_p_sex{
	margin-right:1rem;
}
.basic_information_text_tel{
	color:#666;
	font-size:1.1rem;
}
.my-function-model{
	width:100%;
	height:8rem;
	background: #fff;

}
.my-function-li{
	float:left;
	width:33.3%;
	text-align:center;
}
.function-line{
	width:.1rem;
	height:5rem;
	float:right;
	margin-top:-6.5rem;
}
.my-function-li-a{
	display:block;
	height:8rem;

}
.my-function-li-a-span{
	display:block;
	font-size:1.8rem;
	padding-top:1.5rem;
	color:#000;
}
.my-function-li-a-p{
	font-size:1.3rem;
	color:#999;
}
.health-records{
	width:100%;
	background:#fff;
	margin-top:1rem;
	border-bottom:.1rem solid #dfdfdf;
}
.health-records p.health-records-name{
	font-size:1.5rem;
	color:#000;
	line-height:3rem;
	margin-left:1rem;
}
.health-records span.img-next{
	margin-top:-2.2rem;
}
.function-model-icon{
	float:left;
	display:inline-block;
	margin:1rem;

}
.function-model-icon img{
	width:3rem;

}
.function-model-name{
	font-size:1.5rem;
	color:#000;
	line-height:5rem;
	margin-left:1rem;
}
.img-next{
	display: inline-block;
    width: 1rem;
    height: 2rem;
    float: right;
    margin-top: -3.05rem;
    margin-right: 1.5rem;
}
.img-next img{
	width: 1rem;
    height: 1.5rem;
}
.function-data-model{
	border-top:1rem solid #f2f2f2;
	background:#fff;
}
.attending-person,.common-address{
	border-bottom:1px solid #dfdfdf;
}
.contact-customer-service-tel{
	float:right;
	margin-right:3rem;
	margin-top:-3.2rem;
	color:#999;
	font-size:1.3rem;
}
.set-up{
	border-top:1rem solid #f2f2f2;
	background:#fff;
}
.remind-name{
	display:inline-block;
	width:2rem;
	height:2rem;
	line-height:2rem;
	text-align:center;
	float:right;
	margin-right:3rem;
	margin-top:-3.4rem;
	color:#fff;
	font-size:1.3rem;
	border-radius:1rem;
	background:#ec9c00;
}
