
html{
 font-size: 10px;	
}
@charset "utf-8";
@font-face {
    font-family: 'wingdings 3';   /*字体名称*/
    src: url('../font/Hiragino Sans GB W3.otf');       /*字体源文件*/
}

@charset "utf-8";
html,
body,
div,
p,
ul,
li,
h3 {
    margin: 0;
    padding: 0;
}

/*自适应*/

@media only screen and (min-width: 320px) {
    html {
        font-size: 10px !important;
    }
}

@media only screen and (min-width: 360px) {
    html {
        font-size: 11.25px !important;
    }
}

@media only screen and (min-width: 400px) {
    html {
        font-size: 12.5px !important;
    }

    #goBack img {
        margin-top: .1rem !important;
    }
}

@media only screen and (min-width: 480px) {
    html {
        font-size: 15px !important;
    }
}

@media only screen and (min-width: 640px) {
    html {
        font-size: 20px !important;
    }
}

html,
body {
    margin: 0;
    padding: 0;
    background-color: #F2F2F2;
    /*font-family: "wingdings 3";*/
}

html {
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
}

body {
    padding: 0;
    margin: 0;
    /*float: left;*/
	box-sizing:border-box;
    /*margin-top: 2.5rem;*/
    background-color: #F2F2F2;
}
a {
    text-decoration: none
}
header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1040;
}
.page {
  padding-bottom: 5rem;
}
.page .bar-tab {
    height: auto;
    background: #f1f1f1;
}

.page .bar-tab .tab-item .icon {
    height: .4rem;
    margin: .2rem 0;
}

.page .bar-tab .tab-item .icon img {
    width: 1.3rem;
    height: 1.3rem;
}

.page .bar-tab .tab-item .tab-label {
    padding-bottom: .3rem;
    padding-top: .1rem;
    font-size: .4rem;
    font-weight: 300;
    color: rgba(0, 0, 0, 0.8);
}

.page .content .buttons-tab .active {
    top: 0;
    border: none;
}

.buttons-tab {

    /*z-index: 100;*/

}
.content {
    position: fixed;
    top: 0;
    font-size: .8rem;
    background-color: #FFFFFF;
    width: 100%;
    margin-top: 0 !important;
    z-index: 1040;
}
.buttons-tab {
    overflow: hidden;
	/*border-bottom:1px solid #dfdfdf;*/
}

.tab-button {
    vertical-align: middle;
    color: #999;
    font-size: 1.04rem;
    font-weight: lighter;
}

.tab-icon {
    font-size: 1px;
    margin-bottom: 0.2rem;
    margin-left: 0.3rem;
    color: #CCCCCC;
}

#main-content {
    margin-top: 3.3rem;
}
/*.div-content:first-child(1){
    border-top: 1px solid #E8E8E8;	
}*/
.div-content {
    background-color: #FFFFFF;
   border-top: 1px solid #f2f2f2;
    padding: 1rem;
    padding-top: 1.2rem;
    padding-bottom: .5rem;
    position: relative;
}

.div-img {
    width: 100%;
    height: 100%;
    position: relative;
	border-radius:.3rem;
}

.div-img-custom {
    position: absolute;
    width: 5rem;
    height: 1rem;
    top: 2.5rem;
    text-align: center;
    color: white;
    font-size: .3rem;
    background-color: #000000;
    opacity: 0.5;
    z-index: 999;
}

.content-footer {
    margin-top: .3rem;
    margin-bottom: .3rem;
}

.tab-item {
    float: left;
    width: 20%;
    height: 100%;
    text-decoration: none;
    text-align: center;
}
.tab-img {
  width: .7rem;
}
.icon {
    display: inline-block;
    text-align: center;
    width: 100%;
    height: 22px;
    margin-top: 1rem;
}

.icon img {
    width: 22px;
    height: 22px;
}

.div-content-name {
    padding-left: .8rem;
    margin-bottom: 0;
    font-size: 1.36rem;
    color: #000000;
    font-weight: lighter;
    padding-right: 4rem;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.distance {
    float: right;
    margin-top: -2.2rem;
    padding-top: .4rem;
    font-size: .96rem;
    color: #999999;
}

/*#page-ptr {

    width: 100%;
    background-color: #F2F2F2;
}*/

.buttons-tab a {
    float: left;
    text-align: center;
    text-decoration: none;
    width: 33.33%;
    padding: .8rem 0;
}

.list-block {
    margin-top: 3rem;
}

.grade {
    margin-top: 1rem;
    margin-bottom: 1rem;
    /*font-size: .6rem;*/
    padding-left: 9.8rem;
}

.content-address {
    -webkit-line-clamp: 2;
    margin-left: 9.8rem;
    margin-right: 0.8rem;
    font-size: 1.04rem;
    height: 2.7rem;
    color: #a2a2a2;
    word-wrap: break-word;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

.content-footer-serve {
    margin-right: 3%;
    color: #F2B84D;
    display: inline-block;
    /*width: 6.1rem;*/
    padding: .2rem .5rem .2rem .5rem;
    /*height: 1.6rem;*/
    text-align: center;
    margin-bottom: .3rem;
    background-color: #FFF7F0;
    border: 1px solid #EBD8C6;
    font-size: 1.04rem;
    border-radius: 1.5rem;
}

.content-block {
    width: 100%;
    /*height: 13.8rem;*/
   /*height: 100%;*/
    background-color: white;
    padding-left: 0;
    z-index: 1040;
    /*margin: -.06rem;*/
    position: fixed;
	border-top:1px solid #F2F2F2;
    /*    		width: 10rem;*/

}

.card {
    width: 100%;
    height: 100%;
}

.div-footer-serve {
    float: left;
    display: inline-block;
    width: 25%;
    height: 10px;
    box-sizing: border-box;
    margin-right: auto;
}


.type-name-ul {
    list-style-type: none;
    padding-left: 0;
    margin-top: 0;
    margin-bottom: 0;
    cursor: pointer;
    max-height: 19.5rem;
    overflow: auto;
    overflow-y: scroll;
}

.list-container {
    margin-top: 6rem;
    position: relative;
    padding-left: 0;
    padding-top: 2px;
    width: 100%;
}

.list-container-li {
    /*list-style-type: none;*/
}

/*遮盖层*/

#coverLayer {
    position: fixed;
    /*margin-top: 13.8rem;*/
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1030;
    display: none;
    background-color: rgba(0, 0, 0, .7);
}

.type-name-ul li {
    padding-top: 0;
    border-bottom: 1px solid #f0f0f0;
}
.type-name-ul li.activity {
    background: #fff;
    color: orange;
}

.type-name-ul-type {
    display: block;
    font-size: 1.04rem;
    text-align: center;
    padding: 1rem 0;
}

.tab2-ul-list2 {
    margin-top: -12px;
}
.grade-img {
    width: 1rem;
    height:1rem;
	margin-right:.2rem;
	vertical-align: middle;
    /*float: left;*/
}

.goal {
	display: inline-block;
	font-size: .96rem;
    color: #FFCC66;
    vertical-align: middle;
}

#bottom {
    margin-bottom: 60px;
    margin-top: -2.5rem;
	font-size:1.2rem;
}

#alertDiv {
    z-index: 999999;
}


/*footer*/
.indexFooter {
    position: fixed;
    bottom: 0;
    width: 100%;
    background: #EFEFEF;
    border-top: 1px solid #c1c1c1;
    z-index: 1000;
}
.tab-item-a {
    display: block;
    float: left;
    width: 20%;
    text-align: center;
    padding: .4rem 0;
}
.indicon {
    font-size: 0;
}
.indicon > img {
    vertical-align: middle;
    height: 1.8rem;
}
.tab-label {
    font-size: .88rem;
    line-height: 1;
    color: #959595;
    margin-top: .4rem;
}
.tab-label.active {
    color: #ec9c00;
}
.fixation-img {
  position: relative;
  width: 9rem;
  height: 6.9rem;
  border-radius: 6px;
  overflow: hidden;
  float: left;
}
.span-img{
    background-color: rgba(0, 0, 0, 0.8);
    display: block;
    width: 100%;
    position: absolute;
    bottom: 0;
    text-align: center;
    opacity: 0.6;
    color: #fafafa;
}
