@charset "utf-8";
@font-face {
	font-family: 'wingdings 3';   /*字体名称*/
	src: url('../font/Hiragino Sans GB W3.otf');       /*字体源文件*/
}
@media only screen and (min-width: 320px) {
html {
	font-size: 10px !important;
}
}

@media only screen and (min-width: 360px) {
html {
	font-size: 11.25px !important;
}
}

@media only screen and (min-width: 400px) {
html {
	font-size: 12.5px !important;
}
}

@media only screen and (min-width: 480px) {
html {
	font-size: 15px !important;
}
}

@media only screen and (min-width: 640px) {
html {
	font-size: 20px !important;
}
}
/* CSS Document */
html, body {
	margin: 0;
	padding: 0;
	background-color: #F2F2F2;
	/*font-family: "wingdings 3";*/
}
ul {
	list-style-type: none;
	padding: 0;
	margin: 0;
}
a {
	text-decoration: none;
	color: inherit;
}
p{
	margin:0;
	padding:0;
}
.clear {
	clear: both;
}
.synopsis {
	width: 100%;
	height: 90px;
	background-color: #FFF;
	color: #666;
	border-top: 1px solid #e5e5e5;
	/*position: relative;*/
}
.synopsis-person {
	float: left;
	width: 5rem;
	height: 5rem;
	border-radius: 50%;
	overflow: hidden;
	margin-left: 1rem;
	margin-top: 1rem;
}
.synopsis-person img {
	width: 100%;
	height: 100%;
	vertical-align: middle;
}
.synopsis-text {
	margin-left: 7rem;
	margin-top: 1rem;
	margin-right: 1rem;
}
.synopsis-text {
	font-size: .8rem;
}
.doctor-name {
	display: inline-block;
	float: left;
	font-size: 1.3rem;
	color: #000;
	margin-top: .5rem;
}
.doctor-star {
	display: inline-block;
	float: left;
	margin-top: 1.5rem;
	margin-left: .5rem;
}
.evaluate-ul {
	list-style-type: none;
	padding: 0;
	margin: 0;
}
.evaluate-ul-li {
	margin-top: -.4rem;
}
.evaluate-ul-li-img {
	width: 2.5rem;
	float: left;
}
.evaluate-ul-li-name {
	float: left;
	font-size: .8rem;
	color: #4E4E4E;
	margin-left: .5rem;
	margin-top: .3rem;/*width: 90%;*/
}
.evaluate-ul-li-div {
	width: 100%;
	height: 1.5rem;
}
.evaluate-ul-li-time {
	color: #9D9D9D;
	font-size: .7rem;
	padding-left: .5rem;
}
.evaluateNumber-img {
	width: .8rem;
}
.evaluateNumber {
	float: right;
	margin-top: -.4rem;
	margin-right: .5rem;
}
.evaluateScore-img-star {
	width: 1.3rem;
}
.evaluateNumber-number {
	font-size: .8rem;
	color: #FFCB66;
	float: right;

	margin-left: .3rem;
}
.doctor-introduce {
	float: left;
	margin-bottom: .8rem;
	margin-top: -2rem;
}
.synopsis-icon {
	float: right;
	width: 3rem;
	margin-right: 2rem;
	margin-top: -4rem;
}
.synopsis-icon img {
	width: 100%;
	height: auto;
}
.article{
	float:left;
	background:#fff;
	margin-top:1rem;
	margin-bottom:5rem;
	color:#000;
}
.article-part1{
	float:left;
	font-size:1rem;
	margin:1.5rem 1rem 1rem;
	border-bottom:1px solid #dfdfdf;
}
.article-part1 p{
	word-break:break-all;
	font-size:1rem;
	line-height:1.5rem;
	margin-bottom:.5rem;
}
.article-part1-function-button{
	margin-bottom:2.5rem;
	}
.function-button-read,.function-button-thumbs-up,.function-button-time{
	display:inline;
	float:left;
	color:#999;
	font-size:.8rem;
}
.function-button-read{
	margin-right:2rem;
}
.function-button-time{
	float:right;
}
.article-part2{
	float:left;
	font-size:1rem;
	margin:.5rem 1rem 1rem;
}
.article-part2 p{
	font-size:.8rem;
	line-height:1.5rem;
}
.article-part2 img{
	width:100%;
	height:auto;
	margin:1rem 0;
}
#model_likecollect {
	position: fixed;
	bottom: 200px;
	left: 50%;
	transform: translateX(-50%);
	width: 200px;
	padding: 5px 0;
	text-align: center;
	background: rgba(0,0,0,0.7);
	border-radius: 5px;
	font-size: 20px;
	color: #fff;
}
.footer{
	position:fixed;
	bottom:0;
	width:100%;
	background:#f0f0f0;
	border-top:1px solid #ccc;
}
.footer-function-template{
	float:left;
	width:20%;
	text-align:center;
	vertical-align:middle;
}
.footer-function-img{
	display:block;
	margin-top:.5rem;
}
.footer-function-img img{
	width:1.5rem;
	height:1.5rem;
}
.footer-function-text{
	display:block;
	margin-bottom:.5rem;
	color:#929292;
	font-size:.8rem;
}
/*分享*/
#shareMain {
		display: none;
		/*position: absolute;*/
		position: fixed;
		bottom: 0;
		z-index: 1000;
		width:100%;
		text-align: center;
		background-color: #FFFFFF;
	}

	#shareMain-first {
		color: #9A9A9A;
		font-size: .1rem;
		padding: 1rem;
	}

	.shareMain-address {
		float: left;
		width: 25%;
		margin-bottom: .5rem;
	}

	.shareMain-address img {
		width: 3rem;
	}

	.shareMain-address span {
		display: inline-block;
		margin-top: .5rem;
		font-size: .6rem;
		width: 100%;
	}

	#shareMain-close {
		width: 100%;
		padding: .7rem;
		float: left;
		background-color: #B3B3B3;
		color: #FFFFFF;
		font-size: 1.5rem;
	}


    #model_likecollect {
	position: fixed;
	bottom: 200px;
	left: 50%;
	transform: translateX(-50%);
	width: 200px;
	padding: 5px 0;
	text-align: center;
	background: rgba(0,0,0,0.7);
	border-radius: 5px;
	font-size: 20px;
	color: #fff;
    }
