.list-ul {
	overflow: hidden
}

.list-li {
	height: 7rem;
	/*line-height: 5rem;*/
	border-top: 1px solid #DFDFDF;
	position: relative;
	padding: 0 .5rem;
	color: #666;
	background-color: #FFFFFF;
	-webkit-transform: translateX(0);
}

.btn {

	position: absolute;
	top: 0;
	right: -8rem;
	text-align: center;
	background: #EC9B01;
	color: #fff;
	width: 8rem;
	font-size: 1.2rem;
	line-height: 7rem;
}

.btn2 {

	position: absolute;
	top: 0;
	right: -16rem;
	text-align: center;
	background: #CD3333;
	color: #fff;
	width: 8rem;
	font-size: 1.2rem;
		line-height: 7rem;
}
.evaluateImg{
	/*float: left;*/
	/*margin-left: 7rem;*/
	margin-top: -3rem;
}
