<!DOCTYPE html>
<html lang="en">
<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>全国医生</title>
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no"/>
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta http-equiv="pragma" content="no-cache" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <link rel="stylesheet" type="text/css" href="../../css/main.css"/>
    <link rel="stylesheet" type="text/css" href="../../css/clinicWholeDoctor.css"/>
    <script src="../../resource/js/jquery-2.1.1.min.js" type="text/javascript" charset="utf-8"></script>
    <!--<script src="../../resource/js/common.js" type="text/javascript" charset="utf-8"></script>-->
    <style type="text/css">
        nav {
            height: 50px !important;
            /*position: relative;*/
        }

        .tab-item-a {
            float: left;
            /*padding-left: 12px;*/
            display: inline-block;
            width: 20%;
            height: 100%;
            text-align: center;
        }

        .tab-item-a-img {
            float: left;
            margin-top: 10px;
            margin-left: 35%;
            width: 20px;
            height: 20px;
        }

        .tab-label-span {
            text-align: center;
            width: 100%;
            font-size: 12px;
        }

        .tab-label-span {
            float: left;
        }

        /*弹窗*/

        #animationTipBox .lose .icon_box {
            transform: translate(-0.05rem, -0.05rem);
        }

        #animationTipBox .okoButton {
            transform: translateY(0.3rem);
        }

        .success .line_long {
            right: 0;
            top: 35px;
        }

        .success .line_short {
            left: 12px;
            top: 44px;
        }

        footer {
            position: fixed;
            bottom: 0;
            left: 0;
            right: 0;
            z-index: 99999;
            /*height: 50px;*/
        }
    </style>
</head>

<body>
<header>
	<a id="goBack" class="goback" href="javascript:;">
		<img src="../../images/backtrack.png" alt="" />
		<span id="goBackText">返回</span>
	</a>
	<h1 id="theme">全国医生</h1>
</header>
<div class="clear"></div>
<div class="page" id="page-ptr">
    <!--标签栏-->
    <div class="content">
        <div class="buttons-tab">
            <a href="javascript:;" id="tab1-a" class="tab-link active button">
                <span id="tab-button-span1" class="tab-button">地区</span>
                <span id="tab1-span" class="tab tab-icon"><img id="tab-img1" class="tab-img" src="../organization/imgs/arrows1.png"/></span>
            </a>
            <a href="javascript:;" id="tab1-a-fold" class="tab-link active button" style="display: none;">
                <span id="tab-button-span1-up1" class="tab-button">地区</span>
                <span id="tab1-span" class="tab tab-icon"><img id="tab-img1" class="tab-img" src="../organization/imgs/arrows2.png"/></span>
            </a>
            <a href="javascript:;" id="tab2-a" class="tab-link button">

                <span id="tab-button-span2" class="tab-button">科室</span>
                <span id="tab2-span" class="tab tab-icon"><img id="tab-img2" class="tab-img" src="../organization/imgs/arrows1.png"/></span>
            </a>
            <a href="javascript:;" id="tab2-a-fold" class="tab-link button" style="display: none;">

                <span id="tab-button-span2-up2" class="tab-button">科室</span>
                <span id="tab2-span" class="tab tab-icon"><img id="tab-img2" class="tab-img" src="../organization/imgs/arrows2.png"/></span>
            </a>
            <a href="javascript:;" id="tab3-a" class="tab-link button">
                <span id="tab-button-span3" class="tab-button">排序</span>
                <span id="tab3-span" class="tab tab-icon"><img id="tab-img3" class="tab-img" src="../organization/imgs/arrows1.png"/></span>
            </a>
            <a href="javascript:;" id="tab3-a-fold" class="tab-link button" style="display: none;">
                <span id="tab-button-span3-up3" class="tab-button">排序</span>
                <span id="tab3-span" class="tab tab-icon"><img id="tab-img3" class="tab-img" src="../organization/imgs/arrows2.png"/></span>
            </a>
            <a href="javascript:;" id="tab4-a" class="tab-link button">
                <span id="tab-button-span4" class="tab-button">筛选</span>
                <span id="tab4-span" class="tab tab-icon"><img id="tab-img4" class="tab-img" src="../organization/imgs/arrows1.png"/></span>
            </a>
            <a href="javascript:;" id="tab4-a-fold" class="tab-link button" style="display: none;">
                <span id="tab-button-span4-up4" class="tab-button">筛选</span>
                <span id="tab4-span" class="tab tab-icon"><img id="tab-img4" class="tab-img" src="../organization/imgs/arrows2.png"/></span>
            </a>
        </div>
        <!--下拉菜单遮盖层-->
        <div class="content-block" style="display: none;">

            <div class="tabs">

                <!-- 城市 -->
                <div id="tab1" class="tab">
                    <div>
                        <ul id="tab1-ul-list1" class="type-name-ul">

                        </ul>
                    </div>
                </div>
                <!-- 科室 -->
                <div id="tab2" class="tab">
                    <div>
                        <ul id="tab2-ul-list2" class="type-name-ul">
                            <!-- <li><span class="type-name-ul-type" style="display: none;">全部类型</span></li> -->
                        </ul>
                    </div>
                </div>
                <!-- 排序 -->
                <div id="tab3" class="tab">
                    <div>
                        <ul id="tab3-ul-list3" class="type-name-ul">
                            <!-- <li style="display: none;"><span class="type-name-ul-type">全部类型</span></li> -->
                        </ul>
                    </div>
                </div>
                <!-- 筛选 -->
                <div id="tab4" class="tab">
                    <div>
                        <ul id="tab4-ul-list4">
                        	<div class="doctorTitle">
                        	   医生职称：
                        	</div>
                        	<ul id="doctorTitle_list" class="doctorTitle-list">
                        		<li class="doctorTitle-list-li">不限</li>
                        		<li class="doctorTitle-list-li">主任医师</li>
                        		<li class="doctorTitle-list-li">副主任医师</li>
                        		<li class="doctorTitle-list-li">副主任医师</li>
                        		<li class="doctorTitle-list-li">主任医师</li>
                        		<li class="doctorTitle-list-li">副主任医师</li>
                        	</ul>

                        	<!-- <div class="doctorTitle">
                        	   咨询类型：
                        	</div>
                        	<ul class="doctorTitle-list">
                        		<li class="doctorTitle-list-li">不限</li>
                        		<li class="doctorTitle-list-li">图文咨询</li>
                        		<li class="doctorTitle-list-li">电话咨询</li>
                        	</ul> -->

                            <!--<li style="display: none;"><span class="type-name-ul-type">全部类型</span></li>-->
                        </ul>
                        <!-- <div class="filtrate">
                        	<img src="../../images/screen_1.jpg.png"/>
                        	<span class="filtrate-span">
                        		筛选
                        	</span>
                        	<span class="doctorTitle-list-li filtrate-affirm">确认</span>
                        </div> -->
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="coverLayer">

    </div>




    <div  class="list-block container" style="width:100%;transform:translate(0,-3rem)" >
    	<div id="pull-loading" style="height:3rem; line-height:3rem; text-align:center; width:100%;">
				<img id="imgLoading" style="width: 2rem;" src="../../images/loading.gif" />
			</div>
        <ul class="list-container">
            <!--遍历的模板-->
            <!--<li class="list-container-li">
            </li>-->
        </ul>

    <div id="bottom">
        <div class="no-content" style="margin-bottom: 2rem;margin-top:2rem;text-align: center;">
            <span class="nomore" style="display:none;color:#999; margin-top: 2rem;">~ 没有更多内容啦  ~</span>

            <div class="loading" style="display:none;"><img src="../../images/loading.gif" alt="" style="width:2rem;"></div>
        </div>
    </div>

        </div>
</div>
</body>
<script src="../../resource/js/jquery-2.1.1.min.js" type="text/javascript" charset="utf-8"></script>
<script src="../../resource/js/common.js" type="text/javascript" charset="utf-8"></script>
<script src="../../resource/js/pullRefresh.js" type="text/javascript" charset="utf-8"></script>
<script src="inc/clinicWholeDoctor.js" type="text/javascript" charset="utf-8"></script>
<!--<script src="../healthPopularization/inc/healthIndex.js" type="text/javascript" charset="utf-8"></script>-->

</html>
