<!DOCTYPE html>
<html>

    <head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no, minimal-ui"/>
        <meta name="apple-mobile-web-app-capable" content="yes" />
        <meta name="apple-mobile-web-app-status-bar-style" content="black" />
        <meta name="format-detection" content="telephone=no, email=no" />
        <meta http-equiv="pragma" content="no-cache" />
        <title>诊所介绍</title>
        <link rel="stylesheet" type="text/css" href="../../css/main.css" />
        <link href="../../css/clinicIntroduction.css" rel="stylesheet">
    </head>

    <body style="overflow-y: scroll;">
        <header>
      		<a id="goBack" class="goback" href="javascript:history.back();">
      			<img src="../../images/backtrack.png" alt="" />
      			<span id="goBackText">返回</span>
      		</a>
      		<h1 id="theme">诊所介绍</h1>
      	</header>

        <div class="clinic-name">
            <div class="clinic-title">
                <h6>闲林山水居西医诊所</h6>
                <span>加盟</span>
            </div>
            <div class="clinic-star">
                <img class="clinic-img" src="../../images/star2.png" alt="" />
                <img class="clinic-img" src="../../images/star2.png" alt="" />
                <img class="clinic-img" src="../../images/star2.png" alt="" />
                <img class="clinic-img" src="../../images/star2.png" alt="" />
                <img class="clinic-img" src="../../images/star2.png" alt="" />
                <span class="clinic-number">0分</span>
            </div>
        </div>
        <div class="address">
            <span>
                余杭区余杭街道狮山路558号
            </span>
            <span id="dial" class="address-img">
                <a href="javascript:;">
                    <img src="../../images/phone.png" onerror="src='../../images/default-img.png'"
                    alt="">
                </a>
            </span>
            <span class="address-line">
                |
            </span>
            <span class="address-img">
                <a href="../location/location.html">
                    <img src="../../images/map.png" alt="">
                </a>
            </span>
        </div>
        <div class="clear">
        </div>
        <div class="clinic-text-introduction">
            <div class="clinic-introduce">
                <h6 class="clinic-introduce-h6">
                    ————&nbsp;诊所介绍&nbsp;————
                </h6>
                <!--<p class="clinic-introduce-p">
                    华方医护智慧诊所是依托华方医护打造的互联网+ 医疗和大健康O2O平台，以分级诊疗、远程诊疗、医护上门及健康管理为主。
                </p>-->
                <!--<p class="clinic-introduce-p">
                    结合国家分级诊疗和医养护一体化服务两大体系，推出一站式健康管理和智慧医疗为主的新型医疗服务模式，为区域内的社区居民和中高端人群提供一站式智慧医疗护理服务。
                </p>-->
                <p class="clinic-introduce-p">
                    构建中国新型社区医疗护理和健康保障体系，打造行业领先的健康管理平台，建立智慧医疗生态圈。
                </p>
            </div>
            <div class="clear"></div>
            <div class="clinic-environmental">
                <h6 class="clinic-introduce-h6">
                    ————&nbsp;诊所环境&nbsp;————
                </h6>
               <span class="clinic-environmental-span">
                    <!--<img class="clinic-environmental-img first-img"  src="../../images/environment_1.png" alt="">-->
                </span>
            </div>
            <div class="service-contnet">
                <h4>
                    ————&nbsp;诊所服务&nbsp;————
                </h4>
                <ul>
                    <li class="testing">
                        <span class="testing-img">
                            <img src="../../images/blood-icon1.png" alt="" />
                        </span>
                        <span class="testing-text">
                            <h5>
                                一对一就诊
                            </h5>
                            <p>
                                保证每位患者15分钟的就诊时间，一对一医生沟通，能够与医生有充分的交流
                            </p>
                        </span>
                    </li>
                    <div class="clear"></div>
                    <li class="testing">
                        <span class="testing-img">
                            <img src="../../images/blood-icon2.png" alt="" />
                        </span>
                        <span class="testing-text">
                            <h5>
                                医护上门
                            </h5>
                            <p>
                                医生上门进行检查、康复用药指导
                                <br>
                                护士上门进行慢病护理、术后护理、母婴护理
                            </p>
                        </span>
                    </li>
                    <div class="clear"></div>
                    <li class="testing">
                        <span class="testing-img">
                            <img src="../../images/blood-icon3.png" alt="" />
                        </span>
                        <span class="testing-text">
                            <h5>
                                慢病管理
                            </h5>
                            <p>
                                高血压、糖尿病、高血脂等慢病居家智能设备检测，数据实时上传，医生在线分析，个性化指导
                            </p>
                        </span>
                    </li>
                    <div class="clear"></div>
                    <li class="testing">
                        <span class="testing-img">
                            <img src="../../images/blood-icon4.png" alt="" />
                        </span>
                        <span class="testing-text">
                            <h5>
                                家庭医生管理
                            </h5>
                            <p>
                                家庭医生签约，为家庭提供全面的健康管理实时在线咨询、上门护理、健康体检等服务
                            </p>
                        </span>
                    </li>
                    <div class="clear"></div>
                    <li class="testing">
                        <span class="testing-img">
                            <img src="../../images/blood-icon5.png" alt="" />
                        </span>
                        <span class="testing-text">
                            <h5>
                                远程医疗
                            </h5>
                            <p>
                                国内外强大专家团队支撑，远程会诊式诊疗，个性化诊疗服务
                            </p>
                        </span>
                    </li>
                    <div class="clear"></div>
                    <li class="testing">
                        <span class="testing-img">
                            <img src="../../images/blood-icon6.png" alt="" />
                        </span>
                        <span class="testing-text">
                            <h5>
                                就医绿色通道
                            </h5>
                            <p>
                                诊所至三甲医院，从诊所医生到国内外知名专家，全程无缝对接，需要时提供全程一对一陪诊服务
                            </p>
                        </span>
                    </li>
                </ul>
            </div>
            <div class="clear"></div>
        </div>
        <div id="dialMain">
            <div id="dialMain-first">
                <h4>拨号</h4>
                <p>您确认要拨打400-900-1515吗？</p>
            </div>
            <div id="dialMain-second">
                <div id="dialMain-close" class="dialMain-address">
                    <a href="javascript:;">取消</a>
                </div>
                <div class="dialMain-address">
                    <a href="tel:400-900-1515">确认</a>
                </div>
            </div>
        </div>
        <!--提示信息-->
        <!--蒙版层-->
        <div id="modal" style="display: none;position: absolute;top: 0;z-index: 1;opacity: 0.5;">
        </div>
        <script src="../../resource/js/jquery-2.1.1.min.js"></script>
        <script src="../../resource/js/common.js" type="text/javascript" charset="utf-8"></script>
		<script src="inc/clinicIntroduction.js" type="text/javascript" charset="utf-8"></script>
        <!--<script src="../../resource/js/yxMobileSlider.js" type="text/javascript" charset="utf-8"></script>-->
        <!--<script src="inc/index.js"></script>-->
        <!--<script src="../organization/js/zepto.min.js" type="text/javascript"
        charset="utf-8"></script>-->
    </body>


</html>
