<!doctype html>
<html>
<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
<meta name="apple-mobile-web-app-capable" content="yes">
<meta http-equiv="pragma" content="no-cache" />
<meta name="apple-mobile-web-app-status-bar-style" content="black">
<!--<link rel="stylesheet" type="text/css" href="../../css/bootstrap.min.css" />-->
<link rel="stylesheet" type="text/css" href="../../css/main.css" />
<link rel="stylesheet" type="text/css" href="../../css/clinicSwitch.css" />
<title>切换诊所</title>
</head>

<body>
	<header>
		<a id="goBack" class="goback" href="clinicIndex.html">
			<img src="../../images/backtrack.png" alt="" />
			<span id="goBackText">返回</span>
		</a>
		<h1 id="theme">切换诊所</h1>
	</header>
  <div>
    <div class="clear"></div>
    <div class="other-news">

        <div class="clear"></div>
        <div class="recommend-clinic">
        	<ul class="recommend-clinic-ul" id="hospital">

            </ul>
        </div>
        <div class="clear"></div>


    </div>



  </div>
</body>
<!--关注-->
	<div id="shareMain">
		<div id="shareMain-second">
			<div class="shareMain-address">
				<a href=""><img src="../../images/clinic-fllow-home_.png" /></a>
				<span>进入诊所</span>
			</div>
			<div class="shareMain-address">
				<a href=""><img src="../../images/fllow_ing.png" /></a>
				<span>取消关注</span>
			</div>
			<div class="shareMain-address">
				<a href=""><img src="../../images/follow_share.png" /></a>
				<span>分享</span>
			</div>

		</div>
		<div id="shareMain-close">取消</div>
	</div>

	<!--蒙版层-->
	<div id="modal" style="display: none;position: absolute;top: 0;z-index: 1;opacity: 0.5;">
      <div class="modal-cancel" style="width:100%;"></div>
    </div>

<script src="../../resource/js/jquery-2.1.1.min.js" type="text/javascript" charset="utf-8"></script>
<script src="../../resource/js/common.js" type="text/javascript" charset="utf-8"></script>
<script src="../../resource/js/bootstrap.min.js" type="text/javascript" charset="utf-8"></script>
<script src="../../resource/js/clinicSwitch.js" type="text/javascript" charset="utf-8"></script>
</html>
