<!DOCTYPE html>
<html>

	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta http-equiv="pragma" content="no-cache" />
		<meta name="apple-mobile-web-app-status-bar-style" content="black">
		<!--<link rel="stylesheet" type="text/css" href="../../css/bootstrap.min.css" />-->
		<link rel="stylesheet" type="text/css" href="../../css/main.css" />
		<link rel="stylesheet" type="text/css" href="../../css/clinicEvaluate.css"/>
		<title>诊所评价</title>
		<style type="text/css">

		</style>
	</head>

	<body style="position: relative;">
		<header>
			<a id="goBack" class="goback" href="javascript:history.back();">
				<img src="../../images/backtrack.png" alt="" />
				<span id="goBackText">返回</span>
			</a>
			<h1 id="theme">闲林山水居西医诊所的评价</h1>
		</header>
		<div class="evaluateScore">
			<div id="evaluateScore-grade" class="evaluateScore-module">
				<div class="gradeMagnify-father">
					<span class="gradeMagnify">
        	 		    	3.2分
        	 		    </span>
				</div>
				<span id="frequency">
        	 			综合评分
        	 		</span>
			</div>
			<div id="halving-line" class="evaluateScore-module">

			</div>
			<div id="evaluateScore-img" class="evaluateScore-module">
				<div class="evaluateScore-img-grade">
					<img class="evaluateScore-img-star" src="../../images/star2.png" alt="" />
					<img class="evaluateScore-img-star" src="../../images/star2.png" alt="" />
					<img class="evaluateScore-img-star" src="../../images/star2.png" alt="" />
					<img class="evaluateScore-img-star" src="../../images/star2.png" alt="" />
					<img class="evaluateScore-img-star" src="../../images/star2.png" alt="" />
				</div>
				<div class="evaluate-number">
					共有<span class="evaluate-number-count">1213</span>人评价
				</div>
			</div>
		</div>


		<div class="userEvaluate">
			<div class="userEvaluat-title">用户评价</div>
			<ul class="evaluate-ul">
				<li class="evaluate-ul-li" style="display: none">
						<img onerror="src='../../images/default-img.png7070'" class="evaluate-ul-li-img" src="../../images/account.png" />
						<div class="evaluate-ul-li-div">
							<span class="evaluate-ul-li-name">笑话</span>
						</div>

						<span class="evaluate-ul-li-time">2017年9月9日 12:10:00</span>
						<div class="evaluateNumber">
							<img onerror="src='../../images/default-img.png7070'" class="evaluateNumber-img" src="../../images/star2.png" alt="" />
							<img onerror="src='../../images/default-img.png7070'" class="evaluateNumber-img" src="../../images/star2.png" alt="" />
							<img onerror="src='../../images/default-img.png7070'" class="evaluateNumber-img" src="../../images/star2.png" alt="" />
							<img onerror="src='../../images/default-img.png7070'" class="evaluateNumber-img" src="../../images/star2.png" alt="" />
							<img onerror="src='../../images/default-img.png7070'" class="evaluateNumber-img" src="../../images/star2.png" alt="" />
							<span class="evaluateNumber-number">0分</span>
						</div>
						<div class="evaluate-content">
							<span class="evaluate-content-span">读书笔记是否还记得是否但是否会对双方都是搞后端会更好国会大厦古代诗歌好好的归属感都是广东省发动广东省广东省单身狗都是固定给多少都是1</span>

						</div>
					</li>
			</ul>
		</div>
            <p id="footer">~ 没有更多内容啦 ~</p>
	</body>

	<script src="../../resource/js/jquery-2.1.1.min.js" type="text/javascript" charset="utf-8"></script>
	<script src="../../resource/js/common.js" type="text/javascript" charset="utf-8"></script>
	<script src="../../resource/js/validate_h5.js" type="text/javascript" charset="utf-8"></script>
	<script src="inc/clinicEvaluate.js" type="text/javascript" charset="utf-8"></script>

</html>
