<!DOCTYPE html>
<html>

    <head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no, minimal-ui"
        />
        <meta name="apple-mobile-web-app-capable" content="yes" />
        <meta http-equiv="pragma" content="no-cache" />
        <meta name="apple-mobile-web-app-status-bar-style" content="black" />
        <meta name="format-detection" content="telephone=no, email=no" />
        <title>我的诊所</title>
        <link href="../../css/reset.css" rel="stylesheet">
        <link rel="stylesheet" type="text/css" href="../../css/main.css" />
        <link rel="stylesheet" type="text/css" href="../../css/styles.css" />
        <link href="../../css/drugIntroduction.css" rel="stylesheet">
    </head>

    <body style="overflow-y: scroll;">
        <!--<header> <a href="medicIndex.html"> <span id="goBack"> <img src="../../images/backtrack.png" alt="" /> <span id="goBackText">返回</span> </span> </a> <span id="Theme">诊所介绍</span> </header>-->
        <div class="banner">
            <div class="slider" style="width: 320px; height: 160px; position: relative; overflow: hidden; margin: 0px auto; display: block;">
                <!-- <ul class="sliderCarousel clearfix">
                    <li>
                        <a class="slider_a" href="" target="_blank">
                            <img onerror="src='../../images/default-img750300.png'" src="../../images/clinic-bg.png" alt="" />
                        </a>
                    </li>
                    <li>
                        <a class="slider_a" href="" target="_blank">
                            <img onerror="src='../../images/default-img750300.png'" src="../../images/clinic-bg.png" alt="" />
                        </a>
                    </li>
                    <li>
                        <a class="slider_a" href="" target="_blank">
                            <img onerror="src='../../images/default-img750300.png'" src="../../images/clinic-bg.png" alt="" />
                        </a>
                    </li>
                </ul> -->
            </div>
            <span class="return">
                <a href="javascript:;">
                    <img src="../../images/return.png" alt="返回" />
                </a>
            </span>
            <!--<div class="switch-clinic">
                <a href="javascript:;">
                    <p>
                        切换诊所
                    </p>
                    <span>
                        <img onerror="src='../../images/default-img.png7070'" src="../../images/more_.png"
                        alt="" />
                    </span>
                </a>
            </div>-->
        </div>
        <div class="clinic-name">
            <div class="clinic-title">
                <h6 class="clinic-title-h6">抗之霸&nbsp;阿莫西林胶囊</h6>
                <p class="clinic-title-p"><span class="drug-original-price">￥20.00</span><span class="drug-new-price">￥14.90</span></p>
            </div>
            <div class="clear"></div>
            <p class="drug-prompt-information">只对药品作信息展示，建议您咨询诊所就近选购</p>
            <!--<div class="clinic-star">
                <img class="clinic-img" src="../../images/star2.png" alt="" />
                <img class="clinic-img" src="../../images/star2.png" alt="" />
                <img class="clinic-img" src="../../images/star2.png" alt="" />
                <img class="clinic-img" src="../../images/star2.png" alt="" />
                <img class="clinic-img" src="../../images/star2.png" alt="" />
                <span class="clinic-number">0分</span>
            </div>-->
        </div>

        <div class="clear">
        </div>
        <div class="clinic-text-introduction">
            <div class="clinic-introduce">
                <h6 class="clinic-introduce-h6">————&nbsp;药品说明书&nbsp;————</h6>
                <ul>
                	<li class="drug-instruction">
                    	<h6 class="drug-instruction-h6">主要成分：</h6>
                        <p class="drug-instruction-p p1">三叉苦、岗梅、金盏银盘、薄荷油、野菊花、马来酸氯苯那敏、咖啡因、对乙酰氨基酚。辅料为蔗糖粉。</p>
                    </li>
                	<li class="drug-instruction">
                    	<h6 class="drug-instruction-h6">产品性状：</h6>
                        <p class="drug-instruction-p p2">浅棕色至深棕色的颗粒，味甜、微苦。</p>
                    </li>
                    <li class="drug-instruction">
                    	<h6 class="drug-instruction-h6">产品规格：</h6>
                        <p class="drug-instruction-p p3">10g*9包 袋装10克（含对乙酰氨基酚0.2克）</p>
                    </li>
                    <li class="drug-instruction">
                    	<h6 class="drug-instruction-h6">适应症：</h6>
                        <p class="drug-instruction-p p4">本品解热镇痛。用于感冒引起的头痛，发热，鼻塞，流涕，咽痛等</p>
                    </li>
                    <li class="drug-instruction">
                    	<h6 class="drug-instruction-h6">用法用量：</h6>
                        <p class="drug-instruction-p p5">开水冲服，一次1袋，一日3次。小儿减量或遵医嘱。</p>
                    </li>
                    <li class="drug-instruction">
                    	<h6 class="drug-instruction-h6">不良反应：</h6>
                        <p class="drug-instruction-p p6">偶见皮疹、荨麻疹、药热及粒细胞减少；可见困倦、嗜睡、口渴、虚弱感；长期大量用药会导致肝肾功能异常。</p>
                    </li>
                    <li class="drug-instruction">
                    	<h6 class="drug-instruction-h6">批准文号：</h6>
                        <p class="drug-instruction-p p7">国药准字H44021518</p>
                    </li>
                    <li class="drug-instruction">
                    	<h6 class="drug-instruction-h6">生产企业：</h6>
                        <p class="drug-instruction-p p8">广州白云山制药股份有限公司</p>
                    </li>

                </ul>


        </div>
        <div class="contact-clinic">
            	<a class="consultingClinic" href="javascript:;">咨询诊所</a>
            	<a class="buy-now" href="javascript:;">立即购买</a>
            </div>
        </div>
        <div id="dialMain">
            <div id="dialMain-first">
                <h4>
                    拨号
                </h4>
                <p>
                    您确认要拨打400-900-1515吗？
                </p>
            </div>
            <div id="dialMain-second">
                <div id="dialMain-close" class="dialMain-address">
                    <a href="javascript:;">取消</a>
                </div>
                <div class="dialMain-address">
                    <a href="tel:400-900-1515">确认</a>
                </div>
            </div>
        </div>
        <!--提示信息-->
        <!--蒙版层-->
        <div id="modal" style="display: none;position: absolute;top: 0;z-index: 1;opacity: 0.5;">
        </div>
        <script src="../../resource/js/jquery-2.1.1.min.js"></script>
        <script src="../../resource/js/common.js" type="text/javascript" charset="utf-8"></script>
		<script src="inc/drugIntroduction.js" type="text/javascript" charset="utf-8"></script>
        <!-- <script src="../../resource/js/yxMobileSlider.js" type="text/javascript" charset="utf-8"></script> -->
        <!--<script src="inc/index.js"></script>-->
        <!--<script src="../organization/js/zepto.min.js" type="text/javascript"
        charset="utf-8"></script>-->
    </body>
    <!-- <script type="text/javascript">
        $(".slider").yxMobileSlider({ width: 640, height: 320, during: 3000})
    </script> -->

</html>
