<!DOCTYPE html>
<html>

	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
		<title>送药到家</title>
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta http-equiv="pragma" content="no-cache" />
		<meta name="apple-mobile-web-app-status-bar-style" content="black">
		<!--<link rel="stylesheet" type="text/css" href="../../css/bootstrap.min.css"/>-->
		<link rel="stylesheet" type="text/css" href="../../css/main.css" />
		<link rel="stylesheet" type="text/css" href="../../font/Font-Awesome-3.2.1/css/font-awesome.css" />
		<link rel="stylesheet" type="text/css" href="../../css/drugDeliveryList.css" />
		<style type="text/css">

		</style>
	</head>

	<body>
		<header>
			<a id="goBack" class="goback" href="javascript: history.back();">
				<img src="../../images/backtrack.png" alt="" />
				<span id="goBackText">返回</span>
			</a>
			<h1 id="theme">送药到家</h1>
			<a class="share" href="drugDelivery.html"><span id="share"><i></i></span></a>
		</header>
		<div id="main">
			<div class="title">
				<ul id="articleListAll" class="articleList-ul">
					<li class="articleList-li picactive">
						<div id="article-all" data-id2="0" class="articleList-li-div">全部药品</div>
					</li>
				</ul>
			</div>
			<div class="titleContent">
				<ul class="titleContent-all">
					<li class="drug-details">
                    	<div class="drug-details-img">
                        	<img src="../../images/999cold.png" alt="" />
                        </div>
                        <div class="drug-details-text">
                        	<p class="drug-name">999感冒灵颗粒</p>
							<p class="drug-specification"><span class="drug-number">0.25</span>g*<span class="bottle-number">20</span>粒/盒</p>
                        	<p class="drug-price">￥<span>14.90</span></p>
                        </div>
                    </li>

				</ul>
			</div>
		</div>


		<script src="../../resource/js/jquery-2.1.1.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="../../resource/js/common.js" type="text/javascript" charset="utf-8"></script>
		<script src="inc/drugDeliveryList.js" type="text/javascript" charset="utf-8"></script>
	</body>

</html>
