<!DOCTYPE html>
<html>

	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
		<title>送药到家</title>
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta http-equiv="pragma" content="no-cache" />
		<meta name="apple-mobile-web-app-status-bar-style" content="black">
		<link rel="stylesheet" type="text/css" href="../../css/bootstrap.min.css" />
		<link rel="stylesheet" type="text/css" href="../../css/main.css" />
		<link rel="stylesheet" type="text/css" href="../../css/drugDelivery.css" />
		<script type="text/javascript">
			//如果未登录则跳至登录页
			if(!JSON.parse(localStorage.getItem("user"))) {
				sessionStorage.setItem("noLogin", location.href.split("PP2.0/views")[1]); //登录时接收，登陆后跳回此页面
				location.href = "../login/login.html";
			}
		</script>
	</head>

	<body>
	<header>
		<a id="goBack" class="goback" href="javascript:historyBack();">
			<img src="../../images/backtrack.png" alt="" />
			<span id="goBackText">返回</span>
		</a>
		<h1 id="theme">送药到家</h1>
		<a class="share" href="javascript:;"><span id="share"><i></i></span></a>
	</header>

		<div class="relaWrap">
			<div class="absoWrap clearfix">
				<div class="moveEach pull-left">
					<div class="title">
						<ul class="articleList-ul clearfix">
							<li data-id1="Drug_delivery" data-id2="0" class="picactive">
								<a href="javascript:;">
									<div class="icondes">全部预约</div>
								</a>
							</li>
						</ul>
					</div>
					<div id="leftContent" class="titleContent">

					</div>
				</div>
				<div class="moveEach pull-left">
					<div class="title">
						<ul class="articleList-ul clearfix">
							<li data-id1="2" data-id2="0" class="picactive">
								<a href="javascript:;">
									<div class="icondes">全部预约</div>
								</a>
							</li>
						</ul>
					</div>
					<div id="rightContent" class="titleContent">

					</div>
				</div>
			</div>
		</div>

		<script src="../../resource/js/jquery-2.1.1.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="../../resource/js/common.js" type="text/javascript" charset="utf-8"></script>
		<script src="inc/drugDelivery.js" type="text/javascript" charset="utf-8"></script>
		<script type="text/javascript">
//			init3(7,0)
		</script>
	</body>

</html>
