<!DOCTYPE html>
<html>

	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
		<title>健康产品</title>
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta http-equiv="pragma" content="no-cache" />
		<meta name="apple-mobile-web-app-status-bar-style" content="black">
		<meta http-equiv="pragma" content="no-cache" />
		<!--<link rel="stylesheet" type="text/css" href="../../css/bootstrap.min.css"/>-->
		<link rel="stylesheet" type="text/css" href="../../css/main.css" />
		<link rel="stylesheet" type="text/css" href="../../font/Font-Awesome-3.2.1/css/font-awesome.css" />
		<link rel="stylesheet" type="text/css" href="../../css/healthproject.css" />
		<script type="text/javascript">
			//如果未登录则跳至登录页
			if(!JSON.parse(localStorage.getItem("user"))) {
				sessionStorage.setItem("noLogin", location.href.split("PP2.0/views")[1]); //登录时接收，登陆后跳回此页面
				location.href = "../login/login.html";
			}
		</script>
	</head>

	<body>
		<header>
			<a id="goBack" class="goback" href="javascript:historyBack();">
				<img src="../../images/backtrack.png" alt="" />
				<span id="goBackText">返回</span>
			</a>
			<h1 id="theme">健康产品</h1>
			<!-- <a class="share" href="javascript:;"><span id="share"><i></i></span></a> -->
		</header>

		<div id="main">
			<div class="title">
				<ul id="articleListAll" class="articleList-ul">
					<li class="articleList-li picactive" data-id1="5" data-id2="0">
						<div id="article-all" class="articleList-li-div">全部药品</div>
					</li>
				</ul>
			</div>
			<div class="titleContent">
				<ul class="titleContent-all">
					<!-- <li class="drug-details">
                    	<div class="drug-details-img">
                        	<img src="../../images/999cold.png" alt="" />
                        </div>
                        <div class="drug-details-text">
                        	<p class="drug-name">999感冒灵颗粒</p>
							<p class="drug-specification">便携式血糖检测仪，随时随地检测学堂变化</p>
                            <div class="drug-price">
                            	<p class="new-price">￥<span>14.90</span></p>
                                <p class="old-price">市场价￥<span>14.90</span></p>
                            </div>

                        </div>
                    </li>-->

				</ul>
			</div>
		</div>


		<script src="../../resource/js/jquery-2.1.1.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="../../resource/js/common.js" type="text/javascript" charset="utf-8"></script>
		<script src="inc/healthproject.js" type="text/javascript" charset="utf-8"></script>
		<script>
			init3('Health_products', 0)
		</script>
	</body>

</html>
