<!doctype html>
<html>

	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta http-equiv="pragma" content="no-cache" />
		<meta name="apple-mobile-web-app-status-bar-style" content="black">
		<!--<link rel="stylesheet" type="text/css" href="../../css/bootstrap.min.css" />-->
		<link rel="stylesheet" type="text/css" href="../../css/main.css" />
		<link rel="stylesheet" type="text/css" href="../../css/lipidDetection.css" />

		<title>血脂检测</title>
	</head>

	<body>
		<header>
			<a id="goBack" class="goback" href="test.html">
				<img src="../../images/backtrack.png" alt="" />
				<span id="goBackText">返回</span>
			</a>
			<h1 id="theme">血脂检测</h1>
		</header>
		<div>
			<div class="patient-information">
				<div class="patient-details">
					<ul>
						<li class="patient-information-details">受诊人
							<a class="attending-person" href="../medic/attendingPerson.html"><span>请选择受诊人</span><img src="../../images/more.png" alt="" /></a>
						</li>
						<li class="patient-information-details">联系方式
							<a class="telephone-number" href="javascript:;">请输入手机号</a>
						</li>
						<li class="patient-information-details">预约时间
							<a class="attending-person" href="javascript:;"><span class="appointment-time">2017年3月14日 / 10:30-12:00</span><img src="../../images/more.png" alt="" /></a>
						</li>
						<li class="patient-information-details">服务地址
							<a class="attending-person" href="../medic/serviceAddress.html"><span>请选择服务地址</span><img src="../../images/more.png" alt="" /></a>
						</li>
						<li class="patient-information-details">提供服务
							<a class="age" href="javascript:;"><span id="doctor_name">张戴三</span> / <span id="doctor_type">耳鼻喉科</span> / <span id="doctor_lv">主治医师</span></a>
						</li>
						<li class="patient-information-details">服务费用
							<a class="age" href="javascript:;"><span id="price">111</span>元一次</a>
						</li>

					</ul>
				</div>
				<div class="patient-message">
					<textarea rows="4" placeholder="留言：描述您当前的症状及想获得的帮助">留言：描述您当前的症状及想获得的帮助</textarea>
				</div>
			</div>
			<div class="submit-button">
				<a class="submit-button-a" href="javascript:;">确认预约</a>
			</div>
		</div>
	</body>
	<script src="../../resource/js/jquery-2.1.1.min.js" type="text/javascript" charset="utf-8"></script>
	<script src="../../resource/js/common.js" type="text/javascript" charset="utf-8"></script>
	<script src="../../resource/js/bootstrap.min.js" type="text/javascript" charset="utf-8"></script>
	<script src="../../resource/js/lipidDetection.js" type="text/javascript" charset="utf-8"></script>

</html>
