<!doctype html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
<meta name="apple-mobile-web-app-capable" content="yes">
<meta http-equiv="pragma" content="no-cache" />
<meta name="apple-mobile-web-app-status-bar-style" content="black">
<!--<link rel="stylesheet" type="text/css" href="../../css/bootstrap.min.css" />-->
<link rel="stylesheet" type="text/css" href="../../css/main.css" />
<link rel="stylesheet" type="text/css" href="../../css/onlineSearch.css" />
<title>在线咨询</title>
</head>

<body>
  <header>
		<a id="goBack" class="goback" href="javascript:;">
			<img src="../../images/backtrack.png" alt="" />
			<span id="goBackText">返回</span>
		</a>
		<h1 id="theme">在线咨询</h1>
	</header>

  <div>
  	<!--遍历的医护列表-->
    <div class="synopsis">

      <!--<img class="synopsis-img" src="../../images/avatar.png" />
      <div class="synopsis-text">
	    <div class="doctor" id="doctorName"><span>刘继芬</span><span>
                      <ul class="evaluate-ul">	<li class="evaluate-ul-li">
							<div class="evaluateNumber">
								<img class="evaluateNumber-img" src="../../images/star2.png" alt="" />
								<img class="evaluateNumber-img" src="../../images/star2.png" alt="" />
								<img class="evaluateNumber-img" src="../../images/star2.png" alt="" />
								<img class="evaluateNumber-img" src="../../images/star2.png" alt="" />
								<img class="evaluateNumber-img" src="../../images/star2.png" alt="" />
								<span class="evaluateNumber-number">0分</span></div> </li></ul></span></div>
		<div class="doctor"><span class="doctor-main">副主任医师</span>
			<span class="doctor-major">耳鼻喉科</span>	</div>
		<div class="doctor-specialty">擅长：慢性鼻炎、鼻息肉、过敏性鼻炎、鼻中隔偏曲、耳鸣</div></div>
    <div class="clear"></div><div class="consulting-method">
    	<div class="consulting-model chat">
    	<div class="cousulting-method-img"><img src="../../images/information.png" alt=""></div>
        <div class="cousulting-method-text">
        	<h6>图文咨询</h6><span>免费</span><p>通过文字、图片、语音和医生在线问诊</p>
        </div></div><div class="clear"></div><div class="consulting-model telephone">
    	<div class="cousulting-method-img"><img src="../../images/telephone-blue.png" alt=""></div>
        <div class="cousulting-method-text">
        	<h6>电话咨询</h6><span class="price"><i>￥15</i>/10分钟</span><p>预约医生，与医生通过电话在线问诊</p>
        </div></div></div></div>
    <div class="clear">-->
    	<div id="synopsis-none">
    	<img class="synopsis-all" src="../../images/onlineSearchNothing-bg.png" />
    	<span class="none-doctor">诊所暂无的医生？您可以</span>
    	</div>
    </div>


    <!--<div class="synopsis">
      <img class="synopsis-img" src="../../images/avatar.png" />
      <div class="synopsis-text">
	    <div class="doctor" id="doctorName">
                      <span>刘继芬</span>
                      <span>
                      <ul class="evaluate-ul">
					    	<li class="evaluate-ul-li">
							<div class="evaluateNumber">
								<img class="evaluateNumber-img" src="../../images/star2.png" alt="" />
								<img class="evaluateNumber-img" src="../../images/star2.png" alt="" />
								<img class="evaluateNumber-img" src="../../images/star2.png" alt="" />
								<img class="evaluateNumber-img" src="../../images/star2.png" alt="" />
								<img class="evaluateNumber-img" src="../../images/star2.png" alt="" />
								<span class="evaluateNumber-number">0分</span>
							</div>
					    </li>


				</ul>
                      </span>
        </div>
		<div class="doctor">
			<span class="doctor-main">副主任医师</span>
			<span class="doctor-major">耳鼻喉科</span>
		</div>
		<div class="doctor">擅长：慢性鼻炎、鼻息肉、过敏性鼻炎、鼻中隔偏曲、耳鸣</div>
	</div>
    <div class="clear"></div>
    <div class="consulting-method">
    	<div class="consulting-model chat">
    	<div class="cousulting-method-img"><img src="../../images/information.png" alt=""></div>
        <div class="cousulting-method-text">
        	<h6>图文咨询</h6>
            <span>免费</span>
            <p>通过文字、图片、语音和医生在线问诊</p>
        </div>
        </div>
        <div class="clear"></div>
        <div class="consulting-model telephone">
    	<div class="cousulting-method-img"><img src="../../images/video.png" alt=""></div>
        <div class="cousulting-method-text">
        	<h6>视频咨询</h6>
            <span class="price"><i>￥35</i>/10分钟</span>
            <p>通过在线视频的方式向医生咨询问诊</p>
        </div>
        </div>
    </div>
    </div>
    <div class="clear"></div>-->



    <div class="other-news">
    	<div class="another-doctor">
        	<p class="another-doctor-none">未找到您心仪的医生？您可以</p>
        </div>
        <div id="allDoctor" class="consultation">
        	<div class="consultation-text">
            	<h6>咨询全国医生</h6>
                <p>各科名医，对症咨询，在线问诊</p>
            </div>
            <div class="consultation-img">
            	<img src="../../images/news.png" alt="">
            </div>
        </div>
        <div class="consultation">
        	<div class="consultation-text none-border">
            	<h6>咨询华方客服</h6>
                <p>疾病导诊，精准就医，电话预约</p>
            </div>
            <div id="callPhone" class="consultation-img">
            	<img src="../../images/dial-phone.png" alt="">
            </div>
        </div>
    </div>



  </div>
</body>

<!-- 打电话 -->
<div id="phoneShade" class="shade">
  <div class="modelAffirm">
    <div class="promptContent">
      <h4>咨询华方客服</h4>
      <p>您确定要拨打400-900-1515吗?</p>
    </div>
    <div class="promptBtn clearfix">
      <a href="javascript:;" class="cancelBtn">取消</a>
      <a href="tel:400-900-1515" class="sureBtn">确认</a>
    </div>
  </div>
</div>

<script src="../../resource/js/jquery-2.1.1.min.js" type="text/javascript" charset="utf-8"></script>
<script src="../../resource/js/common.js" type="text/javascript" charset="utf-8"></script>
<!--<script src="../../resource/js/bootstrap.min.js" type="text/javascript" charset="utf-8"></script>-->
<script src="inc/onlineSearch.js" type="text/javascript" charset="utf-8"></script>
</html>
