<!doctype html>
<html>
<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
<meta name="apple-mobile-web-app-capable" content="yes">
<meta http-equiv="pragma" content="no-cache" />
<meta name="apple-mobile-web-app-status-bar-style" content="black">
<!--<link rel="stylesheet" type="text/css" href="../../css/bootstrap.min.css" />-->
<link rel="stylesheet" type="text/css" href="../../css/main.css" />
<link rel="stylesheet" type="text/css" href="../../css/onlineSearchNothing.css" />
<title>在线咨询</title>
</head>

<body>
	<header>
		<a id="goBack" class="goback" href="medicIndex.html">
			<img src="../../images/backtrack.png" alt="" />
			<span id="goBackText">返回</span>
		</a>
		<h1 id="theme">在线咨询</h1>
	</header>
  <div>
    <div class="clear"></div>
    <div class="clear"></div>
    <div class="other-news">
    	<div class="another-doctor">
        	<img src="../../images/onlineSearchNothing-bg.png" alt="">
        	<p>诊所暂无的医生？您可以</p>
        </div>
        <div class="consultation">
        	<div class="consultation-text">
            	<h6>咨询全国医生</h6>
                <p>各科名医，对症咨询，在线问诊</p>
            </div>
            <div class="consultation-img">
            	<img src="../../images/news.png" alt="">
            </div>
        </div>
        <div class="consultation">
        	<div class="consultation-text none-border">
            	<h6>咨询华方客服</h6>
                <p>疾病导诊，精准就医，电话预约</p>
            </div>
            <div id="dial" class="consultation-img">
            	<img src="../../images/dial-phone.png" alt="">
            </div>
        </div>
    </div>



  </div>
</body>
<!--上传图片-->
	 <div id="dialMain">
		<div id="dialMain-first">
        	<h4>咨询华方客服</h4>
            <p>您确认要拨打400-900-1515吗？</p>
        </div>
		<div id="dialMain-second">
			<div id="dialMain-close" class="dialMain-address">
				<a href="">取消</a>
			</div>
			<div class="dialMain-address">
				<a href="">确认</a>
			</div>

		</div>
	</div>
    <!--提示信息-->


	<!--蒙版层-->
	<div id="modal" style="display: none;position: absolute;top: 0;z-index: 1;opacity: 0.5;"></div>

<script src="../../resource/js/jquery-2.1.1.min.js" type="text/javascript" charset="utf-8"></script>
<script src="../../resource/js/common.js" type="text/javascript" charset="utf-8"></script>
<script src="../../resource/js/bootstrap.min.js" type="text/javascript" charset="utf-8"></script>
<script src="../../resource/js/onlineSearchNothing.js" type="text/javascript" charset="utf-8"></script>
</html>
