<!doctype html>
<html>
<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
<meta name="apple-mobile-web-app-capable" content="yes">
<meta http-equiv="pragma" content="no-cache" />
<meta name="apple-mobile-web-app-status-bar-style" content="black">
<!--<link rel="stylesheet" type="text/css" href="../../css/bootstrap.min.css" />-->
<link rel="stylesheet" type="text/css" href="../../css/main.css" />
<link rel="stylesheet" type="text/css" href="../../css/testdetails.css" />
<title>血脂检验</title>
</head>

<body>
<div>
<div class="carousel"  id="bannerpic">
  <span class="return"><a href="../medic/featurereserve.html"><img src="../../images/return.png" alt="返回" /></a></span>
</div>
<div class="blood-introduce">
  <ul id="servertype">
  	<li>
    	<span class="introduce-text-left" id="itemName"></span>
        <span class="introduce-text-right"><i>￥<span id="oldprice"></span></i>￥<span id="nowprice"></span></span>
    </li>
    <div class="clear"></div>
  	<li>
    	<span class="introduce-test-left" id="desp"></span>
        <span class="introduce-test-right">已<span id="usercount"></span>人预约</span>
    </li>
  </ul>
</div>
<div class="clear"></div>
<div class="contnet">
	<div class="service-contnet">
    	<h4>————&nbsp;服务内容&nbsp;————</h4>
        <ul>
        	<li class="testing">
            	<span class="testing-img"><img src="../../images/blood-icon1-orange.png" alt="" /></span>
                <span class="testing-text">
                	<h5>检测项一</h5>
                    <p>保证每位患者15分钟的就诊时间，一对一医生沟通，能够与医生有充分的交流</p>
                </span>
            </li>
        	<li class="testing">
            	<span class="testing-img"><img src="../../images/blood-icon2-orange.png" alt="" /></span>
                <span class="testing-text">
                	<h5>检测项二</h5>
                    <p>医生上门进行检查、康复用药指导<br>护士上门进行慢病护理、术后护理、母婴护理</p>
                </span>
            </li>
        	<li class="testing">
            	<span class="testing-img"><img src="../../images/blood-icon3-orange.png" alt="" /></span>
                <span class="testing-text">
                	<h5>检测项三</h5>
                    <p>高血压、糖尿病、高血脂等慢病居家智能设备检测，数据实时上传，医生在线分析，个性化指导</p>
                </span>
            </li>
        </ul>
    </div>
    <div class="service-process">
    	<h4>————&nbsp;服务流程&nbsp;————</h4>
        <ul>
        	<li class="step process-one">
            	<span class="step-img"><img src="../../images/blood-process1-orange.png" alt="" /></span>
                <p>在线预约</p>

            </li>
        	<li class="step process-two">
            	<span class="step-img"><img src="../../images/blood-process2-orange.png" alt="" /></span>
               	<p>检测报告</p>
            </li>
        	<li class="step process-three">
            	<span class="step-img"><img src="../../images/blood-process3-orange.png" alt="" /></span>
                <p>医护随访</p>
            </li>
        </ul>
    </div>
    <div class="common-problem">
    	<h4>————&nbsp;常见问题&nbsp;————</h4>
        <div class="question">
        	<h6>Q:服务城市</h6>
            <p>A:暂时仅提供杭州市内服务</p>
        </div>
        <div class="question">
        	<h6>Q:服务时间</h6>
            <p>A:预约时间：预约时间当天到店消费即可</p>
        </div>
        <div class="question">
        	<h6>Q:服务须知</h6>
            <p>A:到店消费向店家出示预约码，若未按时消费，系统自动取消订单并退款，请重新预约，有任何问题可致电400-900-1515</p>
        </div>
    </div>
</div>
<div class="clear"></div>
<div class="submit-button"><a class="submit-button-a" href="choiceClinic.html">立即预约</a></div>


  </div>
</body>

<script src="../../resource/js/jquery-2.1.1.min.js" type="text/javascript" charset="utf-8"></script>
<script src="../../resource/js/common.js" type="text/javascript" charset="utf-8"></script>
<!--<script src="../../resource/js/bootstrap.min.js" type="text/javascript" charset="utf-8"></script>-->
<script src="../../resource/js/testdetails.js" type="text/javascript" charset="utf-8"></script>
</html>
