<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta http-equiv="pragma" content="no-cache" />
		<meta name="apple-mobile-web-app-status-bar-style" content="black">
		<link rel="stylesheet" type="text/css" href="../../css/main.css" />
		<link rel="stylesheet" type="text/css" href="../../css/article.css" />
		<title>科普文章</title>
		<style type="text/css">

		</style>
		<script type="text/javascript">
			//如果未登录则跳至登录页
			if(!JSON.parse(localStorage.getItem("user"))) {
				sessionStorage.setItem("noLogin", location.href.split("PP2.0/views")[1]); //登录时接收，登陆后跳回此页面
				location.href = "../login/login.html";
			}
		</script>
	</head>

	<body>
		<header>
			<a id="goBack" class="goback" href="javascript:historyBack();">
				<img src="../../images/backtrack.png" alt="" />
				<span id="goBackText">返回</span>
			</a>
			<h1 id="theme">科普文章</h1>
		</header>
		<div>
			<ul id="articleListAll" class="articleList-ul">

			</ul>
		</div>
		<div id="articleParticulars">
			<ul id="articleParticulars-ul">

				<!--<li class="articleParticulars-li">
					<div class="articleParticulars-li-list">
						<img class="articleParticulars-img" src="../../images/choose.png" />
						<div class="articleParticulars-title">
							<h4>吃什么补肾好吃什么肾好吃什么补肾好</h4>
							<section>22112ijioei12jmjmkd1kj213333333333333333333333</section>
						</div>
					</div>
					<div class="creatTime">
						<img class="creatTime-clock" src="../../images/publishTime.png" />
						<span class="creatTime-span">2017-11-12</span>
						<div class="admire"><img class="admire-eye" src="../../images/eye.png" />
							<span class="examine">1231</span>-->
							<!--未关注-->
							<!--<span class="recognition  recognition-affirm">
								<img class="admire-img" src="../../images/likeNo.png" />
							<span class="appreciate appreciate-affirm">212</span>
							</span>-->
							<!--已关注-->
							<!--<span class="recognition  recognition-cancel" style="display: none;"><img class="admire-img" src="../../images/likeYes.png" />
							<span class="appreciate appreciate-recognition-affirm">212</span></span>
						</div>
					</div>
				</li>-->

			</ul>
			<div style="color:#D0D0D0; text-align:center;padding:.5rem 0 1rem;">
				<p id="nomore" style="display:none;">~没有更多内容了~</p>
				<p id="loading" style="display:none;"><img src="../../images/loading.gif" alt="" width="25"></p>
			</div>
		</div>
		<script src="../../resource/js/jquery-2.1.1.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="../../resource/js/common.js" type="text/javascript" charset="utf-8"></script>
		<script src="inc/article.js" type="text/javascript" charset="utf-8"></script>

</html>
<script type="text/javascript">
</script>
