<!doctype html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no, minimal-ui" />
<meta name="apple-mobile-web-app-capable" content="yes" />
<meta http-equiv="Expires" content="0">
<meta http-equiv="Pragma" content="no-cache">
<meta http-equiv="Cache-control" content="no-cache">
<meta http-equiv="Cache" content="no-cache">
<meta name="apple-mobile-web-app-status-bar-style" content="black">
<!--<link rel="stylesheet" type="text/css" href="../../css/bootstrap.min.css" />-->
<link rel="stylesheet" type="text/css" href="../../css/main.css" />
<link rel="stylesheet" type="text/css" href="../../css/attendingPerson.css" />

<title class="outpatientTheme">选择受诊人</title>
</head>

<body>
  <header>
    <a id="goBack" class="goback" href="javascript:;">
      <img src="../../images/backtrack.png" alt="" />
      <span id="goBackText">返回</span>
    </a>
    <h1 id="theme" class="outpatientTheme">选择受诊人</h1>
  </header>

  <div>
    <div class="patient-information">
      <div class="patient-details">
      	<ul id="patient_information_details">
          <!-- <li class="patient-information-details" data-id="'+ obj.id +'">
          <span class="userName">某某某</span>
            <a class="attending-person" href="javascript:;">
            <span class="sex">男</span>
             /
            <span class="age">26岁</span>
              /
            <span class="phone">14525645433</span>
          </a>
          </li> -->
      	</ul>
      </div>

    </div>
    <div class="submit-button"><a class="submit-button-a" href="javascript:;">添加受诊人</a></div>
  </div>
</body>
<script src="../../resource/js/jquery-2.1.1.min.js" type="text/javascript" charset="utf-8"></script>
<script src="../../resource/js/common.js" type="text/javascript" charset="utf-8"></script>
<!-- <script src="../../resource/js/bootstrap.min.js" type="text/javascript" charset="utf-8"></script> -->
<script src="../../resource/js/attendingPerson.js" type="text/javascript" charset="utf-8"></script>
</html>
