<!doctype html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no, minimal-ui" />
<meta name="apple-mobile-web-app-capable" content="yes" />
<meta http-equiv="Expires" content="0">
<meta http-equiv="Pragma" content="no-cache">
<meta http-equiv="Cache-control" content="no-cache">
<meta http-equiv="Cache" content="no-cache">
<meta http-equiv="pragma" content="no-cache" />
<meta name="apple-mobile-web-app-status-bar-style" content="black">
<link rel="stylesheet" type="text/css" href="../../css/main.css" />
<link rel="stylesheet" type="text/css" href="../../css/bloodTestNews.css" />

<title class="outpatientTheme">血脂检测</title>
</head>

<body>
  <header>
    <a id="goBack" class="goback" href="javascript:;">
      <img src="../../images/backtrack.png" alt="" />
      <span id="goBackText">返回</span>
    </a>
    <h1 id="theme" class="outpatientTheme">血脂检测</h1>
  </header>
  <div>
    <div class="patient-information">
      <div class="patient-details">
      	<ul>
      		<li class="patient-information-details">受诊人<a id="choicePerson" class="attending-person" href="javascript:;"><span id="userName">请选择受诊人</span><img src="../../images/more.png" alt="" /></a></li>
            <li class="patient-information-details">联系方式<input id="phone" class="telephone-number" type="text" placeholder="请输入手机号" /></li>
            <li class="patient-information-details">
              预约时间
              <!-- <img class="arrow" src="../../images/more.png" alt="" /> -->
              <div style="float:right;">
                <input id="datatimedata" class="appointment-time" type="date" value="" required="true"/>
                <input id="datatimehour" class="appointment-time" type="time" value="" required="true"/>
              </div>
            </li>
            <li class="patient-information-details">服务地址<a id="choiceAddress" class="attending-person" href="javascript:;"><span id="serviceaddress">请选择服务地址</span><img src="../../images/more.png" alt="" /></a></li>
      		<li class="patient-information-details">提供服务<a id="hospitalname" class="age" href="javascript:;"></a></li>
            <li class="patient-information-details">服务费用<a class="age" href="javascript:;"><span id="server_price"></span>元一次</a></li>

      	</ul>
      </div>
      <div class="patient-message">
        <textarea  rows="4" maxlength="100" placeholder="留言：描述您当前的症状及想获得的帮助"></textarea>
      </div>
    </div>
    <div class="submit-button"><a class="submit-button-a" href="javascript:;">确认预约</a></div>
  </div>
</body>
<script src="../../resource/js/jquery-2.1.1.min.js" type="text/javascript" charset="utf-8"></script>
<script src="../../resource/js/jquery.validate.min.js" type="text/javascript" charset="utf-8"></script>
<script src="../../resource/js/common.js" type="text/javascript" charset="utf-8"></script>
<script src="../../resource/js/bloodTestNews.js" type="text/javascript" charset="utf-8"></script>
</html>
