<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta http-equiv="pragma" content="no-cache" />
		<meta name="apple-mobile-web-app-status-bar-style" content="black">
		<link rel="stylesheet" type="text/css" href="../../css/main.css" />
		<link rel="stylesheet" type="text/css" href="../../css/medicIndex.css" />
		<title>医护主页</title>
		<style type="text/css">
			.orderServe {
				color: #000000;
			}
		</style>
		<script type="text/javascript">
			//如果未登录则跳至登录页
			if(!JSON.parse(localStorage.getItem("user"))) {
				sessionStorage.setItem("noLogin", location.href.split("PP2.0/views")[1]); //登录时接收，登陆后跳回此页面
				location.href = "../login/login.html";
			}
		</script>
	</head>

	<body style="position: relative;">
		<header>
			<a id="goBack" class="goback" href="javascript:;">
				<img src="../../images/backtrack.png" alt="" />
				<span id="goBackText">返回</span>
			</a>
			<h1 id="theme">医护主页</h1>
			<span id="share">分享</span>
		</header>

		<div>
			<div class="synopsis">
				<img class="synopsis-img" alt="" />

				<div class="synopsis-text">
					<div class="doctor" id="doctorName"></div>
					<div class="doctor">
						<span class="doctor-main"></span>
						<span class="doctor-major"></span>
						<span class="doctor-suffer"></span>
					</div>
					<div class="doctor" id="hospital-name"></div>
				</div>
				<div class="attention">
					<img id="attention-img-no" class="attention-img" src="../../images/attentionNo.png" />
					<img id="attention-img-yes" style="display: none;" class="attention-img" src="../../images/attentionYes.png" />
					<span class="attention-content"> </span>
				</div>
				<div class="synopsis-footer">
					<div class="synopsis-footer-div">
						<div class="footerNumber" id="serviceNum">0</div>
						<div class="footerContent">服务人次</div>
					</div>
					<div class="synopsis-footer-div">
						<div id="doctorFans" class="footerNumber">0</div>
						<div class="footerContent">粉丝人数</div>
					</div>
					<div class="synopsis-footer-div">
						<div class="footerNumber" id="synthesize-grade">0</div>
						<div class="footerContent">综合评分</div>
					</div>
				</div>
			</div>
			<div class="serviceContent">
				<a id="consulting" class="orderServe isAsk" style="display: none;" href="javascript:;">
					<div class="serviceContent-template">
						<img class="serviceContent-img" src="../../images/information.png" />
						<span class="serviceContent-type">图文咨询</span>
						<!--<span id="serviceContent-image-text" class="serviceContent-number">1111</span>-->
					</div>
				</a>
                <a id="phoneCall" class="orderServe isPhone" style="display: none;" href="javascript:;">
				<div class="serviceContent-template">
					<img class="serviceContent-img" src="../../images/telephone-blue.png" />
					<span class="serviceContent-type">电话咨询</span>
					<!--<span class="serviceContent-number">暂未开通</span>-->
				</div>
				</a>
				<a id="outpatient" class="orderServe isReservation" href="javascript:;"  style="display: none;">
					<div class="serviceContent-template">
						<img class="serviceContent-img" src="../../images/outpatient.png" />
						<span class="serviceContent-type">门诊预约</span>
						<!--<span id="countAppointDocByDept" class="serviceContent-number">1111</span>-->
					</div>
				</a>
            <a id="visitingService" class="orderServe isVisit" style="display: none;" href="javascript:;">
				<div class="serviceContent-template">
					<img class="serviceContent-img" src="../../images/server_1.jpg" />
					<span class="serviceContent-type">特色服务</span>
					<!--<span id="countSpecialService" class="serviceContent-number">1111</span>-->
				</div>
			</a>
			<a id="AgencyAppointment" class="orderServe" href="javascript:;" style="display: none;">
				<div class="serviceContent-template" >
					<img class="serviceContent-img" src="../../images/house_gray.png" />
					<span class="serviceContent-type">机构预约</span>
					<!--<span id="countAppointByHos" class="serviceContent-number">1111</span>-->
				</div>
			</a>
				<div class="clear" style="clear: both;"></div>
			</div>
			<div class="introduction">
				<div class="introduction_message" style="margin-bottom:1rem;">
					<span class="introduction-title">专业擅长:</span>
					<span id="diseaseLabel" class="introduction-content"></span>
				</div>
				<div class="introduction-particulars">
					<span class="introduction-title">个人简介:</span>
					<span id="introduction-content-span" class="introduction-content"></span>
				</div>
				<div id="apostrophe" style="display: none;">
					<img class="apostrophe-img" id="pull-down" style="transform: rotate(0);" src="../../images/pull-down.png" />
					<img class="apostrophe-img" id="pull-up" style="display: none;transform: rotate(180deg);" src="../../images/pull-down.png" />
				</div>
			</div>
			<div id="article">
				<div class="article-header">
					<span class="article-title-left">科普文章</span>
					<a id="moreArticle" href="javascript:;">
						<span class="article-title-right">
					    <span>更多文章</span>
						<img class="moreImg" src="../../images/more.png" />
						</span>
					</a>
				</div>

				<ul class="article-list">
					<li class="article-list-li" style="display: none;">
						<img class="article-list-li-img" src="../../images/recommendation.png" />
						<span class="article-list-li-span">11111</span>
						<input type="hidden">
					</li>
				</ul>
			</div>
			<div class="evaluate">
				<div class="article-header">
					<span id="levauateVoListlength" class="article-title-left">用户评价(33)</span>
					<a id="moreEvaluate">
						<span class="article-title-right">
					<span>查看更多评论</span>
						<img src="../../images/more.png" />
						</span>
					</a>
				</div>
				<div id="nothing" class="nothing" style="display: none;">医护还未收到任何评价 T^T</div>
				<div id="havaSomething">
					<ul class="evaluate-ul">
						<li class="evaluate-ul-li" style="display: none;">
							<img class="evaluate-ul-li-img" src="../../images/account.png" />

							<div class="evaluate-ul-li-div">
								<span class="evaluate-ul-li-name">笑话</span>
							</div>

							<span class="evaluate-ul-li-time">2017年9月9日 12:10:00</span>

							<div class="evaluateNumber">
								<img class="evaluateNumber-img" src="../../images/star2.png" alt="" />
								<img class="evaluateNumber-img" src="../../images/star2.png" alt="" />
								<img class="evaluateNumber-img" src="../../images/star2.png" alt="" />
								<img class="evaluateNumber-img" src="../../images/star2.png" alt="" />
								<img class="evaluateNumber-img" src="../../images/star2.png" alt="" />
								<span class="evaluateNumber-number">0分</span>
							</div>
							<div class="evaluate-content">
								<span class="evaluate-content-span">还不错哦</span>

							</div>
						</li>
					</ul>
				</div>
			</div>
		</div>

	</body>

	<!--模态框弹出层-->
	<div id="modal-div">
		<div id="modal-div-first" class="modal-div-div">
			<div style="font-size:1.4rem;">取消关注</div>
			<div id="modal-div-first-second">您确认要取消关注吗？</div>
		</div>
		<div id="modal-div-second" class="modal-div-div estimate">取消</div>
		<div id="modal-div-three" class="modal-div-div estimate">确认</div>
	</div>

	<!--分享-->
	<div id="shareMain">
		<div id="shareMain-first">分享给好友,好医护要让更多人知道</div>
		<div id="shareMain-second">
			<div class="shareMain-address">
				<a href=""><img src="../../images/share1.png" /></a>
				<span>朋友圈</span>
			</div>
			<div class="shareMain-address">
				<a href=""><img src="../../images/share2.png" /></a>
				<span>新浪微博</span>
			</div>
			<div class="shareMain-address">
				<a href=""><img src="../../images/share3.png" /></a>
				<span>手机QQ</span>
			</div>
			<div class="shareMain-address">
				<a href=""><img src="../../images/share4.png" /></a>
				<span>微信好友</span>
			</div>
			<div class="shareMain-address" style="clear:both;">
				<a href=""><img src="../../images/share5.png" /></a>
				<span>QQ空间</span>
			</div>
		</div>
		<div id="shareMain-close">关 闭</div>
	</div>
	<!--蒙版层-->
	<div id="modal" style="display: none;position: absolute;top: 0;z-index: 1;opacity: 0.5;">
		<div class="modal-cancel" style="width: 100%;">
		</div>
	</div>
	<!--蒙版层1-->
	<div id="modal1" style="display: none;position: absolute;top: 0;z-index: 1;background: rgba(0,0,0,.5);">
		<div class="modal-cancel" style="width: 100%;">
		</div>

		<div id="shareMainPosition">
			<img id="shareImg" src="../../images/shareImg.png" alt="" />
		</div>
	</div>
	<script src="../../resource/js/jquery-2.1.1.min.js" type="text/javascript" charset="utf-8"></script>
	<script src="../../resource/js/common.js" type="text/javascript" charset="utf-8"></script>
	<script src="http://res.wx.qq.com/open/js/jweixin-1.2.0.js" type="text/javascript" charset="utf-8"></script>
	<script src="../../resource/js/validate_h5.js" type="text/javascript" charset="utf-8"></script>
	<script src="../../resource/js/share.js" type="text/javascript" charset="utf-8"></script>
	<script src="inc/medicIndex.js" type="text/javascript" charset="utf-8"></script>

</html>
<script type="text/javascript">
</script>
