 <!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>在线药房</title>
	<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta http-equiv="pragma" content="no-cache" />
	<meta name="apple-mobile-web-app-status-bar-style" content="black">
	<link rel="stylesheet" type="text/css" href="../../css/bootstrap.min.css" />
  <link rel="stylesheet" type="text/css" href="../../css/main.css" />
	<link rel="stylesheet" type="text/css" href="../../css/featurereserve.css" />
	<!-- <script>
        var shuping = 'onorientationchange' in window ? 'orientationchange' : 'resize';
        var isAndorid = /(Android)/i.test(navigator.userAgent);
        var timer = null;

        //设置字体
        function setFontSize(){
            // var w = window.innerWidth;
            var w = document.documentElement.clientWidth || document.body.clientWidth;
            document.documentElement.style.fontSize = 100*w/750 + 'px';
        }
        setFontSize();

        //手机横竖屏时 改变大小，Andorid手机切换有延迟 故开定时器
        window.addEventListener(shuping, function (){
            clearTimeout(timer);
            timer = setTimeout(setFontSize, isAndorid?300:0);
        }, false);
	</script> -->
</head>
<body>
  <header>
    <a id="goBack" class="goback" href="../main/index.html">
      <img src="../../images/backtrack.png" alt="" />
      <span id="goBackText">返回</span>
    </a>
    <h1 id="theme">在线药房</h1>
		<a class="share" href="featureSubscribe.html"><span id="share"><i></i></span></a>
  </header>
	<section class="fr_main" style="padding:3rem 0 4rem;">
		<div class="fr_container clearfix">
			<div class="fr_left pull-left">
				<ul class="fr_list" id="fr_list">
					<li>
						<a href="javascript:;" class="picactive">
							<div class="iconbox" ><img class="icon1" src="../../images/l-icon-1.png" alt=""></div>
							<div class="icondes">全部预约</div>
						</a>
					</li>
				</ul>
			</div>
			<div class="fr_right pull-right">
				<div class="fr_rightPos">
					<!--<div class="fr_ecovery">-->
						<!--<h3><span>陪诊类</span> - 体检、伤口、雾化、导尿等服务</h3>-->
						<!--<div class="fr_ecoverylist">-->
							<!--<ul>-->
								<!--<li>-->
									<!--<a href="../myClinic/testdetails.html">-->
										<!--<div class="r_list_head">-->
											<!--<span><img src="../../images/r-icon-1.png" alt=""></span>-->
										<!--</div>-->
										<!--<div class="r_list_des">-->
											<!--<p class="defaulticon">默认icon</p>-->
											<!--<p class="reserveper"><span>123</span>人预约</p>-->
											<!--<p class="price">-->
												<!--<span class="now"><span class="nowprice">298</span>元/次</span><span class="old">(原价<span clsss="oldprice">600</span>)</span>-->
											<!--</p>-->
										<!--</div>-->
									<!--</a>-->
								<!--</li>-->
							<!--</ul>-->
						<!--</div>-->
					<!--</div>-->
				</div>
			</div>
		</div>
	</section>
	<div class="footer" id="footer">
    	<ul>
    		<li class="online-footer" data-id="7" id="4"><a href="javascript:;">在线药房</a></li>
    	</ul>
    </div>
	<script src="../../resource/js/jquery-2.1.1.min.js" type="text/javascript" charset="utf-8"></script>
	<script src="../../resource/js/common.js" type="text/javascript" charset="utf-8"></script>
	<script src="../../resource/js/bootstrap.min.js" type="text/javascript" charset="utf-8"></script>
	<script src="../../resource/js/featurereserve.js" type="text/javascript" charset="utf-8"></script>
	<script type="text/javascript">
	   init3(7,0);
	</script>
</body>
</html>
