<!doctype html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no, minimal-ui" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta http-equiv="Expires" content="0">
    <meta http-equiv="Pragma" content="no-cache">
    <meta http-equiv="Cache-control" content="no-cache">
    <meta http-equiv="Cache" content="no-cache">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <!--<link rel="stylesheet" type="text/css" href="../../css/bootstrap.min.css" />-->
    <link rel="stylesheet" type="text/css" href="../../css/main.css" />
    <link rel="stylesheet" type="text/css" href="../../css/onlineConsulting.css"/>
    <title>在线咨询</title>
    <script type="text/javascript">
			//如果未登录则跳至登录页
			if(!JSON.parse(localStorage.getItem("user"))) {
				sessionStorage.setItem("noLogin", location.href.split("PP2.0/views")[1]); //登录时接收，登陆后跳回此页面
				location.href = "../login/login.html";
			}
		</script>
</head>

<body>
<header>
  <a id="goBack" class="goback" href="javascript:;">
    <img src="../../images/backtrack.png" alt="" />
    <span id="goBackText">返回</span>
  </a>
  <h1 id="theme">在线咨询</h1>
</header>

<div style="padding-bottom:10rem;">
    <div class="synopsis">
        <img class="synopsis-img" src="" alt="" />

        <div class="synopsis-text">
            <div class="doctor" id="doctorName">
                <span></span>
                      <span>
                      <ul class="evaluate-ul">
                          <li class="evaluate-ul-li">
                              <div class="evaluateNumber">
                                  <img class="evaluateNumber-img" src="../../images/star2.png" alt=""/>
                                  <img class="evaluateNumber-img" src="../../images/star2.png" alt=""/>
                                  <img class="evaluateNumber-img" src="../../images/star2.png" alt=""/>
                                  <img class="evaluateNumber-img" src="../../images/star2.png" alt=""/>
                                  <img class="evaluateNumber-img" src="../../images/star2.png" alt=""/>
                                  <span class="evaluateNumber-number">0分</span>
                              </div>
                          </li>


                      </ul>
                      </span>
            </div>
            <div class="doctor">
                <span class="doctor-main"></span>
                <span class="doctor-major"></span>
            </div>
            <div class="doctor" id="doctor-specialty"></div>
        </div>
    </div>
    <div class="patient-information">
        <div class="attending-person">
            受诊人<a id="choicePerson" class="attending-person-details" href="javascript:;"><span>请选择受诊人</span><img src="../../images/more.png" alt=""/></a>
        </div>
        <div class="patient-describe">
            <textarea id="diseaseDesp" rows="4" placeholder="请详细描述您的病症、疾病和身体状况，便于医生更准确地分析，华方将确保您的隐私安全。"></textarea>
        </div>
        <div class="upload-picture">
            <div class="upload-button">
                <a id="upload" href="javascript:;"><img src="../../images/upload-picture.png" alt=""></a>
                <h6>上传图片</h6>

                <p>病症部位、检查报告或其他病情资料</p>
            </div>
            <div class="img-box full">
              <section class=" img-section">
                <!-- <p class="up-p">作品图片：<span class="up-span">最多可以上传5张图片，马上上传</span></p> -->
                <div class="z_photo upimg-div clear" >
                 <section class="z_file fl">
                  <img src="" class="add-img">
                  <form id="picUp" enctype="multipart/form-data" method="post">
                    <!--<input type="file" name="files" id="file" class="file" value="" accept="image/*;capture=camera" />-->
                    <input type="hidden" name="files" id="file" class="file" value="" />-
                  </form>
                 </section>
                </div>
               </section>
            </div>
                <aside class="mask works-mask">
              <div class="mask-content">
                <p class="del-p">您确定要删除作品图片吗？</p>
                <p class="check-p">
                	<span class="wsdel-no">取消</span>
                	<span class="del-com wsdel-ok">确定</span>
                </p>
              </div>
            </aside>
        </div>
    </div>

    <div id="prompt" class="submit-button"><a class="submit-button-a" href="javascript:;">提交咨询</a></div>

</div>
</body>
<!--上传图片-->
<div id="uploadMain">
    <div id="uploadMain-first"><img src="../../images/upload-picture-icon.png" alt="">您上传的照片只有解答问题的医生可见</div>
    <div id="uploadMain-second">
        <div class="uploadMain-address"><a href="javascript:;"><img src="../../images/photo-icon.png" alt="">拍照</a></div>
        <div class="uploadMain-address"><a href="javascript:;"><img src="../../images/picture-icon.png" alt="">从相册中上传</a></div>
    </div>

    <div id="uploadMain-close">取消</div>
</div>
<!--提示信息-->
<div id="promptMain" style="display:none;">
    <div id="promptMain-first">
        <img src="../../images/dialog-tick.png" alt="">
        <h6>提交成功！</h6>

        <p><span id="timeout">2</span>秒后跳转详情...</p>
    </div>
</div>
<div id="returnMain" style="display:none;">
    <div id="returnMain-first">
        <img src="../../images/dialog-error.png" alt="">
        <h6>提交超时，请重新咨询</h6>

        <p><span>2</span>秒后返回...</p>
    </div>
</div>

<!--蒙版层-->
<div id="modal" style="display: none;position: absolute;top: 0;z-index: 1030;opacity: 0.5;">
    <div class="modal-cancel" style="width:100%;"></div>
</div>
<div id="mask" style="display: none;position: absolute;top: 0;z-index: 1030;opacity: 0.5;"></div>

<script src="../../resource/js/jquery-2.1.1.min.js" type="text/javascript" charset="utf-8"></script>
<script src="../../resource/js/common.js" type="text/javascript" charset="utf-8"></script>
<script src="http://res.wx.qq.com/open/js/jweixin-1.2.0.js" type="text/javascript" charset="utf-8"></script>
<script src="../../resource/js/upImages.js" type="text/javascript" charset="utf-8"></script>
<!--<script src="../../resource/js/bootstrap.min.js" type="text/javascript" charset="utf-8"></script>-->
<script src="../../resource/js/validate_h5.js" type="text/javascript" charset="utf-8"></script>
<script src="../../resource/js/imgUp.js" type="text/javascript" charset="utf-8"></script>
<script src="inc/onlineConsulting.js" type="text/javascript" charset="utf-8"></script>
</html>
