<!doctype html>
<html>

	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta http-equiv="pragma" content="no-cache" />
		<meta name="apple-mobile-web-app-status-bar-style" content="black">
		<!--<link rel="stylesheet" type="text/css" href="../../css/bootstrap.min.css" />-->
		<link rel="stylesheet" type="text/css" href="../../css/main.css" />
		<link rel="stylesheet" type="text/css" href="../../css/outpatientAppointment.css" />
		<title>门诊预约</title>
	</head>

	<body>
		<header>
			<a id="goBack" class="goback" href="javascript:;">
				<img src="../../images/backtrack.png" alt="" />
				<span id="goBackText">返回</span>
			</a>
			<h1 id="theme">门诊预约</h1>
		</header>
		<div id="content_Wrapper">
			<div class="synopsis">
				<img class="synopsis-img" src="" alt=""/>
				<div class="synopsis-text">
					<div class="doctor">
						<span id="doctorName"></span>
						<span>
                      <ul class="evaluate-ul">
					    	<li class="evaluate-ul-li">
							<div class="evaluateNumber">
								<img class="evaluateNumber-img" src="../../images/star2.png" alt="" />
								<img class="evaluateNumber-img" src="../../images/star2.png" alt="" />
								<img class="evaluateNumber-img" src="../../images/star2.png" alt="" />
								<img class="evaluateNumber-img" src="../../images/star2.png" alt="" />
								<img class="evaluateNumber-img" src="../../images/star2.png" alt="" />
								<span class="evaluateNumber-number">0分</span>
					</div>
					</li>

					</ul>
					</span>
				</div>
				<div class="doctor">
					<span class="doctor-main"></span>
					<span class="doctor-major"></span>
				</div>
				<div class="doctor" id="doctor-specialty"></div>
			</div>
		</div>
		<div class="schedule">
			<div id="composeWrapper" class="distable">
				<div id="composeType" class="distablerow">
					<!-- <div class="distablecell">排班</div> -->
					<!-- <div class="distablecell">白班</div> -->
					<!-- <div class="distablecell">夜班</div> -->
					<!-- <div class="distablecell">下午班</div> -->
					<!-- <div class="distablecell">急诊班</div> -->
				</div>
				<!-- <div class="distablerow contentLIst"> -->
					<!-- <div class="distablecell"> -->
						<!-- <div class="week_list"> -->
							<!-- <div>5-12</div> -->
							<!-- <div>星期三</div> -->
						<!-- </div> -->
					<!-- </div> -->
					<!-- <div class="distablecell"></div> -->
					<!-- <div class="distablecell"></div> -->
					<!-- <div class="distablecell"></div> -->
					<!-- <div class="distablecell"></div> -->
				<!-- </div> -->
				<!-- <div class="distablerow contentLIst"> -->
					<!-- <div class="distablecell week_list"> -->
						<!-- <div>5-12</div> -->
						<!-- <div>星期三</div> -->
					<!-- </div> -->
					<!-- <div class="distablecell subscribe_lattice"> -->
						<!-- <a href="javascript:;"> -->
							<!-- <div>预约</div> -->
							<!-- <div>剩余:9</div> -->
						<!-- </a> -->
					<!-- </div> -->
					<!-- <div class="distablecell"></div> -->
					<!-- <div class="distablecell"></div> -->
					<!-- <div class="distablecell"></div> -->
				<!-- </div> -->
				<!-- <div class="distablerow contentLIst"> -->
					<!-- <div class="distablecell week_list"> -->
						<!-- <div>5-12</div> -->
						<!-- <div>星期三</div> -->
					<!-- </div> -->
					<!-- <div class="distablecell"></div> -->
					<!-- <div class="distablecell"></div> -->
					<!-- <div class="distablecell"></div> -->
					<!-- <div class="distablecell"></div> -->
				<!-- </div> -->
			</div>
		</div>
		</div>
	</body>
	<script src="../../resource/js/jquery-2.1.1.min.js" type="text/javascript" charset="utf-8"></script>
	<script src="../../resource/js/common.js" type="text/javascript" charset="utf-8"></script>
	<!--<script src="../../resource/js/bootstrap.min.js" type="text/javascript" charset="utf-8"></script>-->
	<script src="inc/outpatientAppointment.js" type="text/javascript" charset="utf-8"></script>

</html>
