<!doctype html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no, minimal-ui" />
<meta name="apple-mobile-web-app-capable" content="yes" />
<meta http-equiv="Expires" content="0">
<meta http-equiv="Pragma" content="no-cache">
<meta http-equiv="Cache-control" content="no-cache">
<meta http-equiv="Cache" content="no-cache">
<meta name="apple-mobile-web-app-status-bar-style" content="black">
<!--<link rel="stylesheet" type="text/css" href="../../css/bootstrap.min.css" />-->
<link rel="stylesheet" type="text/css" href="../../css/main.css" />
<link rel="stylesheet" type="text/css" href="../../css/serviceAddress.css" />

<title>选择服务地址</title>
</head>

<body>
  <header>
    <a id="goBack" class="goback" href="javascript:;">
      <img src="../../images/backtrack.png" alt="" />
      <span id="goBackText">返回</span>
    </a>
    <h1 id="theme">选择服务地址</h1>
  </header>
  <div>
    <div class="patient-information">
      <div class="patient-details" id="patient_details">
      	<!-- <div class="service-address" data-id="1">
        	<h6>中国邮政储蓄<span class="default">【默认】</span></h6>
            <p>浙江省杭州市西湖区五常大道</p>
            <p>水立方科技园3座3单元-501A（汉庭酒店对面）</p>
        </div> -->
      </div>

    </div>
    <div class="submit-button"><a class="submit-button-a" href="javascript:;">添加服务地址</a></div>
  </div>
</body>
<script src="../../resource/js/jquery-2.1.1.min.js" type="text/javascript" charset="utf-8"></script>
<script src="../../resource/js/common.js" type="text/javascript" charset="utf-8"></script>
<script src="../../resource/js/bootstrap.min.js" type="text/javascript" charset="utf-8"></script>
<script src="../../resource/js/serviceAddress.js" type="text/javascript" charset="utf-8"></script>
</html>
