<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.rd.yum.kwms.dao.mapper.KwmsWareHouseMapper">
    
    <!-- 查询仓库管理信息 -->
    <select id="queryWareHouseInfo" parameterType="com.rd.yum.kwms.bean.request.KwmsQueryWareHouseInfoRequest" resultType="com.rd.yum.kwms.bean.vo.KwmsWareHouseInfoVo">
       SELECT 
		  guid,
		  warehouse_no AS "wareHouseNo",
		  warehouse_name AS "wareHouseName",
		  warehouse_type AS "wareHouseType",
		  warehouse_status AS "wareHouseStatus",
		  warehouse_contact AS "wareHouseContact",
		  contact_mobile AS "contactMobile",
		  warehouse_add AS "wareHouseAdd",
		  create_id AS "createId",
		  create_time AS "createTime",
		  update_id AS "updateId",
		  update_time AS "updateTime"
		from warehouse_info
		ORDER BY create_time asc
		LIMIT #{pageSize} OFFSET #{pageNo}
    </select>
     <!-- 查询仓库管理信息个数 -->
    <select id="queryWareHouseInfoCount"  resultType="int">
         SELECT count(guid) from warehouse_info
    </select>
    <!-- 根据id获取仓库信息 -->
    <select id="queryWareHouseInfoByGuid" parameterType="string" resultType="com.rd.yum.kwms.bean.vo.KwmsWareHouseInfoVo">
      SELECT 
		  guid,
		  warehouse_no AS "wareHouseNo",
		  warehouse_name AS "wareHouseName",
		  warehouse_type AS "wareHouseType",
		  warehouse_status AS "wareHouseStatus",
		  warehouse_contact AS "wareHouseContact",
		  contact_mobile AS "contactMobile",
		  warehouse_add AS "wareHouseAdd",
		  create_id AS "createId",
		  create_time AS "createTime",
		  update_id AS "updateId",
		  update_time AS "updateTime"
		from warehouse_info
		where guid=#{guid}
    </select>
    <!-- 更新仓库信息 -->
    <update id="updateWareHouseInfoByGuid"  parameterType="com.rd.yum.kwms.bean.vo.KwmsWareHouseInfoVo">
       update warehouse_info set
       <if test="wareHouseNo!=null and wareHouseNo!='' ">
        warehouse_no=#{wareHouseNo},
       </if>
       <if test="wareHouseName!=null and wareHouseName!='' ">
        warehouse_name=#{wareHouseName},
       </if>
       <if test="wareHouseType!=null">
        warehouse_type=#{wareHouseType},
       </if>
       <if test="wareHouseStatus!=null ">
        warehouse_status=#{wareHouseStatus},
       </if>
       <if test="wareHouseContact!=null and wareHouseContact!='' ">
        warehouse_contact=#{wareHouseContact},
       </if>
       <if test="contactMobile!=null and contactMobile!='' ">
        contact_mobile=#{contactMobile},
       </if>
       <if test="wareHouseAdd!=null and wareHouseAdd!='' ">
        warehouse_add=#{wareHouseAdd},
       </if>
        update_id=#{updateId},
        update_time=#{updateTime}
        where guid=#{guid}
    </update>
</mapper>