<!DOCTYPE html>
<html>

	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no, minimal-ui" />
		<meta name="apple-mobile-web-app-capable" content="yes" />
		<meta http-equiv="pragma" content="no-cache" />
		<meta name="apple-mobile-web-app-status-bar-style" content="black" />
		<meta name="format-detection" content="telephone=no, email=no" />
		<title>添加常用地址</title>
		<link rel="stylesheet" type="text/css" href="../../css/main.css" />
		<link rel="stylesheet" type="text/css" href="../../css/addoftenAddressMap.css" />

	</head>
	<style type="text/css">
		#l-map {
			width: 100%;
		}
	</style>

	<body>
		<header>
			<a id="goBack" class="goback" href="javascript:;">
				<img src="../../images/backtrack.png" alt="" />
				<span id="goBackText">返回</span>
			</a>
			<h1 id="theme">添加常用地址</h1>
		</header>
		<div>
			<div class="address_content">
				<div class="search">
					<div class="search_frame">
						<img class="search_img search_button" src="../../images/search_1.png" />
						<input id="suggestId" class="search_input" results="s" type="search" placeholder="搜索地址" />
					</div>
					<span class="search_span search_button">取消</span>

				</div>
				<div class="map">
					<div id="l-map"></div>
					<div id="r-result"></div>
				</div>
				<div class="sample_list">
					<ul class="sample_list_ul">
						<!--<li class="sample_list_li">
                          <a href="addoftenAddress.html">
							<div class="sample_list_li_div">
								<img class="sample_list_li_div_img" src="../../images/map_black.png" alt="">
								<h6 class="sample_list_li_div_h6">数字依维科技园</h6>
							</div>
							<p class="sample_list_li_p">杭州市余杭区连胜路10号1-5</p>
                          </a>
						</li>-->
					</ul>
				</div>
			</div>

		</div>

	</body>
	<script src="../../resource/js/jquery-2.1.1.min.js"></script>
	<script src="../../resource/js/common.js" type="text/javascript" charset="utf-8"></script>
	<script type="text/javascript" src="http://api.map.baidu.com/api?v=2.0&ak=3kuyg6SrGTgmTe4ZAOYpKciZzEH9PArY"></script>
	<script src="inc/addoftenAddressMap.js" type="text/javascript" charset="utf-8"></script>

</html>
<script type="text/javascript">
</script>
<!--<script src="http://api.map.baidu.com/geocoder/v2/?callback=renderReverse&location='+latitude+','+longitude+'&output=json&pois=1&ak=3kuyg6SrGTgmTe4ZAOYpKciZzEH9PArY" type="text/javascript" charset="utf-8"></script>-->
