<!doctype html>
<html>
<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
<meta name="apple-mobile-web-app-capable" content="yes">
<meta http-equiv="pragma" content="no-cache" />
<meta name="apple-mobile-web-app-status-bar-style" content="black">
<link rel="stylesheet" type="text/css" href="../../css/main.css" />
<link rel="stylesheet" type="text/css" href="../../css/appointmentDoctor.css" />

<title>预约挂号</title>
</head>
<style type="text/css">

</style>
<body style="position: relative;">
	<header>
		<a id="goBack" class="goback" href="../mine/mineIndex.html">
			<img src="../../images/backtrack.png" alt="" />
			<span id="goBackText">返回</span>
		</a>
		<div class="title newItem">
			<span id="outpatientTheme">预约挂号</span>
			<span class="pull-down-black"><img src="../../images/pull-down-black.png" alt=""></span>
		</div>
		<div class="title pullDownList" style="display: none;">
			<span id="outpatientTheme">预约挂号</span>
			<span class="pull-down-black"><img src="../../images/pull-down-black.png" alt=""></span>
		</div>
		<div class="otherType">
			<ul>
				<a href="appointmentdoor.html"><li class="otherType-list">预约上门</li></a>
				<a href="appointmentStore.html"><li class="otherType-list">专项服务</li></a>
				<a href="appointmentproduct.html"><li class="otherType-list">服务产品</li></a>
				<a href="javascript:;"><li class="otherType-list">预约就诊</li></a>
			</ul>
		</div>
	</header>
  <!--蒙版层-->
  <div id="model" style="position: absolute; width: 100%; z-index: 99; background-color: #000000; opacity: 0.5;"></div>

		<div class="titleTop">
			<div class="titleTop-list" data-status="ghdjz">
				<span class="titleTop-list-state default-status">待就诊</span>
			</div>
			<div class="titleTop-list" data-status="ywc">
				<span class="titleTop-list-state">已完成</span>
			</div>
			<div class="titleTop-list" data-status="dpj">
				<span class="titleTop-list-state">待评价</span>
			</div>
		</div>

  	<div class="technological_process_list">
     <ul id="contentList" class="indent">
     </ul>
   </div>
	 <div class="ajaxLoadMore">
			 <div class="noMore">~ 没有更多内容啦 ~</div>
			 <div class="ajaxLoading"><img src="../../images/loading.gif" alt=""></div>
	 </div>

	 <!-- 联系客服 -->
	<div id="callPhone" class="shade">
		<div class="modelAffirm">
			<div class="promptContent">
				<h4>联系客服</h4>
				<p>您确定要拨打400-900-1515吗?</p>
			</div>
			<div class="promptBtn clearfix">
				<a href="javascript:;" class="cancelBtn">取消</a>
				<a href="tel:400-900-1515" class="sureBtn">确认</a>
			</div>
		</div>
	</div>
       	<!--蒙版层-->
     	<!--<div class="masking" style="background-color: #000000; opacity: 0.5; display: none;">21313</div>-->
</body>
<script src="../../resource/js/jquery-2.1.1.min.js" type="text/javascript" charset="utf-8"></script>
<script src="../../resource/js/common.js" type="text/javascript" charset="utf-8"></script>
<script src="inc/appointmentDoctor.js" type="text/javascript" charset="utf-8"></script>
</html>
