<!DOCTYPE html>
<html>

	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no, minimal-ui" />
		<meta name="apple-mobile-web-app-capable" content="yes" />
		<meta http-equiv="pragma" content="no-cache" />
		<meta name="apple-mobile-web-app-status-bar-style" content="black" />
		<meta name="format-detection" content="telephone=no, email=no" />
		<title>设置</title>
		<link rel="stylesheet" type="text/css" href="../../css/main.css" />
		<link href="../../css/mineSetting.css" rel="stylesheet">

	</head>

	<body>
		<div class="my-content">
            <div class="function-data-model">
            	<ul>
            		<li class="attending-person">
                        <a class="function-data-model_ul_li_a" href="mineFeedback.html">
                    		<p class="function-model-name attending-person-name">意见反馈</p>
                    		<span class="img-next"><img src="../../images/next.png" alt=""></span>
                        </a>
                    </li>
                    <div class="clear"></div>
            		<li class="common-address">
                        <a class="function-data-model_ul_li_a" href="mineHelp.html">
                    		<p class="function-model-name common-address-name">使用帮助</p>
                    		<span class="img-next"><img src="../../images/next.png" alt=""></span>
                        </a>
                    </li>
                    <div class="clear"></div>
                    <!--<li class="attending-person">
                        <a class="function-data-model_ul_li_a" href="javascript:;">
                    		<p class="function-model-name attending-person-name">清除缓存</p>
                    		<span class="img-next"><img src="../../images/next.png" alt=""></span>
                            <span class="contact-customer-service-tel">50.26M</span>
                         </a>
                    </li>-->
                    <li class="attending-person">
                        <a class="function-data-model_ul_li_a" href="userAgreement.html">
                    		<p class="function-model-name attending-person-name">用户协议</p>
                    		<span class="img-next"><img src="../../images/next.png" alt=""></span>
                        </a>
                    </li>
                    <li class="contact-customer-service">
                        <a class="function-data-model_ul_li_a" href="javascript:;">
                    		<p class="function-model-name contact-customer-service-name">APP下载</p>
                    		<span class="img-next"><img src="../../images/next.png" alt=""></span>
                        </a>
                    </li>
            	</ul>
            </div>
            <div class="exit_login">
                <p class="exit_login_button">退出登录</p>
            </div>
        </div>


		<script src="../../resource/js/jquery-2.1.1.min.js"></script>
		<script src="../../resource/js/common.js" type="text/javascript" charset="utf-8"></script>
		<script src="inc/mineSetting.js" type="text/javascript" charset="utf-8"></script>


	</body>

</html>
