<!doctype html>
<html>
<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
<meta name="apple-mobile-web-app-capable" content="yes">
<meta http-equiv="pragma" content="no-cache">
<meta name="apple-mobile-web-app-status-bar-style" content="black">
<link rel="stylesheet" type="text/css" href="../../css/main.css" />
<link rel="stylesheet" type="text/css" href="../../css/mineFeedback.css" />
<title>意见反馈</title>
</head>

<body>
	<header>
		<a id="goBack" class="goback" href="javascript: history.back();">
			<img src="../../images/backtrack.png" alt="" />
			<span id="goBackText">返回</span>
		</a>
		<h1 id="theme">意见反馈</h1>
	</header>
  <div>
    <div class="proposal">
        <div class="proposal-content">
        	<textarea class="proposal-content-textraea" name="" id="" rows="8" placeholder="请输入反馈意见！"></textarea>
          <p class="contact_information_number"><span class="contact_information_number_span">200</span>个字</p>
        </div>
    </div>
    <div class="contact_information">
      <span class="contact_information_span">联系方式</span>
      <input class="contact_information_input" type="text" placeholder="请输入您的联系方式" />
    </div>
    <div class="submit-button"><a class="submit-button-a" href="javascript:;">提交</a></div>

  </div>
</body>
<!--上传图片-->

    <!--提示信息-->
<!--<div id="promptMain" style="display:none;">
		<div id="promptMain-first">
        	<img src="../../images/dialog-tick.png" alt="">
            <h6>提交成功！</h6>
            <p><span id="timeout">2</span>秒后跳转详情...</p>
        </div>
</div>
<div id="returnMain" style="display:none;" >
		<div id="returnMain-first">
        	<img src="../../images/dialog-error.png" alt="">
            <h6>提交超时，请重新咨询</h6>
            <p><span>2</span>秒后返回...</p>
        </div>
</div>        -->

	<!--蒙版层-->
	<!--<div id="modal" style="display: none;position: absolute;top: 0;z-index: 1;opacity: 0.5;">
      <div class="modal-cancel" style="width:100%;"></div>
    </div>
    <div id="mask" style="display: none;position: absolute;top: 0;z-index: 1;opacity: 0.5;"></div>-->

<script src="../../resource/js/jquery-2.1.1.min.js" type="text/javascript" charset="utf-8"></script>
<script src="../../resource/js/common.js" type="text/javascript" charset="utf-8"></script>
<script src="../../resource/js/bootstrap.min.js" type="text/javascript" charset="utf-8"></script>
<script src="inc/mineFeedback.js" type="text/javascript" charset="utf-8"></script>
</html>
