<!doctype html>
<html>
<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
<meta name="apple-mobile-web-app-capable" content="yes">
<meta http-equiv="pragma" content="no-cache" />
<meta name="apple-mobile-web-app-status-bar-style" content="black">
<!--<link rel="stylesheet" type="text/css" href="../../css/bootstrap.min.css" />-->
<link rel="stylesheet" type="text/css" href="../../css/main.css" />
<link rel="stylesheet" type="text/css" href="../../css/mineclinicnothing.css" />
<title>我的诊所</title>
</head>

<body>
	<header>
		<a id="goBack" class="goback" href="medicIndex.html">
			<img src="../../images/backtrack.png" alt="" />
			<span id="goBackText">返回</span>
		</a>
		<h1 id="theme">我的诊所</h1>
	</header>
  <div>
    <div class="clear"></div>
    <div class="other-news">
    	<div class="another-doctor">
        	<img src="../../images/onlineSearchNothing-bg.png" alt="">
        	<p>您暂无关注诊所 T^T</p>
        </div>

        <div class="clear"></div>
        <div class="recommend-clinic">
        	<div class="recommend-clinic-title">
            	<p>推荐诊所</p>
                <a href="javascript:;">
                <img src="../../images/more.png" alt="">
                <span>我周边的诊所</span></a>
            </div>
        	<ul>
        		<li class="cliniclist">
                	<div class="cliniclist_picture">
                        <img src="../../images/shop_2.png" alt="">
                        <div class="cliniclist_picture_text">
                            <span class="cliniclist_picture_text_span">自营诊所</span>
                        </div>
                    </div>
                    <div class="cliniclist_text">
                    	<h6 class="cliniclist_text_title">闲林山水居西医诊所</h6>
                        <div class="clinic-profile-distance">
                    		距我<span>0.6</span>km
                    	</div>
                        <div class="score-star">
                    		<i>
                        		<img src="../../images/star2.png"/>
                        	</i>
							<i>
                        		<img src="../../images/star2.png"/>
                        	</i>
							<i>
                        		<img src="../../images/star2.png"/>
                        	</i>
                        	<i>
                        		<img src="../../images/star2.png"/>
                        	</i>
                        	<i>
                        		<img src="../../images/star2.png"/>
                        	</i>
                        	<span class="score-text">5分</span>
                    	</div>
                        <p class="cliniclist_text_address">余杭区余杭街道狮山路558号余杭余杭区余杭街道狮山路558</p>
						<div class="clinic-more">
                    		<a href="javascript:;">
                    			<img src="../../images/more-spot.png" alt="">
                            </a>
                    	</div>
                    </div>
                </li>
                <li class="cliniclist">
                	<div class="cliniclist_picture">
                        <img src="../../images/shop_2.png" alt="">
                        <div class="cliniclist_picture_text">
                            <span class="cliniclist_picture_text_span">自营诊所</span>
                        </div>
                    </div>
                    <div class="cliniclist_text">
                    	<h6 class="cliniclist_text_title">闲林山水居西医诊所</h6>
                        <div class="clinic-profile-distance">
                    		距我<span>0.6</span>km
                    	</div>
                        <div class="score-star">
                    		<i>
                        		<img src="../../images/star2.png"/>
                        	</i>
							<i>
                        		<img src="../../images/star2.png"/>
                        	</i>
							<i>
                        		<img src="../../images/star2.png"/>
                        	</i>
                        	<i>
                        		<img src="../../images/star2.png"/>
                        	</i>
                        	<i>
                        		<img src="../../images/star2.png"/>
                        	</i>
                        	<span class="score-text">5分</span>
                    	</div>
                        <p class="cliniclist_text_address">余杭区余杭街道狮山路558号余杭余杭区余杭街道狮山路558</p>
						<div class="clinic-more">
                    		<a href="javascript:;">
                    			<img src="../../images/more-spot.png" alt="">
                            </a>
                    	</div>
                    </div>
                </li>
                <li class="cliniclist">
                	<div class="cliniclist_picture">
                        <img src="../../images/shop_2.png" alt="">
                        <div class="cliniclist_picture_text">
                            <span class="cliniclist_picture_text_span">自营诊所</span>
                        </div>
                    </div>
                    <div class="cliniclist_text">
                    	<h6 class="cliniclist_text_title">闲林山水居西医诊所</h6>
                        <div class="clinic-profile-distance">
                    		距我<span>0.6</span>km
                    	</div>
                        <div class="score-star">
                    		<i>
                        		<img src="../../images/star2.png"/>
                        	</i>
							<i>
                        		<img src="../../images/star2.png"/>
                        	</i>
							<i>
                        		<img src="../../images/star2.png"/>
                        	</i>
                        	<i>
                        		<img src="../../images/star2.png"/>
                        	</i>
                        	<i>
                        		<img src="../../images/star2.png"/>
                        	</i>
                        	<span class="score-text">5分</span>
                    	</div>
                        <p class="cliniclist_text_address">余杭区余杭街道狮山路558号余杭余杭区余杭街道狮山路558</p>
						<div class="clinic-more">

                    			<img src="../../images/more-spot.png" alt="">

                    	</div>
                    </div>
                </li>
        	</ul>

        </div>

        <div class="clear"></div>




        <!--<div id="attentionC-info" class="sec-info">
						<a href="" class="sec-info-link">
							<div class="sec-info-wrapper">
								<div class="sec-info-shop">
									<img id="recommendHospital-img" src="../../images/shop.png" class="img-responsive data-picUrl"></div>
								<div class="sec-info-company">
									<div class="distance"> 距我<span id="distance-mine" class="data-distance">0.6</span>km</div>
									<div class="company-title data-name">瑞尔口腔</div>
									<div id="hospitalGoal" class="star-point">
						<i>
                        	<img src="../../images/star2.png"/>
                        </i>
						<i>
                        	<img src="../../images/star2.png"/>
                        </i>
						<i>
                        	<img src="../../images/star2.png"/>
                        </i>
                        <i>
                        	<img src="../../images/star2.png"/>
                        </i>
                        <i>
                        	<img src="../../images/star2.png"/>
                        </i>
										<span class="score data-evaluationScore">5分</span></div>
									<div class="address data-address">西湖区江南大道143号江南星座2幢2单元 3-4层(政府对面)</div>
								</div>
							</div>

						</a>
					</div>-->
                    <div class="clear"></div>




    </div>



  </div>
</body>
<!--关注-->
	<div id="shareMain">
		<div id="shareMain-second">
			<div class="shareMain-address">
				<a href=""><img src="../../images/clinic-fllow-home_.png" /></a>
				<span>进入诊所</span>
			</div>
			<div class="shareMain-address">
				<a href=""><img src="../../images/fllow_ing.png" /></a>
				<span>取消关注</span>
			</div>
			<div class="shareMain-address">
				<a href=""><img src="../../images/follow_share.png" /></a>
				<span>分享</span>
			</div>

		</div>
		<div id="shareMain-close">取消</div>
	</div>

	<!--蒙版层-->
	<div id="modal" style="display: none;position: absolute;top: 0;z-index: 1;opacity: 0.5;">
      <div class="modal-cancel" style="width:100%;"></div>
    </div>

<script src="../../resource/js/jquery-2.1.1.min.js" type="text/javascript" charset="utf-8"></script>
<script src="../../resource/js/common.js" type="text/javascript" charset="utf-8"></script>
<script src="../../resource/js/bootstrap.min.js" type="text/javascript" charset="utf-8"></script>
<script src="inc/mineclinicnothing.js" type="text/javascript" charset="utf-8"></script>
</html>
