<!DOCTYPE html>
<html>

	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no, minimal-ui" />
		<meta name="apple-mobile-web-app-capable" content="yes" />
		<meta http-equiv="pragma" content="no-cache" />
		<meta name="apple-mobile-web-app-status-bar-style" content="black" />
		<meta name="format-detection" content="telephone=no, email=no" />
		<title>我的医护</title>
		<link rel="stylesheet" type="text/css" href="../../css/main.css" />
		<link rel="stylesheet" type="text/css" href="../../css/slideDelete.css" />
		<link href="../../css/mineMedic.css" rel="stylesheet">

	</head>

	<body>
		<header>
			<a id="goBack" class="goback" href="javascript:historyBack();">
				<img src="../../images/backtrack.png" alt="" />
				<span id="goBackText">返回</span>
			</a>
			<h1 id="theme">我的医护</h1>
		</header>
		<section class="list">
			<ul class="list-ul">
				<!--<li id="li" class="list-li" style="position: relative;">
					<div class="con">
						<img class="userHead" src="../../images/1.jpg" alt="" />
						<div class="medicMessage">
							<div class="medicMessage-evaluate">
							<span class="doctorName">
								丁曼曼
							</span>
							<span class="evaluate">
								<img class="evaluateImg" src="../../images/star.png" alt="" />
								<img class="evaluateImg" src="../../images/star2.png" alt="" />
								<img class="evaluateImg" src="../../images/star2.png" alt="" />
								<img class="evaluateImg" src="../../images/star2.png" alt="" />
								<img class="evaluateImg" src="../../images/star2.png" alt="" />
								<span class="appraise">2分</span>
							</span>
							</div>
							<div class="clear"></div>

							<div class="medicMessage-post">
								<span>副主任医师</span>
								<span>全科</span>
								<span>5年经验</span>
							</div>
							<div class="clear"></div>
							<div class="strongPoint">
								<span>擅长：</span>
								<span class="strongPoint-content">完全破解墨迹空气哦急么清洁噢期间额21嗯嗯3让2日日如发热无法无天各位如果认为各行业</span>
							</div>
							<div class="clear"></div>
						</div>
					</div>
					<div class="btn">咨询</div>
					<div class="btn2">删除</div>
					<div class="shade" style="position: absolute; width: 100%; height: 100%; top: 0;"></div>
				</li>-->



			</ul>
		</section>
		<div class="ajaxLoadMore">
			 <div class="noMore">~ 没有更多内容啦 ~</div>
			 <div class="ajaxLoading"><img src="../../images/loading.gif" alt=""></div>
	 </div>
		<script src="../../resource/js/jquery-2.1.1.min.js"></script>
		<script src="../../resource/js/common.js" type="text/javascript" charset="utf-8"></script>
		<script src="../../resource/js/slideDelete.js" type="text/javascript" charset="utf-8"></script>
		<script src="inc/mineMedic.js" type="text/javascript" charset="utf-8"></script>

	</body>

</html>
