<!doctype html>
<html>
<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
<meta name="apple-mobile-web-app-capable" content="yes">
<meta http-equiv="pragma" content="no-cache" />
<meta name="apple-mobile-web-app-status-bar-style" content="black">
<!--<link rel="stylesheet" type="text/css" href="../../css/bootstrap.min.css" />-->
<link rel="stylesheet" type="text/css" href="../../css/main.css" />
<link rel="stylesheet" type="text/css" href="../../css/mineMedicNothing.css" />
<title>我的医护</title>
</head>

<body>
	<header>
		<a id="goBack" class="goback" href="javascript: history.back();">
			<img src="../../images/backtrack.png" alt="" />
			<span id="goBackText">返回</span>
		</a>
		<h1 id="theme">我的医护</h1>
	</header>
  <div>
    <div class="clear"></div>
    <div class="clear"></div>
    <div class="other-news">
    	<div class="another-doctor">
        	<img src="../../images/onlineSearchNothing-bg.png" alt="">
        	<p>暂无关注的医护！您可以</p>
        </div>
        <div class="consultation">
        	<a href="../organization/organization.html">
        	<div class="consultation-text">
            	<h6>周边诊所的医生</h6>
                <p>各科名医，对症咨询，在线问诊</p>
            </div>
            <div class="consultation-img">
            	<img src="../../images/doctor_orange.png" alt="">
            </div>
            </a>
        </div>
        <div class="consultation">
        	<div class="consultation-text none-border">
            	<h6>扫医生二维码查找</h6>
                <p>一对一扫码，精准关注医护人员</p>
            </div>
            <div id="dial" class="consultation-img">
            	<img src="../../images/sao.png" alt="">
            </div>
        </div>
    </div>
  </div>
</body>
<script src="../../resource/js/jquery-2.1.1.min.js" type="text/javascript" charset="utf-8"></script>
<script src="../../resource/js/common.js" type="text/javascript" charset="utf-8"></script>
<script src="inc/mineMedicNothing.js" type="text/javascript" charset="utf-8"></script>
</html>
