<!doctype html>
<html>
<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
<meta name="apple-mobile-web-app-capable" content="yes">
<meta http-equiv="pragma" content="no-cache" />
<meta name="apple-mobile-web-app-status-bar-style" content="black">
<!--<link rel="stylesheet" type="text/css" href="../../css/bootstrap.min.css" />-->
<link rel="stylesheet" type="text/css" href="../../css/main.css" />
<link rel="stylesheet" type="text/css" href="../../css/minewallet.css" />

<title>我的钱包</title>
</head>

<body>
	<header>
		<a id="goBack" class="goback" href="javascript:history.back();">
			<img src="../../images/backtrack.png" alt="" />
			<span id="goBackText">返回</span>
		</a>
		<h1 id="theme">我的钱包</h1>
	</header>
  <div>
  	<div class="mine_wallet_content">
    	<div class="account_balance">
        	<p class="account_balance_text">账户余额（元）</p>
            <span class="account_balance_number">999</span>
        </div>
    </div>
    <div class="cash_withdrawal_amount mine_wallet_list" id="canWithdraw">
    	<p class="cash_withdrawal_amount-title mine_wallet_list-title">可提现金额</p>
        <span class="img-next"><img src="../../images/next.png" alt=""></span>
        <span class="cash_withdrawal_amount_number mine_wallet_list-number" id="canBalance"></span>
    </div>
    <div class="balance_of_payment mine_wallet_list">
    	<p class="balance_of_payment-title mine_wallet_list-title" id="income">收支明细</p>
        <span class="img-next"><img src="../../images/next.png" alt=""></span>
    </div>

  </div>
</body>
<script src="../../resource/js/jquery-2.1.1.min.js" type="text/javascript" charset="utf-8"></script>
<script src="../../resource/js/common.js" type="text/javascript" charset="utf-8"></script>
<script src="../../resource/js/bootstrap.min.js" type="text/javascript" charset="utf-8"></script>
<script src="inc/minewallet.js" type="text/javascript" charset="utf-8"></script>
</html>
