<!DOCTYPE html>
<html>

    <head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no, minimal-ui"
        />
        <meta name="apple-mobile-web-app-capable" content="yes" />
        <meta http-equiv="pragma" content="no-cache" />
        <meta name="apple-mobile-web-app-status-bar-style" content="black" />
        <meta name="format-detection" content="telephone=no, email=no" />
        <title>健康档案</title>
        <link href="../../css/main.css" rel="stylesheet">
        <link href="../../css/mineDoctorEntrust.css" rel="stylesheet">
    </head>

    <body>
        <header>
          <a id="goBack" class="goback" href="javascript: history.back();">
            <img src="../../images/backtrack.png" alt="" />
            <span id="goBackText">返回</span>
          </a>
          <h1 id="theme">健康档案</h1>
        </header>
        <div class="basic_information">
            	<div class="basic_information_portrait">
                	<img src="../../images/portrait_2.png" alt="">
                </div>
                <div class="basic_information_text">
                	<h6 class="basic_information_text_h6">刘继芬</h6>
                    <p class="basic_information_text_p">
                    	<span class="basic_information_text_p_sex">男</span>
                        <span class="basic_information_text_p_age">22</span>岁
                    </p>
                    <p class="basic_information_text_tel">18257151234</p>
                </div>
            </div>

        <div class="clear">
        </div>
        <div class="clinic-text-introduction">
            <div class="clinic-introduce">
                <div class="clinic_introduce_title">
                	<ul>
                		<li class="clinic_introduce_title_li br current">电子病历</li>
                		<li class="clinic_introduce_title_li">电子病历</li>
                	</ul>
                </div>
                <div class="clinic_introduce_content">
                	<ul>
                    	<li class="drug-instruction">
                        	<h6 class="drug-instruction-h6">主诉：</h6>
                            <p class="drug-instruction-p">三叉苦、岗梅、金盏银盘、薄荷油、野菊花、马来酸氯苯那敏、咖啡因、对乙酰氨基酚。辅料为蔗糖粉。</p>
                        </li>
                    	<li class="drug-instruction">
                        	<h6 class="drug-instruction-h6">诊断结果：</h6>
                            <p class="drug-instruction-p">浅棕色至深棕色的颗粒，味甜、微苦。</p>
                        </li>
                        <li class="drug-instruction">
                        	<h6 class="drug-instruction-h6">治疗意见：</h6>
                            <p class="drug-instruction-p">10g*9包 袋装10克（含对乙酰氨基酚0.2克）</p>
                        </li>
                        <li class="drug-instruction">
                        	<h6 class="drug-instruction-h6">现病史：</h6>
                            <p class="drug-instruction-p">本品解热镇痛。用于感冒引起的头痛，发热，鼻塞，流涕，咽痛等</p>
                        </li>
                        <li class="drug-instruction">
                        	<h6 class="drug-instruction-h6">过敏史：</h6>
                            <p class="drug-instruction-p">开水冲服，一次1袋，一日3次。小儿减量或遵医嘱。</p>
                        </li>
                        <li class="drug-instruction">
                        	<h6 class="drug-instruction-h6">既往史：</h6>
                            <p class="drug-instruction-p">偶见皮疹、荨麻疹、药热及粒细胞减少；可见困倦、嗜睡、口渴、虚弱感；长期大量用药会导致肝肾功能异常。</p>
                        </li>
                        <li class="drug-instruction">
                        	<h6 class="drug-instruction-h6">家族史：</h6>
                            <p class="drug-instruction-p">国药准字H44021518</p>
                        </li>
                        <li class="drug-instruction">
                        	<h6 class="drug-instruction-h6">体征检查：</h6>
                            <p class="drug-instruction-p">血压：90~139mmhg呼吸：130~140次/分<br>脉搏：60~100bpm体温：36℃<br>身高：181cm体重：66kg</p>
                        </li>
                        <li class="drug-instruction">
                        	<h6 class="drug-instruction-h6">体格检查：</h6>
                            <p class="drug-instruction-p">无</p>
                        </li>

                    </ul>
                </div>
                <div class="medication_record">
                    <ul>
                        <li class="medication_record_li">
                            <div class="medication_record_li_title">
                                <h6 class="medication_record_li_title_h6">草珊瑚含片</h6>
                                <span class="medication_record_li_title_span">西药</span>
                            </div>
                            <div class="usage_dosage">
                                <ul>
                                    <li class="usage_dosage_li listl">用量：<span class="usage_dosage_li_span">1</span>粒</li>
                                    <li class="usage_dosage_li">用法：<span class="usage_dosage_li_span">口服</span></li>
                                    <li class="usage_dosage_li listr">频次：<span class="usage_dosage_li_span">一日三次</span></li>
                                    <li class="usage_dosage_li listl">副数：<span class="usage_dosage_li_span">1</span></li>
                                    <li class="usage_dosage_li">总量：<span class="usage_dosage_li_span">1</span></li>
                                </ul>
                            </div>
                            <div class="clear"></div>
                            <div class="instructions">
                                <p class="instructions_p">
                                    使用说明：<span class="instructions_p_span">疏风清热，消肿止痛，清利咽喉。用于外感风热所致的喉痹，症见咽喉肿痛、声哑失音。</span>
                                </p>

                            </div>


                        </li>
                        <li class="medication_record_li">
                            <div class="medication_record_li_title">
                                <h6 class="medication_record_li_title_h6">人参</h6>
                                <span class="medication_record_li_title_span">中药</span>
                            </div>
                            <div class="usage_dosage">
                                <ul>
                                    <li class="usage_dosage_li listl">用量：<span class="usage_dosage_li_span">1</span>粒</li>
                                    <li class="usage_dosage_li">用法：<span class="usage_dosage_li_span">口服</span></li>
                                    <li class="usage_dosage_li listr">频次：<span class="usage_dosage_li_span">一日三次</span></li>
                                    <li class="usage_dosage_li listl">副数：<span class="usage_dosage_li_span">1</span></li>
                                    <li class="usage_dosage_li">总量：<span class="usage_dosage_li_span">1</span></li>
                                </ul>
                            </div>
                            <div class="clear"></div>
                            <div class="instructions">
                                <p class="instructions_p">
                                    使用说明：<span class="instructions_p_span">疏风清热，消肿止痛，清利咽喉。用于外感风热所致的喉痹，症见咽喉肿痛、声哑失音。</span>
                                </p>

                            </div>


                        </li>
                        <li class="medication_record_li"></li>
                    </ul>

                </div>



        </div>

        </div>
        <div id="dialMain">
            <div id="dialMain-first">
                <h4>
                    拨号
                </h4>
                <p>
                    您确认要拨打400-900-1515吗？
                </p>
            </div>
            <div id="dialMain-second">
                <div id="dialMain-close" class="dialMain-address">
                    <a href="">取消</a>
                </div>
                <div class="dialMain-address">
                    <a href="">确认</a>
                </div>
            </div>
        </div>
        <!--提示信息-->
        <!--蒙版层-->
        <div id="modal" style="display: none;position: absolute;top: 0;z-index: 1;opacity: 0.5;">
        </div>
        <script src="../../resource/js/jquery-2.1.1.min.js"></script>
        <script src="../../resource/js/common.js" type="text/javascript" charset="utf-8"></script>
		<script src="inc/mineDoctorEntrust.js" type="text/javascript" charset="utf-8"></script>

    </body>


</html>
