<!DOCTYPE html>
<html>

	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no, minimal-ui" />
		<meta name="apple-mobile-web-app-capable" content="yes" />
		<meta http-equiv="pragma" content="no-cache" />
		<meta name="apple-mobile-web-app-status-bar-style" content="black" />
		<meta name="format-detection" content="telephone=no, email=no" />
		<title>健康档案</title>
		<link rel="stylesheet" type="text/css" href="../../css/main.css" />
		<link href="../../css/minerecord.css" rel="stylesheet">

	</head>

	<body>
	<header>
		<a id="goBack" class="goback" href="javascript:historyBack();">
			<img src="../../images/backtrack.png" alt="" />
			<span id="goBackText">返回</span>
		</a>
		<h1 id="theme">健康档案</h1>
	</header>
		<div class="my-content">
        	<div class="basic_information">
            	<div class="basic_information_portrait">
                	<img src="../../images/portrait_2.png" alt="">
                </div>
                <div class="basic_information_text">
                	<h6 class="basic_information_text_h6">刘继芬</h6>
                    <p class="basic_information_text_p">
                    	<span class="basic_information_text_p_sex">男</span>
                        <span class="basic_information_text_p_age">22</span>岁
                    </p>
                    <p class="basic_information_text_tel">18257151234</p>
                </div>
            </div>


            <div class="health-records">
                <p class="function-model-name health-records-name">自我检测</p>
                <span class="img-next"><img src="../../images/next.png" alt=""></span>
            </div>
            <div class="my-function-model">
                	<ul>
                		<li class="my-consultation my-function-li">
                        	<a class="my-consultation-a my-function-li-a" href="javascript:;">
                            	<span class="my-consultation-number my-function-li-a-span">66</span>
                                <p class="my-consultation-p my-function-li-a-p">血压(mmhg)</p>
                            </a>
                            <img class="function-line" src="../../images/line.png" alt="">
                        </li>
                        <li class="my-appointment my-function-li">
                        	<a class="my-appointment-a my-function-li-a" href="javascript:;">
                            	<span class="my-appointment-number my-function-li-a-span">--/--</span>
                                <p class="my-appointment-p my-function-li-a-p">血糖(mg/dl)</p>
                            </a>
                            <img class="function-line" src="../../images/line.png" alt="">
                        </li>

                        <li class="my-health-care my-function-li">
                        	<a class="my-health-care-a my-function-li-a" href="javascript:;">
                            	<span class="my-health-care-number my-function-li-a-span">6</span>
                                <p class="my-health-care-p my-function-li-a-p">血脂(mg/dl)</p>
                            </a>
                        </li>
                	</ul>
                </div>

            <div class="function-data-model">
            	<ul>
            		<li class="attending-person">
                    	<a href="javascript:historyForward('../mine/mineConsult.html?removeh=true');">
                		<p class="function-model-name attending-person-name">咨询记录</p>
                		<span class="img-next"><img src="../../images/next.png" alt=""></span>
                        <span class="contact-customer-service-tel">暂无记录</span>
                        </a>
                    </li>
                    <div class="clear"></div>
            		<li class="common-address">
                    	<a href="appointmentdoor.html">
                		<p class="function-model-name common-address-name">预约记录</p>
                		<span class="img-next"><img src="../../images/next.png" alt=""></span>
                        <span class="remind-name">1</span>
                        </a>
                    </li>
                    <div class="clear"></div>
            		<li class="contact-customer-service">
                    	<a href="mineRecordDoctor.html">
                		<p class="function-model-name contact-customer-service-name">就诊记录</p>
                		<span class="img-next"><img src="../../images/next.png" alt=""></span>
                        <span class="remind-name">9</span>
                        </a>
                    </li>
            	</ul>
            </div>
        </div>


		<script src="../../resource/js/jquery-2.1.1.min.js"></script>
		<script src="../../resource/js/common.js" type="text/javascript" charset="utf-8"></script>
		<script src="inc/minerecord.js" type="text/javascript" charset="utf-8"></script>


	</body>

</html>
