<!doctype html>
<html>
<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
<meta name="apple-mobile-web-app-capable" content="yes">
<meta http-equiv="pragma" content="no-cache" />
<meta name="apple-mobile-web-app-status-bar-style" content="black">
<!--<link rel="stylesheet" type="text/css" href="../../css/bootstrap.min.css" />-->
<link rel="stylesheet" type="text/css" href="../../css/main.css" />
<link rel="stylesheet" type="text/css" href="../../css/mineHelp.css" />

<title>使用帮助</title>
</head>

<body>
	<header>
		<a id="goBack" class="goback" href="javascript: history.back();">
			<img src="../../images/backtrack.png" alt="" />
			<span id="goBackText">返回</span>
		</a>
		<h1 id="theme">使用帮助</h1>
	</header>
  <div>
    <div class="common_problem">
      <ul>
        <li class="common_problem_li">
          <div class="common_problem_li_div">
            <span class="common_problem_li_div_span">Q</span>
            <h6 class="common_problem_li_div_h6">
              什么是华方医护现金券？
            </h6>
          </div>
          <div class="common_problem_li_div">
            <span class="common_problem_li_div_span">A</span>
            <p class="common_problem_li_div_p">
              华方医护现金券，是华方医护发放给用户的电子券，在预约医护上门服务时，可用于抵扣订单金额的电子券。
            </p>
          </div>

        </li>
        <li class="common_problem_li">
          <div class="common_problem_li_div">
            <span class="common_problem_li_div_span">Q</span>
            <h6 class="common_problem_li_div_h6">
              什么是华方医护现金券？
            </h6>
          </div>
          <div class="common_problem_li_div">
            <span class="common_problem_li_div_span">A</span>
            <p class="common_problem_li_div_p">
              华方医护现金券，是华方医护发放给用户的电子券，在预约医护上门服务时，可用于抵扣订单金额的电子券。
            </p>
          </div>

        </li>
        <li class="common_problem_li">
          <div class="common_problem_li_div">
            <span class="common_problem_li_div_span">Q</span>
            <h6 class="common_problem_li_div_h6">
              什么是华方医护现金券？
            </h6>
          </div>
          <div class="common_problem_li_div">
            <span class="common_problem_li_div_span">A</span>
            <p class="common_problem_li_div_p">
              华方医护现金券，是华方医护发放给用户的电子券，在预约医护上门服务时，可用于抵扣订单金额的电子券。
            </p>
          </div>

        </li>
        <li class="common_problem_li">
          <div class="common_problem_li_div">
            <span class="common_problem_li_div_span">Q</span>
            <h6 class="common_problem_li_div_h6">
              什么是华方医护现金券？
            </h6>
          </div>
          <div class="common_problem_li_div">
            <span class="common_problem_li_div_span">A</span>
            <p class="common_problem_li_div_p">
              华方医护现金券，是华方医护发放给用户的电子券，在预约医护上门服务时，可用于抵扣订单金额的电子券。
            </p>
          </div>

        </li>

      </ul>

    </div>




  </div>
</body>
<script src="../../resource/js/jquery-2.1.1.min.js" type="text/javascript" charset="utf-8"></script>
<script src="../../resource/js/common.js" type="text/javascript" charset="utf-8"></script>
<script src="../../resource/js/bootstrap.min.js" type="text/javascript" charset="utf-8"></script>
<script src="inc/mineHelp.js" type="text/javascript" charset="utf-8"></script>
</html>
