<!doctype html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no, minimal-ui" />
<meta name="apple-mobile-web-app-capable" content="yes" />
<meta http-equiv="Expires" content="0">
<meta http-equiv="Pragma" content="no-cache">
<meta http-equiv="Cache-control" content="no-cache">
<meta http-equiv="Cache" content="no-cache">
<meta name="apple-mobile-web-app-status-bar-style" content="black">
<!--<link rel="stylesheet" type="text/css" href="../../css/bootstrap.min.css" />-->
<link rel="stylesheet" type="text/css" href="../../css/main.css" />
<link rel="stylesheet" href="../../css/mypersonalinformation.css" />

<title>个人信息</title>
</head>

<body>
  <header>
		<a id="goBack" class="goback" href="../mine/mineIndex.html">
			<img src="../../images/backtrack.png" alt="" />
			<span id="goBackText">返回</span>
		</a>
		<h1 id="theme">个人信息</h1>
	</header>
  <div class="myinfowrapper">
    <div class="patient-information">
      <div class="patient-details">
      	<ul>
      		<li id="name" class="patient-information-details">姓名<input class="attending-person" maxlength="20" type="text" placeholder="请输入您的姓名" /></li>
      		<li class="patient-information-details">性别
            	<span id="male" class="sex recognition-affirm currentSex" data-sex="0"><span class="man recognition-affirm sex-person">男</span><img class="sex-img" src="../../images/off.png" alt="" /></span>
              <span id="female" class="sex recognition-affirm" data-sex="1"><span class="woman recognition-affirm sex-person">女</span><img class="sex-img" src="../../images/off.png" alt="" /></span>
            </li>
      		<li id="birthday" class="patient-information-details">出生日期<input type="date" class="age" placeholder="请选择出生日期" value=""></li>
      	</ul>
      </div>
    </div>

    <div class="statuslabel">
      <h3 class="labeltitle">慢病标签</h3>
      <div class="relawrapper">
        <div class="absosport clearfix">
        </div>
        <div class="eachcircle clearfix">
        </div>
        <div class="labellength">
          当前已选择 <span> 0 </span> 个
        </div>
      </div>
    </div>

    <div class="submit-button"><a class="submit-button-a" href="javascript:;">保 存</a></div>
  </div>
</body>
<script src="../../resource/js/jquery-2.1.1.min.js" type="text/javascript" charset="utf-8"></script>
<script src="../../resource/js/touch.min.js" type="text/javascript" charset="utf-8"></script>
<script src="../../resource/js/common.js" type="text/javascript" charset="utf-8"></script>
<script src="inc/mypersonalinformation.js" type="text/javascript" charset="utf-8"></script>
</html>
