<!DOCTYPE html>
<html>

	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no, minimal-ui" />
		<meta name="apple-mobile-web-app-capable" content="yes" />
		<meta http-equiv="Expires" content="0">
		<meta http-equiv="Pragma" content="no-cache">
		<meta http-equiv="Cache-control" content="no-cache">
		<meta http-equiv="Cache" content="no-cache">
		<meta name="apple-mobile-web-app-status-bar-style" content="black" />
		<meta name="format-detection" content="telephone=no, email=no" />
		<title>常用地址</title>
		<link rel="stylesheet" type="text/css" href="../../css/main.css" />
		<link rel="stylesheet" type="text/css" href="../../css/slideDelete.css" />
		<link rel="stylesheet" href="../../css/oftenAddress.css" />
	</head>

	<body>
		<header>
			<a id="goBack" class="goback" href="../mine/mineIndex.html">
				<img src="../../images/backtrack.png" alt="" />
				<span id="goBackText">返回</span>
			</a>
			<h1 id="theme">常用地址</h1>
		</header>
		<section class="list">
			<ul class="list-ul">
				<!--<li id="li" class="list-li" style="position: relative;">
					<div class="con">
						<div class="">
							<span class="clinicName">赵四</span>
							<span class="defaultAddress"></span>
						</div>
						<div class="receivingAddress">
							<span>浙江省</span>
							<span>杭州市</span>
							<span>大土弯子村</span>
						</div>
						<div class="nearbyAddress">
							<span>是上路是上路是上路是上路是上路是上路是上路是上路是上路是上路是上路是上路是上路是上路是上路</span>
						</div>
					</div>
					<div class="btn">删 除</div>
					<div class="shade" style="position: absolute; width: 100%; height: 100%; top: 0;"></div>
				</li>-->

			</ul>

			<!--			<div class="footer-distance" style="width: 100%; height: 7rem;"></div>-->
			<div class="no-content1" style="text-align: center; padding-top: 1rem;">
				<span class="nomore1" style="font-size: 1.2rem; ">~ 没有更多内容啦  ~</span>
			</div>
		</section>
		<!--加载-->
		<div id="bottom" style="text-align: center;">
			<!--<div class="no-content1" style="text-align: center;">
				<span class="nomore1" style="font-size: 1.2rem;">~ 没有更多内容啦  ~</span>-->

			<div class="loading"><img src="../../images/loading.gif" alt="" style="width:2rem;"></div>
			<!--</div>-->
		</div>

		<footer>
			<a id="addAddressBtn" href="javascript:;">
				<div class="addPatient">添加常用地址</div>
			</a>
		</footer>

		<!-- 打电话 -->
		<div id="phoneShade" class="shade">
			<div class="modelAffirm">
				<div class="promptContent">
					<h4>确认删除？</h4>
					<p>确认删除该受诊人?</p>
				</div>
				<div class="promptBtn clearfix">
					<a href="javascript:;" class="cancelBtn">取消</a>
					<a href="tel:400-900-1515" class="sureBtn">确认</a>
				</div>
			</div>
		</div>
	</body>
	<script src="../../resource/js/jquery-2.1.1.min.js"></script>
	<script src="../../resource/js/common.js" type="text/javascript" charset="utf-8"></script>
	<script src="../../resource/js/slideDelete1.js" type="text/javascript" charset="utf-8"></script>
	<script src="inc/oftenAddress.js" type="text/javascript" charset="utf-8"></script>

</html>