<!DOCTYPE html>
<html>

	<head>
		<title>服务协议</title>
		<!--<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
    <meta name="apple-mobile-web-app-capable" content="yes"/>-->

		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no, minimal-ui" />
		<meta name="apple-mobile-web-app-capable" content="yes" />
		<meta http-equiv="Expires" content="0">
		<meta http-equiv="Pragma" content="no-cache">
		<meta http-equiv="Cache-control" content="no-cache">
		<meta http-equiv="Cache" content="no-cache">
		<meta name="apple-mobile-web-app-status-bar-style" content="black" />
		<meta name="format-detection" content="telephone=no, email=no" />
		<link rel="stylesheet" type="text/css" href="../../css/main.css" />
		<link rel="stylesheet" type="text/css" href="../../css/mineHelp.css" />
		<!--<link href="resources/css/jquery-ui-themes.css" type="text/css" rel="stylesheet"/>
    <link href="resources/css/axure_rp_page.css" type="text/css" rel="stylesheet"/>
    <link href="data/styles.css" type="text/css" rel="stylesheet"/>-->
		<!--<link href="files/服务协议/styles.css" type="text/css" rel="stylesheet"/>-->
		<!--<script src="resources/scripts/jquery-1.7.1.min.js"></script>-->
		<!--<script src="resources/scripts/jquery-ui-1.8.10.custom.min.js"></script>
    <script src="resources/scripts/axure/axQuery.js"></script>
    <script src="resources/scripts/axure/globals.js"></script>
    <script src="resources/scripts/axutils.js"></script>
    <script src="resources/scripts/axure/annotation.js"></script>
    <script src="resources/scripts/axure/axQuery.std.js"></script>
    <script src="resources/scripts/axure/doc.js"></script>
    <script src="data/document.js"></script>
    <script src="resources/scripts/messagecenter.js"></script>
    <script src="resources/scripts/axure/events.js"></script>
    <script src="resources/scripts/axure/action.js"></script>
    <script src="resources/scripts/axure/expr.js"></script>
    <script src="resources/scripts/axure/geometry.js"></script>
    <script src="resources/scripts/axure/flyout.js"></script>
    <script src="resources/scripts/axure/ie.js"></script>
    <script src="resources/scripts/axure/model.js"></script>
    <script src="resources/scripts/axure/repeater.js"></script>
    <script src="resources/scripts/axure/sto.js"></script>
    <script src="resources/scripts/axure/utils.temp.js"></script>
    <script src="resources/scripts/axure/variables.js"></script>
    <script src="resources/scripts/axure/drag.js"></script>
    <script src="resources/scripts/axure/move.js"></script>
    <script src="resources/scripts/axure/visibility.js"></script>
    <script src="resources/scripts/axure/style.js"></script>
    <script src="resources/scripts/axure/adaptive.js"></script>
    <script src="resources/scripts/axure/tree.js"></script>
    <script src="resources/scripts/axure/init.temp.js"></script>-->
		<!--<script src="files/服务协议/data.js"></script>-->
		<script src="../../resource/js/jquery-2.1.1.min.js" type="text/javascript" charset="utf-8"></script>
		<!--<script src="resources/scripts/axure/legacy.js"></script>
    <script src="resources/scripts/axure/viewer.js"></script>-->
		<script type="text/javascript">
			//    // $axure.utils.getTransparentGifPath = function() { return 'resources/images/transparent.gif'; };
			//    $axure.utils.getOtherPath = function() { return 'resources/Other.html'; };
			//    $axure.utils.getReloadPath = function() { return 'resources/reload.html'; };
			//
		</script>
	</head>
	<style type="text/css">
		#base{
			padding: .5rem;
		}
	</style>

	<body>
		<header>
			<a id="goBack" class="goback" href="javascript:history.back();">
				<img src="../../images/backtrack.png" alt="" />
				<span id="goBackText">返回</span>
			</a>
			<h1 id="theme">用户协议</h1>

		</header>
		<div id="base" class="">

			<!-- Unnamed (形状) -->
			<div id="u0" class="ax_文本段落">
				<!--     <img id="u0_img" class="img " src="resources/images/transparent.gif"/> -->
				<!-- Unnamed () -->
				<div id="u1" class="text" style="font-size: 1.3rem;">
					<p><span>用户协议</span></p>
					<p><span>本协议是您与华方医护客户端（简称“本客户端”）所有者（以下简称为“浙江华方医护有限公司”）之间就华方医护客户端服务等相关事宜所订立的契约，请您仔细阅读本注册协议，您点击“注册”按钮后，本协议即构成对双方有约束力的法律文件。</span></p>
					<p><span>&nbsp;</span></p>
					<p><span>重要提示：</span></p>
					<p><span>在您使用本客户端服务之前，您应当仔细阅读并遵守本协议以及本公司依托本客户端平台现在及将来发布的新增/变更服务功能的有关协议或规则等。本公司在此特别提示您审慎阅读（未成年人必须在监护人陪同下阅读）并充分理解本协议的各条款内容，特别是限制或免除本公司的责任、限制或约束您的权利、及声明与承诺、法律适用、争议解决方式等有关条款。在您充分理解本协议条款内容的基础上，请慎重选择是否接受本协议的条款内容。如您一经使用本客户端服务，则本公司将视您已充分理解并完全接受本协议条款内容；如您选择不接受本协议条款内容，则您将无权使用本客户端服务。</span></p>
					<p><span>&nbsp;</span></p>
					<p><span>第1条本客户端服务条款的确认和接纳</span></p>
					<p><span>1.1 本客户端的各项电子服务的所有权和运作权归华方医护所有。用户同意所有注册协议条款并完成注册程序，才能成为本客户端的正式用户。用户确认：本协议条款是处理双方权利义务的契约，始终有效，法律另有强制性规定或双方另有特别约定的，依其规定。</span></p>
					<p><span>1.2 用户点击同意本协议的，即视为用户确认自己具有享受本客户端服务、下单购买等相应的权利能力和行为能力，能够独立承担法律责任。</span></p>
					<p><span>1.3 如果您在18周岁以下，您只能在父母或监护人的监护参与下才能使用本客户端。</span></p>
					<p><span>1.4 华方医护保留在中华人民共和国大陆地区法施行之法律允许的范围内独自决定拒绝服务、关闭用户账户、清除或编辑内容或取消订单的权利。</span></p>
					<p><span>________________________________________</span></p>
					<p><span>第2条本客户端服务</span></p>
					<p><span>2.1 华方医护通过互联网依法为用户提供互联网信息等服务，用户在完全同意本协议及本客户端规定的情况下，方有权使用本客户端的相关服务。</span></p>
					<p><span>2.2 用户必须自行准备如下设备和承担如下开支：</span></p>
					<p><span>&nbsp; &nbsp; （1）上网设备，包括并不限于电脑或者其他上网终端、调制解调器及其他必备的上网装置；</span></p>
					<p><span>&nbsp; &nbsp; （2）上网开支，包括并不限于网络接入费、上网设备租用费、手机流量费等。</span></p>
					<p><span>________________________________________</span></p>
					<p><span>第3条用户信息</span></p>
					<p><span>3.1华方医护的用户分为普通用户和医护用户。普通用户即患者用户，注册登陆后，可直接在平台发布求医信息；医护用户注册登录后，方可发布个人信息，进行接单。本客户端仅对华方医护各线下诊所站点收录的执业医师、护士开放实名注册，经审查认证后可开通医护个人工作室。</span></p>
					<p><span>3.2 用户应自行诚信向本客户端提供注册资料，用户同意其提供的注册资料真实、准确、完整、合法有效，用户注册资料如有变动的，应及时更新其注册资料。如果用户提供的注册资料不合法、不真实、不准确、不详尽的，用户需承担因此引起的相应责任及后果，并且华方医护保留终止用户使用华方医护各项服务的权利。</span></p>
					<p><span>3.3 用户在本客户端进行购买活动时，涉及用户真实姓名/名称、通信地址、联系电话、电子邮箱等隐私信息的，本站将予以严格保密，除非得到用户的授权或法律另有规定，本站不会向外界披露用户隐私信息。</span></p>
					<p><span>3.4用户注册成功后，将产生用户名和密码等账户信息，您可以根据本客户端规定改变您的密码。用户应谨慎合理的保存、使用其用户名和密码。用户若发现任何非法使用用户账号或存在安全漏洞的情况，请立即通知本客户端并向公安机关报案。</span></p>
					<p><span>3.5 用户同意，华方医护拥有通过邮件、短信电话等形式，向在本客户端注册、购买的用户发送订单信息、促销活动等告知信息的权利。</span></p>
					<p><span>3.6用户不得将在本站注册获得的账户借给或以其他方式允许他人使用，否则用户应承担由此产生的全部责任，并与实际使用人承担连带责任。</span></p>
					<p><span>3.7用户同意，华方医护有权使用用户的注册信息、用户名、密码等信息，登陆进入用户的注册账户，进行证据保全，包括但不限于公证、见证等。用户账户的所有权归属于华方医护。</span></p>
					<p><span>________________________________________</span></p>
					<p><span>第4条用户依法言行义务</span></p>
					<p><span>本协议依据国家相关法律法规规章制定，用户同意严格遵守以下义务：</span></p>
					<p><span>&nbsp; &nbsp; （1）不得传输或发表：煽动抗拒、破坏宪法和法律、行政法规实施的言论，煽动颠覆国家政权，推翻社会主义制度的言论，煽动分裂国家、破坏国家统一的的言论，煽动民族仇恨、民族歧视、破坏民族团结的言论；</span></p>
					<p><span>&nbsp; &nbsp; （2）从中国大陆向境外传输资料信息时必须符合中国有关法规；</span></p>
					<p><span>&nbsp; &nbsp; （3）不得利用本客户端从事洗钱、窃取商业秘密、窃取个人信息等违法犯罪活动；</span></p>
					<p><span>&nbsp; &nbsp; （4）不得干扰本客户端的正常运转，不得侵入本客户端及国家计算机信息系统；</span></p>
					<p><span>&nbsp; &nbsp; （5）不得传输或发表任何违法犯罪的、骚扰性的、中伤他人的、辱骂性的、恐吓性的、伤害性的、庸俗的、淫秽的、不文明的等信息资料；</span></p>
					<p><span>&nbsp; &nbsp; （6）不得传输或发表损害国家社会公共利益和涉及国家安全的信息资料或言论；</span></p>
					<p><span>&nbsp; &nbsp; （7）不得教唆他人从事本条所禁止的行为；</span></p>
					<p><span>&nbsp; &nbsp; （8）不得利用在本客户端注册的账户进行牟利性经营活动；</span></p>
					<p><span>（9）不得发布任何侵犯他人著作权、商标权等知识产权或合法权利的内容；用户应关注并遵守本客户端不时公布或修改的各类合法规则规定。本客户端保有删除各类不符合法律政策或不真实的信息内容而无须通知用户的权利。若用户未遵守以上规定的，本客户端有权作出独立判断并采取暂停或关闭用户帐号等措施。用户须对自己在网上的言论和行为承担法律责任；</span></p>
					<p><span>（10）不得发布含有法律、行政法规、部门规章、地方性法规以及其他规范性文件禁止的其他内容的</span></p>
					<p><span>用户在本客户端发布的不符合本协议的内容，本公司有权不经通知单方对信息进行屏蔽、删除处理，同时对账户采取警告、封号等措施，同时本公司有权将相关事项提交司法机关依法处理；由此给用户造成的任何损失或后果，公司不承担任何责任。</span></p>
					<p><span>&nbsp;</span></p>
					<p><span>第5条商品信息</span></p>
					<p><span>本客户端上的服务价格、数量、能否提供等信息随时都有可能发生变动，本客户端不作特别通知。本客户端显示的信息可能会有一定的滞后性或差错，对此情形您知悉并理解；华方医护欢迎纠错，并会视情况给予纠错者一定的奖励。为表述便利，产品和服务简称为“产品”或“服务”。</span></p>
					<p><span>________________________________________</span></p>
					<p><span>第6条订单</span></p>
					<p><span>6.1 在您下订单时，请您仔细确认所购服务的名称、价格、数量、说明、注意事项、联系地址、电话、联系人等信息。联系人与用户本人不一致的，联系人的行为和意思表示视为用户的行为和意思表示，用户应对联系人的行为及意思表示的法律后果承担连带责任。</span></p>
					<p><span>6.2 除法律另有强制性规定外，双方约定如下：本客户端上华方医护展示的服务和价格等信息仅仅是要约邀请，您下单时须填写您希望购买的服务数量、价款及支付方式、联系人、联系方式、联系地址（合同履行地点）、合同履行方式等内容；系统生成的订单信息是计算机信息系统根据您填写的内容自动生成的数据，仅是您向华方医护发出的合同要约；华方医护收到您的订单信息后，只有在华方医护将您在订单中订购的服务向您或指定联系人交付时（接受服务为准），方视为您与华方医护之间就向您或指定联系人提供的服务建立了合同关系；如果您在一份订单里订购了多份服务并且华方医护只给您或指定联系人交付了部分服务时，您与华方医护之间仅就实际向您或指定联系人提供的服务建立了合同关系；只有在华方医护实际向您或指定联系人提供了订单中订购的其他服务时，您和华方医护之间就订单中该其他已实际向您或指定联系人提供的服务才成立合同关系。您可以随时登陆您在本客户端注册的账户，查询您的订单状态。</span></p>
					<p><span>6.3 由于市场变化及各种以合理商业努力难以控制的因素的影响，本客户端无法保证您提交的订单信息中希望购买的服务都能提供；如您拟购买的服务，发生无法提供的情形，您有权取消订单。</span></p>
					<p><span>6.4 本客户端仅为用户提供中文咨询及书面服务，若用户有英文服务需求，请致电本站客户服务部另行协商确定服务价格。 </span></p>
					<p><span>________________________________________</span></p>
					<p><span>第7条配送</span></p>
					<p><span>7.1 华方医护将会把产品（服务）发送到您或指定联系人所指定的接收端或邮箱等，所有在本客户端列出的交付时间为参考时间，参考时间的计算是根据具体服务的处理过程和发送时间的基础上估计得出的。</span></p>
					<p><span>7.2 因如下情况造成订单延迟或无法交付等，华方医护不承担延迟交付的责任：</span></p>
					<p><span>&nbsp; &nbsp; （1）用户提供的信息错误、接受端设备等原因导致的；</span></p>
					<p><span>&nbsp; &nbsp; （2）服务发送后无人查阅的；</span></p>
					<p><span>&nbsp; &nbsp; （3）情势变更因素导致的；</span></p>
					<p><span>&nbsp; &nbsp; （4）不可抗力因素导致的，例如：自然灾害、基础网络问题、突发战争、网络黑客等。</span></p>
					<p><span>________________________________________</span></p>
					<p><span>第8条所有权及知识产权条款</span></p>
					<p><span>8.1 用户一旦接受本协议，即表明该用户主动将其在任何时间段在本客户端发表的任何形式的信息内容（包括但不限于客户评价、客户咨询、各类话题文章等信息内容）的财产性权利等任何可转让的权利，如著作权财产权（包括并不限于：复制权、发行权、出租权、展览权、表演权、放映权、广播权、信息网络传播权、摄制权、改编权、翻译权、汇编权以及应当由著作权人享有的其他可转让权利），全部独家且不可撤销地转让给华方医护所有，用户同意华方医护有权就任何主体侵权而单独提起诉讼。</span></p>
					<p><span>8.2 本协议已经构成《中华人民共和国著作权法》第二十五条（条文序号依照2011年版著作权法确定）及相关法律规定的著作财产权等权利转让书面协议，其效力及于用户在华方医护客户端上发布的任何受著作权法保护的作品内容，无论该等内容形成于本协议订立前还是本协议订立后。</span></p>
					<p><span>8.3 用户同意并已充分了解本协议的条款，承诺不将已发表于本客户端的信息，以任何形式发布或授权其它主体以任何方式使用（包括但限于在各类网站、媒体上使用）。</span></p>
					<p><span>8.4 华方医护是本客户端的制作者，拥有此客户端内容及资源的著作权等合法权利，受国家法律保护，有权不时地对本协议及本客户端的内容进行修改，并在本客户端张贴，无须另行通知用户。在法律允许的最大限度范围内，华方医护对本协议及本客户端内容拥有解释权。</span></p>
					<p><span>8.5 除法律另有强制性规定外，未经华方医护明确的特别书面许可，任何单位或个人不得以任何方式非法地全部或部分复制、转载、引用、链接、抓取或以其他方式使用本客户端的信息内容，否则，华方医护有权追究其法律责任。</span></p>
					<p><span>8.6 本客户端所刊登的资料信息（诸如文字、图表、标识、按钮图标、图像、声音文件片段、数字下载、数据编辑和软件），均是华方医护或其内容提供者的财产，受中国和国际版权法的保护。本客户端上所有内容的汇编是华方医护的排他财产，受中国和国际版权法的保护。本客户端上所有软件都是华方医护或其关联公司或其软件供应商的财产，受中国和国际版权法的保护。</span></p>
					<p><span>&nbsp;</span></p>
					<p><span>&nbsp;</span></p>
					<p><span>第9条责任限制及不承诺担保</span></p>
					<p><span>9.1 除非另有明确的书面说明，本客户端及其所包含的或以其它方式通过本客户端提供给您的全部信息、内容、材料、产品（包括软件）和服务，均是在“按现状”和“按现有”的基础上提供的。除非另有明确的书面说明，华方医护不对本客户端的运营及其包含在本客户端上的信息、内容、材料、产品（包括软件）或服务作任何形式的、明示或默示的声明或担保（根据中华人民共和国法律另有规定的以外），华方医护对此不承担任何法律责任。</span></p>
					<p><span>9.2 华方医护不担保本客户端所包含的或以其它方式通过本客户端提供给您的全部信息、内容、材料、产品（包括软件）和服务、其服务器或从本客户端发出的电子信件、信息没有病毒或其他有害成分。如因不可抗力或其它本站无法控制的原因使本客户端销售系统崩溃或无法正常使用导致网上交易无法完成或丢失有关的信息、记录等，华方医护会合理地尽力协助处理善后事宜。</span></p>
					<p><span>9.3 华方医护所承载的内容（文、图、视频、音频）均为传播有益健康资讯目的，不对其真实性、科学性、严肃性做任何形式保证。</span></p>
					<p><span>9.4 华方医护所有信息仅供参考，不做个别诊断、用药和使用的根据，华方医护对此不承担任何法律责任。</span></p>
					<p><span>9.5 浙江华方医护有限公司致力于提供正确、完整的健康资讯，但不保证信息的正确性和完整性，且不对因信息的不正确或遗漏导致的任何损失或损害承担责任。</span></p>
					<p><span>9.6 华方医护所提供的任何医疗信息，仅供参考，不能替代医生和其他医务人员的建议，如自行使用华方医护中资料发生偏差，浙江华方医护有限公司概不负责，亦不负任何法律责任。</span></p>
					<p><span>9.7 “找医生”、“找护士”模块中的服务提供者均为拥有中华人民共和国医师/护士职业资格证书或拥有其他合法资质的专业医护人员。但咨询建议仅为依据提问者描述而提供建议性内容，不能作为诊断及医疗的依据。</span></p>
					<p><span>9.8 是否采用的医护人员意见为提问者个人行为，浙江华方医护有限公司不承担任何可能产生的责任。</span></p>
					<p><span>9.9 医护人员通过华方医护展示个人信息及相关服务信息，以获得患者的服务请求，并向患者收取服务费用，患者与医务人员之间存在医疗服务合同关系。鉴于以上陈述及合作关系，请充分理解并承认以下事实：患者通过本客户端请求医护人员提供医护到家服务，医护人员应患者发出的请求向患者提供服务。在此过程中，患者用户与医护人员发生的一切纠纷，包括但不限于：</span></p>
					<p><span>（1）医护人员为患者提供服务过程中对其自身造成的人身伤害、财产损害；</span></p>
					<p><span>（2）医护人员在为患者提供服务过程中对患者造成的人身伤害、财产损害；</span></p>
					<p><span>（3）因医护人员提供服务发生的医疗事故；</span></p>
					<p><span>（4）其他可能导致的纠纷等。</span></p>
					<p><span>上述均由患者用户与医护人员自行解决，华方医护均不对上述纠纷承担损害赔偿责任及承担任何责任确定及分担义务，其责任应按照法律法规及相关规定由您或医务人员中导致损害发生的一方承担。</span></p>
					<p><span>9.10 浙江华方医护有限公司保留对本声明作出不定时修改的权利。</span></p>
					<p><span>9.11 在法律允许的范围内，本公司对以下情形导致的服务中断或受阻不承担责任：</span></p>
					<p><span>（1） 受到计算机病毒、木马或其他恶意程序、黑客攻击的入侵；</span></p>
					<p><span>（2） 您或本公司的电脑软件、系统、硬件和通信线路出现故障或错误；</span></p>
					<p><span>（3） 您操作不当；</span></p>
					<p><span>（4） 您通过非本公司授权的方式使用本服务；</span></p>
					<p><span>（5） 银行系统或银行网络出现故障；</span></p>
					<p><span>（6） 其他本公司无法控制或预见的情形。</span></p>
					<p><span>9.12 您在使用本服务的过程中，本公司不对下列风险担责：</span></p>
					<p><span>（1） 来自他人匿名或冒名的含有威胁、诽谤、令人反感或非法内容的信息；</span></p>
					<p><span>（2） 遭受他人误导、欺骗或其他导致任何心理、生理上的伤害以及经济上的损失；</span></p>
					<p><span>（3） 其他因网络信息或您行为引起的风险。</span></p>
					<p><span>9.13 本公司有权基于业务调整、系统升级或风险管控的需要，单方不经通知地暂停、中断或终止向您提供本服务。</span></p>
					<p><span>9.14 本公司有权依据中华人民共和国相关法律规定对您的软件使用行为进行风险管控。本公司有权基于单方判断，认为您有可疑交易或有违反法律规定或本协议约定之情形时，本公司有权不经通知，先行暂停、中断或终止向您提供本服务，并拒绝您使用本服务之部分或全部功能，亦可以暂停、中断或终止向您提供本客户端的部分或全部功能。</span></p>
					<p><span>9.15 本公司发现您违反本协议或附属协议任一条款的，有权单方终止或解除本协议，暂停、中断或终止向您提供本服务。</span></p>
					<p><span>9.16 在任何情况下，本公司对本协议所承担的违约赔偿责任总额不超过向您收取的当次服务费用总额（如有）；如本公司持续无偿提供本服务的，违约赔偿责任总额为零。</span></p>
					<p><span>________________________________________</span></p>
					<p><span>第10条咨询服务条款</span></p>
					<p><span>10.1 本条款所称“咨询”特指患者用户通过本客户端提交的咨询信息和通过预约特定医护人员的在线或电话咨询，咨询的交互主体为本客户端的患者用户和医护用户。</span></p>
					<p><span>10.2 患者用户在咨询过程中要语言文明，尊重医护人员，平等交流。如有对医护人员恶意中伤，语言不文明，医护人员有权立即中断服务。</span></p>
					<p><span>10.3 咨询均只限于根据患者用户的主观描述，医护人员尽可能利用医学知识及临床经验给予一定的解惑及如何就医方面的建议，不保证满足患者用户要求的诊断、治疗方面的建议一定能获得。不对结果是否符合患者用户预期做保证。</span></p>
					<p><span>10.4 咨询中医护人员所提供内容均是个人建议，不得做为诊断、治疗的直接医疗处置，患者用户需知晓并同意诊断及治疗均需前往医院。擅自将医护人员建议做为处方使用的，后果自负，与医护人员及华方医护无关。</span></p>
					<p><span>10.5 电话咨询过程中遇到医护人员有紧急事情处理时（医护职业要求），要给予理解，暂停咨询，向华方医护客服申报，以便安排重新咨询的具体时间。</span></p>
					<p><span>10.6 医护人员拒绝回复医疗健康之外的咨询问题，包括但不限于如下情况：</span></p>
					<p><span>&nbsp; &nbsp; （1）非医疗健康类问题，如动物疾病问题、社会意识形态问题等；</span></p>
					<p><span>&nbsp; &nbsp; （2）医疗司法举证或询证问题；</span></p>
					<p><span>&nbsp; &nbsp; （3）胎儿性别鉴定问题；</span></p>
					<p><span>&nbsp; &nbsp; （4）未按提问要求提问，如提问时未指定医护人员，却要求具体医护人员回复；</span></p>
					<p><span>&nbsp; &nbsp; （5）有危害他人/自己可能的问题；</span></p>
					<p><span>&nbsp; &nbsp; （6）追问医护人员个人信息的问题；</span></p>
					<p><span>（7）故意挑逗、侮辱医护人员的提问。</span></p>
					<p><span>10.7 咨询服务中华方医护与用户双方的权利及义务：</span></p>
					<p><span>华方医护有义务在现有技术上维护平台服务的正常进行，并努力提升技术及改进技术，使网站服务更好进行。</span></p>
					<p><span>华方医护必须保证提供咨询服务的医护人员是本客户端介绍的医护本人提供咨询服务。</span></p>
					<p><span>对于用户在本客户端预定服务中的不当行为或其它任何华方医护认为应当终止服务的情况，华方医护有权随时作出删除相关信息、终止服务提供等处理，而无须征得用户的同意。</span></p>
					<p><span>如存在下列情况：</span></p>
					<p><span>&nbsp; &nbsp; （1）用户或其它第三方通知华方医护，认为某个具体用户或具体交易事项可能存在重大问题；</span></p>
					<p><span>&nbsp; &nbsp; （2）用户或其它第三方向华方医护告知咨询内容有违法或不当行为的，华方医护以普通非专业的知识水平标准对相关内容进行判别，可以明显认为这些内容或行为具有违法或不当性质的。</span></p>
					<p><span>10.8 华方医护有义务对相关数据、所有的申请行为以及与咨询有关的其它事项进行审查。</span></p>
					<p><span>10.9 华方医护有权根据不同情况选择保留或删除相关信息或继续、停止对该用户提供服务，并追究相关法律责任。</span></p>
					<p><span>10.10 咨询双方因服务引起的纠纷，请华方医护给予调解的，华方医护将有权了解相关信息，并将双方提供的信息与对方沟通。因在华方医护平台上发生服务纠纷，引起诉讼的，用户通过司法部门或行政部门依照法定程序要求华方医护提供相关数据，华方医护应积极配合并提供有关资料。</span></p>
					<p><span>10.11 华方医护有权对用户的注册数据及电话咨询的行为进行查阅，发现注册数据或咨询行为中存在任何问题或怀疑，均有权向用户发出询问及要求改正的通知或者直接作出删除等处理。</span></p>
					<p><span>10.12 当用户顺利使用完付费咨询服务后不得因为咨询服务中的内容不满意要求退款。</span></p>
					<p><span>10.13 患者用户对咨询内容不满意，可以向华方医护提出投诉，华方医护有义务依据情况协调沟通，维护医生和用户关系和谐。</span></p>
					<p><span>10.14 系统因下列状况无法正常运作，使用户无法使用咨询服务时，华方医护不承担损害赔偿责任，该状况包括但不限于：</span></p>
					<p><span>&nbsp; &nbsp; （1）华方医护在本网站公告之系统停机维护期间。</span></p>
					<p><span>&nbsp; &nbsp; （2）电信设备出现故障不能进行数据传输的。</span></p>
					<p><span>&nbsp; &nbsp; （3）因台风、地震、海啸、洪水、停电、战争、恐怖袭击等不可抗力之因素，造成系统障碍不能执行业务的。</span></p>
					<p><span>&nbsp; &nbsp; （4）由于黑客攻击、电信部门技术调整或故障、银行方面的问题等原因而造成的服务中断或者延迟。</span></p>
					<p><span>________________________________________</span></p>
					<p><span>第11条服务内容</span></p>
					<p><span>华方医护将为您提供以下服务内容：</span></p>
					<p><span>11.1患者用户</span></p>
					<p><span>为您提供专科咨询的功能。您可以根据自身的需求，主动选择目标医生发起咨询，也可以由华方医护为您精准推送相关专科医生进行咨询。华方医护希望通过这种灵活、贴心的咨询方式，为您带来最满意、贴心的咨询体验；</span></p>
					<p><span>为您提供全新的医护到家服务，您可以通过华方医护客户端，邀请同城医护上门检测、送药到家、转院转诊、术后康复、母婴护理、居家养老、慢病管理等。</span></p>
					<p><span>11.2医护用户</span></p>
					<p><span>为您提供线上平台，创建个人工作室，实现自由创业；</span></p>
					<p><span>为您提供最全面的健康资讯，您可以查看和了解各种医疗健康信息。例如常见疾病种类、用药导引、考试培训及临床指南等。</span></p>
					<p><span>________________________________________</span></p>
					<p><span>第12条协议更新及用户关注义务</span></p>
					<p><span>根据国家法律法规变化及网络运营需要，华方医护有权对本协议条款不时地进行修改，修改后的协议一旦被张贴在本客户端上即生效，并代替原来的协议。用户可随时登陆查阅最新协议；用户有义务不时关注并阅读最新版的协议及客户端公告。如用户不同意更新后的协议，可以且应立即停止接受华方医护客户端依据本协议提供的服务；如用户继续使用本客户端提供的服务，即视为同意更新后的协议。华方医护建议您在使用本客户端之前阅读本协议及本客户端的公告。如果本协议中任何一条被视为废止、无效或因任何理由不可执行，该条应视为可分的且并不影响任何其余条款的有效性和可执行性。</span></p>
					<p><span>________________________________________</span></p>
					<p><span>第13条法律管辖和适用</span></p>
					<p><span>本协议的订立、执行和解释及争议的解决均应适用在中华人民共和国大陆地区适用之有效法律（但不包括其冲突法规则）。如发生本协议与适用之法律相抵触时，则这些条款将完全按法律规定重新解释，而其它有效条款继续有效。如缔约方就本协议内容或其执行发生任何争议，双方应尽力友好协商解决；协商不成时，任何一方均可向本公司所在地有管辖权的中华人民共和国大陆地区法院提起诉讼。</span></p>
					<p><span>________________________________________</span></p>
					<p><span>第14条其他</span></p>
					<p><span>14.1 华方医护客户端所有者是指在政府部门依法许可或备案的华方医护经营主体。</span></p>
					<p><span>14.2 华方医护尊重用户和消费者的合法权利，本协议及本客户端上发布的各类规则、声明等其他内容，均是为了更好的、更加便利的为用户和消费者提供服务。本客户端欢迎用户和社会各界提出意见和建议，华方医护将虚心接受并适时修改本协议及本客户端的各类规则。</span></p>
					<p><span>14.3 本协议内容中以黑体、加粗、下划线、斜体等方式显著标识的条款，请用户着重阅读。</span></p>
					<p><span>14.4 您点击本协议上方的“同意以下协议，提交”按钮即视为您完全接受本协议，在点击之前请您再次确认已知悉并完全理解本协议的全部内容。</span></p>
					<p><span>________________________________________</span></p>
					<p><span>浙江华方医护有限公司</span></p>
					<p><span>2016 年 8 月</span></p>
				</div>
			</div>
		</div>
	</body>

</html>