<!doctype html>
<html>
<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
<meta name="apple-mobile-web-app-capable" content="yes">
<meta http-equiv="pragma" content="no-cache" />
<meta name="apple-mobile-web-app-status-bar-style" content="black">
<!--<link rel="stylesheet" type="text/css" href="../../css/bootstrap.min.css" />-->
<link rel="stylesheet" type="text/css" href="../../css/main.css" />
<link rel="stylesheet" type="text/css" href="../../css/withdrawals.css" />

<title>我的钱包</title>
</head>

<body>
	<header>
		<a id="goBack" class="goback" href="javascript:history.back();">
			<img src="../../images/backtrack.png" alt="" />
			<span id="goBackText">返回</span>
		</a>
		<h1 id="theme">我的钱包</h1>
		<a class="withdrawals_wrap" href="withdrawalsRecord.html"><span class="withdrawals">提现记录</span></a>
	</header>
  <div>
  	<div class="mine_wallet_content">
    	<div class="account_balance">
        	<p class="account_balance_text">提现金额</p>
            <div class="account_balance_number">
              <span class="account_balance_number_symbol">￥</span>
              <input class="account_balance_number_price" results="s" maxlength="12" type="search" placeholder="请输入提现金额"  />
              <span  class="explain">!</span>
            </div>
            <p class="limit">可提现金额：<span class="limit_span">0</span>元</p>
        </div>
    </div>
    <div class="cash_withdrawal_amount mine_wallet_list">
      <ul>
        <li class="mine_wallet_list_li">
          <p class="cash_withdrawal_amount-title mine_wallet_list-title">支付宝账号</p>
          <span class="cash_withdrawal_amount_number mine_wallet_list_number"><input type="text" id="alipayAccount" placeholder="请输入支付宝账户" /></span>
        </li>
        <li class="mine_wallet_list_li">
          <p class="cash_withdrawal_amount-title mine_wallet_list-title">姓名</p>
          <span class="cash_withdrawal_amount_number mine_wallet_list_number"><input type="text" id="alipayName" placeholder="请输入支付宝实名认证姓名" /></span>
        </li>
      </ul>

    </div>
    <div class="balance_of_payment mine_wallet_list">
    	<p class="balance_of_payment-title mine_wallet_list-title">验证码</p>
      <div class="mine_wallet_list_verification">
        <span class="mine_wallet_list_verification_box">
          <input class="input_box" type="text" maxlength="6" placeholder="短信验证码" />
        </span>
        <span class="mine_wallet_list_verification_button">
          <input class="confirm_button" type="button" value="发送验证码" />
        </span>

      </div>
    </div>
    <div class="bind_phone">
      <p class="bind_phone_p">已绑定手机：<span class="bind_phone_span"></span></p>
    </div>
    <div class="withdrawals_button">
      <a class="withdrawals_button_a" href="javascript:;">
        <p class="withdrawals_button_p">提现</p>
      </a>
    </div>

  </div>

<!-- 点击弹出层 -->
  <div id="dialMain">
    <div id="dialMain-first">
      <h4>提现说明</h4>
      <p>1：提现金额应大于等于50元</p>
      <p>2：提现支付宝账户需是当前本人账户</p>
      <p>3：提现到账时间一般为3-7个工作日</p>
    </div>
    <div id="dialMain-second">
      <div id="dialMain-close" class="dialMain-address">
        <a href="javascript:;">关闭</a>
      </div>
      <!-- <div class="dialMain-address">
        <a href="tel:400-900-1515">确认</a>
      </div> -->
    </div>
  </div>
  <!-- 蒙版层 -->
  <div id="modal" style="display: none;position: absolute;top: 0;z-index: 1030;opacity: 0.5;">
    <div class="modal-cancel" style="width:100%;"></div>
  </div>
</body>
<script src="../../resource/js/jquery-2.1.1.min.js" type="text/javascript" charset="utf-8"></script>
<script src="../../resource/js/common.js" type="text/javascript" charset="utf-8"></script>
<script src="../../resource/js/bootstrap.min.js" type="text/javascript" charset="utf-8"></script>
<script src="inc/withdrawals.js" type="text/javascript" charset="utf-8"></script>
</html>
