<!doctype html>
<html>
<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
<meta name="apple-mobile-web-app-capable" content="yes">
<meta http-equiv="pragma" content="no-cache" />
<meta name="apple-mobile-web-app-status-bar-style" content="black">
<!--<link rel="stylesheet" type="text/css" href="../../css/bootstrap.min.css" />-->
<link rel="stylesheet" type="text/css" href="../../css/main.css" />
<link rel="stylesheet" type="text/css" href="../../css/withdrawalsRecord.css" />

<title>提现记录</title>
</head>

<body>
	<header>
		<a id="goBack" class="goback" href="javascript:history.back();">
			<img src="../../images/backtrack.png" alt="" />
			<span id="goBackText">返回</span>
		</a>
		<h1 id="theme">提现记录</h1>
	</header>
  <div>
  	<div class="record_list">
      <ul class="record_list_ul">
        <!--<li class="record_list_li">
          <div class="record_list_li_left">
            <h6 class="record_list_li_left_h6">提现</h6>
            <p class="record_list_li_left_p">2017-04-25&nbsp;15:59:23</p>
          </div>
          <div class="record_list_li_right">
            <h6 class="record_list_li_right_h6">-33.00</h6>
            <p class="record_list_li_right_p extract_ing">申请中</p>
          </div>
        </li>-->
        <!--<li class="record_list_li">
          <div class="record_list_li_left">
            <h6 class="record_list_li_left_h6">提现</h6>
            <p class="record_list_li_left_p">2017-04-25&nbsp;15:59:23</p>
          </div>
          <div class="record_list_li_right">
            <h6 class="record_list_li_right_h6">-33.00</h6>
            <p class="record_list_li_right_p extract_true">已打款</p>
          </div>
        </li>
        <li class="record_list_li">
          <div class="record_list_li_left">
            <h6 class="record_list_li_left_h6">提现</h6>
            <p class="record_list_li_left_p">2017-04-25&nbsp;15:59:23</p>
          </div>
          <div class="record_list_li_right">
            <h6 class="record_list_li_right_h6">-33.00</h6>
            <p class="record_list_li_right_p extract_false">申请失败</p>
          </div>
        </li>-->
        <li></li>
        <li></li>
      </ul>
    </div>
   <p  id="incarnate" style="display: none; text-align: center; margin-top: 1rem;">暂无体现记录！</p>
  </div>
</body>
<script src="../../resource/js/jquery-2.1.1.min.js" type="text/javascript" charset="utf-8"></script>
<script src="../../resource/js/common.js" type="text/javascript" charset="utf-8"></script>
<script src="../../resource/js/bootstrap.min.js" type="text/javascript" charset="utf-8"></script>
<script src="inc/withdrawalsRecord.js" type="text/javascript" charset="utf-8"></script>
</html>
