<!DOCTYPE html>
<html>

	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no, minimal-ui" />
		<meta name="apple-mobile-web-app-capable" content="yes" />
		<meta http-equiv="Expires" content="0">
		<meta http-equiv="Pragma" content="no-cache">
		<meta http-equiv="Cache-control" content="no-cache">
		<meta http-equiv="Cache" content="no-cache">
		<meta name="apple-mobile-web-app-status-bar-style" content="black" />
		<link href="../../css/main.css" rel="stylesheet">
		<link href="../../css/reset.css" rel="stylesheet">
		<link href="../../css/style.css" rel="stylesheet">
		<title>城市选择</title>
	</head>

	<body>
		<!--切换城市-->
		<div id="cityPage">
			<div class="city-header">
				<div class="city-title">
					城市-<span class="city-title-name" id="chooseCity">杭州</span>
				</div>
				<div class="goBack">
					<a href="index.html"><img src="../../images/go-back.png" class="img-responsive"></a>
				</div>
			</div>

			<div class="mt-60rem fix">
				<div class="city-horn">
					历史切换城市
				</div>
				<div class="city-sec-wrapper fix" id="history-cities">
					<div class="city-sec hot-sec" style="display: none">
						<span>杭州</span>
						<input type="hidden" />
					</div>
				</div>
			</div>

			<div class="mt-60rem fix">
				<div class="city-horn">
					热门切换城市
				</div>
				<div id="hosCity" class="city-sec-wrapper fix">
					<div class="city-sec hot-sec" style="display: none">
						<span>杭州</span>
						<input type="hidden" />
					</div>
				</div>
			</div>

			<div class="city-list mt-60rem" id="citys">
				<div class="Initial" style="">A</div>
				<p class="city-name" style="">
					<span></span>
					<input type="hidden" />
				</p>
			</div>

		</div>
	</body>
	<script src="../../resource/js/htmlFont.js"></script>
	<script src="../../resource/js/jquery-2.1.1.min.js"></script>
	<!-- <script src="../organization/js/zepto.min.js" type="text/javascript" charset="utf-8"></script> -->
	<script src="../../resource/js/common.js"></script>
	<script src="../../resource/js/validate_h5.js"></script>
	<script src="inc/selectCity.js"></script>

</html>
