@charset "utf-8";

.container {
	width: 1100px;
}
.formWrap {
	padding: 82px 40px 10px;
}
textarea.messageContent {
	width: 100%;
	min-height: 50px;
	resize: vertical;
}
.videoListWrap {
	margin-top: 30px;
}
.videoName {
	width: 350px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	text-align: left;
}
.videoName > img {
	float: left;
	margin-right: 10px;
} 
.table > tbody > tr > td,
.table > tbody > tr > th, 
.table > tfoot > tr > td, 
.table > tfoot > tr > th, 
.table > thead > tr > td, 
.table > thead > tr > th {
	text-align: center;
	vertical-align: middle;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
.formWrap .form-group {
	margin-left: 0;
	margin-right: 0;
}
.inlineGroup .form-group {
	width: 33.33%;
	float: left;
}
#cityLevel {
	width: 190px;
}
#district, #county {
	width: 172px;
}
#village {
	width: 192px;
}
.typeTitle {
	font-size: 16px;
	font-weight: bold;
}
.everyWeekDay .weekday,.everyDay .days {/*解决span不支持width属性*/display: -moz-inline-box;display: inline-block;margin: 5px 0 0 20px;text-align: center;width: 20px;border: 1px solid #F7F7F7;cursor: pointer;}		
.marginTop{margin-top: 5px;}
.selectStyle{padding-left: 10px;border: none;border-radius: 3px;outline: none;appearance: none;-moz-appearance: none;-webkit-appearance: none;margin: 0 10px 0 10px;width: 60px;border-color: #0FB9EF;color: #0FB9EF;}       

fieldset {
    min-width: 0;
    padding: 0 10px;
    margin: 10px -10px;
    border: 1px dashed #ccc;
}
legend {
	display: inline;
	width: auto;
	padding: 0;
	margin-bottom: 10px;
	font-size: 14px;
	line-height: inherit;
	color: #000;
	font-weight: bold;
	border: 0;
}