.container {
	width: 600px;
}
.content {
	border-radius: 10px;
	background: #FFF6EA;
}
.changePassWrap {
	padding: 40px 100px;
	color: #61605B;
}
.changePassWrap h3 {
	font-size: 24px;
	margin-bottom: 30px;
}
.changePassWrap .btnWrap {
	margin-top: 40px;
	padding: 0;
}
.changePassWrap .btnWrap a {
	margin: 0 10px;
}
.changePassWrap .form-horizontal .control-label {
 	padding-top: 7px;
    margin-bottom: 0;
    text-align: right;
 }
 .changePassWrap .tip {
 	font-size: 16px;
 	color: #ff6600;
 	margin-top: 20px;
 	text-align: center;
 }
 .changePassWrap .formLabel {
 	width: 80px;
 }
 .changePassWrap .formInput {
 	margin-left: 90px;
 }