@charset "utf-8";
body,
html,
div,
ul,
li,
a {
    margin: 0;
    padding: 0;
}

body,
html {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    font-family: "微软雅黑"
}

body {
    text-align: center;
    background: #ffedcb;
}

.header {
    background-image: url(../images/header-bg.jpg);
    width: 100%;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    height: 60px;
    position: absolute;
    top: 0;
}

.header .menu {
    float: left;
    color: #fff;
    height: 60px;
    line-height: 60px;
    font-size: 18px;
    width: 8%;
}

.header .menu.first {
    margin-left: 270px;
}
.header .menu.last {
    margin-left: 80%;
}
.header .menu.active {
    background-color: #fc7833;
}

.footer {
    background-image: url(../images/footer-bg.jpg);
    width: 100%;
    height: 40px;
    position: absolute;
    bottom: 0;
}

.content {
    width: 100%;
    height: auto;
    position: absolute;
    top: 60px;
    bottom: 40px;
}

.bg {
    background-image: url(../images/bg01.png);
    height: 100%;
    width: 100%;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.bg .menuList {
    width: 60%;
    height: auto;
    position: absolute;
    left: 20%;
    top: 23%;
}

.bg .menuList .menu {
    background-image: url(../image/menu1_1.png);
    width: 15%;
    background-size: 100%;
    margin: 3% 4.5%;
}

.bg .menuList .user {
    background-image: url(../image/user.png);
    background-repeat: no-repeat;
    width: 30%;
    background-size: 100% 100%;
    margin: 80px 35% 0;
}

.bg .menuList .user input {
    background: transparent;
    border: none;
    height: 30px;
    width: 85%;
    padding-left: 15%;
}

.bg .menuList .password {
    background-image: url(../image/password.png);
    background-repeat: no-repeat;
    width: 30%;
    background-size: 100% 100%;
    margin: 30px 35% 0;
}

.bg .menuList .password input {
    background: transparent;
    border: none;
    height: 30px;
    width: 85%;
    padding-left: 15%;
}

.bg .menuList .remember {
    color: #fff;
    font-size: 12px;
    width: 30%;
    margin: 10px 35% 0;
    text-align: left;
}

.bg .menuList .loginBtn {
    color: #fff;
    width: 30%;
    margin: 30px 35% 0;
    height: 35px;
    background-color: #53679c;
    line-height: 35px;
    border-radius: 10px;
}

.fqjf {
    width: 40%;
    height: 90%;
    background-color: #fff;
    position: absolute;
    top: 1%;
    left: 30%;
}

.fqjf .tab {
    background-color: #53679c;
    color: #fff;
    position: absolute;
    top: -5px;
    left: 0px;
    width: 21%;
    height: 40px;
    line-height: 40px;
}

.fqjf .table01 {
    margin-top: 40px;
    font-size: 12px;
    width: 100%;
    padding: 0 2%;
}

.fqjf .table01 input,
textarea,
select {
    width: 100%;
}

.fqjf .bottomBtn {
    width: 100%;
    border-top: 1px solid #dcdcdc;
    height: 0px;
    bottom: 0;
    position: absolute;
}

.fqjf .bottomBtn .cjjf {
    width: 15%;
    color: #fff;
    background-color: #53679c;
    height: 25px;
    line-height: 25px;
    float: left;
    margin: 7px 2% 8px 33%;
    font-size: 12px;
    border-radius: 10px;
}

.fqjf .bottomBtn .yyjf {
    width: 15%;
    color: #fff;
    background-color: #53679c;
    height: 25px;
    line-height: 25px;
    float: left;
    margin: 7px 33% 8px 2%;
    font-size: 12px;
    border-radius: 10px;
}

.jfxq {
    width: 40%;
    height: 90%;
    background-color: #fff;
    position: absolute;
    top: 5%;
    left: 30%;
}

.jfxq .tab {
    background-color: #53679c;
    color: #fff;
    position: absolute;
    top: -5px;
    left: 0px;
    width: 21%;
    height: 40px;
    line-height: 40px;
}

.jfxq .table02 {
    width: 100%;
    height: auto;
    padding: 50px 5% 0;
    font-size: 10px;
    text-align: left;
}

.jfxq .table02 .num {
    height: 50px;
    width: 50px;
    line-height: 50px;
    background-color: #53679c;
    color: #fff;
    font-size: 20px;
    text-align: center;
}

.jfxq .table02 .state {
    height: 15px;
    font-size: 12px;
    line-height: 15px;
    width: 65px;
    border: 0.5px solid #bbb;
    margin-left: 15px;
    text-align: center;
}

.jfxq .bottomBtn {
    width: 100%;
    border-top: 1px solid #dcdcdc;
    height: 40px;
    bottom: 0;
    position: absolute;
}

.jfxq .bottomBtn .jfjs {
    width: 15%;
    color: #fff;
    background-color: #53679c;
    height: 25px;
    line-height: 25px;
    float: left;
    margin: 7px 43% 8px 42%;
    font-size: 12px;
    border-radius: 10px;
}

.ckjf {
    width: 60%;
    height: 90%;
    background-color: #fff;
    position: absolute;
    top: 5%;
    left: 20%;
}

.ckjf .tab {
    background-color: #53679c;
    color: #fff;
    position: absolute;
    top: -5px;
    left: 0px;
    width: 21%;
    height: 40px;
    line-height: 40px;
}

.ckjf .table {
    width: 92%;
    padding: 50px 4% 0;
    font-size: 12px;
}

.ckjf .table td {
    height: 20px;
}

.ckjf .table table {
    width: 100%;
    margin-top: 20px;
}

.ckjf .table .leftFloat {
    float: left;
    height: 100%;
    line-height: 25px;
}

.ckjf .table .search {
    width: 100%;
    height: 25px;
}

.ckjf .table .search input {
    width: 90%;
    margin-right: 5%;
}

.ckjf .table .searchBtn {
    width: 60px;
    height: 25px;
    line-height: 25px;
    color: #fff;
    background-color: #53679c;
    border-radius: 10px;
    float: right;
}

.ckjf .table03 {
    width: 100%;
    height: auto;
    padding: 50px 5% 0;
    font-size: 10px;
    text-align: left;
}

.ckjf .bottomBtn {
    width: 100%;
    border-top: 1px solid #dcdcdc;
    height: 40px;
    bottom: 0;
    position: absolute;
}

.ckjf .bottomBtn .zcfq {
    width: 12%;
    color: #fff;
    background-color: #53679c;
    height: 25px;
    line-height: 25px;
    float: left;
    margin: 7px 44% 8px 44%;
    font-size: 12px;
    border-radius: 10px;
}

.xxfb {
    width: 40%;
    height: 90%;
    background-color: #fff;
    position: absolute;
    top: 5%;
    /* left: 30%; */
}

.xxfb .tab {
    background-color: #53679c;
    color: #fff;
    position: absolute;
    top: -5px;
    left: 0px;
    width: 21%;
    height: 40px;
    line-height: 40px;
}

.xxfb .table01 {
    margin-top: 50px;
    font-size: 12px;
    width: 100%;
    padding: 0 5%;
}

.xxfb .table01 input,
textarea,
select {
    width: 100%;
}

.xxfb .bottomBtn {
    width: 100%;
    border-top: 1px solid #dcdcdc;
    height: 40px;
    bottom: 0;
    position: absolute;
}

.xxfb .bottomBtn .qrfb {
    width: 16%;
    color: #fff;
    background-color: #53679c;
    height: 25px;
    line-height: 25px;
    float: left;
    margin: 7px 42% 8px 42%;
    font-size: 12px;
    border-radius: 10px;
}

.ckxx {
    width: 50%;
    height: 90%;
    background-color: #fff;
    position: absolute;
    top: 5%;
    left: 25%;
}

.ckxx .tab {
    background-color: #53679c;
    color: #fff;
    position: absolute;
    top: -5px;
    left: 0px;
    width: 21%;
    height: 40px;
    line-height: 40px;
}

.ckxx .table {
    width: 92%;
    padding: 50px 4% 0;
    font-size: 12px;
}

.ckxx .table td {
    height: 20px;
}

.ckxx .table table {
    width: 100%;
    margin-top: 20px;
}

.ckxx .table .leftFloat {
    float: left;
    height: 100%;
    line-height: 25px;
}

.ckxx .table .search {
    width: 100%;
    height: 25px;
}

.ckxx .table .search input {
    width: 90%;
    margin-right: 5%;
}

.ckxx .table .searchBtn {
    width: 60px;
    height: 25px;
    line-height: 25px;
    color: #fff;
    background-color: #53679c;
    border-radius: 10px;
    float: left;
}

.ckxx .bottomBtn {
    width: 100%;
    border-top: 1px solid #dcdcdc;
    height: 40px;
    bottom: 0;
    position: absolute;
}

.ckxx .bottomBtn .zcfb {
    width: 12%;
    color: #fff;
    background-color: #53679c;
    height: 25px;
    line-height: 25px;
    float: left;
    margin: 7px 44% 8px 44%;
    font-size: 12px;
    border-radius: 10px;
}

.cktj {
    width: 60%;
    height: 90%;
    background-color: #fff;
    position: absolute;
    top: 5%;
    left: 20%;
}

.cktj .tab {
    background-color: #53679c;
    color: #fff;
    position: absolute;
    top: -5px;
    left: 0px;
    width: 21%;
    height: 40px;
    line-height: 40px;
}

.cktj .table {
    width: 92%;
    padding: 50px 4% 0;
    font-size: 12px;
}

.cktj .table td {
    height: 20px;
}

.cktj .table table {
    width: 100%;
    margin-top: 20px;
}

.cktj .table .leftFloat {
    float: left;
    height: 100%;
    line-height: 25px;
}

.cktj .table .search {
    width: 100%;
    height: 25px;
}

.cktj .table .search input {
    width: 90%;
    margin-right: 5%;
}

.cktj .table .searchBtn {
    width: 60px;
    height: 25px;
    line-height: 25px;
    color: #fff;
    background-color: #53679c;
    border-radius: 10px;
    float: right;
}

.cktj .table03 {
    width: 100%;
    height: auto;
    padding: 50px 5% 0;
    font-size: 10px;
    text-align: left;
}

.cktj .bottomBtn {
    width: 100%;
    border-top: 1px solid #dcdcdc;
    height: 40px;
    bottom: 0;
    position: absolute;
}

.cktj .bottomBtn .zctj {
    width: 20%;
    color: #fff;
    background-color: #53679c;
    height: 25px;
    line-height: 25px;
    float: left;
    margin: 7px 30% 8px 38%;
    font-size: 12px;
    border-radius: 10px;
}

.tjxq {
    width: 40%;
    height: 90%;
    background-color: #fff;
    position: absolute;
    top: 5%;
    left: 30%;
}

.tjxq .tab {
    /* background-color: #53679c; */
    color: #fff;
    position: absolute;
    top: -5px;
    left: 0px;
    width: 21%;
    height: 40px;
    line-height: 40px;
}

.tjxq .table02 {
    width: 100%;
    height: auto;
    padding: 50px 5% 0;
    font-size: 10px;
    text-align: left;
}

.tjxq .table02 .num {
    height: 50px;
    width: 50px;
    line-height: 50px;
    background-color: #53679c;
    color: #fff;
    font-size: 20px;
    text-align: center;
}

.tjxq .table02 .state {
    height: 15px;
    font-size: 12px;
    line-height: 15px;
    width: 65px;
    border: 0.5px solid #bbb;
    margin-left: 15px;
    text-align: center;
}

.tjxq .bottomBtn {
    width: 100%;
    border-top: 1px solid #dcdcdc;
    height: 40px;
    bottom: 0;
    position: absolute;
}
.bottomAddBtn {
    width: 100%;
    border-top: 1px solid #dcdcdc;
    height: 40px;
    bottom: 0;
    position: absolute;
    
    width: 15%;
    color: #fff;
    background-color: #53679c;
    height: 25px;
    line-height: 25px;
    float: left;
    margin: 7px 43% 8px 42%;
    font-size: 12px;
    border-radius: 10px;
}
.tjxq .bottomBtn .tjjs {
    width: 15%;
    color: #fff;
    background-color: #53679c;
    height: 25px;
    line-height: 25px;
    float: left;
    margin: 7px 43% 8px 42%;
    font-size: 12px;
    border-radius: 10px;
}

.fbsp {
    width: 40%;
    height: 90%;
    background-color: #fff;
    position: absolute;
    top: 5%;
    left: 30%;
}

.fbsp .tab {
    background-color: #53679c;
    color: #fff;
    position: absolute;
    top: -5px;
    left: 0px;
    width: 21%;
    height: 40px;
    line-height: 40px;
}

.fbsp .table01 {
    margin-top: 50px;
    font-size: 12px;
    width: 100%;
    padding: 0 5%;
}

.fbsp input,
.fbsp textarea,
.fbsp select {
    width: 100%;
}

.fbsp .tjsp {
    width: 20%;
    color: #fff;
    background-color: #53679c;
    height: 25px;
    line-height: 25px;
    float: right;
    font-size: 12px;
    border-radius: 10px;
    margin-bottom: 30px;
}

.fbsp table {
    clear: both;
    width: 100%;
    font-size: 12px;
    text-align: left;
    border-collapse: collapse;
}

.fbsp table tr {
    border-top: 1px solid #aaa;
    height: 20px;
}
.fbsp table td span{
    background: url(../image/icon01.png) no-repeat;
    padding-left: 20px;
    background-size: 16px;
}

.fbsp .bottomBtn {
    width: 100%;
    border-top: 1px solid #dcdcdc;
    height: 40px;
    bottom: 0;
    position: absolute;
}

.fbsp .bottomBtn .qrfb {
    width: 16%;
    color: #fff;
    background-color: #53679c;
    height: 25px;
    line-height: 25px;
    float: left;
    margin: 7px 42% 8px 42%;
    font-size: 12px;
    border-radius: 10px;
}


.cksp {
    width: 50%;
    height: 90%;
    background-color: #fff;
    position: absolute;
    top: 5%;
    left: 25%;
}

.cksp .tab {
    background-color: #53679c;
    color: #fff;
    position: absolute;
    top: -5px;
    left: 0px;
    width: 21%;
    height: 40px;
    line-height: 40px;
}

.cksp .table {
    width: 92%;
    padding: 50px 4% 0;
    font-size: 12px;
}

.cksp .table td {
    height: 20px;
}

.cksp .table table {
    width: 100%;
    margin-top: 20px;
}

.cksp .table .leftFloat {
    float: left;
    height: 100%;
    line-height: 25px;
}

.cksp .table .search {
    width: 100%;
    height: 25px;
}

.cksp .table .search input {
    width: 90%;
    margin-right: 5%;
}

.cksp .table .searchBtn {
    width: 60px;
    height: 25px;
    line-height: 25px;
    color: #fff;
    background-color: #53679c;
    border-radius: 10px;
    float: left;
}

.cksp .bottomBtn {
    width: 100%;
    border-top: 1px solid #dcdcdc;
    height: 40px;
    bottom: 0;
    position: absolute;
}

.cksp .bottomBtn .zcfb {
    width: 12%;
    color: #fff;
    background-color: #53679c;
    height: 25px;
    line-height: 25px;
    float: left;
    margin: 7px 44% 8px 44%;
    font-size: 12px;
    border-radius: 10px;
}


.fbdy {
    width: 40%;
    height: 90%;
    background-color: #fff;
    position: absolute;
    top: 5%;
    left: 30%;
}

.fbdy .tab {
    background-color: #53679c;
    color: #fff;
    position: absolute;
    top: -5px;
    left: 0px;
    width: 21%;
    height: 40px;
    line-height: 40px;
}

.fbdy .table01 {
    margin-top: 50px;
    font-size: 12px;
    width: 100%;
    padding: 0 5%;
}

.fbdy input,
.fbdy textarea,
.fbdy select {
    width: 100%;
}

.fbdy .tjsp {
    width: 20%;
    color: #fff;
    background-color: #53679c;
    height: 25px;
    line-height: 25px;
    float: right;
    font-size: 12px;
    border-radius: 10px;
    margin-bottom: 30px;
}

.fbdy table {
    clear: both;
    width: 100%;
    font-size: 12px;
    text-align: left;
    border-collapse: collapse;
}

.fbdy table tr {
    border-top: 1px solid #aaa;
    height: 20px;
}
.fbdy table td span{
    background: url(../image/icon01.png) no-repeat;
    padding-left: 20px;
    background-size: 16px;
}

.fbdy .bottomBtn {
    width: 100%;
    border-top: 1px solid #dcdcdc;
    height: 40px;
    bottom: 0;
    position: absolute;
}

.fbdy .bottomBtn .qrfb {
    width: 16%;
    color: #fff;
    background-color: #53679c;
    height: 25px;
    line-height: 25px;
    float: left;
    margin: 7px 42% 8px 42%;
    font-size: 12px;
    border-radius: 10px;
}


.ckdy {
    width: 50%;
    height: 90%;
    background-color: #fff;
    position: absolute;
    top: 5%;
    left: 25%;
}

.ckdy .tab {
    background-color: #53679c;
    color: #fff;
    position: absolute;
    top: -5px;
    left: 0px;
    width: 21%;
    height: 40px;
    line-height: 40px;
}

.ckdy .table {
    width: 92%;
    padding: 50px 4% 0;
    font-size: 12px;
}

.ckdy .table td {
    height: 20px;
}

.ckdy .table table {
    width: 100%;
    margin-top: 20px;
}

.ckdy .table .leftFloat {
    float: left;
    height: 100%;
    line-height: 25px;
}

.ckdy .table .search {
    width: 100%;
    height: 25px;
}

.ckdy .table .search input {
    width: 90%;
    margin-right: 5%;
}

.ckdy .table .searchBtn {
    width: 60px;
    height: 25px;
    line-height: 25px;
    color: #fff;
    background-color: #53679c;
    border-radius: 10px;
    float: left;
}

.ckdy .bottomBtn {
    width: 100%;
    border-top: 1px solid #dcdcdc;
    height: 40px;
    bottom: 0;
    position: absolute;
}

.ckdy .bottomBtn .zcfb {
    width: 12%;
    color: #fff;
    background-color: #53679c;
    height: 25px;
    line-height: 25px;
    float: left;
    margin: 7px 44% 8px 44%;
    font-size: 12px;
    border-radius: 10px;
}


.spdc {
    width: 40%;
    height: 90%;
    background-color: #fff;
    position: absolute;
    top: 5%;
    left: 30%;
}

.spdc .tab {
    background-color: #53679c;
    color: #fff;
    position: absolute;
    top: -5px;
    left: 0px;
    width: 21%;
    height: 40px;
    line-height: 40px;
}

.spdc .table01 {
    font-size: 12px;
    width: 100%;
    padding: 0 5%;
}

.spdc .table01 input,
textarea,
select {
    width: 100%;
}

.spdc .bottomBtn {
    width: 100%;
    border-top: 1px solid #dcdcdc;
    height: 40px;
    bottom: 0;
    position: absolute;
}

.spdc .bottomBtn .tjwt {
    width: 16%;
    color: #fff;
    background-color: #53679c;
    height: 25px;
    line-height: 25px;
    float: left;
    margin: 7px 42% 8px 42%;
    font-size: 12px;
    border-radius: 10px;
}

.ckdc {
    width: 50%;
    height: 90%;
    background-color: #fff;
    position: absolute;
    top: 5%;
    left: 25%;
}

.ckdc .tab {
    background-color: #53679c;
    color: #fff;
    position: absolute;
    top: -5px;
    left: 0px;
    width: 21%;
    height: 40px;
    line-height: 40px;
}

.ckdc .table {
    width: 92%;
    padding: 50px 4% 0;
    font-size: 12px;
}

.ckdc .table td {
    height: 20px;
}

.ckdc .table table {
    width: 100%;
    margin-top: 20px;
}

.ckdc .bottomBtn {
    width: 100%;
    border-top: 1px solid #dcdcdc;
    height: 40px;
    bottom: 0;
    position: absolute;
}

.ckdc .bottomBtn .zcdc {
    width: 12%;
    color: #fff;
    background-color: #53679c;
    height: 25px;
    line-height: 25px;
    float: left;
    margin: 7px 44% 8px 44%;
    font-size: 12px;
    border-radius: 10px;
}