@charset "utf-8";

.container {
	width: 845px;
}
.formWrap {
	padding: 82px 40px 30px;
}
textarea.messageContent {
	width: 100%;
	height: 120px;
	resize: none;
}
.formWrap .form-group {
	margin-left: 0;
	margin-right: 0;
}
.linkage {
	padding-left: 120px;
	margin-left: -10px;
	margin-right: -10px;
}
.linkage .input-group {
	width:33.33%;
	padding-left: 10px;
	padding-right: 10px;
	float: left;
}
.twoCol .form-group{
	width: 50%;
	float: left;
}
.modal-dialog {
	width: 1200px;
	margin-top: 10px;
}
.assemblybody {
	padding: 10px 0;
}
table td {
	vertical-align: middle;
	text-align: center;
}
table td p {
	text-align: left;
}
.paging {
	text-align: right;
}
.infoList input[type=checkbox] {
	width: 15px;
	height: 15px;
	vertical-align: middle;
}
.infoList td {
	margin: 0!important;
	vertical-align: middle!important;
}
.pagination {
	margin: 0;
}
.pageJump {
	margin: 0;
}
.menuUl .box {
	width: 200px;
	/*border: 1px solid red;*/
}
.menuUl ul {
	margin-left: 20px;
	/*border: 1px solid blue;*/
}
.menuUl li {
	margin: 10px 0;
}
.menuUl li span:hover {
	text-decoration: underline;
	cursor: pointer;
}
.menuUl li i {
	margin-right: 10px; 
	top: 0px; 
	cursor: pointer; 
	color: #161616;
}
.innerUl {
	height: 441px;
	overflow: auto;
}
.innerUl .menuUl li span.active {
	color: #ff6600;
}
.innerUl .menuUl {
	display:none;
}
.innerUl > .menuUl {
	display:block;
}
.selectedPerson {
	height: 441px;
	overflow: auto;
	padding: 10px;
}
.selectedPerson li {
	width: 45%;
	margin: 5px 2.5%;
	height: 40px;
	line-height: 40px;
	background: #EEEEEE;
	color: #000;
	border-radius: 5px;
	text-align: center;
	float: left;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	cursor: pointer;
}
.bodyContent .fa-file-o {
	display: inline-block;
	width: 15px;
	height:15px;
	background: url(../images/file-icon.png) no-repeat center center / 100% 100%;
}
.bodyContent .fa-folder-o {
	display: inline-block;
	width: 15px;
	height:15px;
	background: url(../images/fileclose-icon.png) no-repeat center center / 100% 100%;
}
.bodyContent .fa-folder-open-o {
	display: inline-block;
	width: 15px;
	height:15px;
	background: url(../images/fileopen-icon.png) no-repeat center center / 100% 100%;
}
.bodyContent td label {
	display: block;
	padding: 10px 0;
}
.bodyContent th,
.bodyContent td {
	padding: 0!important;
}
.bodyContent th label,
.bodyContent td label {
	padding: 10px;
}