@charset "utf-8";

.container {
	width: 1100px;
}
.formWrap {
	padding: 82px 40px 10px;
}
.formWrap .form-group {
	margin-left: 0;
	margin-right: 0;
}
.questionnaire {
	background:#F8F8F7;
	border:1px dashed #999;
	min-height:100px;
	padding: 10px;
}
.quesnaireList li {
	float: left;
	width: 80px;
	padding: 5px;
	text-align: center;
	cursor: pointer;
	background: #E8E7E4;
	border-radius: 5px;
	margin-right: 5px;
	margin-bottom: 5px;
}
.quesnaireList li.addQuest {
	width: 20px;
	padding: 5px 0;
	text-align: center;
	background: #fff;
	border: 1px solid #ccc;
}
.quesnaireList li:hover {
	background: #E3E3E3;
}
.quesnaireList li.active {
	background: #fff;
	padding: 4px;
	border: 1px solid #ccc;
}
.quesnaireList li i {
	font-style: normal;
	margin-right: 10px;
}
.answerOptions {
	margin-top: 20px;
}
.answerList li {
	width: 50%;
	float: left;
	padding-right: 20px;
	margin-bottom: 10px;
}
.answerList li input {
	width: 380px;
	float: left;
	display: block;
	height: 40px;
	line-height: 40px;
	border: 1px solid #E3E1DE;
	padding: 0 10px;
	font-size: 14px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
.answerList li i {
	display: block;
	float: left;
	font-style: normal;
	width: 40px;
	height: 40px;
	line-height: 40px;
	text-align: center;
	cursor: pointer;
	border: 1px solid #E3E1DE;
	border-left: none;
	background: #FAFAF9;
	font-size: 16px;
}
.answerList li i:hover {
	background: #F5F5F5;
	text-shadow: 0 0 2px #ccc;
}
.addAnsBtn {
	width: 420px;
	height: 40px;
	line-height: 40px;
	border: 1px dashed #E3E1DE;
	padding: 0 10px;
	font-size: 14px;
	background: #FAFAF9;
	cursor: pointer;
}
.addAnsBtn:hover {
	background: #F5F5F5;
	text-shadow: 0 0 2px #ccc;
}
.inlineGroup .form-group {
	width: 50%;
	float: left;
}