
.content {
	width: 800px;
	height: 300px;
	position: absolute;
	top: 50%;
	left: 50%;
	margin-left: -400px;
	margin-top: -180px;
	background: #fff;
	border: none;
}
.upWrapper {
	padding-top: 140px;
	text-align: center;
	border: 1px solid #ababab;
	border-bottom: 1px solid #E0DED9;
	height: 300px;
}
.upWrapper .btn {
	padding: 6px 30px;
}
.btn-default {
    color: #333;
    background-color: #fff;
    border-color: #ccc;
}
.btnWrapper {
	padding: 20px 0;
	background: #F8F8F7;
	border: 1px solid #ababab;
	border-top: 0;
}
.btnWrapper .btn {
	margin: 0 10px;
}
#chooseFile .form-group {
	width: 400px;
	overflow: hidden;
	white-space: nowrap;
}