@charset "utf-8";

html,
body,
div,
p,
h1,
h2,
h3,
h4,
h5,
h6,
ul,
ol,
li,
dl,
dt,
dd,
a,
span,
em,
i,
b,
label,
strong,
header,
nav,
article,
aside,
section,
footer {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body {
	font-family: 'Microsoft Yahei';
	min-width: 1200PX;
	background: url("../images/body-bg.jpg") no-repeat fixed center center / 100% 100%;
}
.btnWrap {
	padding: 18px 0;
	text-align: center;
	width: 100%;
	background: #f8f8f8;
	border: 1px solid #ababab;
	border-top: 1px solid #dcdcdc;
}
.btn {
	padding: 10px 30px;
	/*background: #53679c;
	color: #fff;*/
}
.modal .btn {
	padding: 6px 12px;
}
.clearfix::after,
.clearfix::before {
	display: table;
	content: '';
}
.clearfix::after {
	clear: both;
}
.pull-left {
	float: left;
}
.pull-right {
	float: right;
}
img {
	vertical-align: middle;
	border: none;
}
li {
	list-style: none;
}
a {
	color: #000;
	text-decoration: none!important;
}
a:hover {
	color: #fe6700;
}
.wrapper {
	width: 100%;
	position: relative;
	min-width: 1200PX;
}
.container {
	width: 1200px;
	margin: 0 auto;
	padding: 0;
}
.contentWrap {
	padding-bottom: 28px;
}
header {
	height: 80px;
	min-width: 1200px;
	background: url("../images/header-bg.jpg") no-repeat center top / 100% 100%;
}
header h1 {
	height: 80px;
	line-height: 80px;
	float: left;
	padding-left: 33px;
	font-size: 0;
}
.changeSkin {
	height: 80px;
	line-height: 80px;
	padding-right: 30px;
	margin-left: -20px;
}
.fabuBtn {
	height: 80px;
	line-height: 80px;
	padding-right: 20px;
}
.fabuBtn > a {
	padding: 10px 30px;
	font-size: 14px;
	color: #fff!important;
	background: url("../images/btn-fabu.png") no-repeat center center /100% 100%;
	border-radius: 5px;
}
.loginWrapper {
	height: 80px;
	line-height: 80px;
	padding-right: 30px;
	position: relative;
}
.loginWrapper .welcome,
.loginWrapper .userName {
	color: #fff!important;
	font-size: 16px;
	display: inline-block;
	vertical-align: middle;
}
.loginWrapper .userInfo {
	position: relative;
	display: inline-block;
	margin-left: 10px;
}
.loginWrapper .userName span {
	text-align: right;
	display: inline-block;
	max-width: 150px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	vertical-align: middle;
}
.changeSkin .skinIcon { 
	display: inline-block;
	vertical-align: middle;
	width: 31px;
	height: 31px;
	position: relative;
	z-index: 2;
	cursor: pointer;
	background: url(../images/skin-icon.png) no-repeat center center;
}
.changeSkin .skinIcon:hover {
	background-image: url(../images/skin-icon-hover.png);
}
section .goBack {
	position: fixed;
	top: 90px;
	left: 15px;
	z-index: 1001;
}
.loginWrapper .userInfo .dropWrap {
	position: absolute;
	width: 93px;
	padding: 12px;
	background: url("../images/loginOut-bg.png") no-repeat center top / 100% 100%;
	left: -58px;
	top: 73px;
	line-height: 26px;
	display: none;
	z-index: 2;
}
.loginWrapper .userIcon {
	display: inline-block;
	vertical-align: middle;
	width: 31px;
	height: 31px;
	line-height: 31px;
	font-size: 0;
	background: url(../images/user-icon.png) no-repeat center center;
}
.loginWrapper .userIcon:hover {
	background-image: url(../images/user-icon-hover.png);
}
.loginWrapper .dropWrap a {
	font-size: 16px;
	color: #333;
	display: block;
}
.loginWrapper .dropWrap a:hover {
	color: #fe6700;
}
footer {
	min-width: 1200px;
	height: 50px;
	line-height: 50px;
	font-size: 16px;
	text-align: right;
	padding-right: 20px;
	background: url("../images/footer-bg.jpg") no-repeat center top / 100% 100%;
}
footer a {
	color: #028EC5;
}
footer a:hover {
	color: #028EC5;
}
.formLabel {
	width: 100px;
	float: left;
}
.formInput {
	position: relative;
	margin-left: 110px;
}
.iconTitle {
	width: 199px;
	height: 59px;
	background: url("../images/littleTittle.png") no-repeat center center / 100% 100%;
	position: absolute;
	left: -1px;
	top: -10px;
	font-size: 20px;
	color: #fff;
	text-align: center;
	line-height: 59px;
}
.content {
	width:  100%;
	border: 1px solid #ababab;
	margin-top: 46px;
	background: #fff;
	position: relative;
}
.checkbox,
.checkbox label,
.checkbox input {
	cursor: pointer;
}
.checkbox label {
	display: inline;
}
.checkbox {
	padding: 0!important;
	line-height: 24px;
	display: inline;
}
.form-control[disabled], 
.form-control[readonly], 
fieldset[disabled] .form-control {
	background: #fff;
}
.Validform_checktip {
	position: absolute;
	top: -30px;
	left: 0;
	padding: 5px 10px;
	background: red;
	color: #fff;
	display: none;
	border-radius: 5px;
}
.Validform_checktip::after {
	content: '';
	position: absolute;
	bottom: -16px;
	left: 10px;
	border: 8px solid #fff;
	border-top-color: red;
}
.Validform_wrong {
	display: block;
}
.Validform_right {
	display: none;
}
.dropdown-menu {
	padding: 0;
}
.glyphicon-arrow-left::before {
	content: '《';
}
.glyphicon-arrow-right::before {
	content: '》';
}
input.error {
	border: 1px solid red;
	color: red;
}
a.error {
	color: red;
	border: 1px solid red;
	background: #fff;
}

.modal .modal-header {
	background: #4A6694;
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
	color: #fff;
	padding-top: 10px;
	padding-bottom: 10px;
}
.modal .modal-header .close {
	opacity: .5;
}
.modal .modal-header .close:hover {
	opacity: .8;
}
.modal .modal-header .close span {
	color: #fff;
}
#validateRemind {
	z-index: 1060!important;
}
.formLabel sup {
	color: #FF000A;
}