@charset "utf-8";

.articleWrap {
	padding: 55px 36px 24px;
}
.artTitle {
	font-size: 36px;
	text-align: center;
	color: #505050;
}
.artText {
	font-size: 24px;
	color: #505050;
	text-indent: 2em;
	margin-top: 35px;
	overflow: hidden;
	text-overflow: ellipsis;
	word-break: break-all;
	line-height: 40px;
}
.artPic {
	margin-top: 25px;
	background: #efefef;
	padding: 0 22px;
}
.artPic > img {
	width: 100%;
}