@charset "utf-8";

.articleWrap {
	padding: 55px 36px 24px;
}
.artTitle {
	font-size: 36px;
	text-align: center;
	color: #505050;
	word-break: break-all;
}
.artText {
	margin-top: 35px;
	word-break: break-all;
	overflow: hidden;
}
.artText img {
	max-width: 100%;
	vertical-align: inherit;
}