@charset "utf-8";

.container {
	width: 1000px;
}
.contMain {
	padding: 18px;
}
.voteExplainTit {
	text-align: center;
	font-size: 18px;
	color: #505050;
	line-height: 30px;
	padding: 0 18px;
	margin-top: 60px;
	word-break: break-all;
}
.voteSmailTit {
	font-size: 20px;
	padding: 0 18px;
	margin-top: 20px;
}
.voteExplain {
	word-break: break-all;
	font-size: 20px;
	color: #505050;
	text-indent: 2em;
	line-height: 30px;
	padding: 0 18px;
}
.presonList li {
	width: 11.11%;
	text-align: center;
	background: #fff;
	padding: 10px;
	float: left;
}
.presonList li a {
	display: block;
	cursor: default;
	border: 1px solid #ff6600;
	border-radius: 5px;
	padding: 5px;
	color: #000;
	text-align: left;
}
.presonList li a > div {
	position: relative;
}
.presonList li .selectIcon {
	position: absolute;
	right: -15px;
	bottom: -15px;
	border-radius: 50%;
	width: 30px;
	height: 30px;
	background: #fff url(../images/pingxuan-default.png) no-repeat center center / 100% 100%;
}
.presonList li.active .selectIcon {
	background-image: url(../images/pingxuan-active.png);
}
.presonList .name {
	font-size: 12px;
}
.progressBar {
	width: 100%;
	height: 10px;
	overflow: hidden;
}
.progressBar span {
	display: inline-block;
	height: 100%;
	background: #FFAD00;
	vertical-align: top;
}
.presonList .picWrap {
	width: 100%;
	height: 82px;
	margin-top: 3px;
} 
.presonList .poll {
	font-size: 12px;
}
.presonList .picWrap > img {
	width: 100%;
	height: 100%;
}
