@charset "utf-8";

.articleWrap {
	padding: 55px 36px 24px;
}
.artTitle {
	font-size: 32px;
	text-align: center;
	color: #86386c;
	word-break: break-all;
}
.artText {
	margin-top: 35px;
}
.videoWrap {
	width: 816px;
	height: 600px;
	background: #ccc;
}
.videoWrap > video {
	width: 100%;
	height: 100%;
}
.videoDes {
	height: 600px;
	font-size: 24px;
	color: #3a3a3a;
	overflow: auto;
	word-break: break-all;
	margin-left: 843px;
}