@charset "utf-8";

.sectionOne {
	width: 100%;
	height: 468px;
	padding: 16px;
	background: #fff;
	border: 1px solid #ababab;
	margin-top: 48px;
}
.secOneLeft {
	width: 772px;
	height: 100%;
	background: #ccc;
}
.secOneRight {
	position: relative;
	width: 377PX;
	height: 100%;
}
.rightTop {
	height: 250px;
	background: #e4e7eb;
	padding: 18px;
}
.rightBottom {
	height: 166px;
	background: #e4e7eb;
	padding: 18px;
	margin-top: 19px;
}
.rightItemTitle {
	font-size: 20px;
	color: #76859b;
}
.rightItemTitle a {
	font-size: inherit;
	color: inherit;
}
.rightTopPic {
	margin-top: 5px;
	height: 190px;
}
.rightTopPic > img {
	width: 100%;
	height: 100%;
}
.rightBotPic {
	height: 102px;
	margin-top: 5px;
}
.rightBotPic > img {
	width: 100%;
	height: 100%;
}
.sectionTwo {
	height: 365px;
	margin-top: 12px;
}
.secTwoItem {
	padding: 20px;
	position: relative;
}
.secTwoItem1 {
	width: 430px;
	height: 100%;
	background: #fff;
}
.secTwoItem1ContWrap {
	background: #e4e7eb;
	padding: 20px;
	height: 100%;
}
.secTwoItem2,
.secTwoItem3 {
	width: 386px;
	height: 100%;
	background: #fff;
}
.secTwoItem2 .rightItemTitle,
.secTwoItem3 .rightItemTitle {
	line-height: 20px;
	padding-left: 30px;
	background: url("../images/line-bg.png") no-repeat left center;
}
.secTwoItem ul,
.prelection ul, {
	margin-top: 10px;
}
.secTwoItem li,
.prelection li {
	margin-top: 18px;
	font-size: 18px;
}
.secTwoItem li:first-child,
.prelection li:first-chil {
	margin-top: 0;
}
.secTwoItem a,
.prelection a {
	font-size: 16px;
	display: block;
}
.secTwoItem .picIcon,
.prelection .picIcon {
	display: inline-block;
	width: 16px;
	height: 20px;
	text-align: center;
	line-height: 20px;
	font-size: 0;
	vertical-align: middle;
	float: left;
}
.secTwoItem .paragraphLink,
.prelection .paragraphLink {
	line-height: 20px;
	margin-left: 20px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
.prelection {
	margin-top: 25px;
}
.secTwoItem1 .paragraphLink {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
.secTwoItem1 li {
	padding-right: 60px;
	position: relative;
}
.secTwoItem1 span {
	position: absolute;
	right: 0;
	top: 0;
}
.secTwoItem1 span.training {
	color: #ff6600;
}
.secTwoItem1 span.trainEnd {
	color: #666;
}
.lookMore {
	position: absolute;
	right: 20px;
	bottom: 20px;
}