<!DOCTYPE html>
<html>

	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no, minimal-ui" />
		<meta name="apple-mobile-web-app-capable" content="yes" />
		<meta http-equiv="pragma" content="no-cache" />
		<meta name="apple-mobile-web-app-status-bar-style" content="black" />
		<meta name="format-detection" content="telephone=no, email=no" />
		<title>扫描微信二维码关注诊所</title>
		<link rel="stylesheet" type="text/css" href="../../css/main.css" />
		<link rel="stylesheet" type="text/css" href="../../css/barcode.css"/>
	</head>
	<body>
		<div class="barcode_wrapper">
			<div class="barcode_header">
				<div class="header_pic">
					<img src="" alt="">
				</div>
				<h1 class="hospital_tit"></h1>
				<div class="hospital_grade">
					<div class="grade_starwrap">
						<span class="grade_gray">
							<span class="grade_orange"></span>
						</span>
						<span class="star_text">0.0分</span>
					</div>
				</div>
				<div class="hospital_address">
					浙江省杭州市西湖区东西大厦88号
				</div>
			</div>
			<div class="barcode_piccode">
				<div class="piccode_tit">
					扫描微信二维码关注诊所
				</div>
				<div class="piccode_pic">
					<img src="" alt="">
				</div>
			</div>
		</div>
		<script src="../../resource/js/jquery-2.1.1.min.js"></script>
		<script src="../../resource/js/common.js" type="text/javascript" charset="utf-8"></script>
		<script src="inc/barcode.js" type="text/javascript" charset="utf-8"></script>
  </body>
</html>
