@charset 'utf-8';

.content {
	padding-top: 30px;
	position: relative;
	margin-bottom: 85px;
	border-radius: 0;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
}
.content h3 {
	font-size: 34px;
	text-align: center;
	color: #505050;
	margin-bottom: 20px;
}

.content p {
	text-indent: 2em;
	font-size: 20px;
	color: #505050;
	line-height: 40px;
}
.content .picWrap {
	width: 98%;
	margin: 20px auto 0;
	text-align: center;
	background: #efefef;
}
.content .picWrap img {
	min-width: 50%;
}
.contentFooter {
	position: absolute;
	bottom: -61px;
	left: 0;
	width: 100%;
	background: rgba(255,255,255,.7);
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
}
.contentFooter li {
	font-size: 20px;
	height: 60px;
	line-height: 60px;
	padding-left: 28px;
}
.videoLeft {
	width: 150px;
}
.videoPic {
	width: 100%;
	height: 200px;
}
.videoPic img {
	width: 100%;
	height: 100%;
}
.videoRight {
	margin-left: 170px;
}
.videoRight p {
	font-size: 20px;
	text-indent: 2em;
	word-break: break-all;
}
.playWrap {
	margin-top: 15px;
}
.playWrap .btn {
	display: block;
	padding-left: 0;
	padding-right: 0;
	text-align: center;
}