<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jzsx.xlgc.videoMediate.mapper.TVideoMediateMapper">
	<resultMap id="BaseResultMap" type="com.jzsx.xlgc.bean.TVideoMediate">
		<id column="MEDIATEID" property="mediateid" jdbcType="VARCHAR" />
		<result column="MEDIATE_NAME" property="mediateName" jdbcType="VARCHAR" />
		<result column="MEDIATE_PID" property="mediatePid" jdbcType="VARCHAR" />
		<result column="MEDIATE_ADDRESS" property="mediateAddress"
			jdbcType="VARCHAR" />
		<result column="MEDIATE_PID_NUMBER" property="mediatePidNumber"
			jdbcType="VARCHAR" />
		<result column="MEDIATE_TELEPHONE" property="mediateTelephone"
			jdbcType="VARCHAR" />
		<result column="MEDIATE_CELLPHONE" property="mediateCellphone"
			jdbcType="VARCHAR" />
		<result column="MEDIATE_COMPLETE_ADD" property="mediateCompleteAdd"
			jdbcType="VARCHAR" />
		<result column="MEDIATE_IDENTIFIER" property="mediateIdentifier"
			jdbcType="VARCHAR" />
		<result column="MEDIATE_REGIS_UNIT" property="mediateRegisUnit"
			jdbcType="VARCHAR" />
		<result column="MEDIATE_PURPOSE" property="mediatePurpose"
			jdbcType="VARCHAR" />
		<result column="MEDIATE_DATE" property="mediateDate" jdbcType="VARCHAR" />
		<result column="MEDIATE_REGIS_NAME" property="mediateRegisName"
			jdbcType="VARCHAR" />
		<result column="MEDIATE_REGIS_BRANCH" property="mediateRegisBranch"
			jdbcType="VARCHAR" />
		<result column="MEDIATE_REGIS_DATE" property="mediateRegisDate"
			jdbcType="VARCHAR" />
		<result column="MEDIATE_NUMBER" property="mediateNumber"
			jdbcType="VARCHAR" />
		<result column="MEDIATE_REASON" property="mediateReason"
			jdbcType="VARCHAR" />
		<result column="MEDIATE_CONTENT" property="mediateContent"
			jdbcType="VARCHAR" />
		<result column="MEDIATE_PROTOCOL" property="mediateProtocol"
			jdbcType="VARCHAR" />
		<result column="MEDIATER_STATUS" property="mediaterStatus"
			jdbcType="DECIMAL" />
		<result column="MEDIATE_CODE" property="mediateCode" jdbcType="VARCHAR" />
		<result column="CONF_ID" property="confId" jdbcType="VARCHAR" />
		<association property="areas" column="MEDIATE_ADDRESS"
			select="com.jzsx.xlgc.area.Dao.AreaDao.queryByCode"></association>
	</resultMap>

	<resultMap id="JoinBaseResultMap" type="com.jzsx.xlgc.bean.TVideoMediate">
		<id column="MEDIATEID" property="mediateid" jdbcType="VARCHAR" />
		<result column="MEDIATE_NAME" property="mediateName" jdbcType="VARCHAR" />
		<result column="MEDIATE_PID" property="mediatePid" jdbcType="VARCHAR" />
		<result column="MEDIATE_ADDRESS" property="mediateAddress"
			jdbcType="VARCHAR" />
		<result column="MEDIATE_PID_NUMBER" property="mediatePidNumber"
			jdbcType="VARCHAR" />
		<result column="MEDIATE_TELEPHONE" property="mediateTelephone"
			jdbcType="VARCHAR" />
		<result column="MEDIATE_CELLPHONE" property="mediateCellphone"
			jdbcType="VARCHAR" />
		<result column="MEDIATE_COMPLETE_ADD" property="mediateCompleteAdd"
			jdbcType="VARCHAR" />
		<result column="MEDIATE_IDENTIFIER" property="mediateIdentifier"
			jdbcType="VARCHAR" />
		<result column="MEDIATE_REGIS_UNIT" property="mediateRegisUnit"
			jdbcType="VARCHAR" />
		<result column="MEDIATE_PURPOSE" property="mediatePurpose"
			jdbcType="VARCHAR" />
		<result column="MEDIATE_DATE" property="mediateDate" jdbcType="VARCHAR" />
		<result column="MEDIATE_REGIS_NAME" property="mediateRegisName"
			jdbcType="VARCHAR" />
		<result column="MEDIATE_REGIS_BRANCH" property="mediateRegisBranch"
			jdbcType="VARCHAR" />
		<result column="MEDIATE_REGIS_DATE" property="mediateRegisDate"
			jdbcType="VARCHAR" />
		<result column="MEDIATE_NUMBER" property="mediateNumber"
			jdbcType="VARCHAR" />
		<result column="MEDIATE_REASON" property="mediateReason"
			jdbcType="VARCHAR" />
		<result column="MEDIATE_CONTENT" property="mediateContent"
			jdbcType="VARCHAR" />
		<result column="MEDIATE_PROTOCOL" property="mediateProtocol"
			jdbcType="VARCHAR" />
		<result column="MEDIATER_STATUS" property="mediaterStatus"
			jdbcType="DECIMAL" />
		<result column="MEDIATE_CODE" property="mediateCode" jdbcType="VARCHAR" />
		<result column="CONF_ID" property="confId" jdbcType="VARCHAR" />
	</resultMap>

	<resultMap type="com.jzsx.xlgc.bean.Area" id="resultArea">
		<result  column="MCU" property="mcu" />
		<result  column="HPHONE" property="hphone" />
	</resultMap>
	
	<sql id="Example_Where_Clause">
		<where>
			<foreach collection="oredCriteria" item="criteria" separator="or">
				<if test="criteria.valid">
					<trim prefix="(" suffix=")" prefixOverrides="and">
						<foreach collection="criteria.criteria" item="criterion">
							<choose>
								<when test="criterion.noValue">
									and ${criterion.condition}
								</when>
								<when test="criterion.singleValue">
									and ${criterion.condition} #{criterion.value}
								</when>
								<when test="criterion.betweenValue">
									and ${criterion.condition} #{criterion.value} and
									#{criterion.secondValue}
								</when>
								<when test="criterion.listValue">
									and ${criterion.condition}
									<foreach collection="criterion.value" item="listItem"
										open="(" close=")" separator=",">
										#{listItem}
									</foreach>
								</when>
							</choose>
						</foreach>
					</trim>
				</if>
			</foreach>
		</where>
	</sql>
	<sql id="Update_By_Example_Where_Clause">
		<where>
			<foreach collection="example.oredCriteria" item="criteria"
				separator="or">
				<if test="criteria.valid">
					<trim prefix="(" suffix=")" prefixOverrides="and">
						<foreach collection="criteria.criteria" item="criterion">
							<choose>
								<when test="criterion.noValue">
									and ${criterion.condition}
								</when>
								<when test="criterion.singleValue">
									and ${criterion.condition} #{criterion.value}
								</when>
								<when test="criterion.betweenValue">
									and ${criterion.condition} #{criterion.value} and
									#{criterion.secondValue}
								</when>
								<when test="criterion.listValue">
									and ${criterion.condition}
									<foreach collection="criterion.value" item="listItem"
										open="(" close=")" separator=",">
										#{listItem}
									</foreach>
								</when>
							</choose>
						</foreach>
					</trim>
				</if>
			</foreach>
		</where>
	</sql>
	<sql id="Base_Column_List">
		MEDIATEID, MEDIATE_NAME, MEDIATE_PID, MEDIATE_ADDRESS, MEDIATE_PID_NUMBER,
		MEDIATE_TELEPHONE,
		MEDIATE_CELLPHONE, MEDIATE_COMPLETE_ADD, MEDIATE_IDENTIFIER, MEDIATE_REGIS_UNIT,
		MEDIATE_PURPOSE, MEDIATE_DATE, MEDIATE_REGIS_NAME,
		MEDIATE_REGIS_BRANCH, MEDIATE_REGIS_DATE,
		MEDIATE_NUMBER, MEDIATE_REASON, MEDIATE_CONTENT, MEDIATE_PROTOCOL, MEDIATER_STATUS,
		MEDIATE_CODE,CONF_ID
	</sql>
	<sql id="Join_Base_Column_List">
		MEDIATEID, MEDIATE_NAME, MEDIATE_PID, MEDIATE_ADDRESS, MEDIATE_PID_NUMBER,
		MEDIATE_TELEPHONE,
		MEDIATE_CELLPHONE, MEDIATE_COMPLETE_ADD, MEDIATE_IDENTIFIER, MEDIATE_REGIS_UNIT,
		MEDIATE_PURPOSE, MEDIATE_DATE, MEDIATE_REGIS_NAME,
		MEDIATE_REGIS_BRANCH, MEDIATE_REGIS_DATE,
		MEDIATE_NUMBER, MEDIATE_REASON, MEDIATE_CONTENT, MEDIATE_PROTOCOL, MEDIATER_STATUS,
		MEDIATE_CODE
	</sql>
	<select id="selectByExample" resultMap="BaseResultMap"
		parameterType="com.jzsx.xlgc.bean.TVideoMediateExample">
		select
		<if test="distinct">
			distinct
		</if>
		<include refid="Base_Column_List" />
		from T_VIDEO_MEDIATE
		<if test="_parameter != null">
			<include refid="Example_Where_Clause" />
		</if>
		<if test="orderByClause != null">
			order by ${orderByClause}
		</if>
	</select>
	<select id="selectByPrimaryKey" resultMap="BaseResultMap"
		parameterType="java.lang.String">
		select
		<include refid="Base_Column_List" />
		from T_VIDEO_MEDIATE
		where MEDIATEID = #{mediateid,jdbcType=VARCHAR}
	</select>
	<delete id="deleteByPrimaryKey" parameterType="java.lang.String">
		delete from T_VIDEO_MEDIATE
		where MEDIATEID = #{mediateid,jdbcType=VARCHAR}
	</delete>
	<delete id="deleteByExample" parameterType="com.jzsx.xlgc.bean.TVideoMediateExample">
		delete from T_VIDEO_MEDIATE
		<if test="_parameter != null">
			<include refid="Example_Where_Clause" />
		</if>
	</delete>
	<insert id="insert" parameterType="com.jzsx.xlgc.bean.TVideoMediate">
		insert into T_VIDEO_MEDIATE (MEDIATEID, MEDIATE_NAME, MEDIATE_PID,
		MEDIATE_ADDRESS, MEDIATE_PID_NUMBER, MEDIATE_TELEPHONE,
		MEDIATE_CELLPHONE, MEDIATE_COMPLETE_ADD, MEDIATE_IDENTIFIER,
		MEDIATE_REGIS_UNIT, MEDIATE_PURPOSE, MEDIATE_DATE,
		MEDIATE_REGIS_NAME, MEDIATE_REGIS_BRANCH, MEDIATE_REGIS_DATE,
		MEDIATE_NUMBER, MEDIATE_REASON, MEDIATE_CONTENT,
		MEDIATE_PROTOCOL, MEDIATER_STATUS, MEDIATE_CODE,CONF_ID
		)
		values (#{mediateid,jdbcType=VARCHAR}, #{mediateName,jdbcType=VARCHAR},
		#{mediatePid,jdbcType=VARCHAR},
		#{mediateAddress,jdbcType=VARCHAR}, #{mediatePidNumber,jdbcType=VARCHAR},
		#{mediateTelephone,jdbcType=VARCHAR},
		#{mediateCellphone,jdbcType=VARCHAR},
		#{mediateCompleteAdd,jdbcType=VARCHAR},
		#{mediateIdentifier,jdbcType=VARCHAR},
		#{mediateRegisUnit,jdbcType=VARCHAR},
		#{mediatePurpose,jdbcType=VARCHAR}, #{mediateDate,jdbcType=VARCHAR},
		#{mediateRegisName,jdbcType=VARCHAR},
		#{mediateRegisBranch,jdbcType=VARCHAR},
		#{mediateRegisDate,jdbcType=VARCHAR},
		#{mediateNumber,jdbcType=VARCHAR}, #{mediateReason,jdbcType=VARCHAR},
		#{mediateContent,jdbcType=VARCHAR},
		#{mediateProtocol,jdbcType=VARCHAR},
		#{mediaterStatus,jdbcType=DECIMAL},
		#{mediateCode,jdbcType=VARCHAR},#{confId,jdbcType=VARCHAR}
		)
	</insert>
	<insert id="insertSelective" parameterType="com.jzsx.xlgc.bean.TVideoMediate">
		insert into T_VIDEO_MEDIATE
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="mediateid != null">
				MEDIATEID,
			</if>
			<if test="mediateName != null">
				MEDIATE_NAME,
			</if>
			<if test="mediatePid != null">
				MEDIATE_PID,
			</if>
			<if test="mediateAddress != null">
				MEDIATE_ADDRESS,
			</if>
			<if test="mediatePidNumber != null">
				MEDIATE_PID_NUMBER,
			</if>
			<if test="mediateTelephone != null">
				MEDIATE_TELEPHONE,
			</if>
			<if test="mediateCellphone != null">
				MEDIATE_CELLPHONE,
			</if>
			<if test="mediateCompleteAdd != null">
				MEDIATE_COMPLETE_ADD,
			</if>
			<if test="mediateIdentifier != null">
				MEDIATE_IDENTIFIER,
			</if>
			<if test="mediateRegisUnit != null">
				MEDIATE_REGIS_UNIT,
			</if>
			<if test="mediatePurpose != null">
				MEDIATE_PURPOSE,
			</if>
			<if test="mediateDate != null">
				MEDIATE_DATE,
			</if>
			<if test="mediateRegisName != null">
				MEDIATE_REGIS_NAME,
			</if>
			<if test="mediateRegisBranch != null">
				MEDIATE_REGIS_BRANCH,
			</if>
			<if test="mediateRegisDate != null">
				MEDIATE_REGIS_DATE,
			</if>
			<if test="mediateNumber != null">
				MEDIATE_NUMBER,
			</if>
			<if test="mediateReason != null">
				MEDIATE_REASON,
			</if>
			<if test="mediateContent != null">
				MEDIATE_CONTENT,
			</if>
			<if test="mediateProtocol != null">
				MEDIATE_PROTOCOL,
			</if>
			<if test="mediaterStatus != null">
				MEDIATER_STATUS,
			</if>
			<if test="mediateCode != null">
				MEDIATE_CODE,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="mediateid != null">
				#{mediateid,jdbcType=VARCHAR},
			</if>
			<if test="mediateName != null">
				#{mediateName,jdbcType=VARCHAR},
			</if>
			<if test="mediatePid != null">
				#{mediatePid,jdbcType=VARCHAR},
			</if>
			<if test="mediateAddress != null">
				#{mediateAddress,jdbcType=VARCHAR},
			</if>
			<if test="mediatePidNumber != null">
				#{mediatePidNumber,jdbcType=VARCHAR},
			</if>
			<if test="mediateTelephone != null">
				#{mediateTelephone,jdbcType=VARCHAR},
			</if>
			<if test="mediateCellphone != null">
				#{mediateCellphone,jdbcType=VARCHAR},
			</if>
			<if test="mediateCompleteAdd != null">
				#{mediateCompleteAdd,jdbcType=VARCHAR},
			</if>
			<if test="mediateIdentifier != null">
				#{mediateIdentifier,jdbcType=VARCHAR},
			</if>
			<if test="mediateRegisUnit != null">
				#{mediateRegisUnit,jdbcType=VARCHAR},
			</if>
			<if test="mediatePurpose != null">
				#{mediatePurpose,jdbcType=VARCHAR},
			</if>
			<if test="mediateDate != null">
				#{mediateDate,jdbcType=VARCHAR},
			</if>
			<if test="mediateRegisName != null">
				#{mediateRegisName,jdbcType=VARCHAR},
			</if>
			<if test="mediateRegisBranch != null">
				#{mediateRegisBranch,jdbcType=VARCHAR},
			</if>
			<if test="mediateRegisDate != null">
				#{mediateRegisDate,jdbcType=VARCHAR},
			</if>
			<if test="mediateNumber != null">
				#{mediateNumber,jdbcType=VARCHAR},
			</if>
			<if test="mediateReason != null">
				#{mediateReason,jdbcType=VARCHAR},
			</if>
			<if test="mediateContent != null">
				#{mediateContent,jdbcType=VARCHAR},
			</if>
			<if test="mediateProtocol != null">
				#{mediateProtocol,jdbcType=VARCHAR},
			</if>
			<if test="mediaterStatus != null">
				#{mediaterStatus,jdbcType=DECIMAL},
			</if>
			<if test="mediateCode != null">
				#{mediateCode,jdbcType=VARCHAR},
			</if>
		</trim>
	</insert>
	<select id="countByExample" parameterType="com.jzsx.xlgc.bean.TVideoMediateExample"
		resultType="java.lang.Integer">
		select count(*) from T_VIDEO_MEDIATE
		<if test="_parameter != null">
			<include refid="Example_Where_Clause" />
		</if>
	</select>
	<update id="updateByExampleSelective" parameterType="map">
		update T_VIDEO_MEDIATE
		<set>
			<if test="record.mediateid != null">
				MEDIATEID = #{record.mediateid,jdbcType=VARCHAR},
			</if>
			<if test="record.mediateName != null">
				MEDIATE_NAME = #{record.mediateName,jdbcType=VARCHAR},
			</if>
			<if test="record.mediatePid != null">
				MEDIATE_PID = #{record.mediatePid,jdbcType=VARCHAR},
			</if>
			<if test="record.mediateAddress != null">
				MEDIATE_ADDRESS = #{record.mediateAddress,jdbcType=VARCHAR},
			</if>
			<if test="record.mediatePidNumber != null">
				MEDIATE_PID_NUMBER = #{record.mediatePidNumber,jdbcType=VARCHAR},
			</if>
			<if test="record.mediateTelephone != null">
				MEDIATE_TELEPHONE = #{record.mediateTelephone,jdbcType=VARCHAR},
			</if>
			<if test="record.mediateCellphone != null">
				MEDIATE_CELLPHONE = #{record.mediateCellphone,jdbcType=VARCHAR},
			</if>
			<if test="record.mediateCompleteAdd != null">
				MEDIATE_COMPLETE_ADD = #{record.mediateCompleteAdd,jdbcType=VARCHAR},
			</if>
			<if test="record.mediateIdentifier != null">
				MEDIATE_IDENTIFIER = #{record.mediateIdentifier,jdbcType=VARCHAR},
			</if>
			<if test="record.mediateRegisUnit != null">
				MEDIATE_REGIS_UNIT = #{record.mediateRegisUnit,jdbcType=VARCHAR},
			</if>
			<if test="record.mediatePurpose != null">
				MEDIATE_PURPOSE = #{record.mediatePurpose,jdbcType=VARCHAR},
			</if>
			<if test="record.mediateDate != null">
				MEDIATE_DATE = #{record.mediateDate,jdbcType=VARCHAR},
			</if>
			<if test="record.mediateRegisName != null">
				MEDIATE_REGIS_NAME = #{record.mediateRegisName,jdbcType=VARCHAR},
			</if>
			<if test="record.mediateRegisBranch != null">
				MEDIATE_REGIS_BRANCH = #{record.mediateRegisBranch,jdbcType=VARCHAR},
			</if>
			<if test="record.mediateRegisDate != null">
				MEDIATE_REGIS_DATE = #{record.mediateRegisDate,jdbcType=VARCHAR},
			</if>
			<if test="record.mediateNumber != null">
				MEDIATE_NUMBER = #{record.mediateNumber,jdbcType=VARCHAR},
			</if>
			<if test="record.mediateReason != null">
				MEDIATE_REASON = #{record.mediateReason,jdbcType=VARCHAR},
			</if>
			<if test="record.mediateContent != null">
				MEDIATE_CONTENT = #{record.mediateContent,jdbcType=VARCHAR},
			</if>
			<if test="record.mediateProtocol != null">
				MEDIATE_PROTOCOL = #{record.mediateProtocol,jdbcType=VARCHAR},
			</if>
			<if test="record.mediaterStatus != null">
				MEDIATER_STATUS = #{record.mediaterStatus,jdbcType=DECIMAL},
			</if>
			<if test="record.mediateCode != null">
				MEDIATE_CODE = #{record.mediateCode,jdbcType=VARCHAR},
			</if>
			<if test="record.confId != null">
				CONF_ID = #{record.confId,jdbcType=VARCHAR}
			</if>
		</set>
		<if test="_parameter != null">
			<include refid="Update_By_Example_Where_Clause" />
		</if>
	</update>
	<update id="updateByExample" parameterType="map">
		update T_VIDEO_MEDIATE
		set MEDIATEID = #{record.mediateid,jdbcType=VARCHAR},
		MEDIATE_NAME = #{record.mediateName,jdbcType=VARCHAR},
		MEDIATE_PID = #{record.mediatePid,jdbcType=VARCHAR},
		MEDIATE_ADDRESS = #{record.mediateAddress,jdbcType=VARCHAR},
		MEDIATE_PID_NUMBER = #{record.mediatePidNumber,jdbcType=VARCHAR},
		MEDIATE_TELEPHONE = #{record.mediateTelephone,jdbcType=VARCHAR},
		MEDIATE_CELLPHONE = #{record.mediateCellphone,jdbcType=VARCHAR},
		MEDIATE_COMPLETE_ADD = #{record.mediateCompleteAdd,jdbcType=VARCHAR},
		MEDIATE_IDENTIFIER = #{record.mediateIdentifier,jdbcType=VARCHAR},
		MEDIATE_REGIS_UNIT = #{record.mediateRegisUnit,jdbcType=VARCHAR},
		MEDIATE_PURPOSE = #{record.mediatePurpose,jdbcType=VARCHAR},
		MEDIATE_DATE = #{record.mediateDate,jdbcType=VARCHAR},
		MEDIATE_REGIS_NAME = #{record.mediateRegisName,jdbcType=VARCHAR},
		MEDIATE_REGIS_BRANCH = #{record.mediateRegisBranch,jdbcType=VARCHAR},
		MEDIATE_REGIS_DATE = #{record.mediateRegisDate,jdbcType=VARCHAR},
		MEDIATE_NUMBER = #{record.mediateNumber,jdbcType=VARCHAR},
		MEDIATE_REASON = #{record.mediateReason,jdbcType=VARCHAR},
		MEDIATE_CONTENT = #{record.mediateContent,jdbcType=VARCHAR},
		MEDIATE_PROTOCOL = #{record.mediateProtocol,jdbcType=VARCHAR},
		MEDIATER_STATUS = #{record.mediaterStatus,jdbcType=DECIMAL},
		MEDIATE_CODE = #{record.mediateCode,jdbcType=VARCHAR},
		CONF_ID = #{record.confID,jdbcType=VARCHAR}
		<if test="_parameter != null">
			<include refid="Update_By_Example_Where_Clause" />
		</if>
	</update>
	<update id="updateByPrimaryKeySelective" parameterType="com.jzsx.xlgc.bean.TVideoMediate">
		update T_VIDEO_MEDIATE
		<set>
			<if test="mediateName != null">
				MEDIATE_NAME = #{mediateName,jdbcType=VARCHAR},
			</if>
			<if test="mediatePid != null">
				MEDIATE_PID = #{mediatePid,jdbcType=VARCHAR},
			</if>
			<if test="mediateAddress != null">
				MEDIATE_ADDRESS = #{mediateAddress,jdbcType=VARCHAR},
			</if>
			<if test="mediatePidNumber != null">
				MEDIATE_PID_NUMBER = #{mediatePidNumber,jdbcType=VARCHAR},
			</if>
			<if test="mediateTelephone != null">
				MEDIATE_TELEPHONE = #{mediateTelephone,jdbcType=VARCHAR},
			</if>
			<if test="mediateCellphone != null">
				MEDIATE_CELLPHONE = #{mediateCellphone,jdbcType=VARCHAR},
			</if>
			<if test="mediateCompleteAdd != null">
				MEDIATE_COMPLETE_ADD = #{mediateCompleteAdd,jdbcType=VARCHAR},
			</if>
			<if test="mediateIdentifier != null">
				MEDIATE_IDENTIFIER = #{mediateIdentifier,jdbcType=VARCHAR},
			</if>
			<if test="mediateRegisUnit != null">
				MEDIATE_REGIS_UNIT = #{mediateRegisUnit,jdbcType=VARCHAR},
			</if>
			<if test="mediatePurpose != null">
				MEDIATE_PURPOSE = #{mediatePurpose,jdbcType=VARCHAR},
			</if>
			<if test="mediateDate != null">
				MEDIATE_DATE = #{mediateDate,jdbcType=VARCHAR},
			</if>
			<if test="mediateRegisName != null">
				MEDIATE_REGIS_NAME = #{mediateRegisName,jdbcType=VARCHAR},
			</if>
			<if test="mediateRegisBranch != null">
				MEDIATE_REGIS_BRANCH = #{mediateRegisBranch,jdbcType=VARCHAR},
			</if>
			<if test="mediateRegisDate != null">
				MEDIATE_REGIS_DATE = #{mediateRegisDate,jdbcType=VARCHAR},
			</if>
			<if test="mediateNumber != null">
				MEDIATE_NUMBER = #{mediateNumber,jdbcType=VARCHAR},
			</if>
			<if test="mediateReason != null">
				MEDIATE_REASON = #{mediateReason,jdbcType=VARCHAR},
			</if>
			<if test="mediateContent != null">
				MEDIATE_CONTENT = #{mediateContent,jdbcType=VARCHAR},
			</if>
			<if test="mediateProtocol != null">
				MEDIATE_PROTOCOL = #{mediateProtocol,jdbcType=VARCHAR},
			</if>
			<if test="mediaterStatus != null">
				MEDIATER_STATUS = #{mediaterStatus,jdbcType=DECIMAL},
			</if>
			<if test="mediateCode != null">
				MEDIATE_CODE = #{mediateCode,jdbcType=VARCHAR},
			</if>
			<if test="confId != null">
				CONF_ID = #{confId,jdbcType=VARCHAR},
			</if>
		</set>
		where MEDIATEID = #{mediateid,jdbcType=VARCHAR}
	</update>
	<update id="updateByPrimaryKey" parameterType="com.jzsx.xlgc.bean.TVideoMediate">
		update T_VIDEO_MEDIATE
		set MEDIATE_NAME = #{mediateName,jdbcType=VARCHAR},
		MEDIATE_PID = #{mediatePid,jdbcType=VARCHAR},
		MEDIATE_ADDRESS = #{mediateAddress,jdbcType=VARCHAR},
		MEDIATE_PID_NUMBER = #{mediatePidNumber,jdbcType=VARCHAR},
		MEDIATE_TELEPHONE = #{mediateTelephone,jdbcType=VARCHAR},
		MEDIATE_CELLPHONE = #{mediateCellphone,jdbcType=VARCHAR},
		MEDIATE_COMPLETE_ADD = #{mediateCompleteAdd,jdbcType=VARCHAR},
		MEDIATE_IDENTIFIER = #{mediateIdentifier,jdbcType=VARCHAR},
		MEDIATE_REGIS_UNIT = #{mediateRegisUnit,jdbcType=VARCHAR},
		MEDIATE_PURPOSE = #{mediatePurpose,jdbcType=VARCHAR},
		MEDIATE_DATE = #{mediateDate,jdbcType=VARCHAR},
		MEDIATE_REGIS_NAME = #{mediateRegisName,jdbcType=VARCHAR},
		MEDIATE_REGIS_BRANCH = #{mediateRegisBranch,jdbcType=VARCHAR},
		MEDIATE_REGIS_DATE = #{mediateRegisDate,jdbcType=VARCHAR},
		MEDIATE_NUMBER = #{mediateNumber,jdbcType=VARCHAR},
		MEDIATE_REASON = #{mediateReason,jdbcType=VARCHAR},
		MEDIATE_CONTENT = #{mediateContent,jdbcType=VARCHAR},
		MEDIATE_PROTOCOL = #{mediateProtocol,jdbcType=VARCHAR},
		MEDIATER_STATUS = #{mediaterStatus,jdbcType=DECIMAL},
		MEDIATE_CODE = #{mediateCode,jdbcType=VARCHAR},
		CONF_ID = #{confID,jdbcType=VARCHAR}
		where MEDIATEID = #{mediateid,jdbcType=VARCHAR}
	</update>

	<insert id="insertMediateList" parameterType="java.util.List">
		insert all
		<foreach collection="list" item="item" index="index"
			separator="">
			into T_VIDEO_MEDIATE (MEDIATEID, MEDIATE_NAME, MEDIATE_PID,
			MEDIATE_ADDRESS, MEDIATE_PID_NUMBER, MEDIATE_TELEPHONE,
			MEDIATE_CELLPHONE, MEDIATE_COMPLETE_ADD, MEDIATE_IDENTIFIER,
			MEDIATE_REGIS_UNIT, MEDIATE_PURPOSE, MEDIATE_DATE,
			MEDIATE_REGIS_NAME, MEDIATE_REGIS_BRANCH, MEDIATE_REGIS_DATE,
			MEDIATE_REASON, MEDIATE_CONTENT, MEDIATE_PROTOCOL,
			MEDIATER_STATUS,
			MEDIATE_CODE, MEDIATE_NUMBER,CONF_ID
			)
			values
			(#{item.mediateid,jdbcType=VARCHAR},
			#{item.mediateName,jdbcType=VARCHAR},
			#{item.mediatePid,jdbcType=VARCHAR},
			#{item.mediateAddress,jdbcType=VARCHAR},
			#{item.mediatePidNumber,jdbcType=VARCHAR},
			#{item.mediateTelephone,jdbcType=VARCHAR},
			#{item.mediateCellphone,jdbcType=VARCHAR},
			#{item.mediateCompleteAdd,jdbcType=VARCHAR},
			#{item.mediateIdentifier,jdbcType=VARCHAR},
			#{item.mediateRegisUnit,jdbcType=VARCHAR},
			#{item.mediatePurpose,jdbcType=VARCHAR},
			#{item.mediateDate,jdbcType=VARCHAR},
			#{item.mediateRegisName,jdbcType=VARCHAR},
			#{item.mediateRegisBranch,jdbcType=VARCHAR},
			#{item.mediateRegisDate,jdbcType=VARCHAR},
			#{item.mediateReason,jdbcType=VARCHAR},
			#{item.mediateContent,jdbcType=VARCHAR},
			#{item.mediateProtocol,jdbcType=VARCHAR},
			#{item.mediaterStatus,jdbcType=DECIMAL},
			#{item.mediateCode,jdbcType=VARCHAR},
			#{item.mediateNumber,jdbcType=LONGVARCHAR},
			#{item.confId,jdbcType=VARCHAR}
			)

		</foreach>
		select 1 from DUAL
	</insert>


	<select id="dataAnalysis" parameterType="java.util.Map"
		resultType="com.jzsx.xlgc.bean.DataAnalysis">

		select fail,success,middle,duration,code,name from (select sum(CASE when
		MEDIATER_STATUS=0 then 1 else 0 end) as fail,sum(CASE when
		MEDIATER_STATUS=1 then 1 else 0 end) as success,sum(CASE when
		MEDIATER_STATUS=2 then 1 else 0 end) as
		middle,sum(c.duration) as duration,SUBSTR(t.MEDIATE_ADDRESS,0,3) as MEDIATE_ADDRESS from
		T_VIDEO_MEDIATE t,T_VIDEO_CONFERENCE c where c.conf_id=t.conf_id and MEDIATE_DATE BETWEEN #{start,jdbcType=VARCHAR}
		and #{stop,jdbcType=VARCHAR} group by SUBSTR(t.MEDIATE_ADDRESS,0,3)
		)mediate

		right JOIN area a on mediate.MEDIATE_ADDRESS=a.CODE
		where a.parent_id=0
	</select>


	<select id="allDataAnalysis" parameterType="java.util.Map"
		resultType="com.jzsx.xlgc.bean.DataAnalysis">

		select fail,success,middle,duration,code,name from (select sum(CASE when
		MEDIATER_STATUS=0 then 1 else 0 end) as fail,sum(CASE when
		MEDIATER_STATUS=1 then 1 else 0 end) as success,sum(CASE when
		MEDIATER_STATUS=2 then 1 else 0 end) as
		middle,sum(c.duration) as duration,SUBSTR(t.MEDIATE_ADDRESS,0,6) as MEDIATE_ADDRESS from
		T_VIDEO_MEDIATE t,T_VIDEO_CONFERENCE c where c.conf_id=t.conf_id and MEDIATE_DATE BETWEEN #{start,jdbcType=VARCHAR}
		and #{stop,jdbcType=VARCHAR} group by SUBSTR(t.MEDIATE_ADDRESS,0,6)
		)mediate

		right JOIN area a on mediate.MEDIATE_ADDRESS=a.CODE where a.ALEVEL='1' and
		a.code like '${area}%'

	</select>

	<update id="updateStatusByPrimaryKey" parameterType="java.util.Map">
		update T_VIDEO_MEDIATE
		set MEDIATER_STATUS = #{type,jdbcType=VARCHAR}
		where MEDIATEID = #{id,jdbcType=VARCHAR}
	</update>

	<select id="selectByExampleJoinTable" resultMap="JoinBaseResultMap"
		parameterType="com.jzsx.xlgc.bean.TVideoMediateExample">
		select a.name "areas.name",t.conf_id,
		a.code "areas.code",
		c.access_code "conference.accessCode",
		c.begin_time "conference.beginTime",
		c.duration "conference.duration",
		c.status "conference.status",
		<if test="distinct">
			distinct
		</if>
		<include refid="Join_Base_Column_List" />
		from T_VIDEO_MEDIATE t join area a on a.code=t.MEDIATE_ADDRESS
		left join T_VIDEO_CONFERENCE c on t.conf_id=c.conf_id
		<if test="_parameter != null">
			<include refid="Example_Where_Clause" />
		</if>
		<if test="orderByClause != null">
			order by ${orderByClause}
		</if>
	</select>


	<select id="selectByCode" parameterType="map"
		resultType="com.jzsx.xlgc.bean.DataByCode">
		select fail,success,middle,duration,current_month from (select sum(CASE when
		MEDIATER_STATUS=0 then 1 else 0 end) as fail,
		sum(CASE when MEDIATER_STATUS=1 then 1 else 0 end) as success,
		sum(CASE when MEDIATER_STATUS=2 then 1 else 0 end) as
		middle,sum(c.duration) as duration,T_TIME.CURRENT_MONTH as oldMonth
		from T_VIDEO_MEDIATE t INNER JOIN T_VIDEO_CONFERENCE c on c.conf_id=t.conf_id  
		RIGHT JOIN T_TIME ON T_TIME.CURRENT_MONTH=TO_CHAR(t.MEDIATE_DATE / (1000 *
		60 * 60 * 24) +
		TO_DATE('1970-01-01 08:00:00', 'YYYY-MM-DD HH:MI:SS'), 'MM') where t.MEDIATE_ADDRESS like
		'${code}%'
		and t.MEDIATE_DATE BETWEEN #{start,jdbcType=VARCHAR}
		and #{stop,jdbcType=VARCHAR} GROUP BY T_TIME.CURRENT_MONTH)mediate
		RIGHT JOIN T_TIME on T_TIME.CURRENT_MONTH=mediate.oldMonth order BY
		T_TIME.CURRENT_MONTH asc

	</select>

	<select id="queryIdentityCount" parameterType="String"
		resultType="int">
		select count(1) from T_VIDEO_MEDIATE where MEDIATE_CODE=#{code}
	</select>

    
    <select id="queryDisputeType" parameterType="String" resultType="com.jzsx.xlgc.bean.DisputeData">
    select fail,success,middle,type,name from (select sum(CASE when
		MEDIATER_STATUS=0 then 1 else 0 end) as fail,sum(CASE when
		MEDIATER_STATUS=1 then 1 else 0 end) as success,sum(CASE when
		MEDIATER_STATUS=2 then 1 else 0 end) as
		middle,MEDIATE_PROTOCOL as dispute from
		T_VIDEO_MEDIATE t where TO_CHAR(t.MEDIATE_DATE / (1000 *
		60 * 60 * 24) +
		TO_DATE('1970-01-01 08:00:00', 'YYYY-MM-DD HH:MI:SS'), 'YYYY')=#{year} group by t.MEDIATE_PROTOCOL
		)mediate
		right JOIN t_mediate_dispute a on mediate.dispute=a.type ORDER BY a.TYPE asc
    
    </select>
    
    
    <select id="queryDisputeByType" parameterType="map" resultType="com.jzsx.xlgc.bean.DisputeData">
    select fail,success,middle,current_month from (select sum(CASE when
		MEDIATER_STATUS=0 then 1 else 0 end) as fail,sum(CASE when
		MEDIATER_STATUS=1 then 1 else 0 end) as success,sum(CASE when
		MEDIATER_STATUS=2 then 1 else 0 end) as
		middle,T_TIME.CURRENT_MONTH as oldMonth from
		T_VIDEO_MEDIATE t  RIGHT JOIN T_TIME ON T_TIME.CURRENT_MONTH=TO_CHAR(t.MEDIATE_DATE / (1000 *
		60 * 60 * 24) +
		TO_DATE('1970-01-01 08:00:00', 'YYYY-MM-DD HH:MI:SS'), 'MM') where t.mediate_protocol=#{type} and TO_CHAR(t.MEDIATE_DATE / (1000 *
		60 * 60 * 24) +
		TO_DATE('1970-01-01 08:00:00', 'YYYY-MM-DD HH:MI:SS'), 'YYYY')=#{year} GROUP BY T_TIME.CURRENT_MONTH
		)mediate
		RIGHT JOIN T_TIME on T_TIME.CURRENT_MONTH=mediate.oldMonth order BY
		T_TIME.CURRENT_MONTH asc
    </select>
	
	<select id = "selectArea" parameterType="java.util.List" resultMap="resultArea">
		select * from area where code in
		<foreach collection="list" open="(" close=")" separator="," item="code">
			#{code}
		</foreach>
	</select>
	
</mapper>