	<Panel Dialog>
		<phead>人员编辑</phead>
		<pbody style='padding:0;'>
			<Layout style='min-height:500px;'>
	            <Item Label="基本信息" width='sm'>
					<div ng-repeat="row in data" ng-show="row.Id === SelectNode.Id">
						<RowTextBox colspan='12' Label="所属人组" ngmodel="model.GroupName" ngdisabled="true"></RowTextBox>
						<RowTextBox colspan='12' Label="姓名" ngmodel="model.GroupUserName"></RowTextBox>
						<FormRow colspan='12' Label="性别">
						  	<DropDown placeholder='请选择...' search='true' Display='{{$select.selected.GroupUserGenderName}}' ngmodel='model.GroupUserGender' repeat="option.GroupUserGender as option in SexType" filter="GroupUserGenderName">
					        	<div ng-bind-html="option.GroupUserGenderName | highlight: $select.search"></div>
						  	</DropDown>
						</FormRow>
					</div>
	            </Item>
	            <Item Label="所属人组">
					<GTGrid ItemCode="row" ColumnCode="UserManage3" ListCode="data" PageChange="event.LoadData()" PageData='Page' index ngchecked="event.RowClick(row)">
					</GTGrid>
	            </Item>
			</Layout>
		</pbody>
		<pfoot>
			<ButtonBar></ButtonBar>
		</pfoot>
	</Panel>