<Panel Dialog>
    <phead>添加人员</phead>
    <pbody style='padding:0px; min-height:500px;'>
        <tabset class="tab-container" ng-init="steps={step1:true, step2:false,step3:false}">
            <tab heading="输入验证码" active="steps.step1">
                <form name="form" gtform style="padding:10px 0;">
                    <FormRow colspan='2' Label="选择类型" required>
                        <input type="hidden" ng-model='model.KeyType' required>
                        <DropDown placeholder='请选择...' search='true' Display='{{$select.selected.KeyName}}' ngmodel='model.KeyType' repeat="option.KeyType as option in AccountType" filter="KeyName">
                            <div ng-bind-html="option.KeyName | highlight: $select.search"></div>
                        </DropDown>
                    </FormRow>
                    <RowTextBox colspan='2' Label="手机号/身份证" ngmodel="model.Key" required></RowTextBox>
                </form>
            </tab>
            <tab heading="选择人组" disabled="form.$invalid" active="steps.step2">
                <div style='height:500px;'>
                    <Layout>
                        <Item Label="基本信息" width="sm">
                            <div ng-repeat="row in data" ng-show="row.Id === SelectNode.Id">
                                <RowTextBox colspan='12' Label="所属人组" ngmodel="SelectNode.GroupName" ngdisabled="true"></RowTextBox>
                                <RowTextBox colspan='12' Label="姓名" ngmodel="SelectNode.GroupUserName" required></RowTextBox>
                                <FormRow colspan='12' Label="性别">
                                    <DropDown placeholder='请选择...' search='true' Display='{{$select.selected.GroupUserGenderName}}' ngmodel='SelectNode.GroupUserGender' repeat="option.GroupUserGender as option in SexType" filter="GroupUserGenderName">
                                        <div ng-bind-html="option.GroupUserGenderName | highlight: $select.search"></div>
                                    </DropDown>
                                </FormRow>
                            </div>
                        </Item>
                        <Item>
                            <div style="height:50px;">
                                <button type="button" class="btn m-b-xs w-xs btn-info" style="float:right" ng-click="GridEvent.SelectNode()">选择节点</button>
                            </div>
                            <GTGrid ItemCode="row" ColumnCode="GroupUserManage" PageChange="event.LoadData()" ListCode="data" PageData='Page' index edit ngchecked="event.RowClick"></GTGrid>
                        </Item>
                    </Layout>
                </div>
            </tab>
            <tab heading="设置Vip码" disabled="form.$invalid" active="steps.step3">
                <form gtform style="padding:10px 0;">
                    <RowTextBox colspan='2' Label="Vip码" ngmodel="model.VipCode" padding="0 0 20px 0" required></RowTextBox>
                </form>
            </tab>
        </tabset>
    </pbody>
    <pfoot>
        <ButtonBar></ButtonBar>
    </pfoot>
</Panel>