<Panel gtform Dialog>
  <phead>人员信息</phead>
  <pbody>
    <RowTextBox ngmodel="model.Name" Label="姓名" Required></RowTextBox>
    <FormRow Label="性别" Required>
      <select class="form-control" ng-model="model.Sex" Required>
        <option value="">---请选择---</option>
        <option value="1">男</option>
        <option value="0">女</option>
      </select>
    </FormRow>
    <RowTextBox ngmodel="model.IDCard" Label="身份证号" Required></RowTextBox>
    <RowTextBox ngmodel="model.Phone" Label="手机号" Required></RowTextBox>
    <FormRow colspan="2">
      <ButtonBar></ButtonBar>
    </FormRow>
  </pbody>
</Panel>