<!DOCTYPE html>
<html>

	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no, minimal-ui" />
		<meta name="apple-mobile-web-app-capable" content="yes" />
		<meta http-equiv="pragma" content="no-cache" />
		<meta name="apple-mobile-web-app-status-bar-style" content="black" />
		<meta name="format-detection" content="telephone=no, email=no" />
		<title>我的二维码</title>
		<link rel="stylesheet" type="text/css" href="../../css/main.css" />
		<link rel="stylesheet" type="text/css" href="../../css/mycode.css"/>
	</head>

	<body>
		<!--<header>
			<a id="goBack" class="goback" href="javascript:history.back();">
				<img src="../../images/backtrack.png" alt="" />
				<span id="goBackText">返回</span>
			</a>
			<h1 id="theme">我的二维码</h1>
		</header>-->
		<div class="doctor">
			<img src="../../images/1.jpg" class="doctor_head" alt="" />
			<div class="doctor_message">
				<div><span class="doctor_name">刘继芬</span></div>
				<div class="doctor_position"><span class="doctor_post">副主任医师</span>  <span class="doctor_division">全科</span></div>
				<div class="doctor_space"><span class="doctor_address">闲林诊所</span></div>
			</div>
		</div>
		<hr />
		<div>
			<div class="code_message">
				<img class="my_code" src="../../images/mycode.jpg" alt="我的二维码" />
			</div>
			<div class="code_hint">
				<span>扫描微信二维码关注我</span>
			</div>
		</div>
         </body>
		<script src="../../resource/js/jquery-2.1.1.min.js"></script>
		<script src="../../resource/js/common.js" type="text/javascript" charset="utf-8"></script>
		<script src="inc/mycode.js" type="text/javascript" charset="utf-8"></script>
</html>
