@charset 'utf-8';
.content {
	position: relative;
	border-top-right-radius: 0;
}
.operation a {
	margin: 0 5px;
}
/*.operation a#modification:hover,
.operation a#modification:focus {
	box-shadow: 0 0 10px 3px #1600ff;
}*/
/*.operation a#delete:hover,
.operation a#delete:focus {
	box-shadow: 0 0 10px 3px red;
}*/
.contList .table {
	margin-bottom: 0;
}
.contTab {
	position: absolute;
	top: -40px;
	right: 0;
	width: 300px;
}
.contTab li {
	float: left;
	width: 33.33%;
}

.contTab li a {
	display: block;
	height: 40px;
	line-height: 40px;
	text-align: center;
	background: #fff6ec;
	border-left: 1px solid #ccc;
	/*border-top-left-radius: 20px;*/
	/*border-top-right-radius: 20px;*/
}
.contTab li:first-child a {
	border: none;
}
.contTab li a:hover,
.contTab li a:focus,
.contTab li a.active {
	border-top: 5px solid #F95100;
	color: #F95100;
}