<ul class="nav">
    <li class="hidden-folded padder m-t m-b-sm text-muted text-xs">
        <span translate="Base.Head"></span>
    </li>
    <li ng-class="{active:$state.includes('app.module')}">
        <a href class="auto">
            <span class="pull-right text-muted"> 
                <i class="fa fa-fw fa-angle-right text"></i>
                <i class="fa fa-fw fa-angle-down text-active"></i>
            </span>
            <i class="glyphicon glyphicon-edit" ng-show="!app.settings.asideDock"></i>
            <span>系统管理</span>
        </a>
        <ul class="nav nav-sub dk">
            <li ui-sref-active="active" class="parent">
                <a><span>用户管理</span></a>
            </li>
            <li class="children">
                <a ng-click='pageTo("app.UserInfo","用户信息")'>
                    <span class="children">用户信息</span>
                </a>
            </li>
            <li class="children">
                <a ng-click='pageTo("app.user","系统用户管理")'>
                    <span class="children">系统用户管理</span>
                </a>
            </li>
            <li class="children">
                <a ng-click='pageTo("app.LimitGroup","权限组合管理")'>
                    <span class="children">权限组合管理</span>
                </a>
            </li>
            <li ui-sref-active="active" class="parent">
                <a><span>日志查询</span></a>
            </li>
            <li class="children">
                <a ng-click='pageTo("app.LogSearch","登录日志查询")'>
                    <span class="children">登录日志查询</span>
                </a>
            </li>
            <li class="children">
                <a>
                    <span class="children">程序日志查询</span>
                </a>
            </li>
            <li class="children">
                <a>
                    <span class="children">程序故障查询</span>
                </a>
            </li>
        </ul>
    </li>
    <li ng-class="{active:$state.includes('app.module')}">
        <a href class="auto">
            <span class="pull-right text-muted"> 
                <i class="fa fa-fw fa-angle-right text"></i>
                <i class="fa fa-fw fa-angle-down text-active"></i>
            </span>
            <i class="glyphicon glyphicon-edit" ng-show="!app.settings.asideDock"></i>
            <span>门店管理</span>
        </a>
        <ul class="nav nav-sub dk">
            <li ui-sref-active="active" class="parent">
                <a><span>基础信息</span></a>
            </li>
            <li class="children">
                <a ng-click='pageTo("app.StoreInfo","门店信息管理")'>
                    <span class="children">门店信息管理</span>
                </a>
            </li>
            <li class="children">
                <a ng-click='pageTo("app.StoreStaff","门店员工管理")'>
                    <span class="children">门店员工管理</span>
                </a>
            </li>
            <li class="children">
                <a ng-click='pageTo("app.StoreStaffAuthority","门店员工权限管理")'>
                    <span class="children">门店员工权限管理</span>
                </a>
            </li>
            <li ui-sref-active="active" class="parent">
                <a><span>商品管理</span></a>
            </li>
            <li class="children">
                <a ng-click='pageTo("app.PriceManage","商品售价管理")'>
                    <span class="children">商品售价管理</span>
                </a>
            </li>
            <li class="children">
                <a ng-click='pageTo("app.StoreCommodityLists","门店商品清单")'>
                    <span class="children">门店商品清单</span>
                </a>
            </li>
            <li ui-sref-active="active">
                <a><span>销售额查询</span></a>
            </li>
        </ul>
    </li>
    <li ng-class="{active:$state.includes('app.module')}">
        <a href class="auto">
            <span class="pull-right text-muted"> 
                <i class="fa fa-fw fa-angle-right text"></i>
                <i class="fa fa-fw fa-angle-down text-active"></i>
            </span>
            <i class="glyphicon glyphicon-edit" ng-show="!app.settings.asideDock"></i>
            <span>POS管理</span>
        </a>
        <ul class="nav nav-sub dk">
            <li ui-sref-active="active" class="parent">
                <a><span>基础信息</span></a>
            </li>
            <li class="children">
                <a ng-click='pageTo("app.StoreLimitManage","门店权限管理")'>
                    <span class="children">门店权限管理</span>
                </a>
            </li>
            <li ui-sref-active="active" class="parent">
                <a><span class="children">POS基础信息</span></a>
            </li>
            <li class="children">
                <a ng-click='pageTo("app.POSMainFile","POS主档管理")'>
                    <span class="children">POS主档管理</span>
                </a>
            </li>
            <li class="children">
                <a ng-click='pageTo("app.BtnManage","按键管理")'>
                    <span class="children">按键管理</span>
                </a>
            </li>
            <li class="children">
                <a ng-click='pageTo("app.FuncBtnSet","功能键设置")'>
                    <span class="children">功能键设置</span>
                </a>
            </li>
            <li class="children">
                <a ng-click='pageTo("app.POSOptionManage","POS选项组合管理")'>
                    <span>POS选项组合管理</span>
                </a>
            </li>
            <li class="children">
                <a ng-click='pageTo("app.POSSetManage","POS设置管理")'>
                    <span class="children">POS设置管理</span>
                </a>
            </li>
            <li class="children">
                <a ng-click='pageTo("app.KitchenManage","厨房设备管理")'>
                    <span class="children">厨房设备管理</span>
                </a>
            </li>
            <li class="children">
                <a ng-click='pageTo("app.OrderEquManage","订单设备管理")'>
                    <span class="children">订单设备管理</span>
                </a>
            </li>
            <li class="children">
                <a ng-click='pageTo("app.CashBoxMainFile","钱箱主档")'>
                    <span class="children">钱箱主档</span>
                </a>
            </li>
            <li class="children">
                <a ng-click='pageTo("app.ShortCodeMainFile","短码主档")'>
                    <span class="children">短码主档</span>
                </a>
            </li>
            <li class="children">
                <a ng-click='pageTo("app.BarCodeComManage","条码商品管理")'>
                    <span class="children">条码商品管理</span>
                </a>
            </li>
            <li class="children">
                <a ng-click='pageTo("app.StoreTaxComMainFile","门店税金主档")'>
                    <span class="children">门店税金主档</span>
                </a>
            </li>
            <li class="children">
                <a ng-click='pageTo("app.ReasonMainFile","原因主档")'>
                    <span class="children">原因主档</span>
                </a>
            </li>
            <li class="children">
                <a ng-click='pageTo("app.CouponMainFileManage","券种主档管理")'>
                    <span class="children">券种主档管理</span>
                </a>
            </li>
            <li ui-sref-active="active">
                <a><span>打印类型管理</span></a>
            </li>
            <li ui-sref-active="active">
                <a><span>布局管理</span></a>
            </li>
        </ul>
    </li>
    <li ng-class="{active:$state.includes('app.module')}">
        <a href class="auto">
            <span class="pull-right text-muted"> 
                <i class="fa fa-fw fa-angle-right text"></i>
                <i class="fa fa-fw fa-angle-down text-active"></i>
            </span>
            <i class="glyphicon glyphicon-edit" ng-show="!app.settings.asideDock"></i>
            <span>总部管理</span>
        </a>
        <ul class="nav nav-sub dk">
            <li ui-sref-active="active" class="parent">
                <a><span>组织管理</span></a>
            </li>
            <li class="children">
                <a ng-click='pageTo("app.organManage","企业信息管理")'>
                    <span class="children">企业信息管理</span>
                </a>
            </li>
            <li class="children">
                <a ng-click='pageTo("app.departmentManage","部门管理")'>
                    <span class="children">部门管理</span>
                </a>
            </li>
            <li class="children">
                <a ng-click='pageTo("app.brand","品牌管理")'>
                    <span class="children">品牌管理</span>
                </a>
            </li>
            <li ui-sref-active="active" class="parent">
                <a><span>供应商管理</span></a>
            </li>
            <li class="children">
                <a ng-click='pageTo("app.SupplierMainFile","供货商主档")'>
                    <span class="children">供货商主档</span>
                </a>
            </li>
            <li ui-sref-active="active" class="parent">
                <a><span>人员管理</span></a>
            </li>
            <li class="children">
                <a ng-click='pageTo("app.StaffMainFileManage","人员主档管理")'>
                    <span class="children">人员主档管理</span>
                </a>
            </li>
            <li class="children">
                <a ng-click='pageTo("app.ShopManagerMainFileManage","店长主档管理")'>
                    <span class="children">店长主档管理</span>
                </a>
            </li>
            <li class="children">
                <a ng-click='pageTo("app.SalesClerkManage","店员管理")'>
                    <span class="children">店员管理</span>
                </a>
            </li>
            <li class="children">
                <a ng-click='pageTo("app.StaffQuery","人员查询")'>
                    <span class="children">人员查询</span>
                </a>
            </li>
            <li class="children">
                <a ng-click='pageTo("app.SalesClerkQuery","店员查询")'>
                    <span class="children">店员查询</span>
                </a>
            </li>
            <li ui-sref-active="active" class="parent">
                <a><span>商品管理</span></a>
            </li>
            <li class="children">
                <a ng-click='pageTo("app.GroupManage","分类管理")'>
                    <span class="children">分类管理</span>
                </a>
            </li>
            <li class="children">
                <a ng-click='pageTo("app.ProductInfo","商品信息管理")'>
                    <span class="children">商品信息管理</span>
                </a>
            </li>
            <li class="children">
                <a ng-click='pageTo("app.FnB","FnB商品管理")'>
                    <span class="children">FnB商品管理</span>
                </a>
            </li>
            <li class="children">
                <a ng-click='pageTo("app.PackageSet","套餐设定")'>
                    <span class="children">套餐设定</span>
                </a>
            </li>
            <li class="children">
                <a ng-click='pageTo("app.PackageComposition","套餐组成管理")'>
                    <span class="children">套餐组成管理</span>
                </a>
            </li>
            <li class="children">
                <a ng-click='pageTo("app.ForceFineSet","强制细项设定")'>
                    <span class="children">强制细项设定</span>
                </a>
            </li>
            <li class="children">
                <a ng-click='pageTo("app.SelectFineSet","选择细项设定")'>
                    <span class="children">选择细项设定</span>
                </a>
            </li>
            <li class="children">
                <a ng-click='pageTo("app.FineComposition","细项组成管理")'>
                    <span class="children">细项组成管理</span>
                </a>
            </li>
            <li class="children">
                <a ng-click='pageTo("app.Replace","替换子商品管理")'>
                    <span class="children">替换子商品管理</span>
                </a>
            </li>
            <li class="children">
                <a ng-click='pageTo("app.BrandProduct","品牌商品查询")'>
                    <span class="children">品牌商品查询</span>
                </a>
            </li>
            <li ui-sref-active="active" class="parent">
                <a><span>价格管理</span></a>
            </li>
            <li class="children">
                <a ng-click='pageTo("app.StandardPriceSet","标准价格设定")'>
                    <span class="children">标准价格设定</span>
                </a>
            </li>
            <li ui-sref-active="active" class="parent">
                <a><span>门店管理</span></a>
            </li>
            <li class="children">
                <a ng-click='pageTo("app.StoreInfo","门店信息查询")'>
                    <span class="children">门店信息查询</span>
                </a>
            </li>
            <li ui-sref-active="active" class="parent">
                <a><span>促销管理</span></a>
            </li>
            <li class="children">
                <a ng-click='pageTo("app.PromotionList","促销清单")'>
                    <span class="children">促销清单</span>
                </a>
            </li>
            <li class="children">
                <a ng-click='pageTo("app.TradePromotion","交易促销")'>
                    <span class="children">交易促销</span>
                </a>
            </li>
            <li class="children">
                <a ng-click='pageTo("app.TicketPromotion","小票促销")'>
                    <span class="children">小票促销</span>
                </a>
            </li>
            <li class="children">
                <a ng-click='pageTo("app.ProductPromotionInfo","商品促销信息")'>
                    <span class="children">商品促销信息</span>
                </a>
            </li>
            <li ui-sref-active="active" class="parent">
                <a><span>会员管理</span></a>
            </li>
            <li class="children">
                <a ng-click='pageTo("app.VipLevelManage","会员等级管理")'>
                    <span class="children">会员等级管理</span>
                </a>
            </li>
            <li class="children">
                <a ng-click='pageTo("app.VipManage","会员管理")'>
                    <span class="children">会员管理</span>
                </a>
            </li>
            <li class="children">
                <a ng-click='pageTo("app.VipSearch","会员查询")'>
                    <span class="children">会员查询</span>
                </a>
            </li>
            <li ui-sref-active="active" class="parent">
                <a><span>积分管理</span></a>
            </li>
            <li class="children">
                <a ng-click='pageTo("app.ScoreGroup","积分组合")'>
                    <span class="children">积分组合</span>
                </a>
            </li>
            <li class="children">
                <a ng-click='pageTo("app.ScoreRuler","积分规则")'>
                    <span class="children">积分规则</span>
                </a>
            </li>
            <li class="children">
                <a ng-click='pageTo("app.RewardScore","奖励积分")'>
                    <span class="children">奖励积分</span>
                </a>
            </li>
            <li class="children">
                <a ng-click='pageTo("app.ScoreSearch","积分查询")'>
                    <span class="children">积分查询</span>
                </a>
            </li>
            <li class="children">
                <a ng-click='pageTo("app.ScoreManage","积分管理")'>
                    <span class="children">积分管理</span>
                </a>
            </li>
        </ul>
    </li>
</ul>
