<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jzsx.xlha.threeService.mapper.TThreeservicePublicMapper" >
  <resultMap id="BaseResultMap" type="com.jzsx.xlha.bean.TThreeservicePublic" >
    <id column="C_THREESERVICE_ID" property="cThreeserviceId" jdbcType="VARCHAR" />
    <result column="C_THREESERVICE_TYPE" property="cThreeserviceType" jdbcType="VARCHAR" />
    <result column="C_THREESERVICE_TITLE" property="cThreeserviceTitle" jdbcType="VARCHAR" />
    <result column="C_THREESERVICE_CREATETIME" property="cThreeserviceCreatetime" jdbcType="TIMESTAMP" />
    <result column="C_FOREIGN_USERID" property="cForeignUserid" jdbcType="VARCHAR" />
    <result column="C_THREESERVICE_EDITER" property="cThreeserviceEditer" jdbcType="VARCHAR" />
    <result column="C_THREESERVICE_CREATE" property="cThreeserviceCreate" jdbcType="VARCHAR" />
    <result column="C_THREESERVICE_COUNT" property="cThreeserviceCount" jdbcType="DECIMAL" />
    <result column="C_THREESERVICE_CONTENT" property="cThreeserviceContent" jdbcType="CLOB" />
  </resultMap>
  <resultMap id="ResultMapWithBLOBs" type="com.jzsx.xlha.bean.TThreeservicePublic" extends="BaseResultMap" >
    <result column="C_THREESERVICE_CONTENT" property="cThreeserviceContent" jdbcType="CLOB" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    C_THREESERVICE_ID, C_THREESERVICE_TYPE, C_THREESERVICE_TITLE, C_THREESERVICE_CREATETIME, 
    C_FOREIGN_USERID, C_THREESERVICE_EDITER, C_THREESERVICE_CREATE, C_THREESERVICE_COUNT
  </sql>
  <sql id="Blob_Column_List" >
    C_THREESERVICE_CONTENT
  </sql>
  <select id="selectByExampleWithBLOBs" resultMap="ResultMapWithBLOBs" parameterType="com.jzsx.xlha.bean.TThreeservicePublicExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from T_THREESERVICE_PUBLIC
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.jzsx.xlha.bean.TThreeservicePublicExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from T_THREESERVICE_PUBLIC
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="ResultMapWithBLOBs" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from T_THREESERVICE_PUBLIC
    where C_THREESERVICE_ID = #{cThreeserviceId,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from T_THREESERVICE_PUBLIC
    where C_THREESERVICE_ID = #{cThreeserviceId,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.jzsx.xlha.bean.TThreeservicePublicExample" >
    delete from T_THREESERVICE_PUBLIC
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.jzsx.xlha.bean.TThreeservicePublic" >
    insert into T_THREESERVICE_PUBLIC (C_THREESERVICE_ID, C_THREESERVICE_TYPE, 
      C_THREESERVICE_TITLE, C_THREESERVICE_CREATETIME, 
      C_FOREIGN_USERID, C_THREESERVICE_EDITER, C_THREESERVICE_CREATE, 
      C_THREESERVICE_COUNT, C_THREESERVICE_CONTENT)
    values (#{cThreeserviceId,jdbcType=VARCHAR}, #{cThreeserviceType,jdbcType=VARCHAR}, 
      #{cThreeserviceTitle,jdbcType=VARCHAR}, #{cThreeserviceCreatetime,jdbcType=TIMESTAMP}, 
      #{cForeignUserid,jdbcType=VARCHAR}, #{cThreeserviceEditer,jdbcType=VARCHAR}, #{cThreeserviceCreate,jdbcType=VARCHAR}, 
      #{cThreeserviceCount,jdbcType=DECIMAL}, #{cThreeserviceContent,jdbcType=CLOB})
  </insert>
  <insert id="insertSelective" parameterType="com.jzsx.xlha.bean.TThreeservicePublic" >
    insert into T_THREESERVICE_PUBLIC
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="cThreeserviceId != null" >
        C_THREESERVICE_ID,
      </if>
      <if test="cThreeserviceType != null" >
        C_THREESERVICE_TYPE,
      </if>
      <if test="cThreeserviceTitle != null" >
        C_THREESERVICE_TITLE,
      </if>
      <if test="cThreeserviceCreatetime != null" >
        C_THREESERVICE_CREATETIME,
      </if>
      <if test="cForeignUserid != null" >
        C_FOREIGN_USERID,
      </if>
      <if test="cThreeserviceEditer != null" >
        C_THREESERVICE_EDITER,
      </if>
      <if test="cThreeserviceCreate != null" >
        C_THREESERVICE_CREATE,
      </if>
      <if test="cThreeserviceCount != null" >
        C_THREESERVICE_COUNT,
      </if>
      <if test="cThreeserviceContent != null" >
        C_THREESERVICE_CONTENT,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="cThreeserviceId != null" >
        #{cThreeserviceId,jdbcType=VARCHAR},
      </if>
      <if test="cThreeserviceType != null" >
        #{cThreeserviceType,jdbcType=VARCHAR},
      </if>
      <if test="cThreeserviceTitle != null" >
        #{cThreeserviceTitle,jdbcType=VARCHAR},
      </if>
      <if test="cThreeserviceCreatetime != null" >
        #{cThreeserviceCreatetime,jdbcType=TIMESTAMP},
      </if>
      <if test="cForeignUserid != null" >
        #{cForeignUserid,jdbcType=VARCHAR},
      </if>
      <if test="cThreeserviceEditer != null" >
        #{cThreeserviceEditer,jdbcType=VARCHAR},
      </if>
      <if test="cThreeserviceCreate != null" >
        #{cThreeserviceCreate,jdbcType=VARCHAR},
      </if>
      <if test="cThreeserviceCount != null" >
        #{cThreeserviceCount,jdbcType=DECIMAL},
      </if>
      <if test="cThreeserviceContent != null" >
        #{cThreeserviceContent,jdbcType=CLOB},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.jzsx.xlha.bean.TThreeservicePublicExample" resultType="java.lang.Integer" >
    select count(*) from T_THREESERVICE_PUBLIC
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update T_THREESERVICE_PUBLIC
    <set >
      <if test="record.cThreeserviceId != null" >
        C_THREESERVICE_ID = #{record.cThreeserviceId,jdbcType=VARCHAR},
      </if>
      <if test="record.cThreeserviceType != null" >
        C_THREESERVICE_TYPE = #{record.cThreeserviceType,jdbcType=VARCHAR},
      </if>
      <if test="record.cThreeserviceTitle != null" >
        C_THREESERVICE_TITLE = #{record.cThreeserviceTitle,jdbcType=VARCHAR},
      </if>
      <if test="record.cThreeserviceCreatetime != null" >
        C_THREESERVICE_CREATETIME = #{record.cThreeserviceCreatetime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.cForeignUserid != null" >
        C_FOREIGN_USERID = #{record.cForeignUserid,jdbcType=VARCHAR},
      </if>
      <if test="record.cThreeserviceEditer != null" >
        C_THREESERVICE_EDITER = #{record.cThreeserviceEditer,jdbcType=VARCHAR},
      </if>
      <if test="record.cThreeserviceCreate != null" >
        C_THREESERVICE_CREATE = #{record.cThreeserviceCreate,jdbcType=VARCHAR},
      </if>
      <if test="record.cThreeserviceCount != null" >
        C_THREESERVICE_COUNT = #{record.cThreeserviceCount,jdbcType=DECIMAL},
      </if>
      <if test="record.cThreeserviceContent != null" >
        C_THREESERVICE_CONTENT = #{record.cThreeserviceContent,jdbcType=CLOB},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExampleWithBLOBs" parameterType="map" >
    update T_THREESERVICE_PUBLIC
    set C_THREESERVICE_ID = #{record.cThreeserviceId,jdbcType=VARCHAR},
      C_THREESERVICE_TYPE = #{record.cThreeserviceType,jdbcType=VARCHAR},
      C_THREESERVICE_TITLE = #{record.cThreeserviceTitle,jdbcType=VARCHAR},
      C_THREESERVICE_CREATETIME = #{record.cThreeserviceCreatetime,jdbcType=TIMESTAMP},
      C_FOREIGN_USERID = #{record.cForeignUserid,jdbcType=VARCHAR},
      C_THREESERVICE_EDITER = #{record.cThreeserviceEditer,jdbcType=VARCHAR},
      C_THREESERVICE_CREATE = #{record.cThreeserviceCreate,jdbcType=VARCHAR},
      C_THREESERVICE_COUNT = #{record.cThreeserviceCount,jdbcType=DECIMAL},
      C_THREESERVICE_CONTENT = #{record.cThreeserviceContent,jdbcType=CLOB}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update T_THREESERVICE_PUBLIC
    set C_THREESERVICE_ID = #{record.cThreeserviceId,jdbcType=VARCHAR},
      C_THREESERVICE_TYPE = #{record.cThreeserviceType,jdbcType=VARCHAR},
      C_THREESERVICE_TITLE = #{record.cThreeserviceTitle,jdbcType=VARCHAR},
      C_THREESERVICE_CREATETIME = #{record.cThreeserviceCreatetime,jdbcType=TIMESTAMP},
      C_FOREIGN_USERID = #{record.cForeignUserid,jdbcType=VARCHAR},
      C_THREESERVICE_EDITER = #{record.cThreeserviceEditer,jdbcType=VARCHAR},
      C_THREESERVICE_CREATE = #{record.cThreeserviceCreate,jdbcType=VARCHAR},
      C_THREESERVICE_COUNT = #{record.cThreeserviceCount,jdbcType=DECIMAL}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.jzsx.xlha.bean.TThreeservicePublic" >
    update T_THREESERVICE_PUBLIC
    <set >
      <if test="cThreeserviceType != null" >
        C_THREESERVICE_TYPE = #{cThreeserviceType,jdbcType=VARCHAR},
      </if>
      <if test="cThreeserviceTitle != null" >
        C_THREESERVICE_TITLE = #{cThreeserviceTitle,jdbcType=VARCHAR},
      </if>
      <if test="cThreeserviceCreatetime != null" >
        C_THREESERVICE_CREATETIME = #{cThreeserviceCreatetime,jdbcType=TIMESTAMP},
      </if>
      <if test="cForeignUserid != null" >
        C_FOREIGN_USERID = #{cForeignUserid,jdbcType=VARCHAR},
      </if>
      <if test="cThreeserviceEditer != null" >
        C_THREESERVICE_EDITER = #{cThreeserviceEditer,jdbcType=VARCHAR},
      </if>
      <if test="cThreeserviceCreate != null" >
        C_THREESERVICE_CREATE = #{cThreeserviceCreate,jdbcType=VARCHAR},
      </if>
      <if test="cThreeserviceCount != null" >
        C_THREESERVICE_COUNT = #{cThreeserviceCount,jdbcType=DECIMAL},
      </if>
      <if test="cThreeserviceContent != null" >
        C_THREESERVICE_CONTENT = #{cThreeserviceContent,jdbcType=CLOB},
      </if>
    </set>
    where C_THREESERVICE_ID = #{cThreeserviceId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.jzsx.xlha.bean.TThreeservicePublic" >
    update T_THREESERVICE_PUBLIC
    set C_THREESERVICE_TYPE = #{cThreeserviceType,jdbcType=VARCHAR},
      C_THREESERVICE_TITLE = #{cThreeserviceTitle,jdbcType=VARCHAR},
      C_THREESERVICE_CREATETIME = #{cThreeserviceCreatetime,jdbcType=TIMESTAMP},
      C_FOREIGN_USERID = #{cForeignUserid,jdbcType=VARCHAR},
      C_THREESERVICE_EDITER = #{cThreeserviceEditer,jdbcType=VARCHAR},
      C_THREESERVICE_CREATE = #{cThreeserviceCreate,jdbcType=VARCHAR},
      C_THREESERVICE_COUNT = #{cThreeserviceCount,jdbcType=DECIMAL},
      C_THREESERVICE_CONTENT = #{cThreeserviceContent,jdbcType=CLOB}
    where C_THREESERVICE_ID = #{cThreeserviceId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.jzsx.xlha.bean.TThreeservicePublic" >
    update T_THREESERVICE_PUBLIC
    set C_THREESERVICE_TYPE = #{cThreeserviceType,jdbcType=VARCHAR},
      C_THREESERVICE_TITLE = #{cThreeserviceTitle,jdbcType=VARCHAR},
      C_THREESERVICE_CREATETIME = #{cThreeserviceCreatetime,jdbcType=TIMESTAMP},
      C_FOREIGN_USERID = #{cForeignUserid,jdbcType=VARCHAR},
      C_THREESERVICE_EDITER = #{cThreeserviceEditer,jdbcType=VARCHAR},
      C_THREESERVICE_CREATE = #{cThreeserviceCreate,jdbcType=VARCHAR},
      C_THREESERVICE_COUNT = #{cThreeserviceCount,jdbcType=DECIMAL}
    where C_THREESERVICE_ID = #{cThreeserviceId,jdbcType=VARCHAR}
  </update>
</mapper>