<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jzsx.xlgc.resSmutils.mapper.TVideoConferenceMapper" >
  <resultMap id="BaseResultMap" type="com.jzsx.xlgc.bean.TVideoConference" >
    <id column="CONF_ID" property="confId" jdbcType="VARCHAR" />
    <result column="NAME" property="name" jdbcType="VARCHAR" />
    <result column="BEGIN_TIME" property="beginTime" jdbcType="TIMESTAMP" />
    <result column="DURATION" property="duration" jdbcType="VARCHAR" />
    <result column="ACCESS_CODE" property="accessCode" jdbcType="VARCHAR" />
    <result column="RECORDER_ADDR" property="recorderAddr" jdbcType="VARCHAR" />
    <result column="IS_RECORDING" property="isRecording" jdbcType="DECIMAL" />
    <result column="CHAIRMAN_PASSWORD" property="chairmanPassword" jdbcType="VARCHAR" />
    <result column="MAIN_MCU_ID" property="mainMcuId" jdbcType="DECIMAL" />
    <result column="SITES" property="sites" jdbcType="CLOB" />
    <result column="TYPE" property="type" jdbcType="DECIMAL" />
    <result column="CREATE_NAME" property="createName" jdbcType="VARCHAR" />
    <result column="STATUS" property="status" jdbcType="DECIMAL" />
    <result column="USER_ID" property="userId" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    CONF_ID, NAME, BEGIN_TIME, DURATION, ACCESS_CODE, RECORDER_ADDR, IS_RECORDING, CHAIRMAN_PASSWORD, 
    MAIN_MCU_ID, SITES, TYPE, CREATE_NAME, STATUS, USER_ID
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.jzsx.xlgc.bean.TVideoConferenceExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from T_VIDEO_CONFERENCE
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from T_VIDEO_CONFERENCE
    where CONF_ID = #{confId,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from T_VIDEO_CONFERENCE
    where CONF_ID = #{confId,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.jzsx.xlgc.bean.TVideoConferenceExample" >
    delete from T_VIDEO_CONFERENCE
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <select id="queryVideoOrConferByisrecord" parameterType="com.jzsx.xlgc.bean.TVideoConference" resultMap="BaseResultMap">
	  	select t.name,t.begin_time,t.duration,t.recorder_addr,t.create_name,t.status from(
	  select * from T_VIDEO_CONFERENCE  where type=1 and is_recording=1
	  union all
	  select * from T_VIDEO_CONFERENCE  where type=5 and is_recording=1
	  )t
	  where 1=1
	  <if test="name !=null and name !=''">
	 	and  NAME like '%${name}%'
	  </if>
	  <if test="start !=null and start !='' ">
	   	 <![CDATA[
		   	 and begin_time >= #{start}
		   	 ]]>
	   	 </if>
   	 <if test="stop !=null and stop !='' ">
	   	 <![CDATA[
	  	 	 and begin_time <= #{stop}
	   	 ]]>
   	 </if>
   	 <if test="userId !=null and userId !=''">
   	 	and(
   	 		subStr(user_id,0,3)=#{userId} or user_id=subStr(#{userId},0,1)
   	 	)
   	 </if>
   	  order by t.begin_time desc
  </select>
  <insert id="insert" parameterType="com.jzsx.xlgc.bean.TVideoConference" >
    insert into T_VIDEO_CONFERENCE (CONF_ID, NAME, BEGIN_TIME, 
      DURATION, ACCESS_CODE, RECORDER_ADDR, 
      IS_RECORDING, CHAIRMAN_PASSWORD, MAIN_MCU_ID, 
      SITES, TYPE, CREATE_NAME, 
      STATUS, USER_ID)
    values (#{confId,jdbcType=VARCHAR}, #{name,jdbcType=VARCHAR}, #{beginTime,jdbcType=TIMESTAMP}, 
      #{duration,jdbcType=VARCHAR}, #{accessCode,jdbcType=VARCHAR}, #{recorderAddr,jdbcType=VARCHAR}, 
      #{isRecording,jdbcType=DECIMAL}, #{chairmanPassword,jdbcType=VARCHAR}, #{mainMcuId,jdbcType=DECIMAL}, 
      #{sites,jdbcType=CLOB}, #{type,jdbcType=DECIMAL}, #{createName,jdbcType=VARCHAR}, 
      #{status,jdbcType=DECIMAL}, #{userId,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.jzsx.xlgc.bean.TVideoConference" >
    insert into T_VIDEO_CONFERENCE
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="confId != null" >
        CONF_ID,
      </if>
      <if test="name != null" >
        NAME,
      </if>
      <if test="beginTime != null" >
        BEGIN_TIME,
      </if>
      <if test="duration != null" >
        DURATION,
      </if>
      <if test="accessCode != null" >
        ACCESS_CODE,
      </if>
      <if test="recorderAddr != null" >
        RECORDER_ADDR,
      </if>
      <if test="isRecording != null" >
        IS_RECORDING,
      </if>
      <if test="chairmanPassword != null" >
        CHAIRMAN_PASSWORD,
      </if>
      <if test="mainMcuId != null" >
        MAIN_MCU_ID,
      </if>
      <if test="sites != null" >
        SITES,
      </if>
      <if test="type != null" >
        TYPE,
      </if>
      <if test="createName != null" >
        CREATE_NAME,
      </if>
      <if test="status != null" >
        STATUS,
      </if>
      <if test="userId != null" >
        USER_ID,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="confId != null" >
        #{confId,jdbcType=VARCHAR},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="beginTime != null" >
        #{beginTime,jdbcType=TIMESTAMP},
      </if>
      <if test="duration != null" >
        #{duration,jdbcType=VARCHAR},
      </if>
      <if test="accessCode != null" >
        #{accessCode,jdbcType=VARCHAR},
      </if>
      <if test="recorderAddr != null" >
        #{recorderAddr,jdbcType=VARCHAR},
      </if>
      <if test="isRecording != null" >
        #{isRecording,jdbcType=DECIMAL},
      </if>
      <if test="chairmanPassword != null" >
        #{chairmanPassword,jdbcType=VARCHAR},
      </if>
      <if test="mainMcuId != null" >
        #{mainMcuId,jdbcType=DECIMAL},
      </if>
      <if test="sites != null" >
        #{sites,jdbcType=VARCHAR},
      </if>
      <if test="type != null" >
        #{type,jdbcType=DECIMAL},
      </if>
      <if test="createName != null" >
        #{createName,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        #{status,jdbcType=DECIMAL},
      </if>
      <if test="userId != null" >
        #{userId,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.jzsx.xlgc.bean.TVideoConferenceExample" resultType="java.lang.Integer" >
    select count(*) from T_VIDEO_CONFERENCE
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update T_VIDEO_CONFERENCE
    <set >
      <if test="record.confId != null" >
        CONF_ID = #{record.confId,jdbcType=VARCHAR},
      </if>
      <if test="record.name != null" >
        NAME = #{record.name,jdbcType=VARCHAR},
      </if>
      <if test="record.beginTime != null" >
        BEGIN_TIME = #{record.beginTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.duration != null" >
        DURATION = #{record.duration,jdbcType=VARCHAR},
      </if>
      <if test="record.accessCode != null" >
        ACCESS_CODE = #{record.accessCode,jdbcType=VARCHAR},
      </if>
      <if test="record.recorderAddr != null" >
        RECORDER_ADDR = #{record.recorderAddr,jdbcType=VARCHAR},
      </if>
      <if test="record.isRecording != null" >
        IS_RECORDING = #{record.isRecording,jdbcType=DECIMAL},
      </if>
      <if test="record.chairmanPassword != null" >
        CHAIRMAN_PASSWORD = #{record.chairmanPassword,jdbcType=VARCHAR},
      </if>
      <if test="record.mainMcuId != null" >
        MAIN_MCU_ID = #{record.mainMcuId,jdbcType=DECIMAL},
      </if>
      <if test="record.sites != null" >
        SITES = #{record.sites,jdbcType=VARCHAR},
      </if>
      <if test="record.type != null" >
        TYPE = #{record.type,jdbcType=DECIMAL},
      </if>
      <if test="record.createName != null" >
        CREATE_NAME = #{record.createName,jdbcType=VARCHAR},
      </if>
      <if test="record.status != null" >
        STATUS = #{record.status,jdbcType=DECIMAL},
      </if>
      <if test="record.userId != null" >
        USER_ID = #{record.userId,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update T_VIDEO_CONFERENCE
    set CONF_ID = #{record.confId,jdbcType=VARCHAR},
      NAME = #{record.name,jdbcType=VARCHAR},
      BEGIN_TIME = #{record.beginTime,jdbcType=TIMESTAMP},
      DURATION = #{record.duration,jdbcType=VARCHAR},
      ACCESS_CODE = #{record.accessCode,jdbcType=VARCHAR},
      RECORDER_ADDR = #{record.recorderAddr,jdbcType=VARCHAR},
      IS_RECORDING = #{record.isRecording,jdbcType=DECIMAL},
      CHAIRMAN_PASSWORD = #{record.chairmanPassword,jdbcType=VARCHAR},
      MAIN_MCU_ID = #{record.mainMcuId,jdbcType=DECIMAL},
      SITES = #{record.sites,jdbcType=CLOB},
      TYPE = #{record.type,jdbcType=DECIMAL},
      CREATE_NAME = #{record.createName,jdbcType=VARCHAR},
      STATUS = #{record.status,jdbcType=DECIMAL},
      USER_ID = #{record.userId,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.jzsx.xlgc.bean.TVideoConference" >
    update T_VIDEO_CONFERENCE
    <set >
      <if test="name != null" >
        NAME = #{name,jdbcType=VARCHAR},
      </if>
      <if test="beginTime != null" >
        BEGIN_TIME = #{beginTime,jdbcType=TIMESTAMP},
      </if>
      <if test="duration != null" >
        DURATION = #{duration,jdbcType=VARCHAR},
      </if>
      <if test="accessCode != null" >
        ACCESS_CODE = #{accessCode,jdbcType=VARCHAR},
      </if>
      <if test="recorderAddr != null" >
        RECORDER_ADDR = #{recorderAddr,jdbcType=VARCHAR},
      </if>
      <if test="isRecording != null" >
        IS_RECORDING = #{isRecording,jdbcType=DECIMAL},
      </if>
      <if test="chairmanPassword != null" >
        CHAIRMAN_PASSWORD = #{chairmanPassword,jdbcType=VARCHAR},
      </if>
      <if test="mainMcuId != null" >
        MAIN_MCU_ID = #{mainMcuId,jdbcType=DECIMAL},
      </if>
      <if test="sites != null" >
        SITES = #{sites,jdbcType=VARCHAR},
      </if>
      <if test="type != null" >
        TYPE = #{type,jdbcType=DECIMAL},
      </if>
      <if test="createName != null" >
        CREATE_NAME = #{createName,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        STATUS = #{status,jdbcType=DECIMAL},
      </if>
      <if test="userId != null" >
        USER_ID = #{userId,jdbcType=VARCHAR},
      </if>
    </set>
    where CONF_ID = #{confId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.jzsx.xlgc.bean.TVideoConference" >
    update T_VIDEO_CONFERENCE
    set NAME = #{name,jdbcType=VARCHAR},
      BEGIN_TIME = #{beginTime,jdbcType=TIMESTAMP},
      DURATION = #{duration,jdbcType=VARCHAR},
      ACCESS_CODE = #{accessCode,jdbcType=VARCHAR},
      RECORDER_ADDR = #{recorderAddr,jdbcType=VARCHAR},
      IS_RECORDING = #{isRecording,jdbcType=DECIMAL},
      CHAIRMAN_PASSWORD = #{chairmanPassword,jdbcType=VARCHAR},
      MAIN_MCU_ID = #{mainMcuId,jdbcType=DECIMAL},
      SITES = #{sites,jdbcType=VARCHAR},
      TYPE = #{type,jdbcType=DECIMAL},
      CREATE_NAME = #{createName,jdbcType=VARCHAR},
      STATUS = #{status,jdbcType=DECIMAL},
      USER_ID = #{userId,jdbcType=VARCHAR}
    where CONF_ID = #{confId,jdbcType=VARCHAR}
  </update>
  
  <update id="updateByStatus" parameterType="java.util.Map" >
    update T_VIDEO_CONFERENCE
    set STATUS = #{status,jdbcType=DECIMAL}
    where CONF_ID = #{confId,jdbcType=VARCHAR}
  </update>
  
  
  <select id="dataAnalysis" parameterType="String" resultType="com.jzsx.xlgc.bean.DataAnalysis">
  select count,a.code,a.name from (select count(1) as count ,substr(t.USER_ID,0,3) as code from T_VIDEO_CONFERENCE t where t.type=1  and TO_CHAR(t.BEGIN_TIME,'yyyy')=#{start} GROUP BY substr(t.USER_ID,0,3))f

RIGHT JOIN area a on a.code=f.code where a.PARENT_ID=0
  
  </select>
  
  <select id="allDataAnalysis" parameterType="map" resultType="com.jzsx.xlgc.bean.DataAnalysis">
  
  select count,a.code,a.name from (select count(1) as count ,substr(t.USER_ID,0,6) as code from T_VIDEO_CONFERENCE t where t.type=1  and TO_CHAR(t.BEGIN_TIME,'yyyy')=#{start} GROUP BY substr(t.USER_ID,0,6))f

RIGHT JOIN area a on a.code=f.code where a.ALEVEL='1' and a.code like '${code}%'
  
  </select>
  
  <select id="selectByCode" parameterType="map" resultType="com.jzsx.xlgc.bean.DataByCode">
  
  select count,current_month from  (select count(1) as count,T_TIME.CURRENT_MONTH as oldMonth from T_VIDEO_CONFERENCE t 
  RIGHT JOIN  T_TIME on T_TIME.CURRENT_MONTH=TO_CHAR(t.BEGIN_TIME,'MM') 
  where t.TYPE=1 and  TO_CHAR(t.BEGIN_TIME,'yyyy')=#{start} 
  and t.user_id like '${code}%' GROUP BY T_TIME.CURRENT_MONTH)confer

RIGHT JOIN T_TIME on T_TIME.CURRENT_MONTH=confer.oldMonth  ORDER BY current_month asc
  
  </select>
  
  
  
</mapper>