<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no, minimal-ui" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta http-equiv="pragma" content="no-cache" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />
    <meta name="format-detection" content="telephone=no, email=no" />
    <title>忘记密码</title>
    <link href="../../css/reset.css" rel="stylesheet">
    <link href="../../css/mdialog.css" rel="stylesheet">
    <link href="../../css/style.css" rel="stylesheet">
</head>
<body>
<div id="login">
    <form class="loginForm" action="javascript:;">
        <div class="input-wrapper">
            <label>手机号</label>
        <input type="tel" class="phoneNumber changeCheck" placeholder="请输入手机号码" id="phone">
        </div>
        <div class="input-wrapper mt-30rem" id="req">
            <label>验证码</label>
            <div class="reqWrap">
                <input type="text" class="reqInput" placeholder="短信验证码" id="smsCode">

                <button class="getReq" id="getCode" disabled>获取验证码</button>
                <span class="sendReq void" id="">重新发送(<span class="reciprocal">59</span>)</span>

            </div>
        </div>
        <div class="speak-req">
            收不到验证码？获取语音验证码 >
        </div>
        <div class="input-wrapper" id="newPassword">
            <label>新密码</label>
            <input type="password" class="phonePassWord changeCheck" placeholder="请输入6-12位密码" id="newPwd">
        </div>


        <div class="input-wrapper no-bg mt-160rem" id="reset-btn">
            <button class="loginBtn" id="confirm">重置密码</button>
        </div>


        <div class="login-tooltip mt-120rem void">
            手机号有误，请重新输入！
        </div>

        <div class="go-register mt-128rem hook-register">
            没有帐号？ <a class="underLine" href="register.html"> 去注册 > </a>
        </div>

    </form>

</div>

<!--
<div class="modal void">
    <div class="login-dialog login-dialog-error void">
        <div class="login-dialog-icon">
            <img src="../../images/dialog-error.png" class="img-responsive">
        </div>
        <div class="login-dialog-word">
            重置失败，网络异常
        </div>
        <div class="login-dialog-text">
            <span class="seconds">2</span>秒后返回登录页
        </div>
    </div>
    <div class="login-dialog login-dialog-tick void">
        <div class="login-dialog-icon">
            <img src="../../images/dialog-tick.png" class="img-responsive">
        </div>
        <div class="login-dialog-word">
            重置成功！
        </div>
        <div class="login-dialog-text">
            <span class="seconds">2</span>秒后返回登录页
        </div>
    </div>
</div>
-->

<script src="../../resource/js/htmlFont.js"></script>
<script src="../../resource/js/jquery-2.1.1.min.js"></script>
<script src="../../resource/js/common.js"></script>
<script src="../../resource/js/constant.js"></script>
<script src="../../resource/js/mdialog.js"></script>
<script src="inc/forget.js"></script>
</body>
</html>
