<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no, minimal-ui" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta http-equiv="pragma" content="no-cache" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />
    <meta name="format-detection" content="telephone=no, email=no" />
    <title>用户注册协议</title>
	<style>
		h1 {
			font-size: 20px;
		}
		h2 {
			font-size: 16px;
		}
	</style>
</head>
<body>
<div>
	<h1>华方医护服务平台用户注册协议</h1>
	<section>
		<p>本协议是您（以下或称用户）与浙江华方医护有限责任公司（以下简称：“华方医护”）就您注册、使用华方医护服务平台所订立的协议。请您在申请成为华方医护服务平台注册用户之前，仔细阅读本协议及附件的全部内容（特别是以粗体标注的内容以及免责条款），如您对本协议的任何条款有异议，请不要继续注册操作。

您在注册过程中，根据声音、文字或图形提示点选“同意”按钮的，即视为您已仔细阅读本协议的全部内容，并同意接受本协议项下的所有条款之约束。

在您申请成为华方医护服务平台注册用户后，华方医护仍有权修改本协议相关服务条款并在平台予以公示。如果用户不同意修改后的服务条款，应当立即停止使用华方医护提供的服务，并注销账号。如果用户继续使用华方医护提供的服务，则表示用户对修改后相关服务条款予以接受。

特别提醒：

用户因接受医疗机构发布信息或提供的服务而引起的纠纷或发生医疗事故，由医疗机构负责解决并承担相应的法律责任，华方医护对此不承担任何形式的法律责任，用户应直接向医疗机构要求赔偿或对其提起诉讼，不得向华方医护主张任何权益。

在任何情况下，华方医护对于用户因本协议引起的任何间接的、惩罚性的、特殊的及派生的损失（包括业务损失、收益损失、利润损失、商誉损失、使用数据或其他经济利益的损失），均不负有任何责任，即使事先已被告知此等损失的可能性。

华方医护服务平台：包括但不限于华方医护官网、华方医护的APP【居家医护】，微信公众账号【居家医护】及其他现在或将来推出的基于华方医护提供相关服务的平台，以下统称“平台”。
</p>
<h2>（一）平台注册规范</h2>
<p>1.1 申请注册条件

1.1.1用户申请成华方医护服务平台注册用户，须满足以下条件：

1) 用户应年满18周岁;

2) 用户必须得具有完全民事权利能力和完全民事行为能力；

1.2 用户资料提交

1.2.1 用户应根据本协议向华方医护提交用户名、密码、身份证号码、手机号码等用户资料或其他相关信息。

1.2.2 用户保证向华方医护提供的上述资料或其他相关信息真实、合法、准确、详尽，并保证上述资料或其他相关信息发生任何变更时，将及时进行更新。

1.3用户申请注册，应遵守法律法规、社会主义制度、国家利益、公民合法权益、公共秩序、社会道德风尚和信息真实性等“七条底线”。

1.4用户申请注册的用户名和昵称中不能含有威胁、淫秽、侮辱及谩骂等其他侵害他人正当权益的内容。
</p>
<h2>（二）平台使用规范</h2>
<p>2.1用户在使用注册账号时，不得有下列行为：

2.1.1违反宪法或法律规定；

2.1.2危害国家安全，泄露国家秘密，颠覆国家政权，破坏国家统一；

2.1.3损害国家荣誉和利益，损害公共利益；

2.1.4煽动民族仇恨、民族歧视，破坏民族团结；

2.1.5破坏国家宗教政策，宣扬邪教和封建迷信；

2.1.6散布谣言，扰乱社会秩序，破坏社会稳定；

2.1.7散布淫秽、色情、赌博、暴力、凶杀、恐怖或者教唆犯罪；

2.1.8侮辱或者诽谤他人，侵害他人合法权益；

2.1.9含有法律、行政法规禁止的其他内容。

2.2用户应保证在平台上发布信息的真实性、合法性和有效性。不得发布任何侵犯他人著作权、商标权等知识产权或合法权利的内容；不得发布任何违反《广告法》或构成不正当竞争行为的内容；用户须对发布在平台上的任何言论和行为承担全部法律责任。

2.3用户不得利用华方医护用户身份进行任何违反诚信的行为，包括但不限于：炒作医疗机构，并向医疗机构收取费用或获取利益；为获得利益或好处，参与或组织撰写及发布虚假信息；以给予负面评价为手段威胁医疗机构，要求医疗机构提供额外的利益或好处；进行其他其它影响信息真实性、客观性、扰乱平台正常秩序的违规行为。

2.4用户应对在使用华方医护提供的服务过程中所获知的各项保密信息，承担严格的保密义务，直至保密信息进入公共领域时止。

2.5用户不得将涉及医疗纠纷的问题或其它有责任争议的问题在平台上进行发布。关于医疗纠纷的问题，应另行咨询律师或有关部门寻求援助，华方医护有权将此类信息删除。

2.6用户应及时关注并遵守平台上不时公布或修改的各类合法规则规定。

</p>
<h2>（三）用户授权</h2>
<p>用户完全理解并不可撤消的授予华方医护如下权利：

3.1华方医护有权在对外宣传中免费、合理地使用用户肖像权，以展示华方医护为用户提供的服务。

3.2华方医护有权通过短信、邮件、电话或其他形式向与用户传送平台提供的服务信息及其他相关商业信息。

3.3为向用户提供更好服务，用户委托授权华方医护为其建立健康档案并储存其个人信息、电子病历等信息，方便用户查阅及管理。华方医护承诺对上述信息实施严格的保密及安全管理措施，以保障用户的隐私安全。

3.4华方医护有权将用户提供给华方医护的资料信息、用户享受华方医护服务（包括但不限于华方医护自身向用户提供的服务以及华方医护合作伙伴向用户提供的服务等）产生的信息以及华方医护根据本协议提供相应服务查询、收集的信息，用于华方医护及其因服务必要委托的合作伙伴为用户提供服务、推荐产品、开展市场调查与信息数据分析。为确保用户信息的安全，华方医护及其合作伙伴对上述信息负有保密义务，并采取各种措施保证信息安全。

3.5 就用户向医疗机构咨询的内容，华方医护有权在隐去个人信息后进行使用、复制、公开、编辑、出版、发行等。

3.6 华方医护有权保留并使用用户在平台上的历史服务数据。即使华方医护已经暂停、终止向用户继续提供服务。

3.7 华方医护有权在自营或实际控制的任何网站上公示用户的违约情况（即违反本协议或与华方医护达成的其他协议约定）。
</p>
<h2>（四）免责条款</h2>
<p>4.1鉴于网络服务的特殊性，华方医护不对用户所发布信息的删除或储存失败负责。同时，华方医护不承诺网络服务一定能满足用户的要求，也不承诺网络服务不会中断，对网络服务的及时性、稳定性不作任何承诺。

4.2华方医护需要定期或不定期地对提供网络服务的平台或相关的设备进行检修和维护，如因此类情况而造成网络服务中断的，则华方医护无需为此向用户承担任何责任，但会尽可能事先进行通告。

4.3华方医护积极采用数据备份加密等措施保障用户数据的安全，但不对因意外因素（包括但不限于黑客攻击等）导致的数据损失和泄漏负责。同时，对于因台风、地震、海啸、洪水、停电、战争、恐怖袭击等不可抗力因素或华方医护不能控制的原因（包括但不限于电信部门技术调整或故障等甲方无法预见的原因等）造成的网络服务中断或其它缺陷，华方医护不承担任何责任，但将尽力减少因此而给用户造成的损失和影响。

4.4华方医护工作人员，只在经华方医护盖章的合同或文件中，享有代表华方医护的有限代理权。未经华方医护盖章认可的行为均属个人行为，华方医护不予承认并不承担由此产生的任何法律责任。

4.5本平台所有医疗保健及药品信息等仅供参考，不作为诊疗、用药依据，具体诊疗及用药事宜，请遵医嘱或在药师指导下进行。

4.6由服务供应商为客户提供具体服务及相关的货物发放，并开具发票；资金由华方医护代收，服务供应商可申请提现。
</p>
<h3>（五）知识产权保护</h3>
<p>5.1 用户接受本协议，即表明用户主动将其在任何时间段在平台发表的任何形式的信息的著作财产权，包括并不限于：复制权、发行权、出租权、展览权、表演权、放映权、广播权、信息网络传播权、摄制权、改编权、翻译权、汇编权等，以及应当由著作权人享有的其他可转让权利无偿独家转让给华方医护，同时表明用户许可华方医护有权利就任何主体侵权而单独提起诉讼，并获得全部赔偿。

5.2除平台内转载的属于第三方所发布的信息之外，平台内的所有内容、资源及其他信息（包括但不限于文字、图像、图片、照片、音频、视频、图表、色彩、版面设计、电子文档）的所有知识产权（包括但不限于版权、商标权、专利权、商业秘密等）及相关权利，均归华方医护（或华方医护关联公司）所有。未经华方医护许可，用户不得擅自使用（包括但不限于复制、传播、展示、镜像、上载、下载）。

5.3华方医护的企业名称、字号、商标、平台的Logo（包括文字、图形及其组合等）、互联网域名以及平台的其他标识、产品和服务名称均为华方医护（或华方医护关联公司）所有。未经华方医护书面授权，医疗机构不得以任何方式展示、使用、许可他人使用或作其他处理。

</p>
<h2>（六）法律责任及管辖</h2>
<p>6.1用户违反本协议约定的，则华方医护有权采取一切必要的措施，包括但不限于：暂停、终止向用户提供服务等。如因此给华方医护、合作方及医疗机构造成损失的，用户应予以全额赔偿（包括但不限于：案件受理费、案件处理费、保全费、鉴定费、评估费、执行费、律师费、差旅费等）。

6.2本协议之效力、解释、执行和争议的解决均适用中华人民共和国之法律。如本协议之任何一部分与中华人民共和国法律相抵触，则该部分条款应按有关法律规定重新解释，部分条款之无效或重新解释不影响其它条款之法律效力。

6.3因履行本协议所产生的纠纷，双方应协商解决。协商不成，任何一方应将争议提交相关仲裁机构。
</p>
<h2>（七）其他规定</h2>
<p>7.1本协议构成双方对约定事项及其他有关事宜的完整协议，除本协议规定的之外，未赋予本协议各方其他权利。

7.2本协议项下华方医护对于用户所有的通知均可通过网页公告、电子邮件、手机短信或常规的信件传送等方式进行；该等通知于发送时即视为已送达给用户。

7.3本协议中的标题仅为方便而设，不作为对标题下条款的解释。
</p>
<h2>附： 华方医护服务平台简介</h2>
<p>1. 华方医护将向用户提供平台技术服务，尽力维护平台的正常稳定运行，并努力提升和改进技术，对功能及服务进行更新、升级，不断提升平台性能和合作效率。

2. 华方医护将对平台医疗机构的团队、品牌、诊疗项目、设备环境、诊疗优势、各项医疗特色等向用户进行进行多方位的展示服务，以便用户能够便捷的进行网上查询和浏览。

3. 华方医护将提供一个开放的、透明的、可信赖的相互交流的医疗平台，便于用户和医疗机构之间、用户相互之间进行多方面的沟通。
</p>
	</section>
</div>
</body>
</html>
