<!DOCTYPE html>
<html lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>诊所目录</title>
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no"/>
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta http-equiv="pragma" content="no-cache" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
		<link rel="stylesheet" type="text/css" href="../../css/main.css" />
    <link rel="stylesheet" type="text/css" href="../../css/organization.css"/>
    <script src="../../resource/js/jquery-2.1.1.min.js" type="text/javascript" charset="utf-8"></script>
    <script src="../../resource/js/common.js" type="text/javascript" charset="utf-8"></script>
    <script src="inc/organization.js" type="text/javascript" charset="utf-8"></script>
	<script src="../../resource/js/bottomMenu.js" type="text/javascript" charset="utf-8"></script>
	<script src="../../resource/js/pullRefresh.js" type="text/javascript" charset="utf-8"></script>
    <style type="text/css">
        /*弹窗*/

        #animationTipBox .lose .icon_box {
            transform: translate(-0.05rem, -0.05rem);
        }

        #animationTipBox .okoButton {
            transform: translateY(0.3rem);
        }

        .success .line_long {
            right: 0;
            top: 35px;
        }

        .success .line_short {
            left: 12px;
            top: 44px;
        }

        footer {
            position: fixed;
            bottom: 0;
            left: 0;
            right: 0;
            z-index: 99999;
            /*height: 50px;*/
        }
        header{
        	display: none;
        }
        #pull-loading{
        	display: none;
        }
    </style>
</head>
<body>
<header>
	<a id="goBack" class="goback" href="../main/index.html">
		<img src="../../images/backtrack.png" alt="" />
		<span id="goBackText">返回</span>
	</a>
	<h1 id="theme">诊所目录</h1>
</header>
<div class="page" id="page-ptr">
    <!--标签栏-->
    <div class="content">
        <div class="buttons-tab">
            <a href="javascript:;" id="tab1-a" class="tab-link active button">
                <span id="tab-button-span1" class="tab-button">地区</span>
                <span id="tab1-span" class="tab tab-icon"><img id="tab-img1" class="tab-img" src="imgs/arrows1.png"/></span>
            </a>
            <!--1-->
           <a href="javascript:;" id="tab1-a-fold" class="tab-link active button" style="display: none;">
                <span id="tab-button-span1-up1" class="tab-button">地区</span>
                <span id="tab1-span" class="tab tab-icon"><img id="tab-img1" class="tab-img" src="imgs/arrows2.png"/></span>
            </a>
            <a href="javascript:;" id="tab2-a" class="tab-link button">
                <span id="tab-button-span2" class="tab-button">类型</span>
                <span id="tab2-span" class="tab tab-icon"><img id="tab-img2" class="tab-img" src="imgs/arrows1.png"/></span>
            </a>
            <!--2-->
            <a href="javascript:;" id="tab2-a-fold" class="tab-link button" style="display: none;">
                <span id="tab-button-span2-up2" class="tab-button">类型</span>
                <span id="tab2-span" class="tab tab-icon"><img id="tab-img2" class="tab-img" src="imgs/arrows2.png"/></span>
            </a>
            <a href="javascript:;" id="tab3-a" class="tab-link button">
                <span id="tab-button-span3" class="tab-button">综合排序</span>
                <span id="tab3-span" class="tab tab-icon"><img id="tab-img3" class="tab-img" src="imgs/arrows1.png"/></span>
            </a>
            <!--3-->
            <a href="javascript:;" id="tab3-a-fold" class="tab-link button" style="display: none;">
                <span id="tab-button-span3-up3" class="tab-button">综合排序</span>
                <span id="tab3-span" class="tab tab-icon"><img id="tab-img3" class="tab-img" src="imgs/arrows2.png"/></span>
            </a>
        </div>
        <!--下拉菜单遮盖层-->
        <div class="content-block" style="display: none;">

            <div class="tabs">

                <div id="tab1" class="tab">
                    <div>
                        <ul id="tab1-ul-list1" class="type-name-ul">
                        </ul>
                    </div>
                </div>
                <div id="tab2" class="tab">
                    <div>
                        <ul id="tab2-ul-list" class="type-name-ul">
                            <li><span class="type-name-ul-type" style="display: none;">全部类型</span></li>
                        </ul>
                        <ul id="tab2-ul-list2" class="type-name-ul2">
                        </ul>
                    </div>
                </div>
                <div id="tab3" class="tab">
                    <div>
                        <ul id="tab3-ul-list3" class="type-name-ul">

                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="coverLayer">

    </div>
    <!--底部导航-->
    <footer class="indexFooter">
        <nav class="bar bar-tab clearfix">
            <a class="tab-item-a" href="../main/index.html"">
                <div class="indicon">
                    <img src="../../images/index-color.png" />
                </div>
                <div class="tab-label"">首页</div>
            </a>
            <a class="tab-item-a" href="javascript:;">
                <div class="indicon">
                    <img src="../../images/organization-white.png" />
                </div>
                <div class="tab-label active">诊所目录</div>
            </a>
            <a id="myClinicClinicIndex" class="tab-item-a" href="javascript:;">
                <div class="indicon">
                    <img src="../organization/imgs/clinic-white.png" />
                </div>
                <div id="myhospital" class="tab-label"">我的诊所</div>
            </a>
            <a class="tab-item-a" href="../msg/messageindex.html">
                <div class="indicon">
                    <img src="../organization/imgs/news-white.png" />
                </div>
                <div class="tab-label">消息</div>
            </a>
            <a class="tab-item-a" href="../mine/mineIndex.html">
                <div class="indicon">
                    <img id="main-img" src="../organization/imgs/mine-white.png" />
                </div>
                <div id="mine-span" class="tab-label">我的</div>
            </a>
        </nav>
    </footer>









    <div class="list-block container" style="width:100%;transform:translate(0,-3rem)" >
		<div id="pull-loading" style="height:3rem; line-height:3rem; text-align:center; width:100%;">
				<img id="imgLoading" style="width: 2rem;" src="../../images/loading.gif" />
		</div>
        <ul class="list-container">
            <!--遍历的模板-->
            <!--<li class="list-container-li">
            </li>-->
        </ul>
    </div>

    <div class="ajaxLoadMore" style="margin-top:-3rem;">
        <div class="noMore">~ 没有更多内容啦 ~</div>
        <div class="ajaxLoading"><img src="../../images/loading.gif" alt=""></div>
    </div>
</div>





</div>
</body>


</html>
